{% extends 'support/detail_base.html' %}
{% load static %}
{% block head %}

{% endblock %}

{% block topic %}
<div class="topic-title">コレクション機能</div>
<div class="sub-topics">
  <div class="sub-topic">

    <p class="paragraph">
      コレクション機能を使うと、お気に入りの投稿を自分好みに整理できます。<br><br>

      1.各投稿の左下にある「…」をタップ<br>
      2.「コレクションに追加する」をタップ<br>
      3.「新規コレクション」をタップし、コレクションを作成すると自動で投稿が追加される<br><br>
      
      ヒント:<br>一度作成したコレクションに投稿を追加する場合、作成済みのコレクションをタップするだけで簡単に追加できます。
      
    </p>
  </div>
</div>
{% endblock %}