{% extends 'support/detail_base.html' %}
{% load static %}
{% block head %}

{% endblock %}

{% block topic %}
<div class="topic-title">Viewyは安全なサイトですか</div>
<div class="sub-topics">
  <div class="sub-topic">

    <p class="paragraph">
      <strong>Viewyとは？</strong><br><br>
      Viewyはモバイル向けの無料アダルトプラットフォームです。<br>
      リール形式でコンパクトなボリュームの投稿がサクサク視聴できます。<br>
      私たちの目的は、無料で安全に利用できるサイトを提供し、皆様に刺激と喜びをもたらすことです。<br><br>
      <strong>Viewyの安全性について：</strong><br><br>
      <a href="{% url 'support:subtitle_page' pretitle='service' title='amusement' subtitle='notification' %}" class="a-link">映像送信型性風俗特殊営業の届出</a>を管轄の警察に提出済みですので安心してご利用いただけます。
      また、運営が認可を出した方のみパートナー（投稿者）になれるので、無断転載・違法転載の心配はありません。
    </p>
  </div>
</div>
{% endblock %}