{% extends 'support/detail_base.html' %}
{% load static %}
{% block head %}

{% endblock %}

{% block topic %}
<div class="topic-title">Viewyとは？</div>
<div class="sub-topics">
  <div class="sub-topic">

    <h3>Viewyとは<br><br></h3>
    <p class="paragraph">
      プロフィール写真または動画を追加/変更するには：<br><br>
      1. 画面右下の<strong>「プロフィール」</strong>をタップします。<br>
      2. <strong>「プロフィールを編集」</strong>をタップ。<br>
      3. <strong>「写真を変更」</strong>または<strong>「動画を変更」</strong>をタップ。<br>
      4. 写真の場合は、<strong>「写真を撮る」</strong>または<strong>「写真をアップロードする」</strong>を選択。動画の場合は、ギャラリーから選択。<br><br>
      ヒント：プロフィール動画を設定すると、プロフィール写真がプロフィールに表示されなくなります。 アップロードする写真は、20x20ピクセル以上であることが必要です。
    </p>
  </div>
</div>
{% endblock %}