
.DS_Store
compose-dev.yaml
viewy/bin/activate
viewy/bin/activate.csh
viewy/bin/activate.fish
viewy/bin/Activate.ps1
viewy/bin/pip
viewy/bin/pip3
viewy/bin/pip3.12
viewy/bin/python
viewy/bin/python3
viewy/bin/python3.12
viewy/lib/python3.12/site-packages/pip-24.0.dist-info/AUTHORS.txt
viewy/lib/python3.12/site-packages/pip-24.0.dist-info/entry_points.txt
viewy/lib/python3.12/site-packages/pip-24.0.dist-info/INSTALLER
/viewy/lib/python3.12/site-packages
/viewy/path/to
viewy/pyvenv.cfg
/viewy/.venv
