<!DOCTYPE html>
{% load static %}
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/advertisement/ad_base.css' %}">
  <script src="https://kit.fontawesome.com/ad23325601.js" crossorigin="anonymous"></script>
  <title>Viewy-advertisement</title>
  {% block head %}
  {% endblock %}
</head>
<body>

  <div class="screen">
    <div class="side-menu">
      <div class="main-title">
        <img class="prf_img" src="{{user.prf_img.url}}" alt="">
        <div>{{user.username}}様の</div>
        <div>広告管理ページ</div>
      </div>
      <a href="{% url 'advertisement:ad_campaigns_list'%}"><i class="fa-solid fa-receipt menu-icon"></i><span class="menu-title">キャンペーン</span></a>
      <a href="{% url 'advertisement:filtered_ad_campaign_list' status='pending' %}" class="status-button sub-status">公開前</a>
      <a href="{% url 'advertisement:filtered_ad_campaign_list' status='running' %}" class="status-button sub-status">公開中</a>
      <a href="{% url 'advertisement:close_ad_campaigns_list' %}" class="status-button sub-status">非公開</a>
      <a href="{% url 'advertisement:campaign_form'%}"><i class="fa-solid fa-rectangle-ad menu-icon"></i><span class="menu-title">キャンペーン作成</span></a>
      <a href="{% url 'advertisement:ad_manga_create'%}"><i class="fa-solid fa-images menu-icon"></i><span class="menu-title">画像広告作成</span></a>
      <a href="{% url 'advertisement:ad_video_create'%}"><i class="fa-solid fa-film menu-icon"></i><span class="menu-title">動画広告作成</span></a>
      <a href="{% url 'advertisement:billings'%}"><i class="fa-solid fa-film menu-icon"></i><span class="menu-title">料金</span></a>
      <a href="{% url 'posts:my_account'%}" class="back"><i class="fa-solid fa-arrow-right-from-bracket menu-icon"></i><span class="menu-title">Viewyに戻る</span></a>
    </div>

    <div class="contents">
      {% block content %}
      {% endblock %}
    </div>

  </div>



  {% block script %}
  {% endblock %}
  <div class="wall">

    <div class="wall-message">
      <div class="wall-tom">
        <img src="{{ MEDIA_URL }}others/熟睡.png" alt="">
      </div>
      <div>
        こちらの管理画面は横幅が1200px以上でないとご使用いただけません。お手数ですがパソコン等からログインしなおしてください。
      </div>
    </div>
  </div>
</body>
</html>