{% extends 'advertisement/ad_base.html' %}
{% load static %}
{% load extra_filters %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/advertisement/ad_campaign_list.css' %}">
{% endblock %}


{% block content %}


{% if discounted_current_cpm %}
<div class="monthly-costs">
  <div class="costs-title">今月の料金</div>
  <div class="fee" style="margin-right: 16px;">
    CPM
    <span class="original-fee-value" style="text-decoration: line-through;">{{ current_cpm }}</span>
    <span class="fee-value">{{ discounted_current_cpm|floatformat:"0" }}</span>円
  </div>
  <div class="fee">
    CPC
    <span class="original-fee-value" style="text-decoration: line-through;">{{ current_cpc }}</span>
    <span class="fee-value">{{ discounted_current_cpc|floatformat:"0" }}</span>円
  </div>
</div>
{% else %}
<div class="monthly-costs">
  <div class="costs-title">今月の料金</div>
  <div class="fee" style="margin-right: 16px;">CPM <span class="fee-value">{{ current_cpm }}</span>円</div>
  <div class="fee">CPC <span class="fee-value">{{ current_cpc }}</span>円</div>
</div>
{% endif %}


{% block table %}
<div class="page-title">全てのキャンペーン</div>
<div class="block">

  <table>
    <tr>
      <th>料金方式</th>
      <th>キャンペーンタイトル</th>
      <th>広告数</th>
      <th>合計数/目標数</th>
      <th>料金 / 見積金額</th>
      <th>表示期間</th>
      <th>公開/非公開</th>
    </tr>

    {% for campaign in campaigns %}
    <tr class="{{ campaign.status }}">
      <td>{{ campaign.pricing_model }}</td>
      <td>
        <a href="{% url 'advertisement:ad_campaign_detail' campaign.id %}" class="campaign-title">
          {{ campaign.title }}
        </a>
      </td>
      <td>{{ campaign.adinfos_count }}</td>
      <td class="views">
        {% if campaign.pricing_model == 'CPM' %}
        <span>{{ campaign.total_views_count|add_commas }}</span>
        <span>/{{ campaign.target_views|add_commas }}</span>
        {% elif campaign.pricing_model == 'CPC' %}
        <span>{{ campaign.total_clicks_count|add_commas }}</span>
        <span>/{{ campaign.target_clicks|add_commas }}</span>
        {% endif %}
      </td>
      <td>{{ campaign.fee|add_commas }} / {{ campaign.budget|add_commas }}</td>
      <td data-end-date="{{ campaign.end_date|date:" Y-m-d" }}" class="date-cell"><span class="date">
          {{ campaign.start_date|date:"Y/m/d" }}</span>～<span class="date">
          {{ campaign.end_date|date:"Y/m/d" }}</span></td>
      <td style="text-align: center;">
        {% if campaign.status == 'pending' %}
        <form>
          <button class="release-button pending disabled-button">
            公開前
          </button>
        </form>
        {% elif campaign.status == 'achieved' %}
        <form>
          <button class="release-button  disabled-button">
            目標達成
          </button>
        </form>
        {% elif campaign.status == 'expired' %}
        <form>
          <button class="release-button  disabled-button">
            終了期限に到達
          </button>
        </form>
        {% elif campaign.status == 'stopped' %}
        <form>
          <button class="release-button stop disabled-button">
            途中停止
          </button>
        </form>
        {% elif campaign.status == 'running' %}
        <form action="{% url 'advertisement:ad_campaign_status' campaign.id %}" method="post">
          {% csrf_token %}
          <button type="submit" class="release-button release">
            公開中
          </button>
        </form>
        {% endif %}
      </td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="7">キャンペーンはありません。</td>
    </tr>
    {% endfor %}
  </table>

</div>
{% endblock %}
{% endblock %}

{% block script %}
<script src="{% static 'js/adcampaign_delete.js' %}"></script>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    let buttons = document.querySelectorAll(".release-button.release");

    buttons.forEach(function (button) {
      button.addEventListener("click", function (event) {
        let confirmationMessage = "この広告キャンペーンを停止すると、永久に再開することはできません。よろしいですか？";
        let userConfirmed = confirm(confirmationMessage);
        if (!userConfirmed) {
          event.preventDefault();  // ユーザーがキャンセルを選んだ場合、処理を中断
        }
      });
    });
  });

</script>
{% endblock %}