{% extends 'advertisement/ad_base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/advertisement/ad_campaign_list.css' %}">
{% endblock %}


{% block content %}
<div class="page-title">レポート</div>


<div class="block">

  <table>
    <tr>
      <th>キャンペーンタイトル</th>
      <th>広告数</th>
      <th>合計表示回数</th>
      <th>予算(円)</th>
      <th>表示期間</th>
      <th>停止／公開</th>
    </tr>
    {% for campaign in campaigns %}
    <tr>
      <td><a href="{% url 'advertisement:ad_campaign_detail' campaign.id %}" class="campaign-title">{{ campaign.title }}</a></td>
      <td>{{ campaign.ad_infos.count }}</td>
      <td>{{ campaign.total_views_count }}</td>
      <td id="budget-{{ campaign.id }}">{{ campaign.budget }}</td>
      <td><span class="date">{{ campaign.start_date|date:"Y-m-d" }}</span>～<span class="date">{{ campaign.end_date|date:"Y-m-d" }}</span></td>
      <td>
        <form action="{% url 'advertisement:ad_campaign_status' campaign.id %}" method="post">
          {% csrf_token %}
          <button type="submit" class="release-button {% if campaign.is_hidden %}stop{% else %}release{% endif %}">
            {% if campaign.is_hidden %}
            停止中
            {% else %}
            公開中
            {% endif %}
          </button>
        </form>
        <button class="delete-campaign-button" data-campaign-id="{{ campaign.id }}" data-title="{{ campaign.title }}">
          削除
        </button>
      </td>
    </tr>
    {% endfor %}
  </table>

</div>

{% endblock %}

{% block script %}
<script src="{% static 'js/adcampaign_delete.js' %}"></script>
<script>
  document.querySelectorAll('td[id^="budget-"]').forEach(function (elem) {
    let value = parseInt(elem.textContent, 10);
    if (!isNaN(value)) {
      elem.textContent = value.toLocaleString();
    }
  });
</script>
{% endblock %}