{% extends 'advertisement/ad_base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/advertisement/ad_create.css' %}">
{% endblock %}


{% block content %}
<div class="page-title">キャンペーン作成</div>

<div class="monthly-costs">
  <div class="costs-title">今月の料金</div>
  <div class="fee" style="margin-right: 16px;">CPM <span class="fee-value cpm">{{ current_cpm }}</span>円</div>
  <div class="fee">CPC <span class="fee-value cpc">{{ current_cpc }}</span>円</div>

  <!-- {% if next_cpc and next_cpm %}
  <p class="next-cpc">来月のCPC: {{ next_cpc }}円</p>
  <p class="next-cpm">来月のCPM: {{ next_cpm }}円</p>
  {% else %}
  <p>来月のCPCとCPMのデータはまだ利用できません。</p>
  {% endif %} -->
</div>

<!-- <div class="monthly-costs">
  <p class="cpc">今月のCPC: {{ current_cpc }}円</p>
  <p class="cpm">今月のCPM: {{ current_cpm }}円</p>

  {% if next_cpc and next_cpm %}
  <p class="next-cpc">来月のCPC: {{ next_cpc }}円</p>
  <p class="next-cpm">来月のCPM: {{ next_cpm }}円</p>
  {% else %}
  <p>来月のCPCとCPMのデータはまだ利用できません。</p>
  {% endif %}
  {% if ad_cost_message %}
  <div class="alert alert-warning" style="color: red;">{{ ad_cost_message }}</div>
  {% endif %}
</div> -->

<div class="block">
  <form method="post" class="flex">
    {% csrf_token %}
    <div>
      <div class="info-item">
        <div class="info-name">キャンペーンタイトル</div>
        <div class="info-input campaign-title">
          {{ form.title }}
          {{ form.title.errors }}
        </div>
      </div>
      <div class="info-item">
        <div class="info-name">開始日</div>
        <div class="info-input">
          {{ form.start_date }}
          {{ form.start_date.errors }}
        </div>
        <div class="info-name" style="margin-top: 8px;">終了日</div>
        <div class="end_date_option">
          {{ form.end_date_option }}
        </div>
        <div class="info-input" id="end-date-container">
          {{ form.end_date }}
          {{ form.end_date.errors }}
        </div>
      </div>

      <div class="info-item">
        <div class="info-name">料金方式</div>
        <div class="info-input">{{ form.pricing_model }}</div>
      </div>

      <div id="cpc-container" style="display:none;">

        <div class="info-item">
          <div class="info-name">クリック目標数</div>
          <div class="info-input">{{ form.target_clicks }}回</div>
        </div>

        <div class="info-item">
          <div class="info-name">CPC</div>
          <div class="info-input" id="calculated_cpc">円</div>
        </div>

        <div class="info-item">
          <div class="info-name">予算</div>
          <div class="info-input" id="calculated_budget_cpc">円</div>
        </div>

      </div>


      <div id="cpm-container" style="display:none;">

        <div class="info-item">
          <div class="info-name">目標表示回数</div>
          <div class="info-input" id="target_views">{{ form.target_views }}回</div>
        </div>

        <div class="info-item">
          <div class="info-name">CPM</div>
          <div class="info-input" id="calculated_cpm">円</div>
        </div>

        <div class="info-item">
          <div class="info-name">予算</div>
          <div class="info-input" id="calculated_budget_cpm">円</div>
          <p class="info-description" style="width: 400px;">
            注意：CPMの場合、目標表示回数に応じて予算が自動計算されます。そのためここでの予算とは、目標表示回数に到達した場合実際に請求される料金です。目標表示回数に到達しなかった場合、その時点での表示回数に応じたCPMで料金が再計算され、請求料金が確定します。
        </div>
      </div>
    </div>

    <div style="margin-left: 48px;">
      <div class="info-item">
        <div class="info-name">ターゲット</div>
        <div class="category">
          <div>性別：</div>
          {% for orfeature in sex.orfeatures.all %}
          <input type="checkbox" id="sex{{ orfeature.id }}" name="sex_orfeatures" value="{{ orfeature.id }}">
          <label for="sex{{ orfeature.id }}" class="custom-label">{{ orfeature.name_ja }}</label>
          {% endfor %}
          <input type="checkbox" id="sexAll" name="sex_orfeatures" value="all">
          <label for="sexAll" class="custom-label">全性別</label>
        </div>
        <div class="category">
          <div>嗜好：</div>
          {% for orfeature in dimension.orfeatures.all %}
          <input type="checkbox" id="dimension{{ orfeature.id }}" name="dimension_orfeatures"
            value="{{ orfeature.id }}">
          <label for="dimension{{ orfeature.id }}" class="custom-label">{{ orfeature.name_ja }}</label>
          {% endfor %}
          <input type="checkbox" id="dimensionAll" name="dimension_orfeatures" value="all">
          <label for="dimensionAll" class="custom-label">どちらとも</label>
        </div>
        <!-- <div class="category">
        <div>年齢：</div>
        {% for orfeature in age.orfeatures.all %}
        <input type="checkbox" id="age{{ orfeature.id }}" name="age_orfeatures" value="{{ orfeature.id }}">
        <label for="age{{ orfeature.id }}" class="custom-label">{{ orfeature.name_ja }}</label>
        {% endfor %}
        <input type="checkbox" id="ageAll" name="age_orfeatures" value="all">
        <label for="ageAll" class="custom-label">全年代</label>
      </div> -->
      </div>

      {{ form.non_field_errors }}

      <button type="submit" class="submit-campaign">作成</button>
    </div>

  </form>
</div>


{% endblock %}
{% block script %}
<script src="{% static 'js/cpm_cpc.js' %}"></script>
<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', function () {
    var endDateContainer = document.getElementById('end-date-container');
    var noEndDateInput = document.getElementById('id_end_date_option_0'); // '終了期限なし'のinput
    var setEndDateInput = document.getElementById('id_end_date_option_1'); // '期限を設定する'のinput

    // ラジオボタンの選択に応じて終了日フィールドを表示または非表示
    function toggleEndDate() {
      endDateContainer.style.display = noEndDateInput.checked ? 'none' : 'block';
    }

    noEndDateInput.addEventListener('change', toggleEndDate);
    setEndDateInput.addEventListener('change', toggleEndDate);

    // 初期状態の設定
    toggleEndDate();
  });

  document.addEventListener('DOMContentLoaded', function () {
    // 開始日の入力フィールドを選択
    var startDateField = document.querySelector('input[name="start_date"]');

    // 終了日の入力フィールドを選択
    var endDateField = document.querySelector('input[name="end_date"]');

    // 開始日の入力フィールドにイベントリスナーを設定
    startDateField.addEventListener('change', function () {
      // 開始日の値を取得して終了日のmin属性に設定
      endDateField.setAttribute('min', this.value);
    });

    // 初期状態で終了日のminを設定するためのイベントを発火
    if (startDateField.value) {
      startDateField.dispatchEvent(new Event('change'));
    }
  });
</script>
{% endblock %}