{% extends 'advertisement/ad_base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/stylepost.css' %}">
<link rel="stylesheet" href="{% static 'css/advertisement/ad_create.css' %}">
{% endblock %}


{% block content %}
<div class="page-title">マンガ広告作成</div>

<div class="spinner-container" id="spinner" style="display: none;">
  <div class="spinner"></div>
  <div id="loading">投稿中です<br>この処理は数分かかる場合があります<br>ブラウザの戻るボタンを押さないでください</div>
</div>

<div class="block flex">

  <div class="ad-infos">
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}

      <div class="select-campaign">
        <div class="error">
          {% for error in form.non_field_errors %}
          <div class="error">{{ error }}</div>
          {% endfor %}

          {% for error in post_form.non_field_errors %}
          <div class="error">{{ error }}</div>
          {% endfor %}

          {% for error in visual_form.non_field_errors %}
          <div class="error">{{ error }}</div>
          {% endfor %}

        </div>

        <div class="section-title">キャンペーンを選択</div>
        {% for field in form %}
        <div class="fieldWrapper">
          {{ field }}
          <div class="error">{{ field.errors }}</div>
        </div>
        {% endfor %}
      </div>


      <div class="post-infos">
        <div class="section-title">広告を作成</div>
        {{ visual_form.as_div }}
        <div class="limit">※最大31ページまで</div>
        <div class="title">
          <div class="error">{{ post_form.title.errors }}</div>
          {{ post_form.title }}
        </div>

        <div class="caption">
          <div class="error">{{ post_form.caption.errors }}</div>
          {{ post_form.caption }}
        </div>

        <div class="hashtags">
          <div class="error">{{ post_form.hashtag1.errors }}</div>
          <div class="error">{{ post_form.hashtag2.errors }}</div>
          <div class="error">{{ post_form.hashtag3.errors }}</div>
          <div class="flex">
            <div class="hashtag1">#{{ post_form.hashtag1 }}</div>
            <div class="hashtag2">#{{ post_form.hashtag2 }}</div>
            <div class="hashtag3">#{{ post_form.hashtag3 }}</div>
          </div>

        </div>

        <div class="url-set">
          <div class="error">
            {{ post_form.url.errors }}
          </div>
          {{ post_form.url }}
          <div class="about-url">※｢詳しくはこちら・アイコン・ユーザーネーム｣に設定するURLを入力</div>
          <div class="about-url">※GAなどの計測ツールをご利用の場合、<a href="https://ga-dev-tools.google/ga4/campaign-url-builder/">Campaign URL Builder</a>でUTMパラメータを作成し、そのURLを入力</div>
        </div>

      </div>
      <div class="buttons">
        <input type="hidden" name="post_id" value="{{ post.id }}">
        <input type="submit" class="submit-button" name="preview_button" value="プレビュー">
        <input type="submit" class="submit-button" name="confirm_button" id="confirm_button" value="投稿">
      </div>
    </form>
  </div>

  <div class="post-preview">
    <div class="post not-ad" data-post-id="{{ post.id }}" data-is-advertisement="{{ post.poster.is_advertiser }}">
      <!-- <div class="spinner"></div> -->
      <div class="book">
      </div>

      <div class="content">
        <div class="side-bar">

          <div class="poster">
            <div>
              <a class="poster_username">
                <img class="poster-img" src="{{user.prf_img.url}}" alt="{{user.prf_img}}">
              </a>
            </div>
          </div>

          <div class="follow-poster" style="opacity: 0;">
            <a class="fa-solid fa-plus fa-2xs " style="color: black;"></a>
          </div>

          <div class="favorite">
            <a class="fa-regular fa-heart not-liked" style="color: rgb(255, 255, 255);"></a>
          </div>


          <div class="emotes" data-formatted-total-emote="{{ post.emote_total_count }}">
            <div class="emote emote-icon">
              <i class="fa-regular fa-face-smile"></i>
              <span class="emote-count total-count">0</span>
            </div>
            <div class="emote hidden-emote">
              <img src="{{ MEDIA_URL }}emotes/ニチャァ36ppi.png" alt="Emote 1" />
              <span class="emote-count">0</span>
            </div>
            <div class="emote hidden-emote">
              <img src="{{ MEDIA_URL }}emotes/鼻血36ppi.png" alt="Emote 2" />
              <span class="emote-count">0</span>
            </div>
            <div class="emote hidden-emote">
              <img src="{{ MEDIA_URL }}emotes/発射36ppi.png" alt="Emote 3" />
              <span class="emote-count">0</span>
            </div>
            <div class="emote hidden-emote">
              <img src="{{ MEDIA_URL }}emotes/尊い36ppi.png" alt="Emote 4" />
              <span class="emote-count">0</span>
            </div>
            <div class="emote hidden-emote">
              <img src="{{ MEDIA_URL }}emotes/よだれ36ppi.png" alt="Emote 5" />
              <span class="emote-count">0</span>
            </div>
          </div>

          <div class="ellipsis"><i class="fa-solid fa-ellipsis"></i></div>

          <div class="space-for-hide"></div>

        </div>

        <div class="captions">
          <div class="poster-name">
            {% if user.displayname %}
            <a class="poster-name">＠{{user.displayname}}</a>
            {% else %}
            <a class="poster-name">＠{{user.username}}</a>
            {% endif %}
            {% if post.poster.is_advertiser %}
            <span class="ad-tag">広告</span>
            {% endif %}
          </div>
          <div class="title">
          </div>

          <div class="caption"></div>
          <div class="hashtags">

            <span class="hashtag"><a></a></span>
            <span class="hashtag"><a></a></span>
            <span class="hashtag"><a></a></span>

          </div>

          <a href="" class="ad-detail ad-click">
            <div class="ad-detail-title">詳しくはこちら</div>
            <div><i class="fa-solid fa-angle-right"></i></div>
          </a>

        </div>

      </div>


      <label class="hide-label fa-solid fa-angle-down hide">
        <input class="hide-input" type="checkbox" style="display: none;">
      </label>

    </div>

    <div class="tab-bar">
      <a class="home"><i class="fa-solid fa-house fa-xs"></i></a>
      <a class="serch"><i class="fa-solid fa-magnifying-glass fa-xs"></i></a>
      <a class="add-post visitor"><i class="fa-solid fa-square-plus fa-sm"></i></a>
      <a class="like visitor"><i class="fa-solid fa-star fa-xs"></i></a>
      <a class="my-account visitor"><i class="fa-solid fa-user fa-xs"></i></a>
    </div>
  </div>

</div>

{% endblock %}
{% block script %}
<script>
  // URLフィールドが空かどうかチェック
  document.addEventListener('DOMContentLoaded', function () {

    var form = document.querySelector('form');

    form.addEventListener('submit', function (event) {
      // URLフィールドを取得
      var urlField = document.querySelector('input[name="url"]');
      var AboutUrl = urlField.parentNode.querySelector('.about-url');

      if (!urlField.value.trim()) {
        // URLフィールドが空の場合はエラーメッセージを表示
        AboutUrl.style.display = 'block';
        AboutUrl.style.color = 'red';

        event.preventDefault();
      }
    });
  });
</script>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    var confirmButton = document.getElementById('confirm_button');
    var spinnerContainer = document.querySelector('.spinner-container');
    var urlField = document.querySelector('input[name="url"]');
    var titleField = document.querySelector('input[name="title"]');

    confirmButton.addEventListener('click', function (event) {
      // フィールドが適切に入力されているかチェック
      var isUrlFilled = urlField.value.trim() !== '';
      var isTitleFilled = titleField.value.trim() !== '';

      if (isUrlFilled && isTitleFilled) {
        // フィールドが適切に入力されている場合、スピナーを表示
        if (spinnerContainer) {
          spinnerContainer.style.display = 'flex';
        }
      } else {
        // フィールドが適切に入力されていない場合、Djangoの検証メッセージを表示させるために何もしない
        // フォームのデフォルトの送信動作を妨げない
      }
    });
  });
</script>
<script src="{% static 'js/preview_ad_manga.js' %}"></script>
<script src="{% static 'js/hide_contents.js' %}"></script>
<script src="{% static 'js/read_more.js' %}"></script>
{% endblock %}