{% extends 'advertisement/ad_base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/advertisement/ad_create.css' %}">
{% endblock %}


{% block content %}
<div class="page-title">キャンペーン編集</div>


<div class="block">

  <form method="post" class="flex">
    {% csrf_token %}

    <div>
      {% if form.non_field_errors %}
      <div class="alert alert-danger" role="alert">
        {% for error in form.non_field_errors %}
        {{ error }}
        {% endfor %}
      </div>
      {% endif %}

      <div class="info-item">
        <div class="info-name">キャンペーンタイトル</div>
        <div class="info-input campaign-title">{{ form.title }}</div>
      </div>
      <div class="info-item">
        <div class="info-name">開始日</div>
        <div class="info-input">
          {{ form.start_date.value }}
          {% if form.start_date.errors %}
          <div class="error-messages">
            {% for error in form.start_date.errors %}
            <p>{{ error }}</p>
            {% endfor %}
          </div>
          {% endif %}
        </div>
        <div class="info-name" style="margin-top: 8px;">終了日</div>
        <div class="end_date_option">
          {{ form.end_date_option }}
        </div>
        <div class="info-input" id="end-date-container">
          {{ form.end_date }}
          {{ form.end_date.errors }}
        </div>
      </div>

      <div class="info-item">
        <div class="info-name">料金方式</div>
        <div class="info-input" id="pricing_model">{{ form.pricing_model.value }}</div>
      </div>

      {% if year_month %}
      <div class="info-item">
        <div class="info-input">
          {{ year_month|date:"Y-m" }}
          の基準
          {% if pricing_model == 'CPM' %}
          CPM
          {% elif pricing_model == 'CPC' %}
          CPC
          {% endif %}
          ：<span id="monthly_ad_cost">{{ monthly_ad_cost }}</span>円
        </div>
      </div>
      {% endif %}

      {% if pricing_model == 'CPM' %}
      <div class="info-item">
        <div class="info-name">現在の合計表示回数</div>
        <div class="info-input">
          {{ total_views_count }}回</div>
      </div>

      <div class="info-item">
        <div class="info-name">目標表示回数</div>
        <div class="info-input">
          {{ form.target_views }}
          {% if form.target_views.value < 200000 %}
          <p class="info-description text-muted">
            目標表示回数が20万回以下のため、この項目は編集できません。
          </p>
          {% endif %}
          {% if form.target_views.errors %}
          <div class="error-messages">
            {% for error in form.target_views.errors %}
            <p>{{ error }}</p>
            {% endfor %}
          </div>
          {% endif %}
        </div>
      </div>

      <div class="info-item">
        <div class="info-name">CPM</div>
        <div class="info-input" id="calculated_cpm" style="color: rgb(11, 150, 1);">
          {{ actual_cpc_or_cpm }}円</div>
      </div>

      <div class="info-item">
        <div class="info-name">見積金額</div>
        <div class="info-input" id="calculated_budget_cpm" style="color: rgb(11, 150, 1);">円</div>
        <p class="info-description" style="width: 400px;">
          注意：CPMの場合、目標表示回数に応じて見積金額が自動計算されます。そのためここでの見積金額とは、目標表示回数に到達した場合実際に請求される料金です。目標表示回数に到達しなかった場合、その時点での表示回数に応じたCPMで料金が再計算され、請求料金が確定します。
      </div>
      {% elif pricing_model == 'CPC' %}
      <div class="info-item">
        <div class="info-name">現在の合計クリック回数</div>
        <div class="info-input">
          {{ total_clicks_count }}回</div>
      </div>

      <div class="info-item">
        <div class="info-name">クリック目標数</div>
        <div class="info-input">
          {{ form.target_clicks }}
          {% if form.target_clicks.value <= 2000 %}
          <p class="info-description text-muted">
            クリック目標数が2000回以下のため、このフィールドは編集できません。
          </p>
          {% endif %}
          {% if form.target_clicks.errors %}
          <div class="error-messages">
            {% for error in form.target_clicks.errors %}
            <p>{{ error }}</p>
            {% endfor %}
          </div>
          {% endif %}
        </div>
      </div>

      <div class="info-item">
        <div class="info-name">CPC</div>
        <div class="info-input" id="calculated_cpc" style="color: rgb(11, 150, 1);">
          {{ actual_cpc_or_cpm }}円</div>
      </div>

      <div class="info-item">
        <div class="info-name">見積金額</div>
        <div class="info-input" id="calculated_budget_cpc" style="color: rgb(11, 150, 1);">円</div>
      </div>
      {% endif %}

    </div>

    <div style="margin-left: 48px;">
      <div class="info-item">
        <div class="info-name">ターゲット</div>

        <div>
          {% if andfeatures %}
          {% for andfeature in andfeatures %}
          <div class="target">{{ andfeature }}</div>
          {% if not forloop.last %}
          かつ
          {% endif %}
          {% endfor %}
          {% else %}
          全員
          {% endif %}
        </div>
      </div>



      <button type="submit" class="submit-campaign">変更</button>
    </div>

  </form>

</div>

{% endblock %}
{% block script %}
<script src="{% static 'js/edit_cpm_cpc.js' %}"></script>
<script>
document.addEventListener('DOMContentLoaded', function() {
  // 現在の日付を YYYY-MM-DD 形式で取得
  var today = new Date().toISOString().split('T')[0];
  // end_date 入力フィールドに最小値として今日の日付を設定
  document.getElementById('end-date-input').setAttribute('min', today);
});
</script>
<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', function () {
    var endDateContainer = document.getElementById('end-date-container');
    var noEndDateInput = document.getElementById('id_end_date_option_0'); // '終了期限なし'のinput
    var setEndDateInput = document.getElementById('id_end_date_option_1'); // '期限を設定する'のinput
    var endDateInput = document.getElementById('end-date-input'); // 終了日のinput

    // ラジオボタンの選択に応じて終了日フィールドを表示または非表示
    function toggleEndDate() {
      // 終了日フィールドが非表示の場合かどうかをチェック
      endDateContainer.style.display = noEndDateInput.checked ? 'none' : 'block';
    }

    noEndDateInput.addEventListener('change', toggleEndDate);
    setEndDateInput.addEventListener('change', toggleEndDate);

    // 初期状態の設定
    // 保存されている終了日の値があるかどうかをチェックして、
    // ラジオボタンの状態を設定します。
    if (endDateInput.value) {
      setEndDateInput.checked = true; // '期限を設定する'が選択される
    } else {
      noEndDateInput.checked = true; // '終了期限なし'が選択される
    }

    // 初期状態で endDateContainer の表示/非表示を切り替える
    toggleEndDate();
  });

  document.addEventListener('DOMContentLoaded', function () {
    // 開始日の入力フィールドを選択
    var startDateField = document.querySelector('input[name="start_date"]');

    // 終了日の入力フィールドを選択
    var endDateField = document.querySelector('input[name="end_date"]');

    // 開始日の入力フィールドにイベントリスナーを設定
    startDateField.addEventListener('change', function () {
      // 開始日の値を取得して終了日のmin属性に設定
      endDateField.setAttribute('min', this.value);
    });

    // 初期状態で終了日のminを設定するためのイベントを発火
    if (startDateField.value) {
      startDateField.dispatchEvent(new Event('change'));
    }
  });
</script>
{% endblock %}