{% extends 'advertisement/ad_base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/advertisement/ad_create.css' %}">
{% endblock %}


{% block content %}
<div class="page-title">キャンペーン編集</div>


<div class="block">

  <form method="post" class="flex">
    {% csrf_token %}

    <div>
      <div class="info-item">
        <div class="info-name">キャンペーンタイトル</div>
        <div class="info-input campaign-title">{{ form.title }}</div>
      </div>
      <div class="info-item">
        <div class="info-name">開始日</div>
        <div class="info-input disabled">{{ form.start_date }}</div>
        <div class="info-name" style="margin-top: 8px;">終了日</div>
        <div class="info-input">{{ form.end_date }}</div>
      </div>
  
      <div class="info-item">
        <div class="info-name">予算</div>
        <div class="info-input">{{ form.budget }}</div>
      </div>
    </div>

    <div style="margin-left: 48px;">
      <div class="info-item">
        <div class="info-name">ターゲット</div>

        <div>
          {% if andfeatures %}
            {% for andfeature in andfeatures %}
              <div class="target">{{ andfeature }}</div>
              {% if not forloop.last %}
                かつ
              {% endif %}
            {% endfor %}
          {% else %}
            全員
          {% endif %}
        </div>
      </div>



      <button type="submit" class="submit-campaign">変更</button>  
    </div>

  </form>

</div>

{% endblock %}
{% block script %}
<script>
document.addEventListener("DOMContentLoaded", function () {
  let startDateInput = document.querySelector('#start-date-input');
  let endDateInput = document.querySelector('#end-date-input');

  // Set the minimum end date to the current start date
  endDateInput.setAttribute('min', startDateInput.value);

  // Update the minimum end date when the start date changes
  startDateInput.addEventListener('change', function() {
    endDateInput.setAttribute('min', this.value);
  });
});
</script>
{% endblock %}