{% extends 'advertisement/ad_campaigns_list.html' %}
{% load extra_filters %}
{% block table %}
<div class="sub-page-title">公開前のキャンペーン</div>

<div class="block">

  <table>
    <tr>
      <th>CPM/CPC</th>
      <th>キャンペーンタイトル</th>
      <th>広告数</th>
      <th>合計数/目標数</th>
      <th>料金 / 見積金額</th>
      <th>表示期間</th>
      <th>停止／公開</th>
    </tr>
    {% for campaign in campaigns %}
    {% if campaign.status == 'pending' %}
    <tr class="release-campaign">
      <td>{{ campaign.pricing_model }}</td>
      <td>
        <a href="{% url 'advertisement:ad_campaign_detail' campaign.id %}" class="campaign-title">
          {{ campaign.title }}
        </a>
      </td>
      <td>{{ campaign.adinfos_count }}</td>
      <td class="views">
        {% if campaign.pricing_model == 'CPM' %}
        <span>{{ campaign.total_views_count|add_commas }}</span>
        <span>/{{ campaign.target_views|add_commas }}</span>
        {% elif campaign.pricing_model == 'CPC' %}
        <span>{{ campaign.total_clicks_count|add_commas }}</span>
        <span>/{{ campaign.target_clicks|add_commas }}</span>
        {% endif %}
      </td>
      <td>{{ campaign.fee|add_commas }} / {{ campaign.budget|add_commas }}</td>
      <td data-end-date="{{ campaign.end_date|date:" Y-m-d" }}" class="date-cell">
        <span class="date">
          {{ campaign.start_date|date:"Y-m-d" }}
        </span>
        ～
        <span class="date">
          {{ campaign.end_date|date:"Y-m-d" }}</span>
      </td>
      <td>
        {% if campaign.status == 'pending' %}
        <form>
          <button class="release-button pending disabled-button">
            公開前
          </button>
        </form>
        {% endif %}
      </td>
    </tr>
    {% endif %}
    {% empty %}
    <tr>
      <td colspan="7">データはありません。</td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}