{% extends 'support/detail_base.html' %}
{% load static %}
{% block head %}

{% endblock %}

{% block topic %}
<div class="topic-title">キャンペーンにどうやって参加すればいいですか</div>
<div class="sub-topics">
  <div class="sub-topic">

    <p class="paragraph">
      Viewyでは月単位でキャンペーンが開催されることがあります。キャンペーンに参加すると、無料アダルトサイトにもかかわらず、豪華特典を獲得できるチャンスがあります。<br><br>

      <strong>キャンペーンの参加方法<br><br></strong>
      
      1.月初めにViewyにログイン<br>
      2.ポップアップの条件を確認して、「参加する」をタップ<br>
        
    </p>
  </div>
</div>
{% endblock %}