{% extends 'support/detail_base.html' %}
{% load static %}
{% block head %}

{% endblock %}

{% block topic %}
<div class="topic-title">キャンペーンの当選を確認したい</div>
<div class="sub-topics">
  <div class="sub-topic">

    <p class="paragraph">
      Viewyでは月単位でキャンペーンが開催されることがあります。キャンペーンに参加すると、無料アダルトサイトにもかかわらず、豪華特典を獲得できるチャンスがあります。<br><br>

      条件を満たした人の中から、月末に当選者が選ばれます。<br>当選者には support@viewy.net からメールが届きますので、ご確認ください。メール本文に特典の受け取り方法が記載されていますので、その手順に従って特典をお受け取りください。


    </p>
  </div>
</div>
{% endblock %}