.screen{
  width: 400px;
  background-color: rgb(60, 235, 235);
  border-radius: 24px;
  position: relative;
}

.header{
  width: 400px;
  height: 380px;
  background-color: rgb(68, 228, 228);
  color: white;
  border-radius: 8px 8px 0px 0px;
  position: fixed;
  text-align: center;
  top: 0px;
  z-index: -1;
}

.main-img{
  width: 130px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  opacity: 0; /* 初期の透明度 */
  transition: opacity 1s ease; /* 透明度の変化を1秒かけて */
}

/* ページ読み込み後すぐにアニメーションを開始するためのクラス */
.main-img.loaded {
  opacity: 1; /* 最終的な透明度 */
}

/* ページが読み込まれたらすぐにアニメーションを開始 */
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.main-img {
  opacity: 0; /* 初期の透明度 */
  animation: fadeIn 1s ease forwards 0.5s; /* 2秒後に開始 */
}

.catch-right,
.catch-left {
  font-size: 48px;
  font-weight: bold;
  writing-mode: vertical-rl;
  position: absolute;
  line-height: 48px;
  opacity: 0;
  transition: all 1s ease; /* 1秒かけて変化 */
}

.catch-right {
  margin-right: 4px;
  right: 0px;
  top: 0px;
  transform: translateY(-80px); /* 初期位置を少し上に設定 */
}

.catch-left {
  left: 0px;
  top: 0px;
  line-height: 56px;
  transform: translateY(80px); /* 初期位置を少し下に設定 */
}

/* このアニメーションを追加 */
@keyframes slideIn {
  to {
    opacity: 1;
    transform: translateY(0); /* 最終位置 */
  }
}

/* アニメーションの適用 */
.catch-right,
.catch-left {
  animation: slideIn 1s ease forwards;
}

.about-viewy{
  padding-bottom: 32px;
}

.sample{
  margin: 4px 0px 32px;
}

.big{
  width: 100%;
  position: relative;
  top: -58px;
}

.scores{
  display: flex;
  justify-content: space-around;
  position: relative;
  top: -48px;
}

.score > img{
  width: 100%;
}

.main{
  width: 100%;
  margin-top: 320px;
  padding: 24px 0px 80px 0px;
  border-radius: 24px 24px 8px 8px;
  background-color: rgb(253, 253, 253);
}

.block {
  opacity: 0;
  transform: translateY(16px); /* 初期位置を少し下に設定 */
  transition: all 0.8s ease; /* 0.5秒かけて変化 */
}

.block.visible {
  opacity: 1;
  transform: translateY(0); /* 最終位置 */
}

span{
  font-weight: bold;
}



.sub-catch{
  width: 100%;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 16px;
  color: rgb(69, 69, 69);
}

.partner-list{
  width: 100%;
  height: 72px;
  display: flex;
  align-items: center;
  overflow: scroll;
}

.partner-img{
  border-radius: 50%;
  height: 64px;
  width: 64px;
  min-width: 64px;
  border: 1px solid black;
  margin-left: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.partner-img > img{
  width: 64px;
}

.be-partner1{
  width: 100%;
  text-align: center;
  margin-top: 16px;
}

.team{
  font-size: 13px;
  margin-left: 8px;
  color: gray;
}

hr{
  width: 90%;
  margin-top: 24px;
  margin-bottom: 48px;
}

.video{
  text-align: center;
  background-color: rgb(14, 14, 14);
}

video{
  border-radius: 4px;
  margin: 32px auto;
}

#number{
  width: 130px;
}

.point{
  padding: 32px 24px;
  text-align: center;
  background-color: rgb(247, 255, 255);
  border-radius: 8px;
  box-shadow: 0px 2px 4px gainsboro;
  margin: 24px;
  position: relative;
  border: 2px solid #5cefe8;
}

.number{
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #5cefe8;
  color: white;
  border-radius: 4px 0px 8px 0px;
  text-align: center;
  font-weight: bold;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
}

.point img{
  width: 100px;
}

.point .img{
  width: 96px;
  height: 96px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin:0px auto 16px;
}

.point-title{
  font-weight: bold;
}

.sub{
  font-size: 12px;
  font-weight: bold;
  color: rgb(97, 97, 97);
  margin-top: 8px;
}

#fansite{
  width: 130px;
}

#harry{
  width: 140px;
}

.part{
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  /* border: 2px rgb(74, 230, 230) solid; */
  text-align: left;
  padding: 48px 0px;
}


.big-title{
  font-size: 32px;
  font-weight: bold;
  color: rgb(69, 69, 69);
  text-align: center;
}

.title{
  font-size: 24px;
  font-weight: bold;
  color: rgb(69, 69, 69);
  margin-right: 32px;
  margin-left: 32px;
  text-decoration: underline;
  text-decoration-color: rgb(77, 239, 239);
  text-decoration-line: 4px;
}

.mega{
  color: black;
  font-size: 38px;
}

.line{
  width: 60px;
  margin: 8px auto;
  border-bottom: #5cefe8 4px solid;
}

.content{
  margin-top: 16px;
  margin-bottom: 4px;
  font-size: 15px;
  line-height: 28px;
  color: rgb(69, 69, 69);
  text-align: left;
  padding: 0px 32px;
}



.special{
  background-color: rgb(246, 255, 254);
}

.img-box{
  max-width: 100%;
  margin-bottom: 48px;
  display: flex;
  overflow-x: scroll;
  padding: 0px 16px 16px;
  position: relative;
}

.img-box > img{
  width: 160px;
  margin-top: 16px;
  border-radius: 8px;
  border: 1px gainsboro solid;
  margin-right: 16px;
  box-shadow: 0px 2px 3px grey;
}

.white{
  padding: 16px 24px;
  margin: auto 16px;
  background-color: white;
  border-radius: 8px;
  text-align: center;
}

.case{
  max-width: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 32px;
  margin-top: 32px;
  font-size: 14px;
  padding: 32px 8px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 2px 4px gainsboro;
  color: rgb(69, 69, 69);
  font-weight: bold;
}

.case-title{
  width: max-content;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  padding: 4px 16px;
  border-radius: 4px;
  background-color: rgb(255, 63, 124);
  box-shadow: 0px 1px 3px grey;
  color: white;
  margin-bottom: 16px;
  font-weight: bold;
}

.ice{
  background-color: rgb(26, 134, 234);
}

.alive{
  color: rgb(26, 134, 234);
}

.case >img{
  width: 100%;
  margin-bottom: 8px;
  margin-top: 16px;
}
.red{
  color: rgb(234, 93, 0);
}
.good{
  color: orange;
  font-size: 20px;
}

.description{
  text-align: left;
  font-size: 16px;
  padding: 0px 12px;
  line-height: 24px;
  line-height: 32px;
}

.partner{
  background-color: #f0f0f0;
}

.solution{
  background-color: rgb(255, 255, 255);
  margin-bottom: 0px;
}

.solution > img{
  width: 90%;
}

.solution-title{
  font-size: 20px;
  font-weight: bold;
  background-color: rgb(0, 207, 207);
}

.good-point{
  margin-bottom: 8px;
}

.dark{
  background-color: rgb(0, 167, 167);
  padding: 48px 10px;
}

.plus{
  box-shadow: 0px 2px 4px rgb(113, 113, 113);
  background-color: white;
}

.gate{
  font-size: 16px;
  font-weight: bold;
  padding: 4px 8px;
  padding-left: 32px;
  border-radius: 4px;
  box-shadow: 0px 2px 4px gainsboro;
  position: relative;
  margin-top: 8px;
  margin-bottom: 8px;
  color: black;
}

.count{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  font-size: 14px;
  border-radius: 4px 0px 4px 0px;
  background-color: rgb(0, 207, 207);
  color: white;
  margin-right: 8px;
  position: absolute;
  left: 0px;
  top: 0px;
}

.gift{
  padding: 12px 24px;
  margin: 8px 16px 24px;
  border-radius: 50px;
  background: linear-gradient(to right, rgb(0, 225, 225), rgb(0, 243, 243));
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  box-shadow: 0px 2px 4px gainsboro;
}

.double{
  background-color: rgb(233, 0, 50);
}

.example{
  font-size: 13px;
  color: gray;
  margin-bottom: 8px;
}

.chat-img{
  width: 85%;
  margin-top: 32px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(255, 255, 255);
  padding: 16px 16px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0px 2px 4px gainsboro;

}

.chat-img > img{
  width: 85%;
  border-radius: 8px;
  /* box-shadow: 0px 1px 3px grey; */

}


.table{
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: rgb(184, 184, 184);
  padding-bottom: 4px;
  margin-bottom: 40px;
}

.table-title{
  margin-bottom: 24px;
  font-size: 20px;
}

.step{
  width: 75%;
  padding: 12px 12px;
  margin: 4px auto;
  text-align: center;
  background-color: rgb(255, 255, 255);
  border-radius: 50px;
  font-size: 15px;
  font-weight: bold;
  color: rgb(69, 69, 69);
  border: 2px rgb(72, 233, 233) solid;
  box-shadow: 0px 1px 3px grey;
  /* text-decoration: underline;
  text-decoration-line: 2px;
  text-decoration-color: aqua; */
}

.goal{
  width: 80%;
  padding: 16px 12px;
  background-color: rgb(255, 255, 255);
  border: 4px solid rgb(255, 174, 0);
  font-size: 17px;
  margin-bottom: 48px;
}



.be-partner2{
  width: 100%;
  text-align: center;
  margin-top: 16px;
}

a{
  display: inline-block;
  border: none;
  width: 200px;
  height: 48px;
  padding: 0px;
  line-height: 48px;
  text-align: center;
  color: white;
  font-size: 16px;
  font-weight: bold;
  background-color: rgb(255, 174, 0);
  border-radius: 50px;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  box-shadow: 0px 2px 3px gray;
}

a:hover{
  background-color: rgb(245, 168, 0);
}

.warning{
  width: 100%;
  font-size: 11px;
  color: gray;
  text-align: center;
  margin-top: 16px;
}

.mini{
  font-size: 13px;
  color: rgb(255, 174, 0);
}

/* スマートフォン用のスタイル */
@media only screen and (max-width: 600px) {
  .screen{
    width: 100%;
  }

  .header{
    width: 100%;
  }
}