html,
body {
  touch-action: manipulation;
  user-select: none; /* テキスト選択を防ぐ */
  -webkit-user-select: none;/* テキスト選択を防ぐ */
}

.screen {
  height: 100vh;
  /* スクロールコンテナーの高さを指定 */
  overflow-y: scroll;
  /* 縦スクロールを許可 */
  scroll-snap-type: y mandatory;
  /* 縦方向にスナップするように設定 */
  -webkit-overflow-scrolling: touch; /* 慣性スクロールを有効にする */
  min-height: 600px;
}

.post {
  height: 560px;
  width: 350px;
  scroll-snap-align: start;
  /* 要素の上端をスナップ位置にする */
  position: relative;
  overflow: hidden;
  outline: none;
}

/* ボトムスペース */
.bottom-space {
  width: 100%;
  height: 100vh;
}

.hit-area {
  position: absolute;
  height: 32px;
  bottom: 8px;
  left: 0;
  right: 0;
  z-index: 101;
  /* Make sure this is above the slider's z-index */
  cursor: pointer;
}

/* コントロールバーを消す */
video::-webkit-media-controls-enclosure {
  display: none !important;
}

.custom-controlbar {
  position: absolute;
  left: 0px;
  bottom: 16px;
  width: 98%;
  z-index: 100;
  appearance: none;
  border-radius: 50px;
  height: 3px;
  transition: background 0.1s ease;
  background-color: rgba(150, 150, 150, 0.539);
}

@media (max-width: 600px) {
  .custom-controlbar {
    bottom: 8px;
  }
}

@media (max-width: 400px) {
  .custom-controlbar {
    bottom: 16px;
  }
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  cursor: pointer;
  background: transparent;
  /* we handle background with JS now */

}

input[type=range]::-webkit-slider-thumb {
  height: 8px;
  width: 8px;
  background-color: rgba(207, 207, 207, 0);
  border-radius: 50%;
  cursor: pointer;
  -webkit-appearance: none;
}

.spinner {
  border: 3px solid #f3f3f3;
  border-top: 3px solid #34d5db;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  animation: spin 0.5s linear infinite;
  position: absolute;
  top: 50%;
  /* 上下方向の中心に配置 */
  left: 50%;
  transform: translate(-50%, -50%);
  /* 自身の幅と高さの半分分を左と上にずらすことで真ん中に配置 */
  user-select: none; /* テキスト選択を防ぐ */
}

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}


.post-video {
  position: absolute;
  /* 位置を絶対位置に設定 */
  top: 50%;
  /* 親要素から上に50%の位置に配置 */
  transform: translateY(-50%);
  /* 要素自体をY軸に-50%移動させて中心に配置 */
  width: 100%;
  /* 親要素に対して100%の幅 */
  height: auto;
  /* 高さを自動で調整 */
  object-fit: cover;
  /* 画像のアスペクト比を保ちつつ親要素を覆うように表示 */
  pointer-events: auto;
}


.manga-page {
  width: 100%;
  height: 100%;
  object-fit: cover;
  min-width: 350px;
  border-radius: 8px;
  pointer-events: auto;
}

.book {
  width: 100%;
  height: 100%;
  display: flex;
  /* 要素を横並びにする */
  flex-direction: row-reverse;
  /* 要素を右から左に表示する */
  overflow-x: scroll;
  /* 横スクロールを可能にする */
  scroll-snap-type: x mandatory;
  position: relative;
}

.manga-page {
  scroll-snap-align: start;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-content {
  max-height: calc(var(--vh, 1vh) * 100 - 42px);
  max-width: 350px;
  object-fit: contain;
}

@keyframes fade-out {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 1;
  }

  75% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.horizontal-slide-icon {
  position: absolute;
  /* 絶対位置を指定 */
  top: 50%;
  /* 親要素（.book）の高さの50%の位置に配置 */
  left: 50%;
  /* 親要素（.book）の幅の50%の位置に配置 */
  transform: translate(-50%, -50%);
  /* インターフェイスが中心に配置されるように調整 */
  z-index: 10;
  /* 他の要素の上に表示するためのz-index */
  font-size: 40px;
  /* アイコンのサイズ。必要に応じて調整 */
  color: #ffffff;
  /* アイコンの色。必要に応じて調整 */
  text-align: center;
  /* 子要素を中央寄せ */
  background-color: #282828;
  width: 80px;
  height: 80px;
  border-radius: 4px;
  opacity: 0;
  /* アイコンの初期透明度を0に設定 */
}

.horizontal-slide-icon i {
  display: block;
  margin-top: 16px;
}

.slide-icon-word {
  font-size: 8px;
}

.horizontal-slide-icon.show-icon {
  animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
  /* ベジェ曲線を使って滑らかに */
  animation-name: fade-out;
  /* アニメーション名を指定 */
  animation-duration: 2.0s;
  /* アニメーションの持続時間を1秒に設定 */
  animation-delay: 0.8s;
  /* アニメーションの開始を1秒遅らせる */
  animation-fill-mode: forwards;
  /* アニメーション終了後に最後のフレームで止まるように設定 */
}


/* アフィリエイト広告 */
.affiliate-ad {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 300px;
  display: flex;
  justify-content: center;
}

.affiliate-ad a{
  color: white;
}


/* サイドバー関連 */

.side-bar {
  width: 72px;
  position: absolute;
  bottom: 48px;
}

/* スマホでクリックしたとき一瞬色が変わるのを防ぐ */
label {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  outline: none;
}

.poster,
.favorite, 
.ellipsis{
  width: 72px;
  height: 60px;
  text-align: center;
  line-height: 72px;
  font-size: 24px;
  color: white;
  text-shadow: gray 0px 1px 3px;
}

.recommend{
  width: 72px;
  height: 48px;
  text-align: center;
  line-height: 72px;
  font-size: 24px;
  color: white;
  text-shadow: gray 0px 1px 3px;
}

.recommend input{
  display: none;
}

.recommend:hover{
  cursor: pointer;
}

.recommend-label {
  cursor: pointer;
  color: #ffffff; /* 初期の色 (レコメンドされていない状態) */
}

.recommend-frag:checked + .recommend-label {
  color: rgb(71, 236, 236); /* レコメンドされている場合の色 */
  animation: heartAnimation 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.ellipsis:hover{
  cursor: pointer;
}

.fa-ellipsis {
  pointer-events: none;
}

.mute{
  width: 72px;
  text-align: center;
  font-size: 24px;
  color: rgba(255, 255, 255, 0.25);
}

.fa-volume-low{
  opacity: 0;
}

.mute-box{
  position: absolute;
  top: 16px;
  z-index: 97;
}

.space-for-hide {
  width: 72px;
  height: 32px;
}

.poster {
  position: relative;
  top: 30px;
}

.follow-poster {
  position: relative;
  height: 20px;
  width: 20px;
  text-align: center;
  line-height: 22px;
  top: 9px;
  left: 26px;
  background-color: rgb(71, 236, 236);
  border-radius: 50%;
  color: rgb(69, 69, 69);
}

.follow-hidden {
  opacity: 0;
  pointer-events: none;
}

@keyframes fadeOutAndScale {
  0% {
    transform: scale(1);

  }

  6% {
    transform: scale(0.7);

  }

  24% {
    transform: scale(1.2);

  }

  32% {
    transform: scale(1);

  }

  80% {
    transform: scale(1);
    scale: 1;
  }

  100% {
    transform: scale(1);
    scale: 0;
  }
}

.fade-out {
  animation: fadeOutAndScale 1s forwards;
}

@media (max-width: 600px) {
  .follow-poster {
    line-height: 21px;
  }
}


.like-label {
  /* display: inline-block;  追加 */
  max-height: 36px;
}

.favorite-count {
  height: 16px;
}

.follow:hover,
.like-label:hover {
  cursor: pointer;
}

.poster-img {
  border-radius: 50%;
  width: 48px;
  height: 48px;
  background-color: white;
  object-fit: cover;
  /* 画像のアスペクト比を保ちつつ、要素のサイズにフィットするようにします。 */
  overflow: hidden;
  /* 親要素を超える部分を隠します。 */
}

.mini-follow-button {
  display: none;
}

@keyframes heartAnimation {
  0% {
    transform: scale(0.8);
  }

  50% {
    transform: scale(1.2);
  }

  95% {
    transform: scale(0.9);
  }

  100% {
    transform: scale(1);
  }
}

.liked {
  color: aqua;
  animation: heartAnimation 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}



.favorite-count {
  font-size: 14px;
  position: relative;
  top: -64px;
}

.like-button {
  display: none;
}

/* エモートボタン */
.emotes {
  display: flex;
  justify-content: space-between;
  /* エモート間のスペースを均等に分配 */
  align-items: center;
  position: relative;
  top: 8px;
  left: 16px;
  z-index: 1;
}

@keyframes bounce {
  0% {
    transform: scale(0.5);
  }

  50% {
    transform: scale(1.3);
  }

  90% {
    transform: scale(0.95);
  }

  100% {
    transform: scale(1);
  }
}

.bouncing {
  animation: bounce 0.25s;
}

.emote-icon>i {
  color: white;
  font-size: 24px;
  text-shadow: gray 0px 1px 3px;
  width: 40px;
  height: 40px;
  position: relative;
  top: 8.5px;
}

.emote {
  flex: 1;
  text-align: center;
  /* 数字をエモートの真下に配置 */
  transition: opacity 0.3s, visibility 0.3s, transform 0.3s;
}


.emote img {
  width: 40px;
  /* 画像のサイズを調整。必要に応じて変更してください */
  height: 36px;
  /* 画像のサイズを調整。必要に応じて変更してください */
  object-fit: cover;
  /* 画像のアスペクト比を維持しつつ、要素にフィットさせる */
  user-select: none;
  margin-bottom: -3px;
  touch-action: manipulation;
}

.emote-count {
  user-select: none;
  font-size: 12px;
  color: white;
  position: relative;
  top: -4px;
  text-shadow: gray 0px 1px 3px;
}

.total-count {
  position: relative;
  top: -4px;
  font-size: 14px;
}

.hidden-emote {
  opacity: 0;
  visibility: hidden;
}

.add-space{
  height: 80px;
}

/* ミュートボタン */
.mute-frag {
  display: none;
}

.hide {
  width: 72px;
  height: 48px;
  text-align: center;
  line-height: 48px;
  font-size: 18px;
  color: white;
  text-shadow: gray 0px 1px 3px;
  position: absolute;
  left: 0px;
  bottom: 36px;
}

.content {
  background-color: #ffffff00;
  opacity: 1;
  transition: opacity 0.2s ease;
  /* 0.1秒でフェード */
  /* 他の必要なスタイルもここに追加 */
}

.hidden {
  opacity: 0;
  pointer-events: none;
  /* 非表示要素をクリック不可にする */
}


.hide-label {
  cursor: pointer;
  z-index: 98;
}

.page-count {
  position: absolute;
  bottom: 24px;
  left: 8px;
  font-size: 14px;
  color: rgb(255, 255, 255);
  text-shadow: gray 0px 1px 3px;
}

/* キャプション関連 */

.poster-name {
  font-weight: bold;
  color: #ffffff;
  -webkit-tap-highlight-color: transparent;
}

.ad-tag {
  font-size: 12px;
  padding: 2px 4px;
  border-radius: 4px;
  margin-left: 8px;
  background-color: #696969;
  text-shadow: none;
  box-shadow: gray 0px 1px 3px;
  white-space: nowrap; /* 追加 */
  overflow-wrap: break-word; /* 追加 */
}

.ss{
  font-size: 13px;
  padding: 2px 4px;
  border-radius: 4px;
  margin-left: 4px;
  background-color: rgb(43, 212, 212);
  text-shadow: none;
  box-shadow: gray 0px 1px 3px;
  white-space: nowrap; /* 追加 */
  overflow-wrap: break-word; /* 追加 */  
}

.clear{
  opacity: 0;
  pointer-events: none;
}

.captions {
  position: absolute;
  width: 80%;
  left: 64px;
  bottom: 32px;
  font-size: 15px;
  color: white;
  text-shadow: gray 1px 1px 1px;
}

.caption {
  font-size: 14px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* 1行だけ表示 */
  -webkit-box-orient: vertical;
  cursor: pointer;
  /* キャプションがクリック可能であることを示すため */
}

.caption-expanded {
  -webkit-line-clamp: unset;
  /* すべての行を表示 */
}



.hashtags {
  margin-top: 4px;
  line-height: 28px;
  outline: none;
}

.url {
  margin-right: 8px;
  background-color: rgba(230, 230, 230, 0.5);
  border-radius: 4px;
  height: 28px;
  width: 36px;
  line-height: 28px;
  text-align: center;
  position: relative;
  top: 1px;
  display: inline-block;
}

.url>a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  -webkit-tap-highlight-color: transparent;
}

.url:hover {
  cursor: pointer;
  background-color: rgba(220, 220, 220, 0.68);
}

.url-icon {
  width: 20px;
  position: relative;
  top: 4px;
}

.hashtag {
  margin-right: 4px;
  background-color: rgba(255, 255, 255, 0.306);
  border-radius: 4px;
  white-space: nowrap;
}

.hashtag:hover {
  cursor: pointer;
  background-color: rgba(243, 243, 243, 0.68);
}

.hashtag>a {
  color: white;
  padding: 1px 6px 1px 6px;
  text-decoration: none;
  font-size: 14px;
  -webkit-tap-highlight-color: transparent;
}

.likeorfollow {
  width: 360px;
  height: 32px;
  position: fixed;
  top: 24px;
  display: flex;
  justify-content: center;
  z-index: 2;
}

.tolike {
  height: 32px;
  font-size: 18px;
  /* border-right: 2px white solid; */
  line-height: 32px;
  padding-right: 8px;
  font-weight: bold;
  color: white;
  opacity: 0.9;
  text-decoration: underline;
  text-decoration-color: aqua;
  text-decoration-line: 2px;
  text-shadow: 0px 0px 3px gray;
}

.tolike:hover {
  cursor: pointer;
  opacity: 0.5;
}

.tofollow {
  height: 32px;
  font-size: 18px;
  line-height: 32px;
  padding-left: 8px;
  font-weight: bold;
  color: white;
  opacity: 0.9;
  text-decoration: none;
  text-shadow: 0px 0px 3px gray;
}

.tofollow:hover {
  cursor: pointer;
  opacity: 0.5;
}


/* 報告ボタン */
.report {
  color: rgba(0, 0, 0, 0.797);
  z-index: 97;
}

.report:hover {
  cursor: pointer;
  opacity: 0.8;
}

.report-menu {
  text-align: center;
}

.report-title {
  font-weight: bold;
}

.block-check{
  font-weight: bold;
}

.report-sub-title {
  margin-top: 8px;
  margin-bottom: 8px;
  font-size: 13px;
}

.selects {
  text-align: left;
  margin-left: 76px;
  margin-top: 0px;
  font-size: 14px;
  margin-bottom: 8px;
}

.selects>label>input {
  margin-bottom: 8px;
}

/* ラジオボタンを四角形にスタイリングする */
.selects input[type="radio"] {
  -webkit-appearance: none;
  /* Safari/Chrome用 */
  -moz-appearance: none;
  /* Firefox用 */
  appearance: none;
  /* 一般的なスタイル用 */
  width: 8px;
  /* 幅 */
  height: 8px;
  /* 高さ */
  border: 1px solid #000;
  /* ボーダー */
  position: relative;
  top: 8px;
  border-radius: 2px;
  /* 角丸 */
  outline: none;
  /* フォーカス時のアウトラインを削除 */
  transition: all 0.3s ease;
  /* アニメーション */
}

/* ラジオボタンがチェックされた状態 */
.selects input[type="radio"]:checked {
  background-color: #ff4d00;
  /* 背景色 */
}

.submit-report {
  padding: 8px 40px;
  background-color: rgb(247, 247, 247);
  border: rgb(212, 57, 0) 1px solid;
  border-radius: 50px;
  color: rgb(212, 57, 0);
  font-weight: bold;
  font-size: 15px;
}

.submit-report:hover {
  cursor: pointer;
  opacity: 0.7;
}

.message {
  font-size: 14px;
  position: relative;
  top: 48px;
}

/* 停止中に表示する再生ボタン */
.play-button {
  font-size: 48px;
  color: white;
  text-shadow: gray 0px 1px 3px;
  opacity: 0.6;
  position: absolute;
  top: 50%;
  /* 上下方向の中心に配置 */
  left: 50%;
  transform: translate(-50%, -50%);
  /* 自身の幅と高さの半分分を左と上にずらすことで真ん中に配置 */
  display: none;
  z-index: 1000;
  pointer-events: none;
  user-select: none; /* テキスト選択を防ぐ */
}

/* ページ遷移関連 */
.viewnext {
  width: 100%;
  height: 120px;
  text-align: center;
  line-height: 50px;
  color: gray;
  scroll-snap-align: end;
}

.trigger {
  width: 100%;
  height: 180px;
  scroll-snap-align: start;
}

/* トップスペース */
.top-space {
  width: 100%;
}

.top-adjust-trigger {
  position: relative;
  width: 100%;
}

.top-load-trigger {
  width: 100%;
  height: 500px;
  position: absolute;
  top: 0px;
  z-index: -99;
}

.adjust-trigger {
  position: relative;
  width: 100%;
  height: 8px;
}

.load-trigger {
  width: 100%;
  height: 2200px;
  position: absolute;
  bottom: 0px;
  z-index: -99;
}

/* 投稿成功メッセージ */
.alert-success {
  position: fixed;
  top: 0px;
  width: 350px;
  height: 56px;
  line-height: 56px;
  text-align: center;
  font-size: 15px;
  z-index: 9999;
  /* Ensure it sits over other content */
  background-color: rgba(39, 236, 236, 0.897);
  border-radius: 2px;
  color: rgb(255, 255, 255);
  top: -60px;
  /* 初期位置はビューポートの外に設定 */
  opacity: 0;
  transition: top 0.5s, opacity 0.5s;
  /* smooth transition */
}

/* アフィリエイト広告用のスタイル */
.ad-page {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.scheduled_post_time{
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  /* 自身の幅の半分分を左にずらすことで真ん中に配置 */
  background-color: rgba(255, 255, 255, 0.929);
  border: 2px solid rgb(87, 223, 223);
  color: rgb(69, 69, 69);
  font-size: 11px;
  z-index: 1;
  top: -4px;
  text-align: center;
  padding: 8px 24px 4px;
  border-radius: 0px 0px 16px 16px;
}

.scheduled_post_time:hover{
  cursor: pointer;
  opacity: 0.7;
}

.schedule{
  font-size: 13px;
  font-weight: bold;
}

.hidden-title {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  /* 自身の幅の半分分を左にずらすことで真ん中に配置 */
  top: 24px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-decoration: underline;
  text-decoration-line: 2px;
  text-decoration-color: orangered;
  z-index: 1;
}

.hidden-icon {
  color: orangered;
}

.login-modal {
  display: block;
  position: absolute;
  z-index: 1000;
  left: 50%;
  top: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.511);
}

.tom {
  width: 100px;
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0%) translateX(80px);
  margin-top: calc(200px - 85px);
}

.login-modal-content {
  background-color: #fff;
  margin: 15% auto;
  margin-top: 200px;
  padding: 20px;
  width: 300px;
  border-radius: 24px;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.login-title {
  font-size: 18px;
  font-weight: bold;
  margin-top: 12px;
}

.login-content {
  font-size: 12px;
  color: #707070;
  margin: 12px 0px;
}

.login-btn {
  display: inline-block;
  padding: 12px 64px;
  background-color: rgb(72, 233, 233);
  color: #fff;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s;
  margin: 12px 0px;
}

.login-btn:hover {
  background-color: rgb(61, 196, 196);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.first-setting-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  /* 黒背景で少し透明 */
  z-index: 1000;
  /* 他の要素より上に表示 */
  opacity: 0;
  /* フェードインアニメーションを適用 */
  animation: fadeIn 0.5s forwards;
  /* 1sはアニメーション時間です。好みに合わせて変更できます。 */
}

@keyframes slideUp {
  from {
    transform: translate(-50%, 0%);
    /* 画面の下部からスタート */
    opacity: 0;
  }

  to {
    transform: translate(-50%, -50%);
    /* 最終的な位置へ移動 */
    opacity: 1;
  }
}

.first-setting-modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 240px;
  animation: slideUp 1s forwards;
  padding: 32px 32px;
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.first-setting-modal-title {
  font-size: 18px;
  font-weight: bold;
  color: rgb(69, 69, 69);
  margin-bottom: 8px;
}

.first-tom > img {
  width: 64px;
}

.setting-title {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 4px;
  text-align: left;
  color: rgb(69, 69, 69);
}

.setting-guide {
  font-size: 11px;
  color: #6b5c52;
  text-align: left;
}

.gender-radio-group,
.dimension-radio-group {
  margin-bottom: 16px;
}

#submitSettings {
  background-color: rgb(74, 234, 234);
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 50px;
  font-size: 16px;
  padding: 8px 36px;
}

.first-setting-modal [type="radio"] {
  display: none;
  /* デフォルトのラジオボタンを非表示にする */
}

.gender-radio-group {
  display: flex;
  justify-content: center;
  padding: 4px 0px 4px 0px;
}

.gender-radio-group label {
  color: rgb(146, 146, 146);
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  padding: 0px 18px;
}

.gender-radio-group input[type="radio"]:checked+label {
  color: rgb(78, 233, 233);
  background-color: rgb(255, 255, 255);
}

.dimension-radio-group {
  display: flex;
  justify-content: center;
  padding: 12px 0px 16px 0px;
}

.dimension-radio-group label {
  color: rgb(146, 146, 146);
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  border-radius: 8px;
  padding: 4px 18px;
}

.all {
  margin: 0px 4px 0px 4px;
}

.dimension-radio-group input[type="radio"]:checked+label {
  color: rgb(78, 233, 233);
  background-color: rgb(255, 255, 255);
}


@keyframes surveyFadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.survey-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1001;
  /* 前のモーダルより上に表示 */
  opacity: 0;
  animation: surveyFadeIn 0.5s forwards;
}

@keyframes surveySlideUp {
  from {
    transform: translate(-50%, 0%);
    opacity: 0;
  }

  to {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
}

.survey-modal-content {
  position: absolute;
  top: 50%;
  /* 位置を調整 */
  left: 50%;
  transform: translate(-50%, -50%);
  width: 220px;
  /* 幅を調整 */
  animation: surveySlideUp 1s forwards;
  padding: 32px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  text-align: center;
  color: rgb(69, 69, 69);
}

.survey-modal-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
}

.survey-tom > img {
  width: 56px;
}

.survey-question{
  text-align: center;
  margin: 8px;
  font-size: 16px;
  font-weight: bold;
}

.survey-radio-group {
  margin-bottom: 8px;
  padding: 4px 0px 4px 0px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.survey-radio-group  input[type="radio"] {
  appearance: none;
  width: 8px;
  height: 8px;
  background-color: #ffffff; /* ここでボタンの背景色を設定 */
  border: 1px solid rgb(70, 70, 70); /* 枠線の色を設定 */
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: 2px;
  margin-bottom: 3px;
}

.survey-radio-group  input[type="radio"]:checked {
  background-color: rgb(74, 234, 234); /* 選択された時の背景色を設定 */
}

.survey-radio-group  input[type="radio"]:checked:after {
  content: '';
  display: block;
  border: 1px solid rgb(74, 234, 234); /* 枠線の色を設定 */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 8px;
  height: 8px;
  border-radius: 2px;
  background-color: rgb(74, 234, 234); /* 選択された時の中央の色を設定 */
}

#survey-submit {
  background-color: rgb(74, 234, 234);
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 50px;
  font-size: 16px;
  padding: 8px 36px;
}

.survey-radio-group label {
  color: rgb(135, 135, 135);
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  padding: 4px 4px;
}

.survey-radio-group input[type="radio"]:checked+label {
  color: rgb(69, 69, 69);
}

.survey-message{
  font-size: 11px;
  color: #a5a5a5;
  text-align: left;
  margin-bottom: 16px;
}

/* 通知モーダルのスタイル */
.notification-modal {
  /* .survey-modalのスタイルをコピー */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1002; /* 通知モーダルがsurvey-modalの上に表示されるようにz-indexを調整 */
  opacity: 0;
  animation: surveyFadeIn 0.5s forwards;
  display: none;
}

.notification-modal-content {
  /* .survey-modal-contentのスタイルをコピー */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 260px;
  animation: surveySlideUp 1s forwards;
  padding: 32px 16px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  text-align: center;
  color: rgb(69, 69, 69);
}

.notification-main-title{
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 16px;
}

.notification-modal-title{
  font-weight: bold;
  margin-bottom: 8px;
  text-decoration: underline;
  text-decoration-color: aqua;
}

.notification-content{
  font-size: 12px;
  margin-bottom: 8px;
  text-align: left;
  padding: 0px 8px;
}

.notification-modal img{
  width: 100%;
  border-radius: 4px;
  margin-bottom: 8px;
}

.notification-modal video{
  width: 100%;
  border-radius: 4px;
  margin-bottom: 8px;
}

.notification-close{
  background-color: rgb(74, 234, 234);
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 50px;
  font-size: 16px;
  padding: 8px 36px;
}

/* 凍結通知モーダルのスタイル */
.freeze-notification-modal {
  /* .survey-modalのスタイルをコピー */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1003; /* 凍結通知モーダルが他のモーダルの上に表示されるようにz-indexを調整 */
  opacity: 0;
  animation: surveyFadeIn 0.5s forwards;
  display: none;
}

.freeze-notification-modal-content {
  /* .survey-modal-contentのスタイルをコピー */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 220px;
  animation: surveySlideUp 1s forwards;
  padding: 32px;
  background-color: #eff3f9;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  text-align: center;
  color: rgb(69, 69, 69);
}

.freezed-partner > img{
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 2px solid rgb(0, 187, 255);
}

.freeze-tom > img{
  width: 40px;
}

.freeze-notification-modal-title{
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 3px;
  margin-top: 8px;
}

.freeze-name{
  display: inline-block;
  padding: 4px 8px;
  margin-right: 8px;
  font-size: 18px;
  border-radius: 4px;
  background-color: white;
  box-shadow: 0px 1px 3px gainsboro;
}

.freeze-notification-main-title{
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 16px;
  text-decoration: underline;
  text-decoration-color: rgb(0, 187, 255);
}

.freeze{
  color: rgb(160, 230, 255);
  position: absolute;
  font-size: 18px;
  top: 120px;
  right: 112px;
}

.new_url{
  display: block;
  padding: 8px 8px;
  font-size: 16px;
  color: white;
  font-weight: bold;
  background-color: rgb(0, 187, 255);
  border-radius: 50px;
  margin-top: 16px;
  box-shadow: 0px 2px 4px gainsboro;
}

.new_url:hover{
  cursor: pointer;
  box-shadow: none;
  background-color: rgb(0, 127, 173);
}

.freeze-notification-close{
  position: absolute;
  top: 8px;
  right: 6px;
  color: #535353;
  font-weight: bold;
  font-size: 16px;
  background-color: none;
  border: none;
}

.freeze-notification-close:hover{
  cursor: pointer;
  color: #000;
}

.collection-name{
  color: white;
  font-weight: bold;
  font-size: 18px;
  opacity: 0.9;
  text-decoration: underline;
  text-decoration-color: aqua;
}

.modal-overlay {
  display: none; 
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 98;
}

.modal-overlay.active {
  display: block;
}

.modal {
  transform: translateY(110%); /* 初期状態では画面の下側 */
  transition: transform 0.3s ease-out; /* アニメーションの設定 */
  position: fixed; 
  bottom: 40px;
  left: 50%; /* 画面の中央に配置するため */
  transform-origin: bottom center;
  width: 350px;
  margin-left: -175px; /* widthの半分をオフセット */
  background-color: #fefefe;
  z-index: 99; /* overlayより上に配置するために3に設定 */
  border-radius: 16px 16px 0 0;
  overflow: hidden; /* overflowを隠すことで見えない部分を非表示にします */

}

.modal.active {
  transform: translateY(0); /* 画面内にモーダルを移動 */
}

#overlay {
  display: none;  /* 最初は非表示 */
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.5); /* 透明な黒で背景を少し暗くする */
  z-index: 2;  /* モーダルの背後に配置 */
}

.modal.active + #overlay {
  display: block; /* モーダルがアクティブのときにオーバーレイを表示 */
}

.top-line {
  background-color: rgb(166, 166, 166);
  border-radius: 50px;
  width: 32px;
  height: 3px;
  margin: 16px auto 16px;
}

.modal-content {
  background-color: #fefefe;
  padding: 0px 24px 32px;
  position: relative;
}

.ellipsis-title {
  text-align: center;
  margin: 0px 0px 16px;
  font-weight: bold;
  color: rgb(69, 69, 69);
}

.option {
  padding: 12px 16px;
  margin-top: 8px;
  background-color: #ededed;
  border-radius: 8px;
  font-size: 14px;
  font-weight: bold;
  color: rgb(69, 69, 69);
  display: flex;
  align-items: center;
  transition: background-color 0.2s; /* 追加: 色変更のアニメーション */
}

.option-icon {
  margin-right: 16px;
  min-width: 24px;
  text-align: center;
}

.option:hover {
  cursor: pointer;
  background-color: #d0d0d0;
}

/* オーバーレイをクリックしたときにモーダルを非表示にするための追加のスタイリング */
#overlay:hover {
  cursor: pointer;
}

.modal-wrapper {
  display: flex;
  transition: transform 0.3s ease-out; /* アニメーションの追加 */
  transform: translateX(0); /* 初期位置 */
}

.modal-content,
.modal-content-new {
  box-sizing: border-box; /* パディングとボーダーを含むサイズ計算 */
  min-width: 100%;
  transition: transform 0.3s ease-out; /* アニメーションの追加 */
}

.modal-content-new {
  display: none; /* 初期状態では非表示 */
  padding: 8px 0px 48px;
}

/* オプションがクリックされた時に新しいモーダルコンテンツを表示 */
.option-selected .modal-content-new {
  display: block;
}

/* モーダルコンテンツを左にスライドさせるクラス */
.modal-shift .modal-wrapper {
  transform: translateX(-100%); /* 左にスライドさせる */
}

.modal-content-new{
  text-align: center;
  font-size: 14px;
  position: relative;
}

.collections-list{
  max-height: 300px;
  overflow: hidden;
  overflow-y: scroll;
  transition: padding-top 0.2s ease-out; 
}

.collection-choice-container{
  box-sizing: border-box;
  width: 100%;
  font-weight: bold;
  text-align: left;
}

.collection-choice, .new-collection{
  display: flex;
  align-items: center;
  padding: 8px 32px;
}


.collection-choice:hover, .new-collection:hover{
  cursor: pointer;
  background-color: rgb(237, 237, 237);
}

.collection-icon{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: white;
  width: 32px;
  height: 32px;
  margin-right: 12px;
  background-color: rgb(196, 196, 196);
}

.new-collection .collection-icon{
  background-color: #56e6e9;
}

.collection-choice .fa-check {
  color: #56e6e9;
  margin-left: auto;
  transform: scale(0.5); /* 初期状態ではちょっと小さくしておきます */
  opacity: 0; /* 初期状態では完全に透明にしておきます */
  transition: opacity 0.3s; /* 透明度の変化を滑らかにするためのtransition */
}

.collection-choice .fa-check.already {
  opacity: 1;
  transform: scale(1);
}

.create-collection-form {
  width: 350px;
  display: none;
  opacity: 0;
  position: absolute;
  top: 0px;
  right: -100%; /* または -300px など、フォームの幅に応じて調整する */
  transition: opacity 0.3s, right 0.3s;
}

#new-collection-name{
  border: none;
  background-color: rgb(236, 236, 236);
  padding: 6px 16px;
  border-radius: 50px;
  margin-right: 2px;
  width: 200px;
}

#create-collection-btn{
  border: none;
  background-color: rgb(79, 235, 235);
  font-weight: bold;
  color: white;
  border-radius: 50px;
  padding: 6px 12px;
  width: 56px;
  font-size: 14px;
}

#create-collection-btn:hover{
  cursor: pointer;
  background-color: rgb(60, 177, 177);
}

/* ポヨンと飛び出すアニメーションの定義 */
@keyframes popOutAnimation {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  50% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

/* チェックマークが表示される場合にアニメーションを適用 */
.collection-choice i.fa-check.active {
  animation: popOutAnimation 0.3s forwards;
  opacity: 1; /* アニメーション終了後の透明度を1に設定 */
}

.block-select{
  margin-top: 32px;
}

.block-options button{
  border: 1px rgb(206, 206, 206) solid;
  padding: 8px 16px;
  font-size: 15px;
  width: 120px;
  border-radius: 50px;
  background-color: #ececec;
  font-weight: bold;
  box-shadow: 0px 2px 4px gainsboro;
}

.block-options button:hover{
  cursor: pointer;
  box-shadow: none;
  opacity: 0.8;
}

#go-block{
  background-color: #eb5228;
  border: 1px solid #eb5228;
  color: white;
  margin-left: 16px;
}

#no-block{
  color: #696969;
}

.block-response{
  margin-top: 48px;
}

.schedule-modal{
  padding: 0px 24px 36px;
}

.schedule-setting{
  margin: 0px auto;
  text-align: center;
}

.schedule-setting input{
  padding: 8px 16px;
  border-radius: 50px;
  margin-right: 4px;
}

.schedule-setting button{
  padding: 8px 24px;
  border: none;
  border-radius: 50px;
  color: white;
  background-color: #56e6e9;
  font-weight: bold;
  box-shadow: 0px 2px 4px gainsboro;
}

.schedule-setting button:hover{
  cursor: pointer;
  box-shadow: none;
  background-color: #4cc9cb; 
}

.publish_now{
  margin-bottom: 16px;
}

.publish_now button{
  background-color: rgb(255, 85, 0);
  padding: 8px 36px;
}

.publish_now button:hover{
  background-color: rgb(229, 76, 0);
}

.recommend-tag {
  position: absolute;
  top: 16px;
  left: 50%;
  transform: translateX(-50%);
  color: rgb(255 255 255 / 61%);
  text-shadow: 0px 2px 3px gray;
  text-align: center;
  z-index: 130;
  font-size: 13px;
  width: max-content;
}

.recommend-tag:hover{
  cursor: pointer;
  opacity: 0.7;
}

.recommend-modal {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

.recommend-modal-content {
  background-color: #fff;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  max-height: 70%;
  overflow-y: auto;
}

.recommend-modal-header, .recommend-modal-footer {
  width: 350px;
  text-align: center;
  margin-bottom: 28px;
  font-size: 13px;
}

.recommend-follow-btn{
  background-color: #56e6e9;
  color: white;
}

.recommend-modal-wrapper{
  margin-bottom: 24px;
  max-height: 500px;
  overflow-y: scroll;
}

.recommend-modal-body{
  display: block;
}

.recommend-user-row{
  display: flex;
  padding: 4px 16px;
  position: relative;
}

.recommend-user-profile-image{
  border-radius: 50%;
  width: 36px;
  height: 36px;
  margin-right: 8px;
}

.recommend-user-info{
  margin-bottom: 16px;
}

.recommend-user-info a{
  color: #363636;
}

.recommend-username{
  font-size: 14px;
  font-weight: bold;
}

.recommend-follower-count{
  font-size: 11px;
}

.recommend-user-action{
  position: absolute;
  bottom: 12px;
  right: 12px;
}

.recommend-user-action button{
  padding: 8px 28px;
  font-weight: bold;
  border: none;
  border-radius: 50px;
  font-size: 15px;
  transition: background-color 0.3s, transform 0.2s;
}

.recommend-user-action button:hover{
  cursor: pointer;
  opacity: 0.7;
}

.user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #f2f2f2;
}

.ad-detail{
  background-color: #56e7e9d8;
  padding: 8px 16px;
  border-radius: 4px;
  display: flex;
  margin-right: 32px;
  justify-content: space-between;
  text-shadow: none;
  align-items: center;
  margin-top: 4px;
  transition: opacity 0.2s;
  color: white;
}

.ad-detail:hover{
  opacity: 0.8;
  cursor: pointer;
}

@keyframes float {
  0%, 100% {
    transform: translateX(-4px);
  }
  50% {
    transform: translateX(4px); /* ここの値を調整して移動距離を変更 */
  }
}

.ad-detail i {
  animation: float 2.5s infinite; /* 2秒かけてアニメーションを無限に繰り返す */
  position: relative;
  top: 2px;
}

/* スマートフォン用のスタイル */
@media only screen and (max-width: 600px) {

  .tab-bar {
    z-index: 999;
  }

  .logo {
    z-index: 2;
  }

  .back {
    z-index: 3;
  }


  .likeorfollow {
    width: 100%;
  }


  .post {
    width: 100%;
    height: calc(var(--vh, 1vh) * 100 - 42px);
  }

  .post-video {
    position: absolute;
    /* 位置を絶対位置に設定 */
    top: 50%;
    /* 親要素から上に50%の位置に配置 */
    transform: translateY(-50%);
    /* 要素自体をY軸に-50%移動させて中心に配置 */
    width: 100%;
    /* 親要素に対して100%の幅 */
    height: auto;
    /* 高さを自動で調整 */
    object-fit: cover;
    /* 画像のアスペクト比を保ちつつ親要素を覆うように表示 */
    pointer-events: auto;
    z-index: 1;
    /* user-select: none; */
  }

  .manga-page {
    scroll-snap-align: start;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100vw;
    /* user-select: none; */
  }

  .page-content {
    max-height: calc(var(--vh, 1vh) * 100 - 42px);
    max-width: 100vw;
    object-fit: contain;
  }

  video {
    z-index: -999;
    user-select: none;
  }

  .side-bar {
    width: 60px;
    position: absolute;
    bottom: 80px;
    margin-left: 0px;
    z-index: 99;
  }

  .captions {
    z-index: 99;
  }

  .report {
    z-index: 99;
  }

  .report-menu {
    z-index: 99;
  }

  .alert-success {
    width: 100%;
  }

  .hide {
    bottom: 56px;
  }

  .poster-name:hover {
    color: #ececec; 
  }

  .modal{
    width: 100%;
    left: 0px;
    margin-left: 0px;
    z-index: 999;
  }

  .create-collection-form{
    width: 100%;
    z-index: 120;
  }

  #new-collection-name{
    width: 60%;
    padding: 0px 16px;
    height: 40px;
  }

  .modal-content{
    padding-bottom: 64px;
  }

  .scheduled_post_time{
    z-index: 120;
  }

  .schedule-setting{
    width: 100%;
  }

  .schedule-setting input{
    padding: 12px 28px;
    border-radius: 50px;
    margin-right: 8px;
    width: 50%;
    font-size: 15px;
  }
  
  .schedule-setting button{
    padding: 12px 36px;
    font-size: 15px;
  }
  
  .publish_now button{
    padding: 12px 64px;
  }

  .load-trigger{
    height: 2500px;
  }

}