.follow-poster{
  display: flex;
  color: white;
  width: 100%;
  margin-bottom: 36px;
  font-size: 16px;
  position: relative;
}

.profile{
  width: 100%;
  padding: 24px 0px 32px;
  color: white;
}

.main-info{
  display: flex;
  padding: 0px 16px;
}

.poster-img{
  width: 72px;
  height: 72px;
  margin-left: 16px;
  border-radius: 50%;
  background-color: white;
}

.poster-img > img{
  width: 72px;
  height: 72px;
  border-radius: 50%;
  object-fit: cover; /* 画像のアスペクト比を保ちつつ、要素のサイズにフィットするようにします。 */
  overflow: hidden; /* 親要素を超える部分を隠します。 */
}

.copy-link{
  width: 24px;
  height: 24px;
  font-size: 14px;
  color: aqua;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-left: 8px;
}

.copy-link:hover{
  cursor: pointer;
  color: rgb(0, 128, 128);
}

.right-div{
  display: block;
  margin-left: 16px;
}

.poster-name{
  color: white;
  font-size: 15px;
  font-weight: bold;
}

.counter {
  font-size: 14px;
  margin-top: 4px;
}

.follow-count{
  font-weight: bold;
}

.follower{
  margin-left: 4px;
  font-size: 12px;
  color: gainsboro;
}

.main-button{
  width: 160px;
  text-align: center;
  font-size: 13px;
  font-weight: bold;
  padding: 8px 0px;
  margin: 8px 0px;
  border-radius: 50px;
  transition: background-color 0.3s, transform 0.2s;
}

.followed{
  background-color: rgb(173, 173, 173);
}

.follow, .visitor{
  background-color: aqua;
}

.visitor{
  display: block;
  color: white;
}

.follow-button{
  display: none;
}


.caption{
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8px;
  padding-bottom: 4px;
  font-size: 12px;
  color: white;
}



.urls{
  width: 78%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: left;
  margin-top: 16px;
}

.url-container{
  display: flexbox;
  text-align: center;
  margin-right: 16px;
}

.link-name{
  font-size: 10px;
  margin-top: 4px;
}

.url{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px white solid;
  background-color: white;
  font-size: 24px;
  text-align: center;
  line-height: 40px;
}


.url5{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px white solid;
  background-color: white;
  font-size: 24px;
  text-align: center;
  line-height: 40px;
}

.url:hover{
  opacity: 0.7;
}

.url > a{
  font-size: 20px;
  color: rgb(120, 120, 120);
}

.url5:hover{
  opacity: 0.7;
}

.url5 > a{
  font-size: 20px;
  color: rgb(120, 120, 120);
}

.url-icon{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 0px;
}

.add-link{
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: white 2px solid;
  color: white;
  font-size: 24px;
  text-align: center;
  line-height: 36px;
}
label:hover{
  cursor: pointer;
  opacity: 0.8;
}

.mid-space{
  width: 100%;
  height: 24px;
}



/* タイトルのハッシュタグ */
.maintag{
  width: 100%;
  height: 40px;
  margin-top: 32px;
  text-align: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  line-height: 40px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 380px;
}



.tag{
  color: aqua;
}


.labels {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
}

.labels > span{
  color: white;
  font-size: 14px;
  font-weight: bold;
}


.order-switch{
  color: rgb(146, 146, 146);
  font-weight: bold;
  font-size: 16px;
  display: flex;
  justify-content: center;
}

/* 1. 基本的なスタイルリセット */
input[type="radio"] {
  display: none; /* デフォルトのラジオボタンを非表示にする */
}

.dimension-radio-group{
  display: flex;
  justify-content: center;
  padding: 12px 0px 16px 0px;
}

.dimension-radio-group label{
  color: rgb(146, 146, 146);
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  border-radius: 8px;
  padding: 4px 18px;
}

.all{
  margin: 0px 4px 0px 4px;
}

.dimension-radio-group input[type="radio"]:checked + label{
  /* text-decoration: underline;
  text-decoration-color: aqua;
  text-decoration-line: 2px; */
  color: rgb(78, 233, 233);
  background-color: rgb(255, 255, 255);
}


.order-switch label {
  display: inline-flex;
  width: 49.5%;
  padding-bottom: 16px;
  justify-content: center;
  border-radius: 8px 8px 0px 0px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* ホバー時のスタイル */
/* .order-switch label:hover {
  background-color: #e6e6e6;
} */

/* 3. 選択されたラジオボタンのスタイル変更 */
.order-switch input[type="radio"]:checked + label {
  /* background-color: #383737; */
  color: white;
  text-decoration: underline;
  text-decoration-color: aqua;
  text-decoration-line: 2px;
}

.list-area{
  width: 350px;
  min-height: 560px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.post{
  height: 186px;
  min-height: 186px;
  width: 116px;
  position: relative;
  overflow: hidden;
}

.manga-page, .post-video{
  height: 186px;
  min-height: 186px;
  width: 116px;
  min-width: 116px;
  object-fit: cover;
  border: 1.5px solid rgb(12, 12, 12);
}

/* コントロールバーを消す */
video::-webkit-media-controls {
  display:none !important;
}
video::-webkit-media-controls-enclosure {
  display:none !important;
}

.manga-icon{
  position: absolute;
  top: 6px;
  left: 4px;
  color:  aqua;
  font-size: 13px;
  text-shadow: gray 0px 1px 2px;
}

.delete{
  position: relative;
}

.delete-form{
  position: absolute;
}

.delete-btn{
  width: 18px;
  height: 18px;
  padding: 0px;
  margin-left: 4px;
  margin-top: 4px;
  background-color: rgba(240, 248, 255, 0);
  border: none;
}


@keyframes blinking {
  0% { color: rgb(221, 221, 221); }
  50% { color: rgb(255, 77, 0); }
  100% { color: rgb(221, 221, 221); }
}

.delete-button {
  color: rgb(221, 221, 221);
  font-size: 18px;
  text-shadow: gray 0px 1px 2px;
  width: fit-content;
}

.delete-button:hover {
  animation: blinking 1.5s infinite;
}

/* 非表示アイコン */
.hidden-icon{
  position: absolute;
  top: 4px;
  right: 4px;
  color: rgb(255, 77, 0);
  font-size: 16px;
  text-shadow: gray 0px 1px 2px;
}

.play{
  margin-left: 2px;
  margin-top: 4px;
  margin-bottom: 4px;
}


.title{
  color: white;
  text-shadow: 1px 0px 2px rgb(0, 0, 0);
  position: absolute;
  bottom: 2px;
  left: 8px;
  font-size: 12px;
}

/* トップスペース */
.top-space{
  width: 100%;
  height: 40px;
}

.top-space2{
  width: 100%;
  height: 80px;
}

.top-space3{
  width: 100%;
  height: 60px;
}

.my-post-tab{
  width: 100%;
  height: 60px;
  color: white;
  font-size: 18px;
  font-weight: bold;
  line-height: 60px;
  text-align: center;
  text-decoration: underline;
  text-decoration-color: aqua; 
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0);
}

/* いいねかフォローか */
.likeorfollow{
  width: 360px;
  height: 32px;
  position: fixed;
  top: 24px;
  display: flex;
  justify-content: center;
  z-index: 2;
}

.tolike{
  height: 32px;
  font-size: 18px;
  border-right: 2px white solid;
  line-height: 32px;
  padding-right: 8px;
  font-weight: bold;
  color: white;
  opacity: 0.9;
  text-decoration: underline;
  text-decoration-color: aqua;
  text-decoration-line: 2px;
  text-shadow: 0px 0px 3px gray;
}

.tolike:hover{
  cursor: pointer;
  opacity: 0.5;
}

.tofollow{
  height: 32px;
  font-size: 18px;
  line-height: 32px;
  padding-left: 8px;
  font-weight: bold;
  color: white;
  opacity: 0.9;
  text-decoration: none;
  text-shadow: 0px 0px 3px gray;
}

.tofollow:hover{
  cursor: pointer;
  opacity: 0.5;
}

/* ボトムスペース */

.bottom-space{
  width: 100%;
  height: 50px;
}

/* コンテンツがないとき */
.no-content{
  width: 100%;
  margin-top: 120px;
  text-align: center;
  font-weight: bold;
  color: rgb(69, 69, 69);
}

.search-bar {
  color: white;
  width: 100%;
  display: flex;
  height: 24px;
  padding-top: 24px;
}

.search-bar>input {
  width: 80%;
  background-color: rgb(51, 51, 51);
  border-radius: 4px;
  color: white;
  margin-right: 4px;
  margin-bottom: 8px;
  height: 24px;
}

.glass {
  position: relative;
  top: 8px;
  margin-right: 4px;
}

.button {
  color: white;
  margin-top: 1px;
  margin-left: 2px;
  background-color: rgb(31, 31, 31);
  border: aqua 1.5px solid;
  border-bottom: rgb(0, 153, 153) 1.5px solid;
  border-right: rgb(0, 182, 182) 1.5px solid;
  border-radius: 4px;
  height: 28px;
  width: 48px;
}

li{
  font-size: 16px;
  line-height: 32px;
  list-style-type: none;
  margin-bottom: 4px;
  margin-top: 4px;
  color: rgb(40, 40, 40);
  padding: 0px;
}

li:hover{
  cursor: pointer;
  color: gray;
}


ul{
  background-color: aliceblue;
  width: 272px;
  border-radius: 4px;
  margin-top: 12px;
  margin-left: 16px;
  margin-right: auto;
  padding-left: 16px;
  position: absolute;
  z-index: 1000;
}

.login-modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
}

.tom {
  width: 100px;
  position: fixed;
  left: 50%; 
  transform: translate(-50%, 0%) translateX(80px);
  margin-top: calc(200px - 85px);
}

.login-modal-content {
  background-color: #fff;
  margin: 15% auto;
  margin-top: 200px;
  padding: 20px;
  width: 300px;
  border-radius: 24px;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0,0,0,0.5);
}

.login-title{
  font-size: 18px;
  font-weight: bold;
  margin-top: 12px;

}

.login-content{
  font-size: 12px;
  color: #707070;
  margin: 12px 0px;
}

.close-btn {
  color: #aaa;
  float: right;
  font-size: 28px;
}

.close-btn:hover, .close-btn:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.login-btn {
  display: inline-block;
  padding: 12px 64px;
  background-color: rgb(72, 233, 233);
  color: #fff;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s;
  margin: 12px 0px;
}

.login-btn:hover {
  background-color: rgb(61, 196, 196);
}


/* 投稿成功メッセージ */
.alert-success{
  position: fixed;
  top: 0px;
  width: 350px;
  height: 56px;
  line-height: 56px;
  text-align: center;
  font-size: 15px;
  z-index: 9999;  /* Ensure it sits over other content */
  background-color: rgba(39, 236, 236, 0.897);
  border-radius: 2px;
  color: rgb(255, 255, 255);
  top: -60px; /* 初期位置はビューポートの外に設定 */
  opacity: 0;
  transition: top 0.5s, opacity 0.5s; /* smooth transition */
}


/* スマートフォン用のスタイル */
@media only screen and (max-width: 600px) {

  ul{
    background-color: aliceblue;
    width: 68%;
    border-radius: 4px;
    margin-top: 12px;
    margin-left: 9%;
    margin-right: auto;
    padding-left: 16px;
    position: absolute;
    z-index: 1000;
  }

  .likeorfollow{
    width: 100%;
  }

  .caption{
    width: 80%;
    font-size: 14px;
  }

  .urls{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    justify-content: left;
  }

  .url{
    height: 52px;
    width: 52px;
    line-height: 52px;
  }


  .url5{
    height: 52px;
    width: 52px;
    line-height: 52px;
  }


  .url > a > img{
    height: 52px;
    width: 52px;
  }

  .url5 > a > img{
    height: 52px;
    width: 52px;
  }


  .list-area{
    width: 100%;
  }

  .post{
    height: 200px;
    min-height: 186px;
    width: 33%;
  }

  .manga-page, .post-video{
    height: 200px;
    /* min-height: 186px; */
    width: 100%;
    /* border-radius: 4px; */
    object-fit: cover;
    border: 2px solid rgb(12, 12, 12);
  }

  .search-bar {
    padding-top: 48px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .search-bar>input {
    height: 28px;
    margin-right: 8px;
  }

  .glass {
    margin-right: 12px;
    margin-top: 4px;
  }

  .maintag{
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .button {
    color: white;
    text-align: center;
    font-size: 12px;
    height: 36px;
    width: 64px;
    padding: 0px;
    border-radius: 50px;
    border: none;
    background-color: rgb(48, 230, 230);
}

.tom{
  margin-top: calc(60% - 85px);
  transform: translate(-50%, 0%) translateX(100px);
}

.login-modal-content{
  width: 80%;
  margin-top: 60%;
}

.alert-success{
  width: 100%;
}

 }

 @media only screen and (max-width: 400px) {

  .urls{
    width: 85%;
  }
      
  .url{
    height: 40px;
    width: 40px;
    line-height: 40px;
  }

  .url5{
    height: 40px;
    width: 40px;
    line-height: 40px;
  }

  

  .url > a > img{
    height: 40px;
    width: 40px;
  }

  .url5 > a > img{
    height: 40px;
    width: 40px;
  }

  .tom{
    transform: translate(-50%, 0%) translateX(60px);
  }



}