
.search-bar{
  color: white;
  width: 100%;
  display: flex;
  padding-top: 24px;
}

.search-bar > input{
  width: 80%;
  background-color: rgb(51, 51, 51);
  border-radius: 4px;
  color: white;
  margin-right: 4px;
  margin-bottom: 8px;
  height: 24px;
}

.glass{
  position: relative;
  top: 8px;
  margin-right: 4px;
}

.button{
  color: white;
  margin-top: 1px;
  margin-left: 2px;
  background-color: rgb(31, 31, 31);
  border: aqua 1.5px solid;
  border-bottom:  rgb(0, 153, 153) 1.5px solid;
  border-right:  rgb(0, 182, 182) 1.5px solid;
  border-radius: 4px;
  height: 28px;
  width: 48px;
}


li{
  font-size: 16px;
  line-height: 32px;
  list-style-type: none;
  margin-bottom: 4px;
  margin-top: 4px;
  color: rgb(40, 40, 40);
  padding: 0px;
}

li:hover{
  cursor: pointer;
  color: gray;
}


ul{
  background-color: aliceblue;
  width: 280px;
  border-radius: 4px;
  margin-top: 0px;
  margin-left: 16px;
  margin-right: auto;
  padding-left: 16px;
  position: absolute;
  z-index: 1000;
}

#search-history a {
  margin-left: 8px; /* 各ハッシュタグの間隔を調整 */
  display: inline-block; /* 横並びにするため */
  text-decoration: none; /* アンダーラインを除去 */
  color: rgb(255, 255, 255); /* テキストカラー */
  font-size: 14px;
  background-color: rgba(255, 255, 255, 0.411);
  border-radius: 4px;
  height: 24px;
  line-height: 24px;
  margin-bottom: 8px;
  padding-left: 4px;
  padding-right: 4px;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 320px;
}

#search-history a:active {
  color: gray;
}


/* おすすめ投稿表示用のスタイル */
.list-area{
  width: 340px;
  min-height: 560px;
  display: flex;
  flex-direction: column; 
  align-content: flex-start;
  z-index: 10; 
}

.posts-container { 
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto; 
  padding-left: 8px;
  padding-right: 8px;
}

.hashtag-mark{
  color: aqua;
}

.hashtag-title {
  font-size: 18px;
  margin-top: 24px;
  margin-bottom: 4px;
  margin-left: 8px;
  color:#ffffff;
  font-weight: bold;
}


.post{
  height: 146px;
  min-height: 146px;
  width: 92px;
  min-width: 92px;
  position: relative;
  overflow: hidden;
  margin-right: 4px;
}


.manga-page, .post-video{
  height: 146px;
  min-height: 146px;
  width: 92px;
  min-width: 92px;
  border-radius: 4px;
  object-fit: cover;
}

.manga-icon{
  position: absolute;
  top: 6px;
  left: 4px;
  color:  aqua;
  font-size: 13px;
  text-shadow: gray 0px 1px 2px;
}


.title{
  color: white;
  text-shadow: 1px 0px 2px rgb(0, 0, 0);
  position: absolute;
  bottom: 2px;
  left: 8px;
  font-size: 12px;
}

.bottom-space {
  height: 100px;
  width: auto;
}


/* 指紋アイコンの調整 */
.more-posts-indicator {
  width: 100%;
  height: 100%;
  color: white;
  text-align: center;
  background-color: #333333; 
  border-radius: 4px;
}

.fa-angles-right{
  margin-top: 56px;
}

.more-text {
  color: white;
  margin-top: 8px; /* 必要に応じて上部のマージンを調整 */
  font-size: 13px; /* テキストのサイズを調整します */
}

/* 検索履歴など */
#search-history-wrapper {
  position: relative;
  display: flex;
  margin-top: 10px;
}

#search-history {
  flex: 1;  /* 残りのスペースを全て取るように設定 */
  max-width: calc(100% - 40px);  /* 40pxは×ボタンとのスペースを考慮。必要に応じて調整 */
}

.fa-solid.fa-xmark {
  margin-left: 10px;
  color: #ffffff;
}

/* 検索ページ内の広告のスタイル */
.ad-space {
  display: flex; /* この要素をflexコンテナにする */
  justify-content: center; /* 水平方向の中央寄せ */
  align-items: center;     /* 垂直方向の中央寄せ */
  padding: 20px 20px 0 20px; /* 任意の余白 */
}

/* スマートフォン用のスタイル */
@media only screen and (max-width: 600px) {

  .search-bar{
    padding-top: 48px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8px;
  }

  .search-bar > input{
    height: 28px;
    margin-right: 8px;
  }

  #search-history{
    padding-left: 16px;
    padding-right: 16px;
  }

  .fa-solid.fa-xmark{
    margin-left: 0px;
    margin-right: 16px;
  }
  

  .glass{
    margin-right: 12px;
    margin-top: 4px;
  }

  .list-area{
    width: 100%;
  }

  .button{
    color: white;
    text-align: center;
    font-size: 12px;
    height: 36px;
    width: 64px;
    padding: 0px;
    border-radius: 50px;
    border: none;
    background-color: rgb(48, 230, 230);
  }

  .back-logo{
    margin-top: 160px;
  }

  .result-list{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  ul{
    position: absolute;
    top: 96px;
    width: 70%;
    z-index: 1000;
    margin-left: 0px;
  }

  li{
    z-index: 1000;
  };
 }