.screen{
  background-color: white;
  /* padding: 64px 24px; */
}

.menu{
  padding: 16px 0px 0px 16px;
  color: rgb(69, 69, 69);
  font-size: 14px;
}

.menu > a{
  color: rgb(69, 69, 69);
}

.main-area{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 36px;
  color: rgb(69, 69, 69);
}

.title{
  font-weight: bold;
  text-align: center;
  margin-bottom: 32px;
  padding-top: 64px;
}

.sub-title{
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 8px;
  margin-top: 48px;
}

.discription{
  font-size: 13px;
  margin-bottom: 16px;
}

.item{
  font-weight: bold;
  font-size: 13px;
  margin-bottom: 4px;
}

ul{
  padding-left: 16px;
}

li{
  list-style: decimal;
  font-size: 12px;
  margin-bottom: 8px;
}

.content{
  font-size: 12px;
  margin-bottom: 16px;
}

.delete_request{
  font-size: 13px;
  color: rgb(74, 215, 215);
  text-decoration: underline;
  text-decoration-color: rgb(79, 228, 228);
}