:root {
  --primary-color: rgb(64, 227, 230);  /* ここでカラーを定義 */
}

a{
  color: var(--primary-color);
}

.screen{
  background-color: rgb(255, 255, 255);
  min-height: 724px;
  position: relative;
}


.mid-logo{
  width: 100%;
  text-align: center;
  padding-top: 32px;
  margin-bottom: 8px;
}

.mid-logo > img{
  width: 56px;
}

.sub-title{
  width: 100%;
  text-align: center;
  margin-top: 4px;
  font-size: 16px;
  font-weight: bold;
  text-decoration: underline;
  text-decoration-color: var(--primary-color);
  color: rgb(60, 60, 60);
}

.describe{
  font-size: 12px;
  color: rgb(177, 177, 177);
  margin-top: 16px;
  width: 100%;
  text-align: center;
}

.form{
  width: 100%;
  text-align: center;
  margin-top: 36px;
}

form input{
  background-color: rgb(240, 240, 240);
  color: rgb(117, 117, 117);
  margin-bottom: 16px;
  border: 1px gray solid;
}

.username > input, .email > input, .password > input{
  width: 70%;
  height: 24px;
  border-radius: 50px;
  padding-left: 16px;
}

.again{
  position: relative;
  top: -12px;
}

.errorlist{
  margin: 0px;
  padding: 0px;
}

.message{
  font-size: 12px;
  /* list-style-type: none; */
  text-align: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8px;
}

.alert-error{
  color: orangered;
}

.alert-success{
  color: rgb(43, 232, 75);
}


.invited-message{
  position: absolute;
  top: 160px;
  left: 7px;
  width: 300px;
  padding: 32px 16px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border: rgb(74, 232, 232) 2px solid;
  border-radius: 24px;
  text-align: center;
  box-shadow: 0px 3px 3px gray;

  /* 追加 */
  opacity: 0; 
  animation: fadeIn ease 0.5s; /* 2秒かけてフェードイン */
  animation-fill-mode: forwards; /* アニメーション終了後もスタイルを維持 */
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
.message-content{
  font-size: 12px;
  line-height: 20px;
  margin-bottom: 32px;
}

.important{
  font-weight: bold;
}

.ok-button{
  color: rgb(255, 255, 255);
  margin-top: 16px;
  background-color: var(--primary-color);
  border: none;
  height: 36px;
  width: 96px;
  line-height: 24px;
  border-radius: 50px;
  font-size: 16px;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

li{
  list-style-type: none;
}

.button{
  color: rgb(255, 255, 255);
  margin-top: 16px;
  background-color: var(--primary-color);
  border: none;
  height: 28px;
  width: 80px;
  line-height: 24px;
  border-radius: 50px;
  font-weight: bold;
}

.button:hover{
  cursor: pointer;
  opacity: 0.6;
}

.guide{
  width: 80%;
  margin-top: 36px;
  font-size: 14px;
  margin-left: auto;
  margin-right: auto;
  color: rgb(83, 83, 83);
  text-align: center;
}

.consent{
  font-size: 12px;
  color: gray;
  margin-top: 48px;
  width: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.consent > span > a {
  color: rgb(90, 229, 229);
  text-decoration: underline;
}

/* スマートフォン用のスタイル */
@media only screen and (max-width: 600px) {

  .mid-logo{
    padding-top: 72px;
    font-size: 60px;
  }

  .username > input, .email > input, .password > input{
    width: 75%;
    height: 32px;
    border-radius: 50px;
    padding-left: 24px;
  }

  .invited-message{
    position: absolute;
    top: 160px;
    left: 50%;
    transform: translateX(-50%); /* 自身の幅の半分分を左にずらすことで真ん中に配置 */
    width: 80%;
    padding: 32px 16px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border: rgb(74, 232, 232) 2px solid;
    border-radius: 24px;
    text-align: center;
    box-shadow: 0px 3px 3px gray;
  
    /* 追加 */
    opacity: 0; 
    animation: fadeIn ease 0.5s; /* 2秒かけてフェードイン */
    animation-fill-mode: forwards; /* アニメーション終了後もスタイルを維持 */
  }
  
  @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }

  .button{
    font-size: 14px;
    height: 36px;
    width: 100px;
    text-align: center;
  }
 }