.header{
  width: 100%;
  border-radius: 8px 8px 0px 0px;
  height: 80px;
  margin-bottom: 24px;
}

.screen{
  min-height: 900px;
}

a{
  color: white;
}

.about-me{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
  height: auto;
  min-height: 80px;
  color: white;
  background-color: rgb(19, 19, 19);
  padding-bottom: 24px;
}

.not-caption{
  width: 100%;
  display: flex;
}

.user-img{
  width: 56px;
  height: 56px;
  border: 2px solid white;
  border-radius: 50%;
  margin-left: 24px;
  text-align: center;
  line-height: 56px;
  font-size: 24px;
  margin-right: 24px;
  position: relative;
  top: -60px;
}

.prf_img{
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-color: white;
  object-fit: cover; /* 画像のアスペクト比を保ちつつ、要素のサイズにフィットするようにします。 */
  overflow: hidden; /* 親要素を超える部分を隠します。 */
}

.copy-link{
  width: 24px;
  height: 24px;
  font-size: 14px;
  color: aqua;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-left: 8px;
}

.copy-link:hover{
  cursor: pointer;
  color: rgb(0, 128, 128);
}

.sub-info{
  font-size: 14px;
  color: rgb(129, 129, 129);
  position: relative;
  top: -4px;
}

.counter {
  font-size: 14px;
  margin-bottom: 2px;
}

.follow-count{
  font-weight: bold;
}

.follower{
  margin-left: 4px;
  font-size: 11px;
  color: gainsboro;
}

.account-type{
  display: flex;
  font-size: 12px;
  align-items: center;
  margin-bottom: 12px;
}

.name-grade{
  margin-top: 8px;
  position: relative;
  left: -80px;
}

.grade{
  margin-right: 8px;
}

.advertiser{
  color: rgb(255, 98, 0);
}

.partner{
  color: aqua;
}

.premium{
  color: rgb(227, 208, 45);
}

.basic{
  color: rgb(142, 142, 142);
}

.boost_type{
  font-size: 11px;
  font-weight: bold;
  border-radius: 4px;
  color: white;
  padding: 3px 6px;
  color: rgb(69, 69, 69);
  background-color: white;
  line-height: 11px;
}

@keyframes RedblinkAnimation {
  0%, 100% {color: rgb(255, 42, 0);}
  50% {color: rgb(255, 166, 0);}
}

@keyframes PurpleblinkAnimation {
  0%, 100% {color: rgb(255, 0, 238);}
  50% {color: rgb(174, 0, 255);}
}

@keyframes ViewyblinkAnimation {
  0%, 100% {color: rgb(0, 85, 255);}
  50% {color: rgb(51, 248, 248);}
}

.boost{
  animation: RedblinkAnimation 5s infinite; 
}

.super-boost {
  animation: PurpleblinkAnimation 5s infinite; 
}

.viewy-boost{
  animation: ViewyblinkAnimation 5s infinite; 
}

.caption{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 16px;
  font-size: 12px;
}

.talk-content {
  color: rgb(69, 69, 69);
  background-color: white;
  border-radius: 8px;
  padding: 12px;
  margin-top: 8px;
  position: relative; /* 追加: 三角形の位置の基準となる */
}

.talk-content:before {
  content: '';
  position: absolute;
  top: -10px; /* 三角形の高さに応じて調整 */
  left: 24px; /* 三角形の位置を調整 */
  width: 0;
  height: 0;
  border-left: 8px solid transparent; /* 三角形の半分の幅 */
  border-right: 8px solid transparent; /* 三角形の半分の幅 */
  border-bottom: 10px solid white; /* 三角形の色を背景色と一致させる */
}

.urls{
  width: 78%;
  margin-top: 8px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: left;
}

.url-container{
  display: flexbox;
  text-align: center;
  margin-right: 16px;
}

.link-name{
  font-size: 10px;
  margin-top: 4px;
}

.url{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px white solid;
  background-color: white;
  font-size: 24px;
  text-align: center;
  line-height: 40px;
}

.url5{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px white solid;
  background-color: white;
  font-size: 24px;
  text-align: center;
  line-height: 40px;
}

.url:hover{
  opacity: 0.7;
}

.url > a{
  font-size: 20px;
  color: rgb(120, 120, 120);
}

.url5:hover{
  opacity: 0.7;
}

.url5 > a{
  font-size: 20px;
  color: rgb(120, 120, 120);
}


.url-icon{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 0px;
}

.add-link{
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: white 2px solid;
  color: white;
  font-size: 24px;
  text-align: center;
  line-height: 36px;
}

.add-button{
  display: inline-block;
  width: 36px;
  border-radius: 50%;
}

/* .space{
  width: 100%;
  height: 36px;
} */

.display-setting{
  color: white;
  margin-left: 36px;
  font-size: 13px;
  font-weight: bold;
  margin-top: 16px;
}


/* 1. 基本的なスタイルリセット */
input[type="radio"] {
  display: none; /* デフォルトのラジオボタンを非表示にする */
}

.dimension-radio-group{
  display: flex;
  justify-content: center;
  padding: 12px 0px 16px 0px;
}

.dimension-radio-group label{
  color: rgb(146, 146, 146);
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  border-radius: 8px;
  padding: 4px 18px;
}

.all{
  margin: 0px 4px 0px 4px;
}

.dimension-radio-group input[type="radio"]:checked + label{
  /* text-decoration: underline;
  text-decoration-color: aqua;
  text-decoration-line: 2px; */
  color: rgb(78, 233, 233);
  background-color: rgb(255, 255, 255);
}



.labels {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
}

.labels > span{
  color: white;
  font-size: 14px;
  font-weight: bold;
}



.menu-list{
  margin-left: 36px;
  margin-bottom: 72px;
  font-size: 13px;
  font-weight: bold;
}

.menu-list > div{
  margin-top: 16px;
  color: white;
}

.mini-logo{
  margin-right: 16px;
}


.unread{
  width: 6px;
  height: 6px;
  border-radius: 50%;
  margin-left: 8px;
  position: relative;
  top: -2px;
  background-color: aqua;
  display: inline-block
}

.line{
  width: 290px;
  height: 1px;
  background-color: rgb(40, 40, 40);
  margin-right: auto;
  margin-top: 4px;
}

.be-premium{
  width: 100%;
  height: 24px;
}

.logout{
  width: 100%;
  height: 24px;
}

.header{
  width: 100%;
  height: 64px;
  line-height: 64px;
  text-align: center;
  font-weight: bold;
  text-decoration: underline;
  text-decoration-color: aqua;
  text-decoration-line: 2px;
  color: white;
  font-size: 16px;
}

.delete-account{
  color: orangered;
}

/* スマートフォン用のスタイル */
@media only screen and (max-width: 600px) {
  .user{
    line-height: 72px;
  }

  .user-img{
    height: 72px;
    width: 72px;
  }

  .prf_img{
    height: 72px;
    width: 72px;
  }

  .name-grade{
    margin-top: 32px;
    position: relative;
  }


  .menu-list{
    font-size: 14px;
  }

  .line{
    width: 90%;
  }

  .caption{
    width: 80%;
    font-size: 14px;
  }

  .urls{
    justify-content: left;
  }

  .url{
    height: 48px;
    width: 48px;
    line-height: 48px;
  }

  .url5{
    height: 48px;
    width: 48px;
    line-height: 48px;
  }

  

  .url > a > img{
    height: 48px;
    width: 48px;
  }

  .url5 > a > img{
    height: 48px;
    width: 48px;
  }


  .add-link{
    margin-top: 4px;
  }
}


@media only screen and (max-width: 350px) {
      
  .urls{
    justify-content: center;
  }

  .url{
    height: 40px;
    width: 40px;
    line-height: 40px;
  }

  .url5{
    height: 40px;
    width: 40px;
    line-height: 40px;
  }

  

  .url > a > img{
    height: 40px;
    width: 40px;
  }

  .url5 > a > img{
    height: 40px;
    width: 40px;
  }


}