.header{
  width: 100%;
  border-radius: 8px 8px 0px 0px;
  height: 80px;
  margin-bottom: 24px;
}

.screen{
  min-height: 800px;
}

a{
  color: white;
}

.about-me{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
  height: auto;
  min-height: 80px;
  color: white;
  background-color: rgb(19, 19, 19);
  padding-bottom: 24px;
}

.not-caption{
  width: 100%;
  display: flex;
}

.user-img{
  width: 56px;
  height: 56px;
  border: 2px solid white;
  border-radius: 50%;
  margin-left: 24px;
  text-align: center;
  line-height: 56px;
  font-size: 24px;
  margin-right: 24px;
  position: relative;
  top: -60px;
}

.prf_img{
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-color: white;
}

.copy-link{
  width: 24px;
  height: 24px;
  font-size: 14px;
  color: aqua;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-left: 8px;
}

.copy-link:hover{
  cursor: pointer;
  color: rgb(0, 128, 128);
}

.sub-info{
  font-size: 14px;
  color: rgb(129, 129, 129);
  position: relative;
  top: -4px;
}

.name-grade{
  margin-top: 8px;
  position: relative;
  left: -80px;
}

.grade{
  font-size: 12px;
}

.partner{
  color: aqua;
}

.premium{
  color: rgb(227, 208, 45);
}

.basic{
  color: rgb(142, 142, 142);
}

.caption{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 16px;
  font-size: 12px;
}


.urls{
  width: 78%;
  margin-top: 8px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: left;
}

.url{
  width: 40px;
  height: 40px;
  margin-right: 16px;
  border-radius: 50%;
  border: 1px white solid;
  background-color: white;
  font-size: 24px;
  text-align: center;
  line-height: 40px;
}

.url5{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px white solid;
  background-color: white;
  font-size: 24px;
  text-align: center;
  line-height: 40px;
}

.url:hover{
  opacity: 0.7;
}

.url > a{
  font-size: 20px;
  color: rgb(120, 120, 120);
}

.url5:hover{
  opacity: 0.7;
}

.url5 > a{
  font-size: 20px;
  color: rgb(120, 120, 120);
}


.url-icon{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 0px;
}

.add-link{
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: white 2px solid;
  color: white;
  font-size: 24px;
  text-align: center;
  line-height: 36px;
}

.add-button{
  display: inline-block;
  width: 36px;
  border-radius: 50%;
}

/* .space{
  width: 100%;
  height: 36px;
} */

.menu-list{
  margin-left: 36px;
  font-size: 13px;
  font-weight: bold;
}

.menu-list > div{
  margin-top: 16px;
  color: white;
}

.mini-logo{
  margin-right: 16px;
}

.unread{
  width: 6px;
  height: 6px;
  border-radius: 50%;
  margin-left: 8px;
  position: relative;
  top: -2px;
  background-color: aqua;
  display: inline-block
}

.line{
  width: 290px;
  height: 1px;
  background-color: rgb(40, 40, 40);
  margin-right: auto;
  margin-top: 4px;
}

.be-premium{
  width: 100%;
  height: 24px;
}

.logout{
  width: 100%;
  height: 24px;
}

.header{
  width: 100%;
  height: 64px;
  line-height: 64px;
  text-align: center;
  font-weight: bold;
  text-decoration: underline;
  text-decoration-color: aqua;
  text-decoration-line: 2px;
  color: white;
  font-size: 16px;
}

.delete-account{
  color: orangered;
}

/* スマートフォン用のスタイル */
@media only screen and (max-width: 600px) {
  .user{
    line-height: 72px;
  }

  .user-img{
    height: 72px;
    width: 72px;
  }

  .prf_img{
    height: 72px;
    width: 72px;
  }

  .name-grade{
    margin-top: 32px;
    position: relative;
  }


  .menu-list{
    font-size: 14px;
  }

  .line{
    width: 90%;
  }

  .caption{
    width: 80%;
    font-size: 14px;
  }

  .urls{
    justify-content: left;
  }

  .url{
    height: 48px;
    width: 48px;
    line-height: 48px;
  }

  .url5{
    height: 48px;
    width: 48px;
    line-height: 48px;
  }

  

  .url > a > img{
    height: 48px;
    width: 48px;
  }

  .url5 > a > img{
    height: 48px;
    width: 48px;
  }


  .add-link{
    margin-top: 4px;
  }
}


@media only screen and (max-width: 350px) {
      
  .urls{
    justify-content: center;
  }

  .url{
    height: 40px;
    width: 40px;
    line-height: 40px;
  }

  .url5{
    height: 40px;
    width: 40px;
    line-height: 40px;
  }

  

  .url > a > img{
    height: 40px;
    width: 40px;
  }

  .url5 > a > img{
    height: 40px;
    width: 40px;
  }


}