.title{
  width: 350px;
  height: 60px;
  background-color: rgb(10, 10, 10);
  position: fixed;
  top: 0px;
  color: white;
  font-size: 18px;
  text-align: center;
  font-weight: bold;
  line-height: 60px;
  text-decoration: underline;
  text-decoration-line: 2px;
  text-decoration-color: aqua;
}

.top-space{
  margin: 0px;
  height: 60px;
  width: 100%;
}

.follow-poster{
  display: flex;
  color: white;
  width: 100%;
  margin-bottom: 16px;
  position: relative;
}

.poster-img{
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin-left: 24px;
  background-color: white;
  object-fit: cover; /* 画像のアスペクト比を保ちつつ、要素のサイズにフィットするようにします。 */
  overflow: hidden; /* 親要素を超える部分を隠します。 */
}

.poster-name{
  color: white;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 128px;
  /* text-decoration: underline;
  text-decoration-color: aqua; */
}

.caption{
  margin-left: 24px;
  font-size: 16px;
}

.counter{
  position: absolute;
  bottom: 16px;
  left: 104px;
  font-size: 12px;
}

.followed{
  width: 96px;
  height: 32px;
  font-size: 12px;
  font-weight: bold;
  border-radius: 50px;
  background-color: rgb(173, 173, 173);
  text-align: center;
  line-height: 32px;
  margin-left: 16px;
  margin-top: 8px;
  position: absolute;
  right: 24px;
}

.follow{
  width: 96px;
  height: 32px;
  font-size: 12px;
  font-weight: bold;
  border-radius: 50px;
  background-color: aqua;
  text-align: center;
  line-height: 32px;
  margin-left: 16px;
  margin-top: 8px;
  position: absolute;
  right: 24px;
}

.follow-button{
  display: none;
}


label:hover{
  cursor: pointer;
  opacity: 0.8;
}

/* コンテンツがないとき */
.no-content{
  width: 100%;
  margin-top: 120px;
  text-align: center;
  font-weight: bold;
  color: rgb(69, 69, 69);
}

/* スマートフォン用のスタイル */
@media only screen and (max-width: 600px) {

  .title{
    width: 100%;
  }

  .poster-img{
    height: 54px;
    width: 54px;
  }

}