.screen{
  min-height: 800px;
}

#spinner {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #34d5db;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 0.5s linear infinite;
  position: absolute;
  top: 38%;
  left: 40%;
  transform: translate(-50%, -50%);
  display: none;   
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#loading{
  position: absolute;
  top: 54%;   /* 要素を下に移動 */
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  text-align: center;
  font-size: 11px;
  text-shadow: 0px 0px 5px rgb(0, 0, 0);
  display: none;   
  white-space: nowrap;   /* テキストの折り返しを防ぐ */
  width: auto;           /* 必要に応じて幅を調整する */ 

}

.big-logo{
  width: 100%;
  text-align: center;
  padding-top: 16px;
  margin-bottom: 8px;
}

.big-logo > img{
  width: 56px;
}

.mid-logo{
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 48px;
  font-weight: bold;
  width: 100%;
  text-align: center;
  padding-top: 16px;
  /* text-decoration: underline aqua; */
  text-shadow: aqua 1px 1px 2px;
}

.sub-title{
  width: 100%;
  text-align: center;
  margin-top: 0px;
  font-size: 13px;
  font-weight: bold;
  text-decoration: underline;
  text-decoration-color: aqua;
  color: white;
}

p{
  color: white;
}

div{
  color: white;
}

.limit{
  color: rgb(125, 125, 125);
  font-size: 12px;
  width: 100%;
  text-align: center;
  margin-top: 4px;
}

form input{
  background-color: rgb(50, 50, 50);
  border-radius: 4px;
  color: white;
}

.forms{
  width: 324px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 36px;
}

.title{
  margin-top: 16px;
}

.title > input{
  width: 80%;
}

.url-set{
  margin-top: 24px;
}

.url > input{
  width: 280px;
}

.hashtags{
  color: white;
  margin-top: 24px;
  margin-left: 17px;
  display: flex;
  align-items: center;
}

.hashtag1, .hashtag2, .hashtag3 {
  margin-right: 5px;  /* 右の余白を5pxに設定 */
}

.hashtag3 {
  margin-right: 0;  /* 最後のハッシュタグの右の余白を0に設定 */
}

.hashtags > div > input{
  width: 80px;
  box-sizing: border-box; 
}

.caption{
  margin-top: 24px;
  width: 100%;
  text-align: center;
}

.caption > textarea{
  width: 90%;
  background-color: rgb(50, 50, 50);
  border-radius: 4px;
  color: white;
}

.preview-caption {
 font-size: 14px;
}

.preview-hashtags {
  margin-top: 4px;
}

.preview-url {
  margin-right: 8px;
  background-color: rgba(230, 230, 230, 0.5);
  border-radius: 4px;
  height: 28px;
  width: 36px;
  line-height: 28px;
  text-align: center;
  position: relative;
  top: 1px;
  display: inline-block;
}


.button{
  color: white;
  margin-top: 40px;
  border: aqua 1.5px solid;
  border-bottom:  rgb(0, 153, 153) 1.5px solid;
  border-right:  rgb(0, 182, 182) 1.5px solid;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;  
}

.current-img{
  width: 72px;
  height: 72px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 16px;
  background-color: white;
}

.current-img > img{
  width: 72px;
  height: 72px;
  border-radius: 50%;
}

.urls > input{
  width: 280px;
  margin-top: 8px;
}

.error{
  color: rgb(239, 31, 31);
  font-size: 12px;
  list-style-type: none;
}

.error > ul{
  padding-left: 0px;
}

.error > ul >li{
  list-style-type: none;
}

.errorlist > li{
  list-style-type: none;
  color: rgb(239, 31, 31);
  font-size: 12px;
}

.bottom-space{
  height: 60px;
  width: 100%;
}

.post-preview {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, transparent 0%, transparent 56px, rgb(0, 0, 0) 48px);
  z-index: 900;
}


.close-preview {
  position: absolute;
  top: 24px;
  left: 268px;
  font-size: 16px;
  cursor: pointer;
  color: #ffffff;
  z-index: 1001;
  background-color: rgba(146, 146, 146, 0.6);
  border-radius: 5px;
  padding: 5px 10px;
}

.schedule{
  width: 160px;
  margin: 24px auto 8px;
  font-size: 14px;
  display: block;
  color: white;
  display: flex;
  align-items: center;
}

.schedule input{
  margin: 0px 4px 2px 0px;
}

.scheduled-post-time input{
  width: 60%;
}


/* スマートフォン用のスタイル */
@media only screen and (max-width: 600px) {

  #spinner{
    top: 32%;
    left: 41%;
    transform: translate(-50%, -50%);
  }

  #loading{
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .screen{
    min-height: 850px;
  }

  .mid-logo{
    padding-top: 36px;
    font-size: 60px;
  }

  .sub-title{
    font-size: 16px;
  }

  form input{
    height: 24px;
  }

  .forms{
    width: 90%;
  }

  .url > input{
    width: 90%;
  }
  
  .hashtags{
    color: white;
    width: 100%;
    margin-top: 24px;
    margin-left: 0;
  }
  
  .hashtags > div > input{
    width: 80%;
  }
  
  .caption{
    margin-top: 24px;
    width: 100%;
    text-align: center;
  }
  
  .caption > textarea{
    width: 90%;
    background-color: rgb(50, 50, 50);
    border-radius: 4px;
    color: white;
  }
  
  
  .button{
    color: white;
    margin-top: 24px;
    border: aqua 1.5px solid;
    border-bottom:  rgb(0, 153, 153) 1.5px solid;
    border-right:  rgb(0, 182, 182) 1.5px solid;
    border-radius: 50px;
    height: 40px;
    width: 120px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .submit-button{
    color: white;
    margin-top: 24px;
    border: rgb(120, 120, 120) 1.5px solid;
    border-radius: 50px;
    height: 40px;
    width: 120px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

 }