{% extends 'support/detail_base.html' %}
{% load static %}
{% block head %}

{% endblock %}

{% block topic %}
<div class="topic-title">パートナー</div>
<div class="sub-topics">
  <div class="sub-topic">
    <a href="{% url 'support:title_page' pretitle='partner' title='regist' %}">パートナー登録</a></div>
  <div class="sub-topic">
    <a href="{% url 'support:title_page' pretitle='partner' title='post' %}">投稿</a></div>
  <div class="sub-topic">
    <a href="{% url 'support:title_page' pretitle='partner' title='account_page' %}">アカウントページ</a></div>
</div>
{% endblock %}