.square-img{
  width: 80px;
  height: 80px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.affiliate-tag{
  max-width: 80px;
  max-height: 80px;
}

.thumbnail{
  width: 80px;
}

.target{
  list-style: none;
  padding: 4px;
}

.target > li{
  background-color: beige;
  border-radius: 4px;
  margin: 4px 0px;
  padding: 4px;
}


/* スマートフォン用のスタイル */
@media only screen and (max-width: 600px) {

  .content{
    display: block;
  }

  #second{
    margin-top: 16px;
  }

  .url{
    display: none;
  }
}