body{
  margin: 0px;
  background-color: #eff3f9;
  font-family: 'Meiryo', sans-serif;
}

.screen{
  display: flex;
}

.side-menu{
  width: 160px;
  height: 73vh;
  min-width: 180px;
  min-height: 400px;
  background-color: rgb(32, 41, 43);
  padding-top: 160px;
  color: white;
  box-shadow: 1px 2px 3px gray;
}

.side-menu > a{
  display: block;
  text-decoration: none;
  height: 40px;
  padding-left: 12%;
  line-height: 40px;
  font-weight: bold ;
  color: white;
}

.side-menu > a:hover{
  cursor: pointer;
  background-color: rgb(118, 118, 118) ;
}

.menu-icon{
  margin-right: 16px;
}

.content{
  max-height: calc(100vh - 64px);
  overflow: scroll;
  padding: 32px 64px;
}

.scroll{
  max-height: 500px;
  overflow-y: scroll;
}

@keyframes RedblinkAnimation {
  0%, 100% {color: rgb(255, 42, 0);}
  50% {color: rgb(255, 166, 0);}
}

@keyframes PurpleblinkAnimation {
  0%, 100% {color: rgb(255, 0, 238);}
  50% {color: rgb(174, 0, 255);}
}

@keyframes ViewyblinkAnimation {
  0%, 100% {color: rgb(0, 85, 255);}
  50% {color: rgb(51, 248, 248);}
}

.boost{
  animation: RedblinkAnimation 5s infinite; 
}

.super-boost {
  animation: PurpleblinkAnimation 5s infinite; 
}

.viewy-boost{
  animation: ViewyblinkAnimation 5s infinite; 
}

.flex{
  display: flex;
}

.hot-partner{
  background-color: white;
  padding: 16px 16px;
  text-align: center;
}

.partner-input{
  text-align: right;
}

.partner-input > input{
  height: 20px;
  margin: 2px 0px;
}

/* .block{
  max-height: 450px;
  overflow-y: scroll;
  margin: 32px;
  padding: 32px;
  background-color: white;
  box-shadow: 0px 2px 3px gray;
  border-radius: 16px;
  color: rgb(69, 69, 69);
  font-size: 15px;
} */

/* スクロールバーを非表示にする */
::-webkit-scrollbar {
  display: none;
}



table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
  box-shadow: 0px 2px 3px gainsboro;
}

th, td {
  border: 1px solid rgb(48, 48, 48); /* 黒枠を追加 */
  padding: 4px 8px;
  max-width: 150px;
}

th {
  background-color: rgb(69, 69, 69);
  color: white;
}

tr{
  background-color: #ffffff;
}

.manga{
  background-color: aliceblue;
}

.hashtag-form{
  font-weight: bold;
}

p > input{
  height: 32px;
  font-weight: bold;
  border-radius: 50px;
  padding-left: 8px;
  padding-right: 8px;
  margin-left: 8px;
  border: 1px rgb(32, 41, 43) solid;
}

.submit{
  padding: 8px 16px;
  border: none;
  border-radius: 50px;
  font-weight: bold;
  margin-top: 16px;
  color: white;
  background-color: #00c5c5;
  box-shadow: 0px 2px 3px gainsboro;
}

.submit:hover{
  cursor: pointer;
  background-color: #008787;
  box-shadow: none;
}

.random{
  padding: 8px 16px;
  border: none;
  border-radius: 50px;
  font-weight: bold;
  margin-top: 16px; 
  margin-right: 8px;
  box-shadow: 0px 2px 3px gainsboro;
}

.random:hover{
  cursor: pointer;
  background-color: rgb(156, 156, 156);
  box-shadow: none;
}

.serch{
  width: 100%;
  text-align: center;
}

.serch > form > input{
  margin-top: 24px;
  width: 60%;
  height: 24px;
  padding: 0px 16px;
  border-radius: 50px;
}

.error{
  font-size: 12px;
  color: orangered;
}

.errorlist > li{
  font-size: 12px;
  color: orangered;
  list-style: none;
}

.total_table{
  align-items: center;
}

.total_title{
  font-size: 14px;
}

.total_number{
 font-size: 32px;
 font-weight: bold;
 color: #00c5c5;
}

.total_number2{
  font-size: 28px;
  font-weight: bold;
  color: #00c5c5;
 }

 .total_number3{
  font-size: 24px;
  font-weight: bold;
  color: #00c5c5;
 }

.margin-left{
  margin-left: 32px;
}

.is-real{
  background-color: aliceblue;
}

/* スマートフォン用のスタイル */
@media only screen and (max-width: 600px) {

  .content{
    min-height: 100vh;
    margin: 0px;
    padding: 0px;
  }

  .side-menu{
    text-align: center;
    width: auto;
    min-width: 40px;
    min-width: auto;
    min-height: auto;
    height: calc(var(--vh, 1vh) * 100 - 160px);
  }

  .side-menu > a{
    text-align: center;
    display: block;
    width: 48px;
    padding-left: 16px;
  }

  .menu-title{
    display: none;
  }

  table{
    font-size: 11px;
  }

  .block{
    margin: 4px;
    margin-top: 40px;
    padding: 4px;
  }

  .total_table{
    padding: 16px 32px;
  }

  .hot-partner{
    padding: 4px 4px;
    font-size: 12px;
  }

  .partner-input > input{
    height: 16px;
    margin: 2px 0px;
    font-size: 12px;
  }

  .margin-left{
    margin-left: 0px;
  }
}