.content{
  min-width: 800px;
}

.wait-table{
  margin-top: 32px;
}


a{
  text-decoration: none;
}

.center{
  text-align: center;
}

.is-real, .not-real, .delete-button{
  display: inline-block;
  padding: 4px 8px;
  background-color: rgb(160, 160, 160);
  box-shadow: 0px 1px 4px gainsboro;
  border-radius: 4px;
  margin: 4px auto;
  color: white;
  font-weight: bold;
}

.is-real{
  background-color: rgb(105, 185, 222);
}

.not-real{
  background-color: palevioletred;
}

/* スマートフォン用のスタイル */
@media only screen and (max-width: 600px) {
  .content{
    min-width: auto;
    width: 100%;
  }

  form{
    max-width: 100%;
  }

  #username{
    width: 70%;
  }

  .block{
    padding-left: 16px;
  }
}

