body{
  margin: 0px;
  background-color: #eff3f9;
  font-family: 'Meiryo', sans-serif;
}

.screen{
  display: flex;
}

.side-menu{
  width: 240px;
  height: 73vh;
  min-width: 180px;
  min-height: 400px;
  background-color: rgb(32, 41, 43);
  padding-top: 180px;
  color: white;
  box-shadow: 1px 2px 3px gray;
  position: relative;
}

.main-title{
  position: absolute;
  top: 24px;
  left: 32px;
  font-size: 14px;
  font-weight: bold;
}

.main-title > img{
  width: 64px;
  border-radius: 50%;
}

.side-menu > a{
  display: block;
  text-decoration: none;
  height: 40px;
  padding-left: 12%;
  line-height: 40px;
  font-weight: bold ;
  color: white;
}

.side-menu > a:hover{
  cursor: pointer;
  background-color: rgb(118, 118, 118) ;
}

.menu-icon{
  margin-right: 16px;
}

.contents{
  text-align: center;
  max-height: 100vh;
  min-height: 100vh;
  width: 100%;
  overflow: scroll;
}

.back{
  position: relative;
  top: 160px;
}


.block{
  margin: 0px 32px;
  margin-bottom: 32px;
  padding: 8px 32px;
  color: rgb(69, 69, 69);
  font-size: 15px;
}

/* スクロールバーを非表示にする */
::-webkit-scrollbar {
  display: none;
}

.page-title{
  font-size: 24px;
  text-align: left;
  font-weight: bold;
  padding: 16px 16px;
  margin: 0px 32px;
  color: rgb(69, 69, 69);
}


table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid rgb(48, 48, 48); /* 黒枠を追加 */
  padding: 16px;
}

th {
  background-color: rgb(69, 69, 69);
  color: white;
}

tr{
  background-color: #ffffff;
}
.hashtag-form{
  font-weight: bold;
}

p > input{
  height: 32px;
  font-weight: bold;
  border-radius: 50px;
  padding-left: 8px;
  padding-right: 8px;
  margin-left: 8px;
  border: 1px rgb(32, 41, 43) solid;
}

.submit{
  width: 72px;
  height: 40px;
  border: none;
  border-radius: 50px;
  font-weight: bold;
  margin-top: 16px;
}

.submit:hover{
  cursor: pointer;
  background-color: rgb(156, 156, 156);
}

.serch{
  width: 100%;
  text-align: center;
}

.serch > form > input{
  margin-top: 24px;
  width: 60%;
  height: 24px;
  padding: 0px 16px;
  border-radius: 50px;
}

.error{
  font-size: 12px;
  color: orangered;
}

.errorlist > li{
  font-size: 12px;
  color: orangered;
  list-style: none;
}

.total_title{
  font-size: 14px;
}

.total_number{
 font-size: 32px;
 font-weight: bold;
 color: #00c5c5;
}

.post{
  background-color: rgb(30, 30, 30);
}

/* スマートフォン用のスタイル */
@media only screen and (max-width: 600px) {

  .content{
    min-height: 100vh;
  }

  .side-menu{
    text-align: center;
    width: auto;
    min-width: 40px;
    min-width: auto;
    min-height: auto;
    height: calc(var(--vh, 1vh) * 100 - 160px);
  }

  .side-menu > a{
    text-align: center;
    display: block;
    width: 48px;
    padding-left: 16px;
  }

  .menu-title{
    display: none;
  }

  table{
    font-size: 11px;
  }

  .block{
    margin: 4px;
    margin-top: 40px;
    padding: 4px;
  }

  .total_table{
    padding: 16px 32px;
  }
}