.stopped,
.achieved,
.expired {
  background-color: #ebebeb;
}

.pending-campaign {
  background-color: rgb(206, 255, 253); /* または他の色 */
}

.sub-page-title {
  font-size: 24px;
  text-align: left;
  font-weight: bold;
  padding: 32px 16px 16px;
  margin: 0px 32px;
  color: rgb(69, 69, 69);
}

.contents{
  position: relative;
}

.monthly-costs{
  display: flex;
  background-color: white;
  border-radius: 4px;
  padding: 8px 32px;
  position: absolute;
  top: 24px;
  right: 32px;
  font-size: 18px;
  color: rgb(69, 69, 69);
}

.costs-title{
  position: absolute;
  font-size: 13px;
  top: -12px;
  left: -12px;
  background-color: rgb(72, 227, 227);
  color: white;
  font-weight: bold;
  padding: 2px 8px;
  border-radius: 50px;
}

.fee-value{
  font-size: 24px;
  font-weight: bold;
  margin-right: 4px;
  color: black;
}

.filter{
  text-align: left;
  padding-left: 64px;
  margin-bottom: 8px;
}

.filter a{
  display: inline-block;
  padding: 6px 24px;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.76);
  text-decoration: none;
  color: rgb(70, 70, 70);
  margin-right: 4px;
}

.filter a:hover{
  background-color: rgba(193, 193, 193, 0.76);
}

.warning{
  text-align: left;
  margin-top: 16px;
  padding-left: 48px;
  font-size: 14px;
  color: gray;
}

.campaign-title{
  font-weight: bold;
  color: rgb(69, 69, 69);
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 8px;
  box-shadow: 0px 1px 4px rgb(187, 187, 187);
  display: block; /* 必要に応じて追加 */
}

.campaign-title:hover{
  background-color: gainsboro;
  box-shadow: none;
}

.date{
  /* background-color: rgb(247, 255, 255); */
  border-radius: 4px;
  padding: 4px 8px;
}

.campaign-big-title{
  font-weight: bold;
  /* background-color: white; */
  padding: 4px 8px;
  border-radius: 8px;
  margin: 0px 4px;
  /* box-shadow: 0px 1px 4px gainsboro; */
}


.ad-detail {
  text-decoration: none;
}

.release-button{
  padding: 8px 12px;
  font-weight: bold;
  border-radius: 4px;
  border: none;
  background-color: rgb(184, 184, 184);
  box-shadow: 0px 1px 2px rgb(197, 197, 197);
}

.release-button:hover{
  cursor: pointer;
  background-color: rgb(96, 96, 96);
  box-shadow: none;
}

.release{
  background-color: rgb(73, 230, 230);
  color: white;
}

.release:hover{
  background-color: rgb(58, 186, 186);
}

.disabled-button {
  cursor: not-allowed;
  opacity: 0.5;
  pointer-events: none;
  background-color: unset;
  box-shadow: none;
}


.delete-campaign-button{
  display: none;
}

.square-img{
  width: 90px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  object-fit: fill;
  margin: 0px auto;
}

.thumbnail {
  width: 90px;
}

.manga-icon{
  position: absolute;
  top: 4px;
  left: 4px;
  color: aqua;
}

/* .block {
  overflow-y: hidden;
  width: 350px;
  min-height: 600px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  border-radius: 8px;
} */

.campaign {
  overflow-y: scroll;
}

.campaign-info{
  /* display: flex; */
  padding: 4px 32px;
  margin: 0px 32px 64px;
}

.campaign-info > div, .campaign-info > a{
  padding: 8px 16px;
}

.campaign-main-info{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 48px;
  margin-top: 48px;
  margin-bottom: 16px;
}

.self-title{
  font-size: 24px;
  font-weight: bold;
  background-color: white;
  border-radius: 8px;
  padding: 8px 24px;
  margin-bottom: 8px;
  text-decoration: underline;
  text-decoration-color: rgb(74, 230, 230);
  text-decoration-line: 2px;
  margin-right: 16px;
}

.self-condition{
  font-size: 16px;
  font-weight: bold;
  padding: 8px 24px;
  border-radius: 50px;
  color: white;
  background-color: gray;
  margin-bottom: 8px;
}

.campaign-big-title, .tag{
  /* font-weight: bold; */
  margin-right: 16px;
  /* background-color: white; */
  /* border-radius: 8px; */
  display: flex;
  align-items: center;
}

.edit{
  background-color: rgb(134, 134, 134);
  border-radius: 4px;
  color: white;
  box-shadow: 0px 1px 2px rgb(197, 197, 197);
  text-decoration: none;
  display: block;
  padding: 8px 12px;
  align-items: center;
}

.edit:hover{
  background-color: rgb(80, 80, 80);
  box-shadow: none;
}

.monthly-billing-info {
  margin: 0px 32px;
  margin-bottom: 32px;
  padding: 8px 32px;
}

.view-button{
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  color: white;
  background-color: rgb(135, 135, 135);
  box-shadow: 0px 1px 2px rgb(197, 197, 197);
}

.view-button:hover{
  cursor: pointer;
  background-color: rgb(96, 96, 96);
  box-shadow: none;  
}

.preview {
  position: fixed;
  top: 0;
  right: -100%;
  transition: right 0.5s ease-in-out;
  box-shadow: -2px 2px 4px gray;
}

.preview.active {
  right: 0;
}



.post-video {
  transform: translate(-50%, -50%);
}

.captions {
  text-align: left;
}

/* .hashtag {
  padding: 1px;
} */

.ads th{
  color: rgb(69, 69, 69);
  background-color: rgb(199, 199, 199);
}


.book {
  width: 100%;
  height: 100%;
  display: flex;
  /* 要素を横並びにする */
  flex-direction: row-reverse;
  /* 要素を右から左に表示する */
  overflow-x: scroll;
  /* 横スクロールを可能にする */
  scroll-snap-type: x mandatory;
  position: relative;
}

.tab-bar {
  width: 350px;
  height: 42px;
  bottom: 0px;
  display: flex;
  z-index: 9999;
}

.tab-bar>a {
  width: 70px;
  height: 100%;
  background-color: rgb(30, 30, 30);
  text-align: center;
  line-height: 42px;
  font-size: 24px;
  color: white;
}

.monthly-billing-info{
  width: max-content;
  margin: 0px auto 64px;
}

.monthly-billing-info th{
  background-color: rgb(41, 147, 108);
  color: rgb(255, 255, 255);
  padding: 6px 16px;
  text-align: left;
}

.monthly-billing-info td{
  padding: 6px 16px;
  text-align: left;
}

