<!DOCTYPE html>
{% load static %}
{% load custom_tags %}
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="csrf-token" content="{{ csrf_token }}">
  <title>Viewy</title>
  <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
  <!-- iOS向けの指定 -->
  <link rel="apple-touch-icon" type="image/png" href="{{ MEDIA_URL }}icon/apple-touch-icon.png" sizes="192x192">
  <!-- Android向けの指定 -->
  <link rel="icon" type="image/png" href="{{ MEDIA_URL }}icon/android-touch-icon.png">
  <link rel="stylesheet" href="{% static 'css/stylebase.css' %}">
  <!-- font-awesomeアイコン -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
  <script src="https://kit.fontawesome.com/ad23325601.js" crossorigin="anonymous"></script>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-C5HF2NBPEV"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-C5HF2NBPEV');
  </script>
  {% load static %}
  {% block static %}
  {% endblock %}
</head>


<body>
  <div class="screen">

    {% block content %}

    {% endblock %}


    <div class="tab-bar">
      {% if user.is_authenticated %}
      <a class="home" href="{% url 'posts:postlist'%}"><i class="fa-solid fa-house fa-xs"></i></a>
      <a class="serch" href="{% url 'posts:hothashtag'%}"><i class="fa-solid fa-magnifying-glass fa-xs"></i></a>
      {% if user.is_advertiser %}
      <a class="add-post-disabled">
        <i class="fa-solid fa-square-plus fa-sm"></i>
      </a>
      {% else %}
      <a class="add-post" {% if request.user and request.user|is_poster %} href="{% url 'posts:add_post'%}" {% else %}
        href="{% url 'posts:be_partner'%}" {% endif %}>
        <i class="fa-solid fa-square-plus fa-sm"></i>
      </a>
      {% endif %}
      <a class="like" href="{% url 'posts:star'%}"><i class="fa-solid fa-star fa-xs"></i></a>
      <a class="my-account" href="{% url 'posts:my_account'%}"><i class="fa-solid fa-user fa-xs"></i></a>
      {% else %}
      <a class="home" href="{% url 'posts:visitor_postlist'%}"><i class="fa-solid fa-house fa-xs"></i></a>
      <a class="serch" href="{% url 'posts:hothashtag'%}"><i class="fa-solid fa-magnifying-glass fa-xs"></i></a>
      <a class="add-post visitor" href="{% url 'accounts:user_login'%}"><i
          class="fa-solid fa-square-plus fa-sm"></i></a>
      <a class="like visitor" href="{% url 'accounts:user_login'%}"><i class="fa-solid fa-star fa-xs"></i></a>
      <a class="my-account visitor" href="{% url 'accounts:user_login'%}"><i class="fa-solid fa-user fa-xs"></i></a>
      {% endif %}

    </div>
  </div>




  {% block script %}

  {% endblock %}

</body>

</html>