<!DOCTYPE html>
{% load static %}
{% load custom_tags %}
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>Viewy</title>
  <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
  <link rel="stylesheet" href="{% static 'css/stylebase.css' %}">
  <link rel="stylesheet" href="{% static 'css/stylecheck_age.css' %}">
  <script src="https://kit.fontawesome.com/ad23325601.js" crossorigin="anonymous"></script>
  {% load static %}

  {% block static %}
  {% endblock %}
</head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-C5HF2NBPEV"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-C5HF2NBPEV');
</script>
<body>
  <div class="screen">

    <div class="mid-logo" >
      <img src="\media\others\Viewy-full-logo-aqua.png" alt="">
    </div>

    <div class="ask">
      <div class="age-check">年齢認証</div>
      <div class="question">あなたは１８歳以上ですか？</div>
      <div class="warning">ここから先は、アダルトコンテンツが視聴可能です。<br>18歳未満の方のアクセスは固くお断りしています。</div>

      <div class="art">
        <img src="\media\others\監視影なし.png" alt="">
      </div>
      
      <div class="answer">
        <a id="no-button" class="no">いいえ</a>
        <form method="POST" style="display: inline;" >
          <button type="submit" class="yes">はい</button>
          {% csrf_token %}
        </form>
      </div>



      <div class="consent">
        <span>このサイトを利用することにより、<br>あなたは当サイトの<a href="{% url 'terms'%}">利用規約</a>および<a href="{% url 'policy'%}">プライバシーポリシー</a>に<br>同意したことになります。</span>
      </div>
    </div>


  </div>

  <!-- いいえを押したらブラウザバックする -->
  <script>
    document.getElementById("no-button").addEventListener("click", function(e) {
      e.preventDefault();
      window.history.back();
    });
  </script>


{% block script %}

{% endblock %}

</body>
</html>