<!DOCTYPE html>
{% load static %}
{% load custom_tags %}
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>無料でエロ動画・エロ漫画が楽しめるアダルト版Tiktok『Viewy（ビューイー）』</title>
  <meta name="description" content="無料でTiktok風のエロ動画とエロ漫画がリール形式で楽しめる夢のエロサイト。オナニー動画、ハメ撮り、エロ漫画、エロイラストを見るならViewy(ビューイー)がおすすめ！今日も裏垢女子やエロ漫画家の新しいえっちな投稿が続々更新中！邪魔なポップアップ広告や違法広告は一切なく、認可を受けたパートナーが投稿しているから安心安全。">
  <link rel="icon" href="https://bucket-for-viewy-static-imgs.s3.ap-northeast-1.amazonaws.com/favicon.ico" type="image/x-icon">

  
  <!-- ツイッターのカード設定 -->
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@Viewy_official" />
  <meta name="twitter:domain" content="www.viewy.net" />
  <meta name="twitter:title" content="Viewy[ビューイー]" />
  <meta name="twitter:description" content="最大２分の動画と最大３１ページのマンガがリール形式で楽しめるスマホ向けウェブサービスです。" />
  <meta name="twitter:image" content="{{ MEDIA_URL }}others/card_for_all.png" />

  <!-- Open Graph設定 -->
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://www.viewy.net" />
  <meta property="og:title" content="Viewy[ビューイー]| 動画とマンガがリール形式で楽しめる スマホ向けウェブサービス" />
  <meta property="og:description" content="最大２分の動画と最大３１ページのマンガがリール形式で楽しめるスマホ向けウェブサービスです。" />
  <meta property="og:image" content="{{ MEDIA_URL }}/others/card_for_all.png" />
  
  <link rel="stylesheet" href="{% static 'css/stylebase.css' %}">
  <link rel="stylesheet" href="{% static 'css/stylecheck_age.css' %}">
  <script src="https://kit.fontawesome.com/ad23325601.js" crossorigin="anonymous"></script>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-C5HF2NBPEV"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-C5HF2NBPEV');
  </script>
  {% load static %}

  {% block static %}
  {% endblock %}
</head>

<body>
  <div class="screen">

    <div class="mid-logo" >
      <!-- <img src="{{ MEDIA_URL }}others/Viewy-full-logo-aqua.png" alt=""> -->
      <img src="{{ MEDIA_URL }}others/Viewy-full-logo-aqua.png" alt="">
    </div>

    <div class="ask">
      <div class="age-check">年齢認証</div>
      <div class="question">あなたは１８歳以上ですか？</div>
      <div class="warning">ここから先は、アダルトコンテンツが視聴可能です。<br>18歳未満の方のアクセスは固くお断りしています。</div>

      <div class="art">
        <img src="{{ MEDIA_URL }}others/監視影なし.png" alt="">
      </div>
      
      <div class="answer">
        <a id="no-button" class="no">いいえ</a>
        <form method="POST" style="display: inline;" >
          <button type="submit" class="yes">はい</button>
          {% csrf_token %}
        </form>
      </div>



      <div class="consent">
        <span>このサイトを利用することにより、<br>あなたは当サイトの<a href="{% url 'terms'%}">利用規約</a>および<a href="{% url 'policy'%}">プライバシーポリシー</a>に<br>同意したことになります。</span>
      </div>
    </div>


    <div class="keep-out">
      <div>18歳未満の方はご利用いただけません。</div>
      <button class="close">閉じる</button>
    </div>


  </div>


{% block script %}

<script>
  document.getElementById('no-button').addEventListener('click', function() {
    // "いいえ"がクリックされたら、keep-outクラスの要素を表示する
    document.querySelector('.keep-out').style.display = 'block';
  });

  document.querySelector('.close').addEventListener('click', function() {
    // "閉じる"がクリックされたら、keep-outクラスの要素を非表示にする
    document.querySelector('.keep-out').style.display = 'none';
  });
</script>

{% endblock %}

</body>
</html>