<!DOCTYPE html>
{% load static %}
{% load custom_tags %}
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="csrf-token" content="{{ csrf_token }}">
  <title>Viewy</title>
  
  <!-- ツイッターのカード設定 -->
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@Viewy_official" />
  <meta name="twitter:domain" content="www.viewy.net" />
  <meta name="twitter:title" content="Viewy[ビューイー]| 動画とマンガがリール形式で楽しめる スマホ向けウェブサービス" />
  <meta name="twitter:description" content="最大２分の動画と最大３１ページのマンガがリール形式で楽しめるスマホ向けウェブサービスです。" />
  <meta name="twitter:image" content="{{ MEDIA_URL }}others/card_long_logo.png" />

  <!-- Open Graph設定 -->
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://www.viewy.net" />
  <meta property="og:title" content="Viewy[ビューイー]| 動画とマンガがリール形式で楽しめる スマホ向けウェブサービス" />
  <meta property="og:description" content="最大２分の動画と最大３１ページのマンガがリール形式で楽しめるスマホ向けウェブサービスです。" />
  <meta property="og:image" content="{{ MEDIA_URL }}others/card_long_logo.png" />
  
  <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
  <link rel="stylesheet" href="{% static 'css/stylebase.css' %}">
  <link rel="stylesheet" href="{% static 'css/delete_request.css' %}">
  <script src="https://kit.fontawesome.com/ad23325601.js" crossorigin="anonymous"></script>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-C5HF2NBPEV"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-C5HF2NBPEV');
  </script>
  {% load static %}

  {% block static %}
  {% endblock %}
</head>

<body>
  <div class="screen">
    <div class="main">
      <div class="title">投稿の削除依頼フォーム</div>
      <div class="sub-title">皆様のプライバシーや著作権を尊重することを、当サイトは重視しております。<br>ご理解とご協力をお願い申し上げます。</div>

      {% if form.errors %}
        <div class="alert alert-danger">
            <ul>
            {% for field, errors in form.errors.items %}
                {% for error in errors %}
                <li>{{ error }}</li>
                {% endfor %}
            {% endfor %}
            </ul>
        </div>
      {% endif %}
  
      <form method="post">
        {% csrf_token %}
        <div class="form">依頼者様のメールアドレス</div>
        {{ form.email }}
        <div class="form">投稿者（パートナー）のユーザーネーム</div>
        {{ form.postername }}
        <div class="form">削除依頼を希望する投稿のタイトル</div>
        {{ form.post_title }}
        <div class="form">ケースの種類</div>
        {{ form.case_type }}
        <div class="form">詳細</div>
        {{ form.details }}
        
        <div class="description">ご依頼をいただいた後は、記入していただいたメールアドレス宛に追加の詳細情報の提供を求めるメールを送信させていただくことがあります。<br>また、ご依頼をいただいた直後に投稿が削除されるわけではありません。ご了承ください。</div>
        <button type="submit">送信</button>
    </form>
  
    </div>
    </div>

{% block script %}

{% endblock %}

</body>
</html>