<!DOCTYPE html>
{% load static %}
{% load custom_tags %}
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>Viewy</title>

  <!-- ツイッターのカード設定 -->
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@Viewy_official" />
  <meta name="twitter:domain" content="www.viewy.net" />
  <meta name="twitter:title" content="Viewy[ビューイー]| 特別招待させていただく方に向けて" />
  <meta name="twitter:description" content="最大２分の動画と最大３１ページのマンガがリール形式で楽しめるスマホ向けウェブサービスです。" />
  <meta name="twitter:image" content="{{ MEDIA_URL }}others/card_for_ivited.png" />

  <!-- Open Graph設定 -->
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://www.viewy.net" />
  <meta property="og:title" content="Viewy[ビューイー]| 特別招待させていただく方に向けて" />
  <meta property="og:description" content="最大２分の動画と最大３１ページのマンガがリール形式で楽しめるスマホ向けウェブサービスです。" />
  <meta property="og:image" content="{{ MEDIA_URL }}others/card_for_ivited.png" />
  
  <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
  <link rel="stylesheet" href="{% static 'css/stylebase.css' %}">
  <link rel="stylesheet" href="{% static 'css/for_invited.css' %}">
  <script src="https://kit.fontawesome.com/ad23325601.js" crossorigin="anonymous"></script>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-C5HF2NBPEV"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-C5HF2NBPEV');
  </script>
  {% load static %}

  {% block static %}
  {% endblock %}
</head>

<body>

  <div class="screen">
    <div class="header">
      <img class="main-img" src="{{ MEDIA_URL }}others/スマホ入りロゴ.png" alt="">
      <div class="catch-right">スマホ専用の、</div>
      <div class="catch-left">大人のサイト。</div>
        <!-- <div class="sub-catch">縦長の動画とマンガが楽しめる<br>
          新登場のアダルトサイト</div> -->
    </div>
    <div class="main">

      <div class="sub-catch">ユーザーネームを決めて簡単登録</div>

      <div class="be-partner1"><a href="{% url 'guide' %}">パートナーになる</a></div>
      <div class="warning">18歳未満の方のご利用はお断りしています。</div>

      <hr>

      <div class="team">※登録済パートナー</div>
      <div class="sample">
        <div class="partner-list list1">
          {% for img_url in poster_imgs1 %}
          <div class="partner-img">
            <img src="{{ img_url }}" alt="">
          </div>
          {% endfor %}
        </div>
        <div class="partner-list list2">
          {% for img_url in poster_imgs2 %}
          <div class="partner-img">
            <img src="{{ img_url }}" alt="">
          </div>
          {% endfor %}
        </div>
      </div>

      <div id="big-container">
        <img src="{{ MEDIA_URL }}others\パートナーになりませんか.png" alt="" class="big">
      </div>

      <div class="scores">
        <div class="score">
          <img src="{{ MEDIA_URL }}others\100人以上.png" alt="">
        </div>
        <div class="score">
          <img src="{{ MEDIA_URL }}others\500個以上.png" alt="">
        </div>
      </div>

      <div class="about-viewy">
        <div class="big-title mega">Viewyとは？</div>
        <div class="line"></div>

        <div class="video block">
          <video src="{{ MEDIA_URL }}others\イメージ動画.mp4" playsinline loop muted autoplay width="280px"></video>
        </div>
  
        <div class="points">
          <div class="container left">
            <div class="point block">
              <div class="number">1</div>
              <div class="img">
                <img src="{{ MEDIA_URL }}others\動画と画像.png" alt="">
              </div>
              <div class="point-title">成人向けの動画と画像を共有</div>
              <div class="sub">最大２分の動画と最大３１ページの画像がシェアできる</div>
            </div>
            <div class="point block">
              <div class="number">2</div>
              <div class="img">
                <img src="{{ MEDIA_URL }}others\operation_smartphone_simple.png" alt="">
              </div>
              <div class="point-title">リール形式の投稿表示</div>
              <div class="sub">コンパクトなボリュームの投稿が今はやりのリール形式でサクサク見れる</div>
            </div>
            <div class="point block">
              <div class="number">3</div>
              <div class="img">
                <img src="{{ MEDIA_URL }}others/切り替え.png" alt="" id="number">
              </div>
              <div class="point-title">投稿は２次元と３次元で絞り込み可能</div>
              <div class="sub">Viewyは２次エロも３次エロも扱っております。<br>お好みにあわせて表示を切り替えることができます。<br>もちろん両方表示することも。</div>
            </div>

          <div class="container">
            <div class="point block">
              <div class="number">4</div>
              <div class="img">
                <img src="{{ MEDIA_URL }}others/costgood_man_simple.png" alt="">
              </div>
              <div class="point-title">完全無料</div>
              <div class="sub">Viewyは完全無料でお使いいただけます。<br>多くのユーザーが気軽に利用することができます</div>
            </div>
  
            <div class="point block">
              <div class="number">5</div>
              <div class="img">
                <img src="{{ MEDIA_URL }}others/handshake_suit_simple.png" alt="">
              </div>
              <div class="point-title">投稿はパートナーのみが可能</div>
              <div class="sub">投稿は運営が認可したパートナーのみが可能。<br>違法な投稿やなりすまし、無断転載がなく安心安全</div>
            </div>
            <div class="point block">
              <div class="number">6</div>
              <div class="img" style="margin-bottom: 32px;">
                <img src="{{ MEDIA_URL }}others/各種ファンサイト.png" alt="" id="fansite">
              </div>
              <div class="point-title">投稿・プロフに各種リンクを掲載しよう！</div>
              <div class="sub">Viewyで獲得したファンをご自身が活用しているファンサイト等へスムーズに誘導できる！</div>
            </div>
          </div>
            <div class="point block">
              <div class="number">7</div>
              <div class="img">
                <img src="{{ MEDIA_URL }}others/harry_man_simple.png" alt="" id="harry">
              </div>
              <div class="point-title">凍結の心配なし</div>
              <div class="sub">アダルトコンテンツ専用であるうえ、パートナとの密な連絡によって、投稿者重視の運営を実現します。</div>
            </div>
  
          </div>
        </div>
      </div>



      <div class="block">
        <div class="part partner">
          <div class="title white">Viewyの活用例</div>


      <div class="block">
        <div class="case">
          <div class="case-title">新たなファンの獲得</div>
          <div class="description">Viewyなしでは出会わなかった新たなファンを、<br>投稿やプロフィールのリンクからスムーズにご自身のサイトに誘導</div>
          <img src="{{ MEDIA_URL }}others/新たなファン２.png" alt="">
        </div>
      </div>



      <div class="block">
        <div class="case">
          <div class="case-title ice">凍結時の早期復活</div>
          <div class="description">
            Viewyは凍結の心配なし、<br>
            仮にXのアカウントが凍結してもViewyのアカウントを起点に早期の復活が可能！<br>
            フォローしているパートナーのXアカウントが凍結したら次のアカウントを通知する「<span class="alive">アイスアラーム機能</span>」も実装予定。
            </div>
            <img src="{{ MEDIA_URL }}others/あぶねー２.png" alt="">
        </div>
      </div>



      <div class="block">
        <div class="case solution">
          <div class="case-title solution-title">次なる宣伝の場</div>
          <div class="description">
            <div>万が一、Xがアダルトを全面禁止した場合のことを想定して、Viewyを宣伝の場の保険として考えることもできます。</div>
            <div>前もってViewyでアカウントを育て、<br>かつ早期登録特典も獲得しておけば、<br>そんな事態の中でも有利に活動できるかも！</div>
            </div>
            <img src="{{ MEDIA_URL }}others/世はアダルト禁止時代.png" alt="">
        </div>
      </div>
      </div>
    </div>

    <div class="block dark">
      <div class="part plus">
        <div class="title">
          開始間もないViewyに<br>「今」登録するメリット
        </div>
        <div class="content">
          <div>まだViewyが開始したてにも関わらず、</div>
          <div><span class="date">１０月中までに</span> パートナー登録</div>
          <div>してくださったクリエイター様には、<br>以下の特典を付与させていただきます。</div>
        </div>
        <div class="gift">投稿の表示率が永久に１.５倍</div>
        <!-- <div class="content">
          さらに、２名以上のクリエイター様をビューイーに紹介し、その２名以上が同様に引用リツイートしてくだされば、
        </div>
        <div class="gift double">投稿の表示率が永久に２倍</div> -->
        <div class="content" style="font-weight: bold;">
          この特典を獲得しておけば、仮にViewyが大きなプラットフォームへと成長できたときに、強力なメリットとなってくれるはずです。
        </div>
      </div>
    </div>

      <div class="block">
        <div class="part">
          <div class="title">
            ユーザーネームを送信するだけの、簡単なパートナー登録
          </div>
          <div class="chat-img">
            <div class="example">※X（Twitter）の場合</div>
            <img src="{{ MEDIA_URL }}others/ツイッターのやりとり.jpg" alt="">
          </div>
          <div class="content">
            ファインサイトでの活動が確認できれば、このリンクが送信されたDMかメールに<br><span>ご自身が決めたユーザーネームを送るだけで登録が完了</span>します。</div>
            

          </div>
      </div>


      <div class="block">
        <div class="title" style="text-decoration-color: rgb(255, 174, 0);">下のボタンから<br>さっそくViewyに参加しましょう。</div>
      </div>


      <hr>

      <div class="sub-catch">ユーザーネームを決めて簡単登録</div>

      <div class="be-partner2"><a href="{% url 'guide' %}">パートナーになる</a></div>

      <div class="warning">18歳未満の方のご利用はお断りしています。</div>

    </div>
  </div>

{% block script %}

{% endblock %}
<script>
  document.addEventListener('DOMContentLoaded', function () {
    // スクロール速度（大きいほど速くなる）
    let speed = 1;

    // list1要素を取得し、左から右にスクロール
    let list1 = document.querySelector('.list1');
    let scrollAmount1 = 0;
    setInterval(function () {
      scrollAmount1 += speed;
      list1.scrollLeft = scrollAmount1;
    }, 30);

    // list2要素を取得し、左から右にスクロール（見た目は逆方向）
    let list2 = document.querySelector('.list2');
    let scrollAmount2 = 0;
    setInterval(function () {
      scrollAmount2 += speed;
      list2.scrollLeft = list2.scrollWidth - list2.clientWidth - scrollAmount2;
    }, 30);
  });
</script>
<script>
document.addEventListener('DOMContentLoaded', function() {
  var blocks = document.querySelectorAll('.block');

  function checkVisibility() {
    var windowHeight = window.innerHeight;

    blocks.forEach(function(block) {
      var rect = block.getBoundingClientRect();

      // 要素が画面の高さの4/5に来たかどうかをチェック
      if (rect.top <= (windowHeight * 3) / 5 && rect.bottom >= (windowHeight * 3) / 5) {
        block.classList.add('visible');
      }
    });
  }

  window.addEventListener('scroll', checkVisibility);
  window.addEventListener('resize', checkVisibility);

  // ページロード時にもチェック
  checkVisibility();
});

</script>
</body>
</html>