<!DOCTYPE html>
{% load static %}
{% load custom_tags %}
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>Viewy</title>

  <!-- ツイッターのカード設定 -->
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@Viewy_official" />
  <meta name="twitter:domain" content="www.viewy.net" />
  <meta name="twitter:title" content="Viewy[ビューイー]| 広告主様に向けて" />
  <meta name="twitter:description" content="最大２分の動画と最大３１ページのマンガがリール形式で楽しめるスマホ向けウェブサービスです。" />
  <meta name="twitter:image" content="{{ MEDIA_URL }}others/card_long_logo.png" />

  <!-- Open Graph設定 -->
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://www.viewy.net" />
  <meta property="og:title" content="Viewy[ビューイー]| 広告主様に向けて" />
  <meta property="og:description" content="最大２分の動画と最大３１ページのマンガがリール形式で楽しめるスマホ向けウェブサービスです。" />
  <meta property="og:image" content="{{ MEDIA_URL }}others/card_long_logo.png" />
  
  <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
  <link rel="stylesheet" href="{% static 'css/for_advertiser.css' %}">
  <script src="https://kit.fontawesome.com/ad23325601.js" crossorigin="anonymous"></script>
  {% load static %}

  {% block static %}
  {% endblock %}
</head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-C5HF2NBPEV"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-C5HF2NBPEV');
</script>
<body>

<div class="catch">

</div>
<div class="partner-list 1"></div>
<div class="partner-list 2"></div>

<div class="main">

  <div class="big-title">次世代アダルトプラットフォーム「Viewy」に<br>あなたの広告を出しませんか？</div>

  <div class="what-is-viewy flex">
    <div class="sentence">
      <div class="title">次世代アダルトプラットフォーム「Viewy」とは？</div>
      <div class="content">
        <p>成人向けの動画と画像（マンガ）が共有できる完全無料のスマホ向けウェブアプリ</p>
        <p>投稿はリール形式で表示されため快適に楽しめる！</p>
        <p>視聴は誰でも可能ですが、投稿は運営が認可したパートナーに限定されているため安心安全</p>
        <p>成人向けならではの独自の機能も！</p>
        <p>Viewy→<a href="www,viewy,net"></a></p>
      </div>
    </div>
    <div class="video"></div>
  </div>

  <div class="our-wish">
    <div class="title">Viewyに込めた想い</div>

    <div class="wish 1">
      <div class="wish-title">安全でリテラシーのある無料アダルトサイトがほしい</div>
      <div class="wish-content">
        いま日本では違法の無料サイトが蔓延っており、深刻な権利侵害問題を引き起こしています。
        それでも多くの人が違法のサイトを使う理由は、まともな無料サイトが日本に存在しないからだと考えました。
        成人であれば誰もが気軽に利用できて、かつリテラシーのあるアダルトサイトが日本で求められている。そう思いました。
      </div>
    </div>

    <div class="wish 2">
      <div class="wish-title">成人向けの業界に、高い効果を期待できる新たな広告の場を提供したい</div>
      <div class="wish-content">
        アフィリエイトを始めとした新たな形式の広告も広く普及しておりますが、まだまだアダルト領域の業界は、普通の業界と比べて宣伝の場が限定的です。
        またアフィリエイト広告は違法サイトでも利用されてしまうこともあります。そこでは、多くの場合、クリック報酬だけを目的としたUIを大きく損なう方法で数多くの広告が掲載されているため、ユーザーも不快であるうえ、そのような形で掲載されている広告にも悪い印象がついてしまいがちです。
        こうした問題を解決するためにも、アダルト領域を支えている数々のサービスやメーカー様がフォーマルな形式で宣伝できる場を増やしたいと考えました。
      </div>
    </div>

    <div class="wish 3">
      <div class="wish-title">アダルト領域で活躍するクリエイターの方々の魅力発信の場を守りたい</div>
      <div class="wish-content">
        日本には数多くのアダルト領域で活躍するクリエイターの方々がいらっしゃいますが、彼らの主な発信の場は、XをはじめとしたSNSです。しかし、近年の規制強化によってただでさえ限定的な発信の機会が危ぶまれている状況であります。唐突なアカウントの凍結やバンがクリエイターの経済状況を大きく動かしてしまうほどです。国境を問わず世界を盛り上げてくれているこうしたクリエイターたちが唐突な規制におびえすぎることなく堂々と魅力を拡散できるような新たな場が存在しなければなりませんでした。
      </div>

    </div>

  </div>

  <div class="ad-features">
    <div class="main-title">広告の表示方法</div>
    <div class="display  flex">
      <div class="img"></div>
      <div class="sententce">
        <div class="sub-title">Viewyでは「投稿型」の広告を掲載することができます。</div>
        <div class="sub-title">すべての投稿リストのなかで４つ投稿を見るごとに１つの広告が表示されます。</div>
        <div class="sub-title">添付できるコンテンツやキャプションはViewyに投稿できる通常の投稿と同じです</div>
        <ul>
          <li>最大２分の動画か最大31枚の画像</li>
          <li>タイトル</li>
          <li>キャプション</li>
          <li>ハッシュタグ</li>
          <li>URL</li>
          <li>プロフィール画像</li>
        </ul>
      </div>
    </div>

    <div class="feature 1">
      <div class="title">アダルトサイトならではのユーザーデモグラフィック情報をもとに、ターゲティングが可能です</div>
      <div class="content">Viewyではユーザーのアクションや強制アンケートからユーザーの属性やデモグラフィック情報を常に収集し蓄積していきます。これらのデータをもとに高い精度でお望みのユーザー層に広告を表示することができます。ユーザーを振り分ける項目にはアダルトサイトならでは項目が多く、通常の広告のターゲティングでは不可能な、ニッチな領域にまでユーザーを絞ることができます。</div>
      <div class="cercle-img"></div>
    </div>

    <div class="feature 2">
      <div class="title">広告主様専用のページでリアルタイムに成績が確認可能</div>
      <div class="content">広告主様用のアカウントページでは、掲載していただいた広告の視聴回数、滞在率、クリック数がリアルタイムでご確認いただけます。
        また同ページから新たなキャンペーンや広告の追加とそのターゲティング設定、公開中の広告の停止や削除をすることも可能です。</div>
      <div class="cercle-img"></div>
    </div>

  </div>

  <div class="favor">
    <div class="sentence">
      <p>Viewyは正式公開を10月7日に控えています。</p>
      <p>事前に２週間の期間を設けて(8/16~8/31)、Viewyのパートナーとして公開前登録をしてくださるクリエイターを募集しました。</p>
      <p>その結果、上にも挙げた私たちの願いが通じ、２週間で80人以上のクリエイターの方々に登録していただきました。<br>そのXの総フォロワーは375万人以上に上ります。</p>
    </div>
    <div class="partner-list2"></div>

    <div class="main-favor">
      <p>この度、広告の成果データ収集を兼ねてViewy公開時に広告を掲載してくださる企業様を募集しております。</p>
      <p>現状公開前であること、広告効果の測定を兼ねていることをご理解していただいたうえで、</p>
      <p>10/7までに広告の掲載を開始してくださった企業様には、</p>
      <p>「Viewyでの広告費用の永久半額化」</p>
      <p>という特典を贈呈させていただきます。</p>
      <p>※サイト名や広告方法に変更があった場合でも適応させていただきます。</p>
    </div>

  </div>

  <div class="detail">

    <div class="part">
      <div class="title">料金について</div>
      <p>料金体系は現状CPM型のみでご用意させていただいております。</p>
      <p>基本CPMは１０００円です。（初月のみ）</p>
      <p>ターゲットを絞る場合、その割合に応じて料金が上昇します。</p>
      <div class="ex">例：。。。。。</div>
    </div>

    <div class="part">
      <div class="title">掲載可能なメディアの詳細</div>
      <div class="flex">
        <div>
          <div class="patern">動画の場合</div>
          <ul>
            <li>最大２分
            </li>
            <li>最大１５MB</li>
            <li>最大720px</li>
          </ul>
        </div>
        <div>
          <div class="patern">画像の場合</div>
          <ul>
            <li>最大31ページ</li>
            <li>最大5MB</li>
            <li>最大1080px</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="part">
      <div class="title"> 現在のサイトの状況
      </div>
      <ul>
        <li>登録パートナー：８０人以上
        </li>
        <li>投稿数：２５０個以上</li>
        <li>選択可能なユーザーデモグラフィック：性別、二次元好きか三次元好きか</li>
      </ul>
    </div>

    <div class="part">
      <div class="title">公開後の予測（初月）</div>
      <ul>
        <li>初月の訪問回数：20,000～50,000回</li>
        <li>１訪問当たりの広告視聴数：6回</li>
        <li>初月のPV数合計：120,000～600,000回</li>
      </ul>
    </div>

    <div class="part">
      <div class="title">目標</div>
      <ul>
        <li>2024年10月の月間訪問回数：6億回
        </li>
        <li>2025年10月の月間訪問回数：60億回</li>
      </ul>
    </div>

  </div>

  <div class="summary">
    <p>Viewyがこれらの目標を達成できた場合、広告費の永久半額化は大きな特典となることと思われます。</p>

    <p>ご協力いただける場合は、お手数ですが、こちらのページリンクを遅らせていただいたメールにご返信ください。</p>

    <p>すぐに、広告掲載についての契約書と広告主様用のアカウント作成フォームを送信させていただきます。</p>

    <p>詳細につきましてもメールにてご気軽にお尋ねください。</p>

    <p>zoomでも対応させていただいております。</p>
  </div>

</body>
</html>