<!DOCTYPE html>
{% load static %}
{% load custom_tags %}
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>Viewy</title>

  <!-- ツイッターのカード設定 -->
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@Viewy_official" />
  <meta name="twitter:domain" content="www.viewy.net" />
  <meta name="twitter:title" content="Viewy[ビューイー]| 広告主様に向けて" />
  <meta name="twitter:description" content="最大２分の動画と最大３１ページのマンガがリール形式で楽しめるスマホ向けウェブサービスです。" />
  <meta name="twitter:image" content="{{ MEDIA_URL }}others/card_for_advertiser2.png" />

  <!-- Open Graph設定 -->
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://www.viewy.net" />
  <meta property="og:title" content="Viewy[ビューイー]| 広告主様に向けて" />
  <meta property="og:description" content="最大２分の動画と最大３１ページのマンガがリール形式で楽しめるスマホ向けウェブサービスです。" />
  <meta property="og:image" content="{{ MEDIA_URL }}others/card_for_advertiser2.png" />

  <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
  <link rel="stylesheet" href="{% static 'css/for_advertiser.css' %}">
  <script src="https://kit.fontawesome.com/ad23325601.js" crossorigin="anonymous"></script>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-C5HF2NBPEV"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-C5HF2NBPEV');
  </script>
  {% load static %}

  {% block static %}
  {% endblock %}
</head>


<body>

  <div class="catch">
    <div class="content">

      <img src="{{ MEDIA_URL }}others\ウェブメイン.png" alt="" class="logo">

      <div class="right-side">スマホサイズの、</div>
      <div class="left-side">大人のサイト。</div>

      <!-- <img src="{{ MEDIA_URL }}others\登録パートナー.png" alt="" class="partner80">
      <img src="{{ MEDIA_URL }}others\総フォロワー.png" alt="" class="follower"> -->

      <div class="score">現在登録済みのパートナー</div>

    </div>

  </div>
  <div class="partner-list list1">
    {% for img_url in poster_imgs1 %}
    <div class="partner-img">
      <img src="{{ img_url }}" alt="">
    </div>
    {% endfor %}
  </div>
  <div class="partner-list list2">
    {% for img_url in poster_imgs2 %}
    <div class="partner-img">
      <img src="{{ img_url }}" alt="">
    </div>
    {% endfor %}
  </div>

  <div class="main">

    <div id="big-container">
      <img src="{{ MEDIA_URL }}others\テーマ.png" alt="" class="big">
    </div>


    <div class="what-is-viewy block" id="what-is-viewy">
      <div class="title">次世代アダルトプラットフォーム「Viewy」とは？</div>

      <div class="video block">
        <video src="{{ MEDIA_URL }}others\紹介動画.mp4" playsinline loop muted autoplay width="280px"></video>
      </div>



      <div class="points">
        <div class="container left">
          <div class="point block">
            <div class="img">
              <img src="{{ MEDIA_URL }}others\動画と画像.png" alt="">
            </div>
            <div class="main">成人向けの動画と画像が共有できる</div>
            <div class="sub">最大２分の動画と最大３１ページの画像がシェアできる</div>
          </div>
          <div class="point block">
            <div class="img">
              <img src="{{ MEDIA_URL }}others\operation_smartphone_simple.png" alt="">
            </div>
            <div class="main">リール形式の投稿表示</div>
            <div class="sub">コンパクトなボリュームの投稿が今はやりのリール形式でサクサク見れる</div>
          </div>
        </div>
        <div class="container">
          <div class="point block">
            <div class="img">
              <img src="{{ MEDIA_URL }}others/handshake_suit_simple.png" alt="">
            </div>
            <div class="main">投稿はパートナーのみが可能</div>
            <div class="sub">視聴は成人であれば誰でも可能ですが、投稿は運営が認可したパートナーに限定しているため、安心安全</div>
          </div>
          <div class="point block">
            <div class="img">
              <img src="{{ MEDIA_URL }}others/costgood_man_simple.png" alt="">
            </div>
            <div class="main">完全無料</div>
            <div class="sub">Viewyは完全無料で利用可能<br>多くのユーザーが気軽に利用することができる</div>
          </div>
        </div>
      </div>


    </div>

    <div class="our-wish" id="our-wish">
      <div class="title">Viewyの開発に至った ３つの理由</div>
      <hr>

      <div class="wish flex block">
        <div class="wish-container">
          <div class="wish-title">安全でリテラシーのある無料アダルトサイトを作りたい</div>
          <div class="wish-content">
            <p>日本では、いまだに違法アダルトサイトが乱立し、深刻な著作権問題を引き起こしています。</p>
            <p>またＸ（旧twitter）をはじめとするSNSでも近年規制が強まり、多くのアダルト分野のクリエイターが唐突な凍結などにおびえている状況です。もし凍結されてしまえばクリエイターの経済状況に大きな影響を与えてしまいます。</p>
            <p>それでも多くのユーザー及びクリエイターがこれらのサービスを利用するのは、無料で使えてリテラシーがあり、かつ多くのユーザーに魅力発信ができるサービスが少ないからだと考えました。</p>
            <p>カオスとも呼べるこの状況の改善に、「無料アダルトプラットフォームの提供」という形で少しでも貢献したいと思いました。</p>
            <!-- <p>いま日本では違法の無料サイトが乱立しており、深刻な権利侵害問題を引き起こしています。</p>
            <p>それでも多くの人が違法のサイトを使う理由は、まともな無料サイトが日本に存在しないからだと考えました。</p>
            <p>成人であれば誰もが気軽に利用できて、かつリテラシーのあるアダルトサイトが日本で求められているのです。</p>
            <p class="black block">Viewyは完全無料でご利用いただけます。<br>そして運営から認可を受けたパートナーのみが投稿できることに加え、監視体制と通報制度を完備しているため安心安全です。</p>
            <p>Viewyを通してアダルトコンテンツにおける権利問題の解決に少しでも貢献したいと考えています。</p> -->
          </div>
        </div>
        <div class="wish-img">1</div>
      </div>

      <div class="wish right flex block">
        <div class="wish-img">2</div>
        <div class="wish-container">
          <div class="wish-title">アダルト業界に、新たな広告の場を提供したい</div>
          <div class="wish-content">
            <p>日本において、アダルト市場は大規模であり、成長し続けています。</p>
            <p>この規模に対して、その魅力を発信する場は今だ限定的で、近年の規制強化によってより広告の手段が減少傾向にあります。</p>
            <p>そうした中、大きな市場を支える素敵なアダルト分野の企業様方が、SNS広告に近い広告を出稿できるフォーマルな場が今必要とされているのではないかと考えました。</p>
            <p>そこで、投稿型広告の出稿が可能なサービスを開発することで、企業様方の魅力発信をお手伝いしたいと思いました。</p>
            <!-- <p>アフィリエイトを始めとした新たな形式の広告も広く普及していますが、まだまだアダルト領域の業界は、普通の業界と比べて宣伝の場が限定的です。</p>
            <p>またアフィリエイト広告は違法サイトでも利用されてしまう可能性がありますが、そこで他のあやしい広告と一緒に悪質な手法で掲載されてしまえば、ユーザーにとっても広告主にとっても悪影響です。</p>
            <p>こうした問題を解決するためにも、アダルト領域を支えている数々のサービスやメーカー様がフォーマルな形式で宣伝できる場を増やしたいと考えました。</p>
            <p class="black block">Viewyでは、信用できる企業様の広告しか掲載しないうえ、広告が投稿に近い形で表示されるため、高いユーザー体験と広告効果を期待できます。</p>
            <p>Viewyが、アダルト関連の領域で活躍する企業様の魅力を発信できる新たな場としてその選択肢に加わることを願っています。</p> -->
          </div>
        </div>

      </div>

      <div class="wish flex block">
        <div class="wish-container">
          <div class="wish-title">世界のトレンドにマッチしたアダルトサイトを作りたい</div>
          <div class="wish-content">
            <p>「ショート動画×リール形式の表示」というのは今やどのSNSも採用している世界のトレンドです。</p> 
            <p>このトレンドに対応したアダルトサイトが今必要とされていると感じました。</p>
            <p>そこで、ショート動画はもちろん、イラストやマンガも投稿できるようにして幅広くユーザーを楽しませることができるサービスを作ろうと思いました。</p>
            <!-- <p>日本には数多くのアダルト領域で活躍するクリエイターの方々がいらっしゃいますが、その主な発信の場は、XをはじめとしたSNSです。</p>
            <p>しかし、近年の規制強化によってただでさえ限定的な発信の機会が危ぶまれている状況であります。</p>
            <p>唐突なアカウントの凍結やバンがクリエイターの経済状況を大きく動かしてしまうほどです。</p>
            <p>世界を盛り上げてくれているこうしたクリエイターたちが唐突な規制におびえすぎることなく堂々と魅力を拡散できるような新たな場が必要となってきています。</p>
            <p class="black block">Viewyは、パートナーと密なコンタクトをとることで、厳重な監視体制と通報制度を維持しながらも、パートナーに寄り添った運営を実現します。</p>
            <p>Viewyの存在が、少しでもクリエイターの方々の支えになれることを祈っています。</p> -->
          </div>
        </div>
        <div class="wish-img">3</div>
      </div>

    </div>

    <div class="ad-features" id="ad-features">
      <div class="main-title">広告の表示方法</div>
      <hr>


      <div class="feature block">
        <div class="title"><span class="important">「投稿型」の広告が掲載可能</span></div>
        <div class="flex center">
          <div class="video2">
            <video src="{{ MEDIA_URL }}others\広告の表示イメージ動画.mp4" playsinline loop muted autoplay width="280px"></video>
          </div>
          <div class="sentence">
            <div class="tag">通常の投稿リストに挿入される投稿型</div>
            <div class="tag">
              様々な情報を添付可能
              <ul class="list">
                <li>最大２分の動画か最大31枚の画像</li>
                <li>タイトル</li>
                <li>キャプション</li>
                <li>ハッシュタグ</li>
                <li>ランディングページのURL</li>
                <li>プロフィール画像</li>
                <div style="margin-top: 8px;">※通常の投稿と同じ</div>
              </ul>
            </div>
            <div class="tag">投稿下部のボタンをタップすることで設定したランディングページに移動</div>
            <div class="tag">投稿：広告＝４：１の割合で表示</div>
          </div>
        </div>
      </div>

      <!-- <div class="feature block">
        <div class="title"><span class="important">アダルトサイトならではのユーザーデモグラフィック情報</span>をもとに<br>ターゲティングが可能</div>
        <div class="content">
          <img src="{{ MEDIA_URL }}others/ターゲティング.png" alt="" class="target">
        </div>
        <div style="margin-top: 48px;">
          <p>Viewyではユーザーのアクションや強制アンケートからユーザーの属性やデモグラフィック情報を常に収集し蓄積していきます。</p>
          <p>これらのデータをもとに高い精度でお望みのユーザー層に広告を表示することができます。</p>
          <p>ユーザーを振り分ける項目にはアダルトサイトならでは項目が多く、通常の広告のターゲティングでは不可能な、ニッチな領域にまでユーザーを絞ることができます。</p>
        </div>
      </div> -->

      <div class="feature block">
        <div class="title">広告主様専用のページで<span class="important">リアルタイムに成績が確認可能</span></div>
        <div class="content flex">
          <div class="item">
            <div class="icon">
              <img src="{{ MEDIA_URL }}others/date_window_simple.png" alt="">
            </div>
            <div class="words">PV数、クリック数等を確認</div>
          </div>
          <div class="item">
            <div class="icon">
              <img src="{{ MEDIA_URL }}others/creative_simple.png" alt="">
            </div>
            <div class="words">新しい広告の追加</div>
          </div>
          <div class="item">
            <div class="icon">
              <img src="{{ MEDIA_URL }}others/deskwork_date_woman_simple.png" alt="">
            </div>
            <div class="words">広告の停止、削除</div>
          </div>
        </div>
        <div class="cercle-img"></div>
      </div>

    </div>

    <div class="favor" id="favor">
      <div class="title">お伝えしたいこと</div>
      <hr>
      <div class="sentence">
        <div class="highlight">Viewyは10月1日にリリースしました。</div>
      </div>
      <div class="main-favor">
        <p>そして現在、</p>
        <div class="demand block">Viewyに広告を掲載してくださる企業様を募集しております。</div>
        <p>現状リリース直後であることをご理解していただいたうえで、</p>
        <p><span class="demand">12月31日</span>までに広告の掲載を開始してくださった企業様には、</p>
        <div class="gift block">検索画面への掲示</div>
        <div class="gift block">「スペシャルサポーター」の称号贈呈</div>
        <div class="gift block" style="font-size: 32px;">広告費の永久１割引き</div>
        <p>をお約束させていただきます。</p>
        <div class="flex gift-image-container block">
          <div class="gift-image">
            <div style="margin-bottom: 8px;">検索画面掲載イメージ</div>
            <img src="{{ MEDIA_URL }}others/検索画面への掲示.png" alt="">
          </div>
          <div class="gift-image">
            <div style="margin-bottom: 8px;">スペシャルサポーターの称号表示イメージ</div>
            <img src="{{ MEDIA_URL }}others/notss.png" alt="">
            <div>↓</div>
            <img src="{{ MEDIA_URL }}others/ss.png" alt="">
          </div>
        </div>

      </div>
      
      <div class="guide block">
        <p>ご興味をお持ちいただけましたら、お手数ですが、</p>
        <p>下のボタンから<span class="underline">広告掲載に向けた打ち合わせの方法、及び日時の設定</span>にお進みください</p>
        <p>zoom、メール、チャット（DM）にて対応させていただいております。</p>

        <a href="{% url 'set_meeting'%}" class="set-meeting">打ち合わせ設定</a>

        <p>詳細につきましてもメールにてご気軽にお尋ねください。</p>

      </div>

    </div>

    <div class="detail" id="detail">
      <div class="title">詳細</div>
      <hr>

      <div class="part">
        <div class="title">料金体型 及び 料金について</div>
        <p style="margin-top: 16px;">料金体型は、広告ごとに<strong>「CPM方式」</strong>または<strong>「CPC方式」</strong>からお選びいただけます。</p>
        <div>・CPM方式＝1,000回表示するごとに料金が発生する方式</div>
        <div>・CPC方式＝クリックされる度に料金が発生する方式</div>
        <div>※CPM方式の場合は100,000回表示から、CPC方式場合は1,000クリックからのご案内となります。</div>
        <p>料金は設定する目標表示回数及び目標クリック数に応じて変動します。</p>
        <p>12月31日までに広告掲載を開始し、永久１割引きの特典を獲得した企業様は、<br>
        <strong>スぺシャルサポーター料金</strong>でのご案内となります。</p>

        <!-- <div class="mini-plan plan">
          <div class="plan-title">表示回数200,000回未満/クリック数2,000回未満の目標設定の場合</div>
          <div class="fees">
            <div class="cpm">CPM = 450円</div>
            <div class="cpc">CPC = 54円</div>
          </div>
        </div>

        <div class="main-plan plan">
          <div class="plan-title">表示回数200,000回以上/クリック数2,000回以上の目標設定の場合</div>
          <div class="fees">
            <div class="cpm">CPM = <span class="price">360</span>円</div>
            <div class="cpc">CPC = <span class="price">45</span>円</div>
          </div>
        </div>

        <div class="try-plan plan">
          <div class="plan-title">初回限定 お試し100,000回表示目標の場合</div>
          <div class="fees">
            <div class="cpm">CPM = <span class="price">360</span>円</div>
          </div>
        </div> -->



        <!-- 最初の料金表 -->
        <div class="grid-container">
          <div class="cpc">CPC方式</div>
          <div class="grid-header">2,000クリック以上</div>
          <div class="grid-header">2,000クリック未満</div>

          <div class="line-header">通常料金</div>
          <div class="grid-item">50円</div>
          <div class="grid-item">60円</div>

          <div class="line-header special-price-header">スペシャルサポーター料金</div>
          <div class="grid-item special-price">45円</div>
          <div class="grid-item special-price">54円</div>
        </div>

        <!-- 2番目の料金表 -->
        <div class="grid-container large">
          <div class="cpm">CPM方式</div>
          <div class="grid-header try-header">初回限定 お試し100,000回表示</div>
          <div class="grid-header">200,000回表示以上</div>
          <div class="grid-header">200,000回表示未満</div>

          <div class="line-header">通常料金</div>
          <div class="grid-item try-price1">400円</div>
          <div class="grid-item">400円</div>
          <div class="grid-item">500円</div>

          <div class="line-header special-price-header">スペシャルサポーター料金</div>
          <div class="grid-item special-price try-price2" style="font-size: 28px;">360円</div>
          <div class="grid-item special-price">360円</div>
          <div class="grid-item special-price">450円</div>
        </div>


        <p>表示数の契約は、「保証」という形になりますので、仮に一か月以内に表示が完了しなかったとしても、残りの表示回数分は次の月に繰り越しとなります。</p>
        <p>まずはお試し100,000回表示（合計料金36,000円）から始めてみませんか？</p>
      </div>

      <div class="part">
        <div class="title">広告の追加について</div>
        <p>一度広告主様用の専用アカウントを作成すれば、<strong>以降は任意のタイミングで広告を追加できます。</strong></p>
      </div>

      <div class="part">
        <div class="title">掲載可能なメディアの詳細</div>
        <div class="flex">
          <div>
            <div class="patern">動画の場合</div>
            <ul>
              <li>最大２分
              </li>
              <li>最大200MB</li>
              <li>最大720px</li>
            </ul>
          </div>
          <div>
            <div class="patern">画像の場合</div>
            <ul>
              <li>最大31ページ</li>
              <li>最大5MB</li>
              <li>最大1080px</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="part">
        <div class="title">広告の表示頻度について</div>
        <p>広告は、投稿：広告＝４：１の割合で表示されます。</p>
        <p>広告表示枠内では、基本的に企業様単位で均等な確率で表示されます。</p>
        <p>しかし、企業様の母数が少ない場合には、最大でも広告数全体の４回に１回までの表示になるよう設定しております。（初期段階で同一企業様の広告ばかりが表示されるのを防ぎます。）</p>
        <p>※もしこの４回に１回という上限の解放をご希望される場合はご相談ください。</p>
      </div>

      <div class="part">
        <div class="title">【ご参考までに】サービス開始初月の試験的運用の成績</div>
        <p>10月中は<strong>アフィリエイト広告を用いて</strong>広告効果を測定しました。以下はその結果です</p>
        <ul class="result-list">
          <li>クリック率(CTR)＝<strong>0.8%</strong></li>
          <li>クリック数当たりの購入率＝<strong>2.5%</strong></li>
        </ul>
        <p>これらの数値は掲載される広告に大きく依存します。<br>あくまでサービス開始初月にアフィリエイト広告を掲載した結果としてご参考にしてください。</p>
      </div>

      <div class="part">
        <div class="title">サイトの治安管理、監視体制について</div>
        <p>Viewyのパートナー（投稿者）になるには、<br><strong>「修正済みの作品のみを受け付けている各種ファンサイト」</strong><br>での活動が必須となります。</p>
        <p>これにより、投稿者を<br><strong>「修正技術があり、かつ自身に著作権がある修正済みの作品を投稿する方」</strong><br>に絞ること可能にしています。</p>
        <p>これに加え、<ul><li>目視による厳重な監視</li><li>ユーザーからの通報機能</li></ul>により、サイト内の秩序を保っております。</p>
      </div>

      <div class="part">
        <div class="title">風営法の届出について（映像送信型性風俗特殊営業）</div>
        <p>Viewyは完全無料で利用可能なサイトであり、動画の有料販売は現状行っておりません。</p>
        <p>しかし、広告出稿を行う場合には営業と見なされるため、映像送信型性風俗特殊営業の届出をしております。</p>
        <div class="police">映像送信型性風俗特殊営業届済 番号：中京2-8-1-23号</div>
      </div>

      <div class="part">
        <div class="title">今後の目標</div>
        <p>Viewyの潜在顧客が約1000万人であるという前提の上で、<br>2024年以内にはその5％である利用者数（会員数）50万人を達成し、<br>2024年12月の月間訪問者数は300万人以上になることを目標に設定しています。</p>
        <p>最終的には会員数1000万人を達成し、ユーザーの方々に継続して快適にご利用いただけるようなサービスであり続けるために改善と挑戦を重ねてまいります。</p>
      </div>

      <div class="part">
        <div class="title">利用規約等</div>
        <p>以下のリンクからViewyの規約関連をご確認いただけます。</p>
        <ul>
          <li><a href="{% url 'terms'%}">利用規約</a></li>
          <li><a href="{% url 'policy'%}">プライバシーポリシー</a></li>
          <li><a href="{% url 'guideline'%}">投稿ガイドライン</a></li>
        </ul>
      </div>

      <div class="part">
        <div class="title">運営会社</div>
        <ul>
          <li>会社名：合同会社Front&Front</li>
          <li>事業内容：ウェブサイト制作・運営</li>
          <li>代表者：中村勇真</li>
          <li>資本金：20万円</li>
          <li>本社：京都府京都市中京区西ノ京御輿岡町15-23 SUGIMOTO APART 301</li>
          <li>Email：info@front-front.com</li>
          <li>ホームページ：<a href="http://www.front-front.com/">合同会社Front&Front</a></li>
        </ul>
      </div>

    </div>

    <div class="summary" id="summary">
      <div class="title">広告掲載開始までの手順</div>
      <hr>

      <div class="step-container">
        <div class="step aqua block">当ページのフォームから打ち合わせ方法、日時を決定</div>
        <div class="arrow block">↓</div>
        <div class="step aqua block">打ち合わせ</div>
        <div class="arrow block">↓</div>
        <div class="step block">契約</div>
        <div class="arrow block">↓</div>
        <div class="step block">送信される専用フォームから広告主用のアカウント作成</div>
        <div class="arrow block">↓</div>
        <div class="step block">管理画面にログイン</div>
        <div class="arrow block">↓</div>
        <div class="step aqua block">キャンペーン及び広告を作成、掲載開始</div>
        <div class="arrow block" style="color: gray;">↓</div>
        <div class="step gray block">毎月末に掲載料確定</div>
        <div class="arrow block" style="color: gray;">↓</div>
        <div class="step gray block">翌月20日までに掲載料を支払い</div>
      </div>

      <p class="last-message">Viewyが、アダルト関連の領域で活躍する企業様の魅力を発信できる新たな場としてその選択肢に加わることを願っております。</p>

      <a href="{% url 'set_meeting'%}" class="set-meeting">打ち合わせ設定</a>

    </div>

    <div class="footer">
      <div id="foot-bar">
        <a href="#what-is-viewy">Viewyとは</a>
        <a href="#our-wish">開発した理由</a>
        <a href="#ad-features">広告について</a>
        <a href="#favor">お伝えしたいこと</a>
        <a href="#detail">詳細</a>
        <a href="#summary">最後に</a>
      </div>
      <div class="terms">
        <a href="{% url 'terms'%}">利用規約</a>
        <a href="{% url 'policy'%}">プライバシーポリシー</a>
        <a href="{% url 'guideline'%}">投稿ガイドライン</a>
        <a href="http://front-front.com/"> 運営会社</a>
      </div>
      <div class="company">合同会社Front&Front</div>
    </div>

    <div id="tab-bar">
      <div class="mini-logo">
        <img src="{{ MEDIA_URL }}others/ヘッダー2.png" alt="">
      </div>
      <a href="#what-is-viewy">Viewyとは</a>
      <a href="#our-wish">開発した理由</a>
      <a href="#ad-features">広告について</a>
      <a href="#favor">お伝えしたいこと</a>
      <a href="#detail">詳細</a>
      <a href="#summary">開始手順</a>
      <div class="viewy">
        <a href="{% url 'posts:visitor_postlist'%}">Viewyを体験→</a>
      </div>
    </div>

    <div class="set-meeting-fixed">
      <a href="{% url 'set_meeting'%}" class="set-meeting">打ち合わせ設定</a>
    </div>

  </div>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      // スクロール速度（大きいほど速くなる）
      let speed = 1;

      // list1要素を取得し、左から右にスクロール
      let list1 = document.querySelector('.list1');
      let scrollAmount1 = 0;
      setInterval(function () {
        scrollAmount1 += speed;
        list1.scrollLeft = scrollAmount1;
      }, 30);

      // list2要素を取得し、左から右にスクロール（見た目は逆方向）
      let list2 = document.querySelector('.list2');
      let scrollAmount2 = 0;
      setInterval(function () {
        scrollAmount2 += speed;
        list2.scrollLeft = list2.scrollWidth - list2.clientWidth - scrollAmount2;
      }, 30);
    });
  </script>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      var blocks = document.querySelectorAll('.block');

      function checkVisibility() {
        var windowHeight = window.innerHeight;

        blocks.forEach(function (block) {
          var rect = block.getBoundingClientRect();

          // 要素が画面の高さの4/5に来たかどうかをチェック
          if (rect.top <= (windowHeight * 4) / 5 && rect.bottom >= (windowHeight * 3) / 5) {
            block.classList.add('visible');
          }
        });
      }

      window.addEventListener('scroll', checkVisibility);
      window.addEventListener('resize', checkVisibility);

      // ページロード時にもチェック
      checkVisibility();
    });

  </script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script>
    document.querySelectorAll('#tab-bar a, #foot-bar a').forEach(anchor => {
      // .viewy > a は除外
      if (anchor.closest('.viewy')) return;

      anchor.addEventListener('click', function (e) {
        e.preventDefault();

        const targetId = this.getAttribute('href').substring(1); // Remove '#'
        const targetElement = document.getElementById(targetId);

        if (!targetElement) {
          console.error(`Element with id ${targetId} not found!`);
          return;
        }

        const offsetHeight = 40; // これがfoot-barの高さに影響するかもしれません。調整が必要であれば変更してください。
        window.scrollTo({
          top: targetElement.offsetTop - offsetHeight,
          behavior: 'smooth'
        });
      });
    });
  </script>
  <script>
    $(document).ready(function() {
      $(window).scroll(function() {
        if ($(this).scrollTop() > 100) { // 100pxスクロールしたら
          $('.set-meeting-fixed').css({
            'opacity': '1',
            'bottom': '-80px'
          });
        } else {
          $('.set-meeting-fixed').css({
            'opacity': '0',
            'bottom': '-180px'
          });
        }
      });
    });
    </script>
</body>

</html>