<!DOCTYPE html>
{% load static %}
{% load custom_tags %}
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>Viewy</title>
  
  <!-- ツイッターのカード設定 -->
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@Viewy_official" />
  <meta name="twitter:domain" content="www.viewy.net" />
  <meta name="twitter:title" content="Viewy[ビューイー]| 動画とマンガがリール形式で楽しめる スマホ向けウェブサービス" />
  <meta name="twitter:description" content="最大２分の動画と最大３１ページのマンガがリール形式で楽しめるスマホ向けウェブサービスです。" />
  <meta name="twitter:image" content="{{ MEDIA_URL }/others/card_for_ivited.png" />

  <!-- Open Graph設定 -->
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://www.viewy.net" />
  <meta property="og:title" content="Viewy[ビューイー]| 動画とマンガがリール形式で楽しめる スマホ向けウェブサービス" />
  <meta property="og:description" content="最大２分の動画と最大３１ページのマンガがリール形式で楽しめるスマホ向けウェブサービスです。" />
  <meta property="og:image" content="{{ MEDIA_URL }}others/card_for_ivited.png" />
  
  <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
  <link rel="stylesheet" href="{% static 'css/stylebase.css' %}">
  <link rel="stylesheet" href="{% static 'css/styleguide.css' %}">
  <script src="https://kit.fontawesome.com/ad23325601.js" crossorigin="anonymous"></script>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-C5HF2NBPEV"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-C5HF2NBPEV');
  </script>
  {% load static %}

  {% block static %}
  {% endblock %}
</head>

<body>
  <div class="screen">

    <div class="theme">パートナー登録までの流れ</div>

    <img class="art" src="{{ MEDIA_URL }}guide/指さし.png" alt="">

    <div class="main">

      <div class="step">
        <div class="header">
          <div class="step-logo">1</div>
          <div class="title">ユーザー登録</div>
        </div>
        <div class="content">
          <img class="img" src="{{ MEDIA_URL }}guide/ユーザー登録.png" alt="">
          <div class="description"><p>このページの一番下のボタンからユーザー登録に進みます。</p>
          <p>ユーザーネーム、メールアドレス、パスワードを入力してください。</p></div>
        </div>
      </div>

      <div class="step">
        <div class="header">
          <div class="step-logo">2
          </div>
          <div class="title">認証コード入力</div>
        </div>
        <div class="content">
          <img class="img" src="{{ MEDIA_URL }}guide/認証.png" alt="">
          <div class="description">
            <p>入力したメールアドレス宛に５桁の認証コードが届きます。</p>
            <p>（迷惑メールに入っている可能性もあります。届かない場合は確認してみてください。）</p>
            <p>そのコードを入力して認証してください。</p>
          </div>
        </div>
      </div>
      

      <div class="step">
        <div class="header">
          <div class="step-logo">3
          </div>
          <div class="title">DMにユーザーネーム送信【重要】</div>
        </div>
        <div class="content">
          <img class="img" src="{{ MEDIA_URL }}guide/プロフィール.png" alt="">
          <div class="description"><p>ログインが完了したら、<br><span>招待が届いたDMかメールに、自身が作成したアカウントのユーザーネームを送信してください。</span></p>
            <p>２４時間以内にパートナーモードに切り替わります。</p></div>
        </div>
      </div>

      <div class="step">
        <div class="header">
          <div class="step-logo">4
          </div>
          <div class="title">動画やマンガを投稿しよう</div>
        </div>
        <div class="content">
          <img class="img" src="{{ MEDIA_URL }}guide/投稿画面.png" alt="">

          <div class="description">
            <p>切り替わったら、いよいよ投稿ができます！</p>
            <p>素敵な投稿お待ちしております！</p>
          </div>
        </div>
      </div>


      <a class="button" href="{% url 'accounts:invited_regist'%}">パートナー登録へ</a>

    </div>


  </div>



{% block script %}

{% endblock %}

</body>
</html>