<!DOCTYPE html>
{% load static %}
{% load custom_tags %}
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>Viewy</title>
  <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
  <link rel="stylesheet" href="{% static 'css/stylebase.css' %}">
  <link rel="stylesheet" href="{% static 'css/styleconsent.css' %}">
  <script src="https://kit.fontawesome.com/ad23325601.js" crossorigin="anonymous"></script>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-C5HF2NBPEV"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-C5HF2NBPEV');
  </script>
  {% load static %}

  {% block static %}
  {% endblock %}
</head>

<body>
  <div class="screen">
   
    <div class="menu">
      <a href="{% url 'terms'%}">利用規約</a> /
      <a href="{% url 'policy'%}">プライバシーポリシー</a> /
      <a href="{% url 'guideline'%}" style="text-decoration: underline;">投稿ガイドライン</a>
    </div>

    <div class="main-area">
      <div class="title">Viewy[ビューイー] 投稿ガイドライン</div>

      <div class="sub-title">投稿について</div>
      <div class="content">（「利用規約」より抜粋）</div>
      <ul>
        <li>投稿に関しては、ユーザーは自身の責任で所有し、自身が投稿したコンテンツすべてとそれらの結果について単独で責任を負います。さらに、ユーザーの投稿に関して以下のことを確認、表明、および保証するものとします。</li>
        <li>ユーザーは、投稿コンテンツについて、自らが投稿その他送信することについての適法な権利を有していること、および投稿コンテンツが第三者の権利を侵害していないことについて、当社に対し表明し、保証するものとします。</li>
        <li>ユーザーは、特定の個人の名前や肖像が含まれる投稿を使用するために、書面による同意を得ていることを保証します。</li>
        <li>未成年者が出演している投稿をすることや他人に投稿を許可することは禁止されています。これは出演している未成年の許可を得ていたとしても禁止されています。</li>
        <li> ユーザーは、自身の投稿が公開されるかどうかにかかわらず、当サイトは提出物の機密性を保証しないことに同意します。</li>
        <li>ユーザーが投稿コンテンツに対して有する権利は、当該ユーザーに留保されます。</li>
        <li> ユーザーは、当社に対し、投稿コンテンツのうち一般に公開されたものについて、日本を含む全世界において以下の各号に定める態様で利用する再許諾可能な権利を、無償で許諾します。</li>
        <ul>
          <li>投稿を当サイトの利用者に閲覧させるために必要な範囲での利用</li>
          <li>本サービスの宣伝広告目的での利用。※実際に利用する場合は適当な手段によってユーザーに許可を取ります。</li>
        </ul>
        <li>ユーザーは、投稿について、当社および当社から権利を承継しまたは許諾された者に対して著作者人格権を行使せず、また第三者をして行使させないものとします。</li>
        <li>当サイトに投稿ごとに設けられている通報機能を介してなされた通報の件数が、当社が定める基準を上回った場合、当サイトがその投稿の自動的に非表示にすることがあります。</li>
        <li>当社は、理由の有無および如何を問わず、当社の裁量により、事前通知なくしていつでも投稿を削除または投稿へのアクセスを無効化する権利を有します。</li>
      </ul>

      <!-- <div class="sub-title">第三者の出演について（実写の場合）</div>
      <div class="content">
        第三者が投稿に出演する場合、以下の書類を投稿と一緒に提出していただく必要があります
        <ul>
          <li>書面による同意</li>
          <li>未成年でないことがわかる本人確認書類</li>
          <div class="item">年齢確認書類として有効なもの ※顔写真付きの書類が必要です</div>
          <ul>
            <li>運転免許証</li>
            <li>日本国発行のパスポート</li>
            <li>マイナンバーカード（表面のみ、裏面はアップロードを行わないでください）</li>
            <li>在留カードまたは外国人登録証明書（日本国籍ではない方）</li>
            <li>特別永住者証明書</li>
            <li>障害者手帳</li>
            <li>顔写真付き住民基本台帳カード</li>
          </ul>
        </ul>
      </div>
      <div class="content">これらの書類の提出が確認できないにもかかわらず、第三者が出演している投稿が公開されていな場合。当社は投稿したユーザーに書類の提出を求めるか、当社の判断でユーザーに確認を取らずして投稿を非公開、および削除することができるものとします。</div>
      <div class="content">上記年齢確認書類の場合でも、有効期限が経過したものや、画像が加工されているものは無効です。画像が加工されている確認書類の提出が確認された場合、開設をお断りさせていただきます。他人の身分証を登録する、加工した身分証を登録するといった悪質な行為に対しては厳正に対処させていただきます。</div>
      <div class="content">ご提出いただいた年齢確認書類につきましては、利用規約及びプライバシーポリシーに従い厳重に管理いたします。</div> -->

      <div class="sub-title">以下の項目に当てはまる投稿を公開することは禁止されています。</div>
      <div class="content">（「利用規約」より抜粋）</div>

      <ul>
        <li>法律に違反する行為や他人に違法行為を勧めたり指示したりすること。</li>
        <li>他のユーザーの利用能力に悪影響を与える行為や、人や動物に対する有害、脅迫、虐待、扇動、嫌がらせ、ストーキング、侵略的な行為など。</li>
        <li>18歳未満の実在する児童に関連する情報</li>
        <li>18 歳未満の人物を描いたコンテンツの投稿で、全員が実際に 18 歳以上であることを確認する書面がない場合。</li>
        <li>リベンジポルノ、恐喝、脅迫、拷問、死、暴力、人種的中傷、ヘイトスピーチなどの描写を含むコンテンツの投稿。</li>
        <li>過度にわいせつな表現を含む情報</li>
        <li>児童ポルノ、児童虐待に該当する表現を含む情報</li>
        <li>ディープフェイク技術を使用して特定の個人を不当に描写する、またはそのような偽造コンテンツの作成、共有、配布。</li>
        <li>過虚偽または不正な表示を含むコンテンツの投稿で、ウェブサイトまたは第三者に損害を与える可能性があるもの。</li>
        <li>未承諾または無許可の広告、販促資料、スパム、迷惑メール、チェーンレター、ねずみ講、またはその他の無許可の勧誘を含むコンテンツの投稿。</li>
        <li>著作権で保護された素材や他の知的財産法で保護された素材を投稿することで、所有権や必要な許可やリリースを持っていない場合。</li>
        <li>他人になりすますコンテンツや特定の人物との関係を虚偽記載または不当に伝えるコンテンツの投稿。</li>
        <li>売春、売春の勧誘</li>
        <li>ウェブサイトを使用して性的行為を目的とした対面のミーティングを手配すること。</li>
        <li>チェーンメール等の第三者への情報の拡散を求める情報</li>
      </ul>

      <div class="content">当社は、当サイトで提供するコンテンツが禁止コンテンツ等に該当するおそれがあると判断した場合、投稿者に対し禁止コンテンツ等に該当しないことを証明するための資料の提出を求めることができるものとします。当該資料の提出に要する費用は投稿者の負担とします。当社が指定する期限までに当該資料が提出されない場合は、当社は投稿者に対しコンテンツの公開を中止するように指示し、又は投稿の公開を中止しコンテンツを削除する措置をとることができるものとします。</div>

      <div class="content">※18歳の高校生の場合、「卒業月の月末まで」を18歳未満の期間として扱わせていただきます。</div>
      <div class="content">※年齢詐称等により投稿したユーザー及び、第三者に不利益が生じた場合でも、当社では一切の責任を負いかねますのでご了承ください。</div>

      <div class="sub-title">モザイク処理について</div>
      <div class="content">投稿コンテンツにおいて以下に該当する画像、動画、およびその他の表現等を使用する場合には、該当部分に当サイトが定める方法によるモザイク処理その他の方法で隠蔽処理をしなければなりません。</div>
      <ul>
        <li>性器、性器を連想させる部位</li>
        <li>性器又はアヌス結合部位および挿入部位（異物を含む）</li>
        <li>嘔吐物、糞等の汚物</li>
        <li>生体、死体、動物等を損壊させる状態を詳細、過剰に表現をしているもの</li>
        <li>その他、大多数のユーザーが不愉快と感じる可能性があると当社が判断するもの</li>
      </ul>

      <div class="sub-title">イラスト・３Ｄ作品等の性器への修正</div>
      <div class="item">男性器の修正</div>
      <div class="content">カリ部分を含む男性器に対して太目の「黒塗り」あるいは「白塗り」で複数線の修正、もしくは性器が見えない程度の「モザイク」による修正を実施して下さい。</div>

      <div class="item">女性器の修正</div>
      <div class="content">クリトリス部分を含む女性器に対して太目の「黒塗り」あるいは「白塗り」で複数線の修正、もしくは性器が見えない程度の「モザイク」による修正を実施して下さい。</div>

      <div class="item">動物、ケモノ作品の修正</div>
      <div class="content">性器に対して太目の「黒塗り」あるいは「白塗り」で複数線の修正、もしくは性器が見えない程度の「モザイク」による修正を実施して下さい。</div>

      <div class="sub-title">実写作品の性器への修正※3DCGや画像生成AIによって出力された実写に近い写実的な作品を含みます</div>
      <div class="item">男性器・女性器、挿入に対する修正</div>
      <div class="content">性器全体を完全に見えない状態にするか、「モザイク」または「強目のぼかし」による修正を実施して下さい。</div>

      <div class="sub-title">挿入に対する修正</div>
      <div class="content">「女性器」に対して「男性器」「触手」「道具」などの挿入・接触が行われる箇所に対して太目の「黒塗り」あるいは「白塗り」で複数線の修正、もしくは性器が見えない程度の「モザイク」による修正を実施して下さい。</div>
      <div class="content">「アヌス」に対して「男性器」「異物」などの挿入・接触が行われる箇所に対して太目の「黒塗り」あるいは「白塗り」で複数線の修正、もしくは性器が見えない程度の「モザイク」による修正を実施して下さい。</div>

      <div class="content">上記に該当しない場合でも削除対象となる場合がありますので予めご了承ください。</div>
      <div class="content">個別具体的な事例に関する掲載の可否については回答いたしかねます。</div>

      <div class="sub-title">AV新法に基づいた契約書について</div>
      <div class="content">カップル、夫婦にかかわらず、共演者がいる動画を当プラットフォームに投稿する際には、必ずAV新法に基づく契約書を作成、保管するようにしてください。</div>
      <div class="content">契約書の中に「公表・宣伝箇所」について記載する部分がありますが、そちらに当プラットフォームが該当するような記載がなされていない場合は、投稿する前に必ず共演者に連絡し、承諾を得て当プラットフォームを追加してください。</div>
      <div class="content">現状契約書の提出は必須としておりませんが、疑いがある場合に提示を要請させていただくことがございます。<br>もしその際に提示がなされなかった場合は該当動画、またはそのアカウントの全動画を削除・凍結させていただきます。</div>
    </div>


{% block script %}

{% endblock %}

</body>
</html>