{% extends "base.html" %}
{% load static %}
{% block static %}
<link rel="stylesheet" href="{% static 'css/partner_application_guide.css' %}">
{% endblock %}
{%block content%}
<div class="main">

  <div class="mid-logo">
    <img src="{{ MEDIA_URL }}others/Viewy-full-logo-aqua.png" alt="">
  </div>

  <div class="page-title">Viewyパートナー登録手順</div>

  <div class="warning">パートナーになるためには、<br>各種ファンサイトでの活動が必須となっております。</div>

  <div class="steps-container">

    <div class="step">ファンサイトでの活動が確認できるXのアカウントを用意</div>

    <div class="step">
      <div><a href="https://twitter.com/Viewy_official">ViewyのX公式アカウント</a>をフォロー</div>

      <div class="step-img">
        <img src="{{ MEDIA_URL }}others/official_x.jpg" alt="">
      </div>
    </div>

    <div class="step">
      <div>Viewy公式アカウントのDMにパートナー申請メッセージを送る</div>
      <div class="step-img">
        <img src="{{ MEDIA_URL }}others/dm.jpg" alt="">
      </div>
    </div>

    <div class="step">DMでの指示に従い、申請をする</div>

    <div class="step goal">認証されれば、無事パートナーに登録完了！<br>投稿やプロフィール編集が可能に！</div>
  </div>

  <div class="message">みなさまの素敵な投稿を<br>お待ちしております。</div>

  <div class="tom">
    <img src="{{ MEDIA_URL }}others/水やり.png" alt="">
  </div>


</div>
{% endblock %}