{% extends "base.html" %}
{% load static %}
{% block static %}
<link rel="stylesheet" href="{% static 'css/stylewhite_regist_login.css' %}">
{% endblock %}
{%block content%}
<!-- <div class="mid-logo">V</div> -->
<div class="mid-logo">
  <img src="\media\others\Viewy-full-logo-aqua.png" alt="">
</div>
<div class="sub-title">パスワードを変更</div>
<div class="describe">登録されたメールアドレスを入力してください<br>パスワードを変更できるリンクが送信されます</div>
<form method="post">
  <div class="form">
    {% csrf_token %}
    <div class="email">
      {{ form.email }}
    </div>
    <input class="button" type="submit" value="送信">
  </div>
</form>

<div class="guide">
  ユーザー登録が済んでいるの方は
  <div><a href="{% url 'accounts:user_login'%}">ログイン</a></div>
</div>
{% endblock %}