{% extends "base.html" %}
{% load static %}
{% block static %}
<link rel="stylesheet" href="{% static 'css/stylewhite_regist_login.css' %}">
{% endblock %}
{%block content%}

<div class="guide-title">新しいパスワードを設定</div>

{% if validlink %}
<div class="describe">新しいパスワードを設定してください</div>
<form method="post">
  <div class="form">
    {% csrf_token %}
    <div class="password">
      {{ form.new_password1 }}
    </div>
    <div class="password">
      {{ form.new_password2 }}
    </div>
    <input class="button" type="submit" value="設定">
  </div>
</form>

<div class="guide">
  ユーザー登録が済んでいるの方は
  <div><a href="{% url 'accounts:user_login'%}">ログイン</a></div>
</div>

{% else %}

<div class="sub-title">パスワード変更リンクが無効です<br>リンクの有効期限は5分です<br>再度下のパスワード変更画面から試してください</div>
<div class="guide">
  パスワードをお忘れの場合は
  <div><a href="{% url 'accounts:password_reset'%}">パスワード変更</a></div>
</div>
{% endif %}

{% endblock %}