{% extends "base.html" %}
{% load static %}
{% block static %}
<link rel="stylesheet" href="{% static 'css/stylewhite_regist_login.css' %}">
{% endblock %}
{%block content%}

<div class="mid-logo">
  <img src="{{ MEDIA_URL }}others/Viewy-full-logo-aqua.png" alt="">
</div>

<div class="guide-title">パスワードを変更</div>
<div class="guide-message">登録されたメールアドレスを入力してください。<br>パスワードを変更できるリンクが送信されます。</div>

<form method="post">
  {% csrf_token %}

  <div class="form">
    {% if form.email.errors %}
    <div class="alert alert-error message">
      {{ form.email.errors|safe }}
    </div>
    {% endif %}

    <div class="email">
      {{ form.email }}
    </div>
    <input class="button" type="submit" value="送信">
  </div>
</form>

<div class="guide">
  ユーザー登録が済んでいるの方は
  <div><a href="{% url 'accounts:user_login'%}">ログイン</a></div>
</div>
{% endblock %}