{% extends "base.html" %}
{% load static %}
{% block static %}
<link rel="stylesheet" href="{% static 'css/stylewhite_regist_login.css' %}">
{% endblock %}
{%block content%}
<!-- <div class="mid-logo">V</div> -->
<div class="mid-logo">
  <img src="\media\others\Viewy-full-logo-aqua.png" alt="">
</div>
<div class="sub-title">パスワード変更メールを送信しました</div>
<div class="describe">メールに記載されたリンクから新しいパスワードを設定してください</div>
<div class="describe">リンクの有効期限は5分です</div>
<div class="describe">メールが届かない場合は、迷惑メールフォルダを確認するか、再度パスワードリセットをお試しください</div>

<div class="guide">
  ユーザー登録が済んでいるの方は
  <div><a href="{% url 'accounts:user_login'%}">ログイン</a></div>
</div>
{% endblock %}