<!DOCTYPE html>
{% load static %}
{% load custom_tags %}
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>Viewy</title>
  <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
  <link rel="stylesheet" href="{% static 'css/stylebase.css' %}">
  <link rel="stylesheet" href="{% static 'css/styleconsent.css' %}">
  <script src="https://kit.fontawesome.com/ad23325601.js" crossorigin="anonymous"></script>
  {% load static %}

  {% block static %}
  {% endblock %}
</head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-C5HF2NBPEV"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-C5HF2NBPEV');
</script>
<body>
<div class="screen">
  
  <div class="menu">
    <a href="{% url 'terms'%}">利用規約</a> /
    <a href="{% url 'policy'%}" style="text-decoration: underline;">プライバシーポリシー</a> /
    <a href="{% url 'guideline'%}">投稿ガイドライン</a>
  </div>

  <div class="main-area">
    <div class="title">Viewy[ビューイー] プライバシーポリシー</div>
        <div class="sub-title">ユーザーから提供される情報</div>
        <ul>
          <li>未登録ユーザー(ビジター)</li>
          <ul>
            <li>未登録ユーザーは登録せずに写真やビデオを閲覧できます。 収集および処理されるデータはすべて匿名化されます。 ウェブサイトが機能するために必要な必須情報のみが収集および処理されます。</li>
          </ul>
          <li>登録済みユーザー(ベーシック、パートナー)</li>
          <ul>
            <li>ユーザー名、メールアドレス、パスワード、性別、生年月日(該当する場合)などのユーザー登録情報を当社に提供します</li>
          </ul>
          <li>投稿コンテンツ</li>
          <ul>
            <li>あなたが自発的にオンラインで公開した個人情報やコンテンツ(どこで、誰によって作成されたかなどの関連メタデータを含む)は公開されます。</li>
            <li>こうした情報は他のユーザーによって読み取られ、収集、使用、開示される可能性がありますが、当社は、ユーザーの投稿に誰がアクセスするか、またはユーザーが自発的に投稿または送信した情報に対して他のユーザーが何を行うかを制御することはできません。
            </li>
          </ul>
          <li>Web ブラウザの情報</li>
          <ul>
            <li>Web リクエスト、IP アドレス、ブラウザの種類、ブラウザの言語、参照 URL、プラットフォームの種類、ドメイン名、日付と時刻など、Web ブラウザが送信する特定の情報が当社のサーバーによって自動的に記録されます。</li>
          </ul>
          <li>ユーザーの身元または年齢の証明</li>
          <ul>
            <li>ユーザーがパートナーに加入するにあたり、本プラットフォームの利用年齢に達していることを確認するため、または確認が求められるその他の状況において、ユーザーに身元または年齢の証明の提示を求める場合があります。</li>
          </ul>
          <li>当社へ連絡する際に送られた情報</li>
          <ul>
            <li>ユーザーがサポートまたはフィードバックのために当社に連絡する場合を含め、ユーザーが当社に送信する連絡に記載された情報。</li>
          </ul>
          <li>当社は、ユーザーのデータを使用して、直接的または間接的にユーザーを特定せず、ユーザーとは関係のない集約された洞察を作成および共有する場合があります。 このような集合情報は個人情報ではありません。</li>
          <li>当社の Web サイトは、18 歳未満、または Web サイトにアクセスする管轄区域で該当する成人年齢未満の人 (「未成年者」) を対象としたものではなく、未成年者が Web サイトを使用することは禁止されています。 当社は未成年者から故意に個人情報を収集しません。
          </li>
        </ul>
  
        <div class="sub-title">自動的に収集される情報</div>
        <ul>
          <li>利用情報</li>
          <ul>
            <li>ユーザーに表示されたコンテンツや広告、ユーザーの行動、検索履歴、いいねした投稿、フォローしたアカウント、利用時間帯、滞在時間等の情報を収集します</li>
          </ul>
          <li>推測情報</li>
          <ul>
            <li>当社は、コンテンツをパーソナライズするために、ユーザーの関心、性別、および年齢層などのユーザーの好みや属性を推測します。</li>
          </ul>
          <li>クッキー</li>
          <ul>
            <li>当社、ならびに当社のサービスプロバイダおよびビジネスパートナーは、クッキーおよびその他の類似技術(ウェブビーコン、フラッシュクッキーなど)(総称して「クッキー」)を利用します。その目的は、自動的に情報を収集し、ユーザーがどのように本プラットフォームを利用するか(ユーザーが最も頻繁に閲覧するページやコンテンツに対するユーザーの行動を含みます)を測定·分析すること、本プラットフォームを利用するユーザーのエクスペリエンスを向上すること、本プラットフォームを改善すること、ユーザーに広告を表示すること、および広告やその他のコンテンツの効果測定を行うことです。また、当社および当社のパートナーは、他のプラットフォームやウェブサイト上で、本プラットフォームをプロモーションするためにもクッキーを使用します。クッキーにより、本プラットフォームは一定の機能を提供することが可能となります。ウェブビーコンは、「pixelタグ」または「クリアGIF」とも呼ばれる、非常に小さな画像または画像に埋め込まれた小さなデータであり、クッキー、ページの閲覧日時、pixelタグが配置されたページの説明、およびユーザーのコンピューターまたはデバイスからの類似の情報を認識することができます。特定のクッキーを無効にする方法については、以下の「ユーザーの権利と選択」のセクションをご覧ください。</li>
          </ul>
        </ul>
  
  
        <div class="sub-title">利用目的</div>
        <ul>
          <li>当社サービスの提供のため</li>
          <li>ユーザーに表示されるコンテンツや広告をパーソナライズ化するため</li>
          <li>ユーザーの年齢、性別、関心等を推測するため</li>
          <li>広告、宣伝、マーケティングのため</li>
          <li>ユーザーの当サイト上での有害活動、スパム等を検出して対処するため</li>
          <li>注目されているコンテンツの属性や条件を特定、推奨するため</li>
          <li>当社の正当な利益のために広告、マーケティング、分析をカスタマイズするため</li>
          <li>よりよい機能性とセキュリティ実現のため</li>
          <li>お問い合わせ等に適切に対応するため</li>
        </ul>
  
  
        <div class="sub-title">個人情報の共有方法</div>
        <ul>
          <li>広告主や、リサーチャー</li>
          <ul>
            <li>当社は、本プラットフォームのどのユーザーが何人、広告を閲覧またはクリックしたかを知るために、広告主および第三者測定業者と情報を共有します。</li>
          </ul>
          <li>独立したリサーチャー</li>
          <ul>
            <li>当社は、一定の基準を満たすリサーチを促進するため、独立したリサーチャーとユーザーの情報を共有します。</li>
          </ul>
          <li>法的な理由による共有</li>
          <ul>
            <li>当社は、法的に要求される場合、または以下の目的のために合理的に必要な場合、法執行機関、公的機関またはその他の機関とユーザーの情報を共有します。</li>
            <ul>
              <li>法的義務、手続き、または要請を遵守するため。</li>
              <li>当社のサービス規約、ならびにその他の契約、ポリシー、および基準を執行するため(これらの潜在的違反の調査を含みます)。</li>
              <li>セキュリティ上の問題、詐欺的行為、または技術的な問題の発見、防止またはその他の方法による対処のため。</li>
              <li>法により要求または認められた、当社、当社のユーザー、第三者または一般の人々の権利、財産または安全を保護するため(詐欺的行為の防止およびクレジットリスクの軽減を目的とした他の企業や組織との情報交換を含みます)。</li>
            </ul>
          </ul>
          <li>企業買収·合併またはその他の事業取引</li>
          <ul>
            <li>当社は、継続企業として、または当社の資産の一部として、合併、買収、売却または譲渡が行われた場合(清算、破産等による場合も含みます)に、当社が収集した個人情報のすべてのカテゴリーを買い手またはその他の後継者に開示することがあります。</li>
          </ul>
        </ul>
  
  
        <div class="sub-title">ユーザーの権利</div>
        <ul>
          <li>ユーザーはユーザー自身の情報にアクセスして削除、更新、または訂正する権利、ユーザーのデータの処理に関する情報提供を受ける権利、当局への苦情を申し立てる権利およびその他の権利を含む一定の権利が認められる場合があります。下記リンクからいつでも情報の修正、削除ができます</li>
          <li>ユーザーは自身が投稿したコンテンツをいつでも編集、削除することができます</li>
          <li>ユーザーが希望する場合、ユーザーは設定画面で自身のアカウントを完全に削除することができます。</li>
          <li>ユーザーは個人データの取り扱いに関し、当社の管理者または監督機関に不服を申し立てることができます。ユーザーは前項各号の権利を自由に行使することができ、当社はユーザーによる権利の行使を理由として商品またはサービスの提供を拒否することはありません。これらの権利について問い合わせるまたは権利の行使を希望される場合、当社にご連絡ください。なお、ユーザーの権利は絶対的なものではなく、適用法令において認められる根拠がある場合には、ユーザーからの請求にお応えしかねることがございますので、あらかじめご了承ください。</li>
          <li>ユーザーは、お使いのデバイスのブラウザ設定を変更することにより、クッキーを拒否または無効化することができます。ただし、クッキーを拒否、無効化、または削除することを選択した場合、ユーザーは本プラットフォームの機能を一部利用できなくなることがあります。</li>
        </ul>
  
  
        <div class="sub-title">セキュリティ</div>
        <ul>
          <li>当社は、ユーザーの個人データを保護するため、適切な組織的・技術的なセキュリティ手段を講じ、個人データの紛失、盗難、改ざんおよび漏洩などの事故の発生を防止するとともに、万一の事故等の発生時には速やかな是正措置を実施します。また、個人データへのアクセス権限を、当該データにアクセスする必要のある従業員、代理人、受託業者、その他の第三者に限定して付与します。それらの者は、雇用契約または(データ処理)契約に基づき、秘密保持義務を負います。</li>
          <li>当社は、適切な個人情報の取り扱いと運用に関する具体的ルールを定め、その管理に関する責任者を設けるとともに、役員、社員、アルバイト等に対する教育を徹底します。適用プライバシー法令に基づき必要な場合、当社は関係する監督当局およびデータ主体に通知を行います。</li>
          <li>当社サービスの利用規約違反、当社サービスの運用への支障その他当社サービスの管理・運営上必要があると当社が認めた場合、当社はユーザーの個人情報を、ユーザーへの事前の通知またはユーザーの同意なく削除することがありますので、あらかじめご了承ください。</li>
        </ul>
  
  
  
        <div class="sub-title">個人情報の保管</div>
        <ul>
          <li>当サイトはユーザーのアカウントが有効である限り情報を保持します。また契約上および法律上の義務を遵守するために必要な場合、正当なビジネス上の利益がある場合(本プラットフォームの改善および開発、ならびにその安全性、セキュリティおよび安定性の向上など)、ならびに訴訟に関する遂行または防御のためにも、情報を保持します。</li>
          <li>ユーザーが当社のサービス規約、コミュニティガイドライン、またはその他の条件やポリシーに違反した場合、当社はユーザーのプロフィールおよびユーザーコンテンツを直ちに一般公開から削除することができますが、違反を処理するためにユーザーに関するその他の情報を保有する場合があります。</li>
          <li>このプライバシー ポリシーに定められた目的のためにユーザーの個人情報を処理する必要がなくなった場合、当社はユーザーの個人情報を当社のシステムから削除します。</li>
          <li>可能な場合、上記の「ユーザーの権利」セクションで説明したように、当社はユーザーの要求に応じてユーザーの個人情報も削除します。</li>
        </ul>
  
  
        <div class="sub-title">当社のプライバシーポリシーの変更</div>
        <ul>
          <li>当社は、プライバシーポリシーを随時変更または改訂する場合があります。 当社のプライバシーポリシーに変更を加えた場合、その変更日が「最終更新日」に反映されます。 当社は、法律の要求に応じて、重大な変更についてユーザーに通知するよう努める場合があります。 また、この場所に掲載される当社のプライバシー ポリシーの最新版を定期的に確認して、変更があった場合に注意してください。</li>
        </ul>
      </div>

  </div>
</div>


{% block script %}

{% endblock %}

</body>
</html>