{% extends 'base.html' %}
{% load static %}
{% block static %}
<link rel="stylesheet" href="{% static 'css/stylewhite_regist_login.css' %}">
<!-- ツイッターのカード設定 -->
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@Viewy_official" />
<meta name="twitter:domain" content="www.viewy.net" />
<meta name="twitter:title" content="Viewy[ビューイー]| 動画とマンガがリール形式で楽しめる スマホ向けウェブサービス" />
<meta name="twitter:description" content="最大２分の動画と最大３１ページのマンガがリール形式で楽しめるスマホ向けウェブサービスです。" />
<meta name="twitter:image" content="{{ MEDIA_URL }}others/card_long_logo.png" />

<!-- Open Graph設定 -->
<meta property="og:type" content="website" />
<meta property="og:url" content="https://www.viewy.net" />
<meta property="og:title" content="Viewy[ビューイー]| 動画とマンガがリール形式で楽しめる スマホ向けウェブサービス" />
<meta property="og:description" content="最大２分の動画と最大３１ページのマンガがリール形式で楽しめるスマホ向けウェブサービスです。" />
<meta property="og:image" content="{{ MEDIA_URL }}others/card_long_logo.png" />
{% endblock %}
{%block content%}
<!-- <div class="mid-logo">V</div> -->
<div class="mid-logo" >
  <img src="{{ MEDIA_URL }}others/Viewy-full-logo-aqua.png" alt="">
</div>
<div class="sub-title">ユーザー登録</div>
<form method="POST">
  {% csrf_token %}
  <div class="form">
    <div class="email">
      <div class="message alert-error">
        {{ form.email.errors }}
      </div>
      {{ form.email }}
    </div>
    <div class="password">
      <div class="message alert-error">
        {{ form.password.errors }}
      </div>
      {{ form.password }}
    </div>
    <div class="password again">
      <div class="message alert-error">
        {{ form.password_confirm.errors }}
      </div>
      {{ form.password_confirm }}
    </div>

    <div class="regist-consent consent">
      <span>このサイトを利用することにより、<br>あなたは当サイトの<a href="{% url 'terms'%}">利用規約</a>および<a
          href="{% url 'policy'%}">プライバシーポリシー</a>に<br>同意したことになります。</span>
    </div>

    <div class="consent-check">
      <label>
        <input type="checkbox" id="consentCheckbox" />
        内容を全て理解した上で、同意する。
      </label>
    </div>

    <input class="button" type="submit" value="登録" id="submitButton" disabled>
  </div>
</form>


<div class="guide">
  ユーザー登録が済んでいる方は
  <div><a href="{% url 'accounts:user_login'%}">ログイン</a></div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const checkbox = document.getElementById('consentCheckbox');
    const submitButton = document.getElementById('submitButton');
    
    // チェックボックスの状態に応じて、submitButtonのopacityとdisabled属性を変更
    function updateButtonState() {
      if (checkbox.checked) {
        submitButton.style.opacity = '1';
        submitButton.disabled = false;
      } else {
        submitButton.style.opacity = '0.3';
        submitButton.disabled = true;
      }
    }
    
    // ページの読み込みが完了したら、初期状態を設定
    updateButtonState();
    
    // チェックボックスの状態が変更されたら、ボタンの状態を更新
    checkbox.addEventListener('change', updateButtonState);
  });
</script>
{%endblock%}