<!DOCTYPE html>
{% load static %}
{% load custom_tags %}
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>Viewy</title>
  <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
  <link rel="stylesheet" href="{% static 'css/stylebase.css' %}">
  <link rel="stylesheet" href="{% static 'css/styleconsent.css' %}">
  <script src="https://kit.fontawesome.com/ad23325601.js" crossorigin="anonymous"></script>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-C5HF2NBPEV"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-C5HF2NBPEV');
  </script>
  {% load static %}

  {% block static %}
  {% endblock %}
</head>

<body>
<div class="screen">

  <div class="menu">
    <a href="{% url 'terms'%}" style="text-decoration: underline;">利用規約</a> /
    <a href="{% url 'policy'%}">プライバシーポリシー</a> /
    <a href="{% url 'guideline'%}">投稿ガイドライン</a>
  </div>

  <div class="main-area">
    <div class="title">Viewy[ビューイー] 利用規約</div>
        <div class="content">本サービス規約(以下「本規約」)は、ユーザーが本プラットフォーム、合同会社Front&Front（以下「当社」）の関連するウェブサイト、サービス、アプリケーション、製品およびコンテンツ(以下総称して「当サイト」または「本サービス」)にアクセスし、これらを利用されるに際しての契約条件を定めた、ユーザーと当社の間の関係を規律する契約となるものです。本規約において「ユーザー」とは、当サイトを利用するユーザーを意味します。
          本規約は、ユーザーと当社との間で法的拘束力を持つ合意とみなされます。つきましては、本規約を必ずお読みください。</div>

          <div class="sub-title">定義</div>
          <div class="discription">本規約において使用する用語の定義は、以下の各号に定めるとおりとします。</div>
          <ul>
            <li>「コンテンツ」とは、文章、音声、音楽、画像、動画、ソフトウェア、プログラム、コードその他の情報をいいます。</li>
            <li>「ビジター」とは無料アカウントをつくらずして当サイトを利用しているユーザーのことを指します。</li>
            <li>「ベーシックユーザー」とは無料アカウントを作成して利用しているユーザーのことを指します。</li>
            <li>「パートナー」とは、当社が定める手順を追って登録された、投稿を許可されたユーザーのことを指します。</li>
          </ul>

          <div class="sub-title">規約への同意</div>
          <ul>
            <li>ユーザーは本規約の定めに従って当サイトを利用しなければなりません。本規約に同意できないユーザーは当サイトを利用してはいけません。当サイトを利用することにより、ユーザーは本規約と当社のプライバシー·ポリシーに同意したものとします。</li>
            <li>ユーザーが当サイトを利用するには、ユーザーが１８歳以上であることが条件になります。
              １８歳未満の者は当サイトの利用を禁じます。当社はページ冒頭のアンケート以外にもユーザーが１８歳以上であることを判断するための情報を収集し続けます。その結果、必要に応じてユーザーに年齢証明の提出を要求することがあります。その要求に応じないユーザーは当サイトを利用してはいけません。</li>
          </ul>

          <div class="sub-title">規約の変更</div>
          <ul>
            <li>当社は、当社が必要と判断する場合、本規約の全部または一部を変更することができるものとします。その場合、当社は、変更後の本規約の内容および効力発生日を、当サイト上での掲示その他の適切な方法によりに表示し、または当社が定める方法によりユーザーに通知することで周知します。ただし、法令上ユーザーの同意が必要となるような内容の変更の場合は、当社所定の方法で登録ユーザーの同意を得るものとします。</li>
            <li>本規約の変更後に本サービスを利用した場合、ユーザーは変更後の本規約に同意したものとみなされます。</li>
          </ul>

          <div class="sub-title">当サイトについて</div>
          <ul>
            <li>当サイトでは成人向けコンテンツの閲覧、投稿が可能です。</li>
            <li>ビジター及びベーシックユーザーは閲覧のみが可能です。</li>
            <li>コンテンツの投稿は当社が定める手順を追ってパートナーとして登録されたユーザーのみが可能です。</li>
            <li>当社は、本サービスの全部または一部を、年齢、本人確認の有無、アカウント登録の有無、その他、当社が必要と判断する条件を満たしたユーザーに限定して提供することができます</li>
            <li>当社は、当社が必要と判断する場合、あらかじめユーザーに通知することなく、いつでも、当サイトの全部または一部の内容を変更することができます。</li>
            <li>当社は、以下のいずれかに該当する場合、あらかじめユーザーに通知することなく、当サイトの全部または一部の提供を停止または中断することができます。</li>
            <ul>
              <li>当サイトに係るシステムの点検または保守作業を行う場合</li>
              <li>コンピューター、通信回線等の障害、誤操作、過度なアクセスの集中、不正アクセス、ハッキング等により当サイトの運営ができなくなった場合</li>
              <li>地震、落雷、火災、風水害、停電、天災地変などの不可抗力により当サイトの運営ができなくなった場合</li>
              <li>ユーザーまたは第三者の安全を確保する場合または公共の利益のために緊急を要する場合</li>
              <li>前各号に定めるもののほか、当社が必要と合理的に判断した場合</li>
            </ul>

            <li>当社は、当社の都合により、あらかじめユーザーに通知をしたうえで、本サービスの提供を終了することができます。</li>
            <li>第5項から第7項に基づく当社の行為によりユーザーに損害または不利益が生じた場合でも、当社はかかる損害または不利益につき責任を負いません。</li>
          </ul>

          <div class="sub-title">アカウント作成</div>
          <ul>
            <li>当サイトでは、ベーシックユーザーとしてアカウントを作成することで、いいね、フォローをはじめとした機能や、特定のコンテンツを利用することができます。</li>
            <li>アカウント作成を希望する方は、当社が定める方法に従ってアカウント作成の申し込みを行い、本規約に同意する必要があります。申し込み時には、以下の情報を提供する必要があります。これを「登録情報」と呼びます。</li>
            <li>ユーザーは、申し込みの際に、真実かつ正確な最新の情報を登録情報として提供するものとします。</li>
            <li>アカウント作成の申し込みが承諾されるのは、当社が申し込みを承諾した時点です。</li>
            <li>当社は、以下のいずれかの理由に該当する場合、事前の通知や理由の開示なしで申し込みを承諾しないことがあります。</li>
            <ul>
              <li>申し込みが正式な方法に則らず行われた場合</li>
              <li>虚偽、不実、または誤解を招く情報で申し込みが行われた場合</li>
              <li>すでに登録ユーザーである者と同一の者である場合（パートナーが作品によってアカウントを使い分ける場合を除く）</li>
              <li>18 歳未満である場合</li>
              <li>ユーザー自身または主要出資者や役員が反社会的勢力と関わりがある場合、過去または現在反社会的勢力と関わりがある場合</li>
              <li>その他、当社が不適切と判断した場合</li>
            </ul>

            <li>当社が申し込みを承諾しなかった場合、その理由を開示したり説明したりする義務はありません。また、申し込み者に生じた損害についても責任を負いません。</li>
            <li>これらはパートナーとして登録する際も同様です。</li>
          </ul>

          <div class="sub-title">アカウントの管理</div>
          <ul>
            <li>登録ユーザーは、登録情報に変更があった場合、遅滞なく、当社の定める方法により当該変更事項を当社に通知するものとします。登録ユーザーが登録情報の変更を通知していない場合又は遅滞した場合、これによりユーザー又は第三者に生じた一切の損害（通常損害、特別損害、直接損害、間接損害、逸失利益等）について当社は何ら責任を負わないものとします。</li>
            <li>登録ユーザーは、自己の責任と負担において、自己のアカウントに関するメールアドレスおよびパスワード(以下「ログイン情報」といいます)を適切に管理するものとします。当社は、登録されたログイン情報を利用して行われた一切の行為を、登録ユーザーご本人によるものとみなすことができ、その効果は当該登録ユーザーに帰属するものとします。ログイン情報の管理不十分、使用上の過誤、第三者の使用等によって生じた損害に関する責任は登録ユーザーが負うものとします。</li>
            <li>もし第三者がユーザーのパスワードを知っている可能性がある場合や、ユーザーのアカウントへの不正なアクセスが行われたと疑われる場合は、直ちにパスワードの変更を行ってください。</li>
            <li>当サイトのアカウントは、登録ユーザーに一身専属的に帰属し、登録ユーザーの本サービスにおけるすべての権利は、第三者に譲渡、貸与その他の処分または相続させることはできません。</li>
          </ul>

          <div class="sub-title">アカウントの削除</div>
          <ul>
            <li>ユーザーが本サービスの利用を継続しない場合やアカウントを削除したい場合は、いつでも当社が定める手順によって削除することができます</li>
            <li>ユーザーがアカウントを削除すると、当サイトにおける情報やアカウントの利用権を直ちに失います。誤って削除した場合でも、同アカウントの再利用やユーザーが投稿したコンテンツや情報の復旧はできなくなります。</li>
          </ul>

          <div class="sub-title">アカウントの保有</div>
          <ul>
            <li>通常、ユーザーは 1 人につき同種のアカウントを 1 つだけ保有することとされています。ただし、作品や名前の使い分けなど、本サービスでの活動に必要な場合に限り、他の利用規約に違反しない範囲内で複数のアカウントを保有することが認められます。</li>
            <li>ユーザーはいかなる状況でも、アカウントを第三者に譲渡したり貸与したりすることはできません。</li>
          </ul>

          <ul>
            <div class="sub-title">投稿の削除依頼</div>
            <li>当サイトに投稿された動画に対して、共演者、映り込んでいる第三者、または自身の著作物が許可なく使用されている方は、ご不便をおかけしますが、下記リンクより専用の依頼フォームに進んでください。確認後、必要に応じて対応させていただきます。</li>
            <a class="delete_request" href="{% url 'delete_request'%}">投稿の削除依頼フォーム</a>
          </ul>

          <div class="sub-title">知的財産権</div>
          <ul>
            <li>当サイトに含まれる文章、ソフトウェア、画像、音楽、動画、機能、商標、ユーザーの投稿物を除くコンテンツの知的財産権その他の権利は、当社または当社にライセンスを許諾している者に帰属しています</li>
            <li>前項のほか、当サイトに関連する知的財産権その他の権利は、本規約に別段の定めのない限り、当社に帰属しています。</li>
            <li>当サイトのコンテンツは情報提供および個人使用のみを目的として現状のまま提供されており、事前の許可なく、その他の目的で使用、コピー、複製、配布、送信、放送、表示、販売、ライセンス供与、またはその他の目的で悪用することはできません。</li>
            <li>ユーザーは、当サイトを通じて取得した第三者のユーザー提出物の商業目的での使用、コピー、および配布を含め、ここで明示的に許可されている以外のコンテンツの使用、コピー、または配布を行わないことに同意するものとします。</li>
            <li>個人使用のためにコンテンツのコピーをダウンロードまたは印刷する場合、コンテンツに含まれるすべての著作権およびその他の所有権表示を保持する必要があります。</li>
          </ul>

          <div class="sub-title">投稿について</div>
          <ul>
            <li>投稿に関しては、ユーザーは自身の責任で所有し、自身が投稿したコンテンツすべてとそれらの結果について単独で責任を負います。さらに、ユーザーの投稿に関して以下のことを確認、表明、および保証するものとします。</li>
            <li>ユーザーは、投稿コンテンツについて、自らが投稿その他送信することについての適法な権利を有していること、および投稿コンテンツが第三者の権利を侵害していないことについて、当社に対し表明し、保証するものとします。</li>
            <li>ユーザーは、特定の個人の名前や肖像が含まれる投稿を使用するために、書面による同意を得ていることを保証します。</li>
            <li>共演者がいる場合は、AV新法に準拠した契約書をあらかじめ用意していることが必要となります。現状共演者との提出は必須ではありませんが、疑義がある際などに提示を要請します。その際に必要資料の提示がなされない場合はアカウントの凍結となります。また、AV新法に準拠した契約書ではない限り提出いただいたとしても契約書として認めることが出来ません。</li>
            <li>未成年者が出演している投稿をすることや他人に投稿を許可することは禁止されています。これは出演している未成年の許可を得ていたとしても禁止されています。</li>
            <li>ユーザーは、自身の投稿が公開されるかどうかにかかわらず、当サイトは提出物の機密性を保証しないことに同意します。</li>
            <li>ユーザーが投稿コンテンツに対して有する権利は、当該ユーザーに留保されます。</li>
            <li>ユーザーは、当社に対し、投稿コンテンツのうち一般に公開されたものについて、日本を含む全世界において以下の各号に定める態様で利用する再許諾可能な権利を、無償で許諾します。</li>
            <li>投稿を当サイトの利用者に閲覧させるために必要な範囲での利用</li>
            <li>本サービスの宣伝広告目的での利用</li>
            <li>ユーザーは、投稿について、当社および当社から権利を承継しまたは許諾された者に対して著作者人格権を行使せず、また第三者をして行使させないものとします。</li>
            <li>当サイトに投稿ごとに設けられている通報機能を介してなされた通報の件数が、当社が定める基準を上回った場合、当サイトがその投稿の自動的に非表示にすることがあります。</li>
            <li>当社は、理由の有無および如何を問わず、当社の裁量により、事前通知なくしていつでも投稿を削除または投稿へのアクセスを無効化する権利を有します。</li>
            <li>以下に該当する画像、動画、およびその他の表現等を使用する場合には、該当部分に別途当社が求める方法によるモザイク処理その他の方法で隠蔽処理をしなければなりません。詳しくは投稿ガイドラインに掲載しています。</li>
            <ul>
              <li>性器、性器を連想させる部位</li>
              <li>性器又はアヌス結合部位および挿入部位（異物を含む）</li>
              <li>嘔吐物、糞等の汚物</li>
              <li>生体、死体、動物等を損壊させる状態を詳細、過剰に表現をしているもの</li>
              <li>その他、大多数のユーザーが不愉快と感じる可能性があると当社が判断するもの</li>
            </ul>
            <li>当社は、当サイトで公開するコンテンツが禁止コンテンツ等に該当するおそれがあると判断した場合、投稿したユーザーに対し禁止コンテンツ等に該当しないことを証明するための資料の提出を求めることができるものとします。当該資料の提出に要する費用は主催者の負担とします。当社が指定する期限までに当該資料が提出されない場合は、当社は該当する投稿を削除することができるものとします。</li>
            <li>本条の規定に基づく禁止コンテンツ等を含む投稿の削除に伴い、閲覧するユーザー、投稿したユーザー、又は第三者に生じる一切の損害について、当社は何ら責任を負わないものとします。</li>
          </ul>

          <div class="sub-title">広告表示</div>
          <div class="content">当社は、当サイトに当社または第三者の広告を掲載することができます。</div>

          <div class="sub-title">利用環境</div>
          <ul>
            <li>ユーザーは、当サイトを利用するために必要なハードウェア、ソフトウェア、通信手段など
              の整備を自己の責任と負担で行うものとします。</li>
            <li>ユーザーは、自身の利用環境に応じてコンピュータウイルスの感染防止や不正アクセス、情報漏洩などの対策を講じる責任があります。</li>
            <li>当社はユーザーの利用環境に関与せず、それについて責任を負いません。ユーザーが利用した機器、回線、ソフトウェアなどによって生じた損害や責任、またユーザーが本サービスの利用において誤りを犯した場合の責任や損害は、ユーザー自身が負うものとし、当社はユーザーの故意や過失の有無に関わらず、その責任を負いません。</li>
            <li>ユーザーは、第三者が提供するアプリケーション配信サービスを通じて当サイトを利用するためのソフトウェアを取得する場合があります。しかし、当社は配信サービスの性能、内容、継続性について一切保証しません。配信サービスの中止や停止により、ユーザーが当該ソフトウェアを入手できなくなった場合でも、当社はその責任を負いません。</li>
          </ul>

          <div class="sub-title">禁止事項</div>
          <ul>
            <li>本規約に違反する行為</li>
            <li>法令に違反する行為または犯罪行為に関連する行為</li>
            <li>法律に違反する行為や他人に違法行為を勧めたり指示したりすること。</li>
            <li>他のユーザーの利用能力に悪影響を与える行為や、人や動物に対する有害、脅迫、虐待、扇動、嫌がらせ、ストーキング、侵略的な行為など。</li>
            <li>18歳未満の実在する児童に関連する情報</li>
            <li>18 歳未満の人物を描いたコンテンツの投稿で、全員が実際に 18 歳以上であることを確認する書面がない場合。</li>
            <li>未成年者の性行為、同意のない性行為、リベンジポルノ、恐喝、脅迫、拷問、死、暴力、人種的中傷、ヘイトスピーチなどの描写を含むコンテンツの投稿。</li>
            <li>過度にわいせつな表現を含む情報</li>
            <li>児童ポルノ、児童虐待に該当する表現を含む情報</li>
            <li>ディープフェイク技術を使用して特定の個人を不当に描写する、またはそのような偽造コンテンツの作成、共有、配布。</li>
            <li>過虚偽または不正な表示を含むコンテンツの投稿で、ウェブサイトまたは第三者に損害を与える可能性があるもの。</li>
            <li>わいせつ、違法、不法、詐欺的、中傷的、名誉毀損、嫌がらせ、人種的または民族的に攻撃的なコンテンツ、または刑事犯罪や法律違反などを奨励するコンテンツの投稿。</li>
            <li>未承諾または無許可の広告、販促資料、スパム、迷惑メール、チェーンレター、ねずみ講、またはその他の無許可の勧誘を含むコンテンツの投稿。</li>
            <li>懸賞、コンテスト、宝くじ、ギャンブルに関連するコンテンツの投稿。</li>
            <li>著作権で保護された素材や他の知的財産法で保護された素材を投稿することで、所有権や必要な許可やリリースを持っていない場合。</li>
            <li>他人になりすますコンテンツや特定の人物との関係を虚偽記載または不当に伝えるコンテンツの投稿。</li>
            <li>売春、売春の勧誘</li>
            <li>ウェブサイトを使用して性的行為を目的とした対面のミーティングを手配すること。</li>
            <li>チェーンメール等の第三者への情報の拡散を求める情報</li>
            <li>コンピューターソフトウェア、ハードウェア、通信機器の機能を中断、破壊、または制限するように設計されたプログラム、ソフトウェア、またはアプリケーションを展開すること、またはサービス妨害攻撃や同様の行為を行うこと。</li>
            <li>サービス、ネットワーク、サーバー、またはその他のインフラストラクチャに損害を与えたり、運用を妨害したり、不正な方法でアクセスしたりするように設計されたプログラム、ソフトウェア、またはアプリケーションを展開または使用すること。</li>
            <li>ウェブサイトの一部への許可された範囲を超えてアクセスすること。</li>
            <li>デジタル著作権管理テクノロジーや暗号化、セキュリティツールをを削除、変更、回避、バイ
              パスすること。</li>
              <li>ウェブサイト上のあらゆる場所や当社のサービスに関連して使用されているデジタル著作権管理テクノロジーや暗号化、セキュリティツールを削除、変更、回避、バイパスすること。</li>
              <li>ウェブサイト上や当社のサービスに関連する年齢確認プロセス、テクノロジー、セキュリティツールを削除、変更、回避、バイパスすること。</li>
              <li>他人に関する個人データを収集または保存すること。</li>
              <li>許可なく広告を含むウェブサイトやそのコンテンツの一部を変更または修正すること。</li>
              <li>ウェブサイト上で意図的に利用可能でない手段を使用してコンテンツや情報を取得しようとすること、またはその他の方法で取得しようとすること。</li>
              <li>ウェブサイトの設計上のエラーや文書化されていない機能、バグを悪用して、他の方法では得られないアクセス権を取得すること。</li>
              <li>ウェブサイトの適切な動作を妨害したり、他の利用者のウェブサイトの使用能力に影響を与えるような方法でウェブサイトを使用すること。</li>
              <li>当社の事前の書面による同意なしに、ロボット、スパイダー、自動デバイス、プロセス、手段を使用してウェブサイトにアクセスすること(監視やコンテンツのコピーを含む)。</li>
              <li>手動プロセスを使用してウェブサイト上のコンテンツをダウンロード、監視、コピーし、不正な目的で使用すること。</li>
              <li>ウェブサイトから得た情報を使用して広告の表示を妨害したりブロックしたりすること。</li>
              <li>ウェブサイトの機能をショートカットしたり変更したりするデバイス、ボット、スクリプト、ソフトウェア、ルーチンを使用して、ウェブサイトの適切な動作を妨害すること。</li>
              <li>ウェブサイトまたは当社のサービスにウイルス、トロイの木馬、ワーム、ロジックボム、キャンセルボット、破損したファイル、または悪意のあるまたは技術的に有害な、または他人の所有物やシステムの動作に損害を与える可能性のあるその他の同様のソフトウェア、プログラム、またはマテリアルを導入またはアップロードすること。</li>
              <li>ウェブサイトや当社のサービスに接続されているサーバー、コンピュータ、データベースへの不正アクセス、妨害、損傷、混乱を試みること。</li>
              <li>当社ウェブサイトまたはその中のマテリアルから著作権やその他の所有権表示を削除すること。</li>
              
          </ul>

          <div class="sub-title">ユーザーの責任 </div>
          <ul>
            <li>ユーザーは、自己の責任において当サイトを利用するものとし、当サイトの利用に関連する一切の行為およびその結果について責任を負います。</li>
            <li>ユーザー間の取引に関しては、ユーザー同士が直接的な取引関係にあり、当社は契約の当事者ではありません。</li>
            <li>ユーザー間の取引に伴う作業、連絡、法的義務の履行、トラブル対処などは、取引当事者であるユーザー間で行われるものとします。</li>
            <li>ユーザーが当サイトを利用して投稿などの情報を提供する場合、その情報に関する責任は全てユーザー自身に帰属します。当社は、ユーザーが当サイトを利用して提供した情報の内容について責任を負いません。</li>
            <li>ユーザーが本規約に違反したことにより、当社または第三者に損害が生じた場合、ユーザーはその損害を賠償する責任を負います。</li>
            <li>ユーザーと第三者との間で当サイトに関連して紛争が発生した場合、当該ユーザーは自身の責任と費用で解決するものとし、当社はその紛争に関与しません。また、当該ユーザーは、当該紛争に関連して当社に生じた損害（弁護士費用や対応に要した費用、賠償金などを含みますがこれに限りません）を賠償するものとします。ただし、当社の故意または重過失によって紛争が発生した場合はこの限りではありません。</li>
          </ul>

          <div class="sub-title">違反行為等への処置</div>
          <div class="content">ユーザーが本規約に違反したり、当社がその他必要と判断した場合、当社は自由裁量で、無通知で、当該ユーザーに対する以下のような措置を取ることがあります。ただし、これらの措置をとる義務を当社が負うわけではなく、措置の理由を開示する義務もありません。</div>
          <ul>
            <li>当社は、ユーザーに対して規約違反行為やその恐れのある行為を止め、再発を防ぐよう要求することができます。これは裁判による差止請求として具現化される場合もあります。</li>
            <li>他の利用者や第三者との間で、クレームや請求の解決のための協議（裁判外紛争解決手続きを含む）を進めることができます。</li>
            <li>ユーザーに対して、投稿情報の削除や訂正を求めることがあります。</li>
            <li>投稿情報の全体または一部を削除したり、公開範囲を変更したり、閲覧できない状態にしたりすることができます。</li>
            <li>ユーザーの当サイトの利用を一時停止したり、アカウントを強制的に削除したりすることがあります。</li>
            <li>新規アカウントの作成申請を受け付けないことがあります。</li>
            <li>特定の決済手段の利用を禁止したり、事前承認制などを導入して制限したりすることができます。</li>
            <li>ユーザーは、当社のこれらの措置に対して異議を唱えないことに同意しているものとします。</li>
            <li>ユーザーは、当社が上記の措置を講じた場合、その結果について当社を免責するものとします。</li>
            <li>ユーザーは、上記の措置が、当社の裁量により事前の通知なく行われる可能性があることをあらかじめ了承します。</li>
            <li>当社は、ユーザーが以下のいずれかの行為を行った場合、事前の通知なしに、当サイトの利用を停止し、ユーザーのアカウントを強制的に削除し、以降の本サービスの利用を拒否することができます。</li>
            <ul>
              <li>アカウント作成申請を不正な方法で行った場合。</li>
              <li>本規約または個別な規約に違反した場合。</li>
              <li>当社からの問い合わせや他の連絡に対して 30 日間以上応答がない場合。</li>
              <li>他のユーザーや第三者から、該当ユーザーに関する複数のクレームや問い合わせが寄せられた場合。</li>
              <li>当社がユーザーとしての利用を不適当と判断した場合。</li>
              <li>当社がその他不適切と判断した場合。</li>
            </ul>

            <li>前述のいずれかの事由に該当し、当社が該当ユーザーに対してサービスの利用を一時的に停止し、またはユーザーのアカウントを削除した場合、該当ユーザーは、当社に対して負っている債務の一切について当然に期限の利益を失い、直ちに当社に対してすべての債務の支払を行わなければなりません。</li>
        
          </ul>

          <div class="sub-title">保証の除外</div>
          <ul>
            <li>本規約のどの部分も、ユーザーが契約により修正または放棄することが可能なもの、または消費者として保証される全ての法的権利に影響を及ぼすものではありません。</li>
            <li>このサービスは「現状有姿」で提供され、当社はこれに対して何ら保証や表明を提供しません。特に、以下についてはユーザーに対して保証や表明を行いません</li>
            <li>本サービスがユーザーの要求を満たすこと</li>
            <li>本サービスが中断されず、最新で安全で、エラーが起こらないこと</li>
            <li>本サービスを通じて得られた情報が正確で信頼できること</li>
            <li>提供するソフトウェアの操作性や機能性についての不具合を修正すること</li>
            <li>明確に規定されている場合を除き、本サービスには一切の条件、保証、その他の条件（良好な品質、特定の目的への適合性、説明との一致に関する暗黙の条件を含む）は適用されません。業務的な理由や運営上の理由により、当社は本プラットフォームの全部または一部の使用を予告なく変更、中断、取り消し、制限することがあります。</li>
          </ul>

          <div class="sub-title">免責事項</div>
          <ul>
            <li>当社はユーザー間の通信や取引等に関与しません。ユーザー間またはユーザーと第三者間での紛争が生じた場合でも、それらは当該ユーザー間またはユーザーと第三者の間で解決すべきものであり、当社はその責任を負いません。</li>
            <li>当社は必要と判断した場合、当サイトを任意の理由で変更、停止、中止、または終了し、当サイトの内容の削除または変更をすることができます。その場合、当社は当サイトの変更等によって生じたいかなる直接的または間接的な損害、損失、その他の費用についても（予見できたかどうかは問いません。）、賠償または補償する責任を負いません。</li>
            <li>以下のいずれか、またはその他の事由により本サービスの提供が遅延または中断等が生じた場合でも、これに起因するユーザーや他者が被った損害について、本規約または個別規約等で特に定める場合を除き、当社は責任を負いません</li>
            <ul>
              <li>本サービス用設備等の保守を定期的にまたは緊急に行う場合</li>
              <li>火災、停電等により本サービスの提供ができなくなった場合</li>
              <li>地震、噴火、洪水、津波等の天災により本サービスの提供ができなくなった場合</li>
              <li>戦争、動乱、暴動、騒乱、労働争議等により本サービスの提供ができなくなった場合</li>
              <li>当社の使用する設備やシステム等の障害、保守およびメンテナンス等の事由による場合</li>
              <li>アクセス過多、その他予期せぬ要因で表示速度の低下や障害等が生じた場合</li>
              <li>通常行うべき覗き見防止や公知の欠陥のないソフトウェアの利用、ウィルス対策等では防止できないセキュリティ上の問題が生じた場合</li>
              <li>その他、運送の事情や法令等により本サービスの提供が困難となった場合。</li>
            </ul>
            <li>当社は、本サービスの正確性、最新性、有用性、信頼性および特定目的への適合性があること、事実上または法律上の瑕疵がないこと並びに第三者の権利を侵害していないことを含め保証いたしません。当社は、これらの瑕疵等を除去して本サービスを提供する義務を負いません。また、サービス提供の状態、アクセス可能性もしくは使用の状態に関する保証を含むいかなる保証もしません。</li>
            <li>ユーザーは、本サービスまたは本サービスにより知り得た情報を利用する場合、利用される国、地域における法令を遵守しなければならず、当社はユーザーの法令違反につき責任を負いません。</li>
            <li>当社は、ユーザーによって投稿等される投稿情報を管理・保存する義務を負いません。</li>
            <li>当社は、ユーザーによって投稿等される投稿情報について、適法性、正確性等に関し責任を負いません。ユーザーによって投稿等される投稿情報が、当該ユーザーが所属する法人・団体等の内部規則等に関する適否についても、責任を負いません。</li>
            <li>当社は、以下に掲げる場合には、通信の秘密を侵害しない限りにおいて、当該投稿情報の内容を閲覧したり、保存したり、第三者に開示すること(以下、本項において「閲覧等」と言います。)ができるものとします。当社は、それによってユーザーに生じたいかなる損害についても、責任を負いません。</li>
            <li>当社が投稿情報を投稿等したユーザーの登録メールアドレスに宛てて閲覧等の同意を求める電子メールまたは SMS を送信した際、次の各号に掲げるいずれかに該当するとき。</li>
            <li>ユーザーが閲覧等に同意したとき。</li>
            <li>当社が閲覧等の同意を求める電子メールまたは SMS を送信してから 7 日以内に、当該ユーザーの電子メールまたは SMS での回答が当社のメールサーバに到達しなかったとき。ただし、緊急止むを得ない事由が生じたときは除く。</li>
            <li>本サービスの技術的不具合の原因を解明し、解消するため必要な場合。</li>
            <li>裁判所、警察等の公的機関から、法令に基づく正式な照会を受けた場合。</li>
            <li>本規約に違反する行為またはそのおそれのある行為が行われ、投稿情報の内容を確認する必要が生じたと当社が判断した場合。</li>
            <li>人の生命、身体および財産などに差し迫った危険があり、緊急の必要性があると当社が判断した場合。</li>
            <li>その他本サービスおよび個別サービスを適切に運営するために必要が生じた場合。</li>
            <li>当社は、本規約に違反する行為またはそのおそれのある行為が行われたと信じるに足りる相当な理由があると判断した場合には、当該行為を行ったユーザーアカウントの強制削除処分、投稿情報の全部もしくは一部の削除、および公開範囲の変更等を行う場合がありますが、それによって生じたいかなる損害についても、責任を負いません。</li>
            <li>当社は、当社の過失(重過失を除きます。)による債務不履行または不法行為によりユーザーに生じた損害のうち特別な事情から生じた損害(当社またはユーザーが損害発生につき予見し、または予見し得た場合を含みます。)について責任を負いません。</li>            
            
          </ul>

          <div class="sub-title">監視業務</div>
          <div class="content">当社および当社が委託した第三者は、通信の秘密を侵害しない限りにおいて、ユーザーが本規約および個別規約等に従って当サイトの利用をしているか、また、本規約に反する行為や不正がないかを監視する業務を独自の裁量で行う権利を有するものとします。またこの監視を目的として当社は当サイト上の全ての箇所を監視できるものとします。</div>

          
          <div class="sub-title">外部サイト等へのリンク</div>
          <ul>
            <li>当サイト上のコンテンツや広告からリンクされる外部サイトまたはアプリケーション(以下
              「外部サイト等」といいます。)について、当社は、当該外部サイト等上で表示される情報の正確性、速報性、完全性、商品性、または合目的性等について、明示的にも黙示的にもいかなる保証もせず、当該外部サイト等を利用したことによりユーザーまたは第三者に損害や不利益が生じた場合でも、当社は責任を負いません。ユーザーは、自身の判断と責任で外部サイトをご利用ください。</li>
            <li>外部サイト等が本システムの提供情報からリンクしていることは、当社と当該外部サイト等との間になんらかの商業的関係があることを含意するものではありません。</li>
          </ul>

          
          <div class="sub-title">本規約の有効性</div>
          <ul>
            <li>本規約または個別規約等の規定の一部が法令に基づいて無効と判断されても、本規約または当該個別規約等のその他の規定は有効とします。</li>
            <li>本規約または個別規約等の規定の一部があるユーザーとの関係で無効とされ、または取り消された場合でも、本規約または当該個別規約等はその他のユーザーとの関係では有効とします。</li>
          </ul>

          <div class="sub-title">連絡/通知</div>
          <ul>
            <li>本サービスに関する当社からユーザーへの連絡または通知は、本サービス上での掲示、登録されたメールアドレスへの電子メールの送信その他当社が適当と判断する方法により行います。当社が登録されたメールアドレスへの電子メールの送信により通知を行なった場合、ユーザーは当該メールの発信時に通知を受領したものとみなします。</li>
            <li>本サービスに関するユーザーから当社への連絡は、以下のメールアドレス宛てにお願いします。<br>support@viewy.net</li>
          </ul>
      </div>
  </div>
</div>


{% block script %}

{% endblock %}

</body>
</html>