{% extends 'base.html' %}
{% load static %}
{% block static %}
<link rel="stylesheet" href="{% static 'css/stylewhite_regist_login.css' %}">
{% endblock %}
{%block content%}
<div class="mid-logo">
  <img src="\media\others\Viewy-full-logo-aqua.png" alt="">
</div>
<div class="sub-title" id="specialUserContainer" data-is-special-user="{% if is_special_user %}true{% else %}false{% endif %}">ログイン</div>
<div class="describe">いいね・フォロー機能を使用するには<br>無料ログインが必要です。</div>

{% if is_special_user %}

<div class="invited-message" id="invitedMessage">
  <div class="message-content">
    ユーザー登録ありがとうございます！<br>
    <span class="important">作成したユーザーネームを招待メッセージが届いた<br>
      メールかDMに送信してください。</span><br>
    ２４時間以内にパートナーに登録させていただきます。
  </div>
  <button class="ok-button" id="okButton">OK</button>
</div>

{% endif %}

<form method="POST">
  {% csrf_token %}
  {% if messages %}
  <div class="message">
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">{{ message }}</div>
    {% endfor %}
  </div>
  {% endif %}
  <div class="form">

    {% if form.non_field_errors %}
    <div class="alert alert-error message">
      {{ form.non_field_errors|safe }}
    </div>
    {% endif %}

    <div class="email">
      <input type="email" name="{{ form.email.name }}" placeholder="メールアドレス" autocomplete="email" value="{{ form.email.value|default_if_none:"" }}" />
    </div>
    <div class="password">
      <input type="password" name="{{ form.password.name }}" placeholder="パスワード" autocomplete="current-password" value="{{ form.password.value|default_if_none:"" }}" />
    </div>
    <input class="button" type="submit" value="ログイン">
  </div>
</form>

<div class="guide">
  ユーザー登録がまだの方は
  <div><a href="{% url 'accounts:regist'%}">新規登録</a></div>
</div>


<div class="consent">
  <span>このサイトを利用することにより、<br>あなたは当サイトの<a href="{% url 'terms'%}">利用規約</a>および<a
      href="{% url 'policy'%}">プライバシーポリシー</a>に<br>同意したことになります。</span>
</div>

<div class="forget">
  パスワードをお忘れの場合は
  <div><a href="{% url 'accounts:password_reset'%}">パスワード変更</a></div>
</div>

<script src="{% static 'js/user_login.js' %}"></script>
{%endblock%}