{% extends 'support/detail_base.html' %}
{% load static %}
{% block head %}

{% endblock %}

{% block topic %}
<div class="topic-title">アカウント作成</div>
<div class="sub-topics">
  <div class="sub-topic">

    <p class="paragraph">
      <strong>アカウントを作成して投稿を視聴するには:<br><br></strong>

      1.ログイン画面またはポップアップから「アカウント作成」ボタンをタップ<br>
      2.メールアドレス・パスワード・生年月を入力<br>
      3.認証メールを確認し、5桁の数字を入力<br><br>
      
      ヒント:設定によっては認証メールが迷惑メールフォルダに格納されることもあるので、認証メールが届かない場合は迷惑メールフォルダもご確認ください。
    </p>
  </div>
</div>
{% endblock %}