{% extends 'base.html' %}
{% load static %}
{% block static %}
<link rel="stylesheet" href="{% static 'css/stylewhite_regist_login.css' %}">
{% endblock %}
{%block content%}
<div class="mid-logo">
  <img src="{{ MEDIA_URL }}others/Viewy-full-logo-aqua.png" alt="">
</div>
<div class="sub-title" id="specialUserContainer" data-is-special-user="{% if is_special_user %}true{% else %}false{% endif %}">サーバーエラー</div>
<div class="describe">申し訳ございませんが、サーバーで問題が発生しました。後ほどお試しください。</div>

<div class="art3">
  <img src="{{ MEDIA_URL }}others/熟睡.png" alt="">
</div>

{%endblock%}