body {
  margin: 0;
  padding: 0;
}


a {
  color: inherit;
  text-decoration: none;
}


header {
  background-color: #ffffff;
  padding: 8px;
  text-align: left;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  border: 1px solid #e0e0e0;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item.logo img {
  width: 48px; 
  height: auto;
  margin-top: 8px;
  background-color: #f8f9fa;
}

.nav-right {
  display: flex;
  align-items: center;
  margin-right: 32px;
}

.nav-item {
  margin: 0 20px;
}

.nav-item a {
  text-decoration: none;
  color: #333;
}

.nav-item a:hover {
  text-decoration: underline;
}

.footer {
  width: 100%;
  padding: 20px 0;
  background-color: #333;
  color: #fff;
  text-align: center;
  font-size: 14px;
  position: relative; /* 必要に応じて追加: ページの一番下に固定したい場合は 'fixed' に変更 */
  bottom: 0; /* position: fixed と組み合わせて使用 */
  left: 0;
}

.footer div {
  text-align: left;
  padding: 20px 0 20px 40px;
}

.main {
  display: flex;
  padding: 120px 128px 100px 55px;
}

.accordion {
  width: 290px;
  border-right: 1px solid #e0e0e0;
}

.accordion-header {
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
  position: relative;
  font-weight: bold;
}

.accordion-header:after {
  content: '▼';
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.accordion-item.active .accordion-header:after {
  content: '▲';
}

.pretitle.active {
  border-left: 5px solid red;
  padding-left: 5px; 
}

.accordion-content {
  display: none; /* 最初は非表示にしておく */
  padding: 10px;
}

.accordion-content > div {
  padding: 5px 0;
}

.accordion-content > div:last-child {
  border-bottom: none;
}

.accordion-item.active .accordion-content {
  display: block; /* アクティブな項目の内容のみ表示 */
}

.topic {
  width: 90%;
  margin: 0px 0px 0px 36px;
}

.n-accordion-header {
  cursor: pointer;
  margin: 0px 0px 6px 8px;
  font-size: 16px;
  font-weight: bold;
  color: #3c3c3c;
}

.title.active {
  border-left: 5px solid red;
  padding-left: 5px; 
  color: #000;
}

.subtitle {
  color: #979797;
  margin-left: 12px;
  font-weight: bold;
  font-size: 14px;
  margin: 0px 0px 12px 22px;
}

.subtitle.active {
  border-left: 5px solid red;
  padding-left: 5px; 
  color: #000;
}

.n-accordion-item.active .n-accordion-content {
  display: block;
}

.topic-title {
  font-weight: 700;
  font-size: 48px;
  margin-bottom: 18px;
}

.sub-topic {
  box-sizing: border-box;
  width: 100%; 
  height: auto;
  /* align-self: flex-start; */
  /* min-height: 20vh; 最小の高さを設定 */
  text-align: left;
  line-height: 1.5;
  padding: 48px 36px;
  margin: 12px 0px 30px 0px;
  position: relative;
  border-radius: 5px;
  box-shadow: rgba(34, 90, 89, 0.2) 2px 4px 20px;
  font-weight: bold;
  font-size: 28px
}