body {
  margin: 0;
  padding: 0;
  font-family: 'Meiryo', sans-serif;
}


a {
  color: inherit;
  text-decoration: none;
}


header {
  background-color: #ffffff;
  padding: 0px;
  text-align: left;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  border-bottom: 1px solid #e0e0e0;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item.logo img {
  width: 252px;
  height: auto;
  margin-left: -52px;
  margin-top: -18px;
}

.nav-right {
  display: flex;
  align-items: center;
  margin-right: 56px;
}

.nav-item {
  margin: 0px 20px 0px 20px;
}

.footer {
  width: 100%;
  padding: 6px 0;
  background-color: #333;
  color: #fff;
  text-align: center;
  font-size: 14px;
  position: relative;
  /* 必要に応じて追加: ページの一番下に固定したい場合は 'fixed' に変更 */
  bottom: 0;
  /* position: fixed と組み合わせて使用 */
  left: 0;
}

.footer div {
  text-align: left;
  padding: 20px 0 20px 40px;
}

.main {
  display: flex;
  padding: 120px 70px 160px 55px;
}

.accordion {
  width: 290px;
  border-right: 1px solid #e0e0e0;
  padding-right: 44px;
}

.accordion-header {
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
  position: relative;
  font-weight: bold;
}

.accordion-header i {
  font-size: 13px;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translate(36px, -5px);
}

.pretitle.active {
  border-left: 2px solid red;
  /* padding-left: 5px;  */
}

.accordion-content {
  display: none;
  /* 最初は非表示にしておく */
  padding: 10px;
}

.accordion-content>div {
  padding: 5px 0;
}

.accordion-content>div:last-child {
  border-bottom: none;
}

.accordion-item.active .accordion-content {
  display: block;
  /* アクティブな項目の内容のみ表示 */
}

.topic {
  width: 90%;
  margin: 0px 0px 0px 36px;
}

.n-accordion-header {
  cursor: pointer;
  margin: 0px 0px 6px 8px;
  font-size: 14px;
  font-weight: bold;
  color: #424242;
}

.pretitle {
  border-left: 2px solid white;
}

.title {
  border-left: 2px solid white;
  padding-left: 5px;
}

.title.active {
  border-left: 2px solid red;
  color: #000;
}

.subtitle {
  color: #979797;
  margin-left: 12px;
  font-weight: bold;
  font-size: 14px;
  margin: 0px 0px 12px 22px;
  border-left: 2px solid white;
  padding-left: 5px;
}

.subtitle.active {
  border-left: 2px solid rgb(0, 0, 0);
  color: #000;
}


.pretitle:hover {
  border-left: 2px solid red;
}

.title:hover {
  color: #000;
  /* 黒色にする */
  border-left: 2px solid red;
}

.subtitle:hover {
  color: #000;
  /* 黒色にする */
  border-left: 2px solid rgb(0, 0, 0);
}

.n-accordion-item.active .n-accordion-content {
  display: block;
}

.topic-title {
  font-weight: 700;
  font-size: 48px;
  margin-bottom: 18px;
}

.sub-topic {
  box-sizing: border-box;
  width: 100%;
  height: auto;
  /* align-self: flex-start; */
  /* min-height: 20vh; 最小の高さを設定 */
  text-align: left;
  line-height: 1.5;
  padding: 48px 36px;
  margin: 12px 0px 30px 0px;
  position: relative;
  border-radius: 5px;
  box-shadow: rgba(34, 90, 89, 0.2) 2px 4px 20px;
  font-weight: bold;
  font-size: 28px
}


p,
h3 {
  margin: 0;
}

h3 {
  font-size: 1.125em;
}

.paragraph {
  font-size: 16px;
  font-weight: normal;
  color: #6b6b6b;
}

.paragraph strong {
  color: black;
}

.inquiry {
  font-size: 16px;
  font-weight: normal;
  margin-top: 24px;
}

.form {
  margin-bottom: 26px;
}

.form_label label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-form {
  display: block;
  width: 100%;
  height: 34px;
  background-image: none;
  border-radius: 4px;
}

.form-form input {
  height: 100%;
  width: 100%;
  font-size: 16px;
  border-radius: 4px;
  border-color: rgb(204, 204, 204);
  border-width: 1px;
  border-style: solid;
}

.form-radio label {
  font-weight: bold;
}

.form-select select {
  height: 36px;
  width: 220px;
  border-color: rgb(204, 204, 204);
  border-radius: 4px;
  font-size: 16px;
  font-weight: normal;
}

.form-date input {
  height: 36px;
  width: 178px;
  border-color: rgb(204, 204, 204);
  border-width: 1px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: normal;
}

input[type='datetime-local']::-webkit-calendar-picker-indicator {
  margin-right: 10px;
}

.form-textarea textarea {
  width: 100%;
  border-color: rgb(204, 204, 204);
  border-radius: 4px;
  font-size: 16px;
  font-weight: normal;
}

.btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 6px 16px;
  border-radius: 4px;
  appearance: none;
  opacity: .65;
  background-color: #4beded;
  border-color: #4beded;
  color: #ffffff;
  font-size: 16px;
}

.btn:hover {
  background-color: #00d9d9;
}

.btn-disabled {
  background-color: #ccc;
  /* 無効時の背景色 */
  color: #666;
  /* 無効時の文字色 */
  cursor: not-allowed;
  /* カーソルを押せないアイコンに変更 */
}

.btn-disabled:hover {
  background-color: #ccc;
}

.danger {
  color: #dc3545;
  font-size: 12px;
  vertical-align: super;
}

.n-danger {
  font-weight: normal;
  font-size: 14px;
}

.attention {
  margin: 0 0 12px 0;
}

.a-link {
  color: #0000EE;
  /* リンクは通常青色です */
  text-decoration: underline;
  /* リンクには通常、下線が引かれます */
}

.a-link:hover {
  color: #0000CC;
  /* マウスカーソルをリンクの上に置くと、色が変わります（通常は濃い青色になる） */
}

.a-link:visited {
  color: #551A8B;
  /* 訪問済みリンクは通常、紫色で表示されます */
}

.attention a {
  font-size: 14px;
  color: #337ab7;
}

@media (max-width: 970px) {
  .main {
    flex-direction: column;
    /* フレックスボックスの方向を縦に変更 */
    padding: 30px 20px 20px 20px;
  }

  .viewy {
    display: none;
  }

  .nav-item.logo img {
    width: 212px;
    height: auto;
    margin-left: -40px;
    margin-top: -8px;
}

  .nav-item {
    margin: 0px 20px 0px 0px;
  }

  .nav-right {
    margin-right: 0px;
  }


  .topic-title {
    font-weight: 700;
    font-size: 26px;
    margin-bottom: 18px;
  }

  .sub-topic {
    padding: 26px 22px 26px 22px;
  }

  .accordion {
    width: 90%;
    /* 幅を自動調整に変更 */
    border-right: none;
    /* 右の境界線を削除 */
    padding-right: 0;
    /* 右のパディングを削除 */
    padding-bottom: 20px;
    margin-bottom: 20px;
    margin-top: 48px;
  }

  .topic {
    width: 90%;
    margin: 0px auto;
  }

  .sub-topic {
    font-size: 18px;
  }

  .form-textarea textarea {
    width: 90%;
  }

  .form-form input {
    width: 90%;
  }

}