{% extends 'base.html' %}
{% load static %}
{% block static %}
<link rel="stylesheet" href="{% static 'css/styleadd_post.css' %}">
{% endblock %}
{% block content %}

<!-- <div class="big-logo">V</div> -->
<img class="big-logo" src="\media\others\viewy-logo.png" alt="">
<div class="sub-title">最高のコンテンツをシェアしよう</div>
<div class="menu">
  <a class="video" href="{% url 'posts:video_create' %}">
    <i class="fa-solid fa-video"></i>
    <div>動画を投稿</div>
  </a>
  <a class="manga" href="{% url 'posts:manga_create'%}">
    <i class="fa-solid fa-book-open"></i>
    <div>マンガを投稿</div>
  </a>
</div>

<div class="warning">
  <a href="{% url 'guideline' %}">投稿ガイドライン</a><span>をよく読んでから投稿してください</span>
</div>

<style>
  .add-post {
    border-top: solid 2px aqua;
  }
</style>
{% endblock %}