{% extends 'base.html' %}
{% load static %}
{% block static %}
{% load custom_tags %}
<script>
  // ビューポートの高さを取得
  let vh = window.innerHeight * 0.01;
  // 現在のビューポートの高さをCSS変数として設定
  document.documentElement.style.setProperty('--vh', `${vh}px`);
</script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" href="{% static 'css/stylepost.css' %}">

<!-- ツイッターのカード設定 -->
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@Viewy_official" />
<meta name="twitter:domain" content="www.viewy.net" />
<meta name="twitter:title" content="Viewy[ビューイー]| 動画とマンガがリール形式で楽しめる スマホ向けウェブサービス" />
<meta name="twitter:description" content="最大２分の動画と最大３１ページのマンガがリール形式で楽しめるスマホ向けウェブサービスです。" />
<meta name="twitter:image" content="{{ MEDIA_URL }}others/tap-card.png" />

<!-- Open Graph設定 -->
<meta property="og:type" content="website" />
<meta property="og:url" content="https://www.viewy.net" />
<meta property="og:title" content="Viewy[ビューイー]| 動画とマンガがリール形式で楽しめる スマホ向けウェブサービス" />
<meta property="og:description" content="最大２分の動画と最大３１ページのマンガがリール形式で楽しめるスマホ向けウェブサービスです。" />
<meta property="og:image" content="{{ MEDIA_URL }}others/tap-card.png" />
{% endblock %}
{% block content %}
{% block title %}

{% endblock %}
<div class="top-adjust-trigger">
  <div class="top-load-trigger"></div>
</div>
<div class="top-space"></div>


{% for post in posts %}

<div class="post not-ad" data-post-id="{{ post.id }}" data-is-advertisement="{{ post.poster.is_advertiser }}">
  <div class="spinner"></div>

  {% if not post.poster.is_affiliateadvertiser %}
  <!-- アフィリエイターの広告じゃない場合 -->

    {% if post.poster.is_advertiser %}
    <a href="{{ post.url }}" class="ad-click">
    {% endif %}

    {% if post.ismanga %}
    <!-- マンガの場合 -->
      <div class="book">
        {% for visual in post.visuals.all %}
          <div class="manga-page">
            <div class="horizontal-slide-icon">
              <i class="fa-solid fa-arrow-left-long"></i>
              <div class="slide-icon-word">横読み</div>
            </div>
            <img class="page-content" src="{{ visual.visual.url }}" alt="{{ post.title }}">
          </div>
        {% endfor %}
      </div>

    {% else %}

    <!-- 動画の場合 -->
      {% for video in post.videos.all %}
        <video id="postVideo{{ forloop.counter }}" class="post-video" width="200px" height="400px"
          src="{{ video.video.url }}" loading="lazy" playsinline loop muted></video>
        <input id="seekSlider{{ forloop.counter }}" class="custom-controlbar" type="range" min="0" step="0.1" value="0">
        <br>
      {% endfor %}
      <div class="mute-box">
        <div class="mute">
          <label class="fa-solid fa-volume-xmark" data-post-id="{{ post.id }}">
            <input type="checkbox" class="mute-frag" checked>
          </label>
        </div>
      </div>
    {% endif %}

    {% if post.poster.is_advertiser %}
    </a>
    {% endif %}

  {% else %}

  <!-- アフィリエイターの広告の場合 -->
  <div class="affiliate-ad ad-click">
    {{ post.affiliate_tag|safe }}
  </div>

  {% endif %}

  <div class="content">
    <div class="side-bar">

      <div class="poster">

        <div>
          {% if post.poster.is_advertiser %}
          {% if post.poster.is_affiliateadvertiser %}
          <span class="poster_username">
            <img class="poster-img" src="{{post.poster.prf_img.url}}" alt="{{post.poster.prf_img}}">
          </span>
          {% else %}
          <a href="{{ post.url }}" class="poster_username ad-click">
            <img class="poster-img" src="{{post.poster.prf_img.url}}" alt="{{post.poster.prf_img}}">
          </a>
          {% endif %}
          {% else %}
          <a href="{% url 'posts:poster_page' username=post.poster.username %}" class="poster_username">
            <img class="poster-img" src="{{post.poster.prf_img.url}}" alt="{{post.poster.prf_img}}">
          </a>
          {% endif %}
        </div>
      </div>
      {% if not post.poster.is_advertiser %}
      {% if user.is_authenticated %}
      {% if post.followed_by_user %}
      <div class="follow-poster follow-hidden">
        <input type="hidden" class="poster_pk" name="poster_pk" value="{{ post.poster.pk }}">
      </div>
      {% else %}
      <div class="follow-poster">

        <form data-pk="{{ post.poster.pk }}" action="{% url 'accounts:follow' pk=post.poster.pk %}" method="POST">
          {% csrf_token %}
          <input type="hidden" class="poster_pk" name="poster_pk" value="{{ post.poster.pk }}">
          <label>
            <i class="fa-solid fa-plus fa-2xs follow"></i>
            <input type="checkbox" class="mini-follow-button">
          </label>
        </form>
      </div>
      {% endif %}
      {% else %}
      <div class="follow-poster">
        <input type="hidden" class="poster_pk" name="poster_pk" value="{{ post.poster.pk }}">
        <a class="fa-solid fa-plus fa-2xs " href="{% url 'accounts:user_login'%}" style="color: black;"></a>
      </div>
      {% endif %}
      {% else %}
      <!-- 広告だったらフォローボタンは表示しない -->
      <div class="follow-poster clear">
        <input type="hidden" class="poster_pk" name="poster_pk" value="{{ post.poster.pk }}">
      </div>
      {% endif %}



      {% if user.is_authenticated %}
      <div class="favorite">
        <form data-pk="{{ post.pk }}" action="{% url 'posts:favorite' pk=post.pk %}" method="POST"
          class="favorite-form">
          {% csrf_token %}
          <input type="hidden" name="post_pk" value="{{ post.pk }}">
          <label class="like-label">
            {% if post.favorited_by_user %}
            <i class="fa-solid fa-heart liked"></i>
            {% else %}
            <i class="fa-regular fa-heart not-liked"></i>
            {% endif %}
            <p class="favorite-count">{{ post.favorite_count|add:post.support_favorite_count }}</p>
            <input type="checkbox" class="like-button" {% if post.favorited_by_user %}checked{% endif %}>
          </label>
        </form>
      </div>
      {% else %}
      <div class="favorite">
        <a class="fa-regular fa-heart not-liked" href="{% url 'accounts:user_login'%}"
          style="color: rgb(255, 255, 255);"></a>
      </div>
      {% endif %}


      <div class="emotes" data-formatted-total-emote="{{ post.emote_total_count_display }}">
        <div class="emote emote-icon">
          <i class="fa-regular fa-face-smile"></i>
          <span class="emote-count total-count">{{ post.emote_total_count_display }}</span>
        </div>
        <div class="emote hidden-emote">
          <img src="{{ MEDIA_URL }}emotes/ニチャァ36ppi.png" alt="Emote 1" />
          <span class="emote-count">{{ post.emote1_count }}</span>
        </div>
        <div class="emote hidden-emote">
          <img src="{{ MEDIA_URL }}emotes/鼻血36ppi.png" alt="Emote 2" />
          <span class="emote-count">{{ post.emote2_count }}</span>
        </div>
        <div class="emote hidden-emote">
          <img src="{{ MEDIA_URL }}emotes/発射36ppi.png" alt="Emote 3" />
          <span class="emote-count">{{ post.emote3_count }}</span>
        </div>
        <div class="emote hidden-emote">
          <img src="{{ MEDIA_URL }}emotes/尊い36ppi.png" alt="Emote 4" />
          <span class="emote-count">{{ post.emote4_count }}</span>
        </div>
        <div class="emote hidden-emote">
          <img src="{{ MEDIA_URL }}emotes/よだれ36ppi.png" alt="Emote 5" />
          <span class="emote-count">{{ post.emote5_count }}</span>
        </div>
      </div>


      <div class="ellipsis" data-post-id="{{ post.id }}" data-reported="{% if post.reported_by_user %}true{% else %}false{% endif %}"><i class="fa-solid fa-ellipsis"></i></div>



      <div class="space-for-hide"></div>


    </div>

    <div class="captions">
      <div class="poster-name">
        {% if post.poster.is_advertiser %}

          {% if post.poster.is_affiliateadvertiser %}
            <span class="poster-name">＠{{post.poster.displayname}}</span>
          {% else %}

            {% if post.poster.displayname %}
              <a href="{{ post.url }}" class="poster-name ad-click">
                ＠{{post.poster.displayname}}
              </a>
            {% else %}
              <a href="{{ post.url }}"
                class="poster-name ad-click">＠{{post.poster.username}}</a>
            {% endif %}

          {% endif %}

        {% else %}
          {% if post.poster.displayname %}
          <a href="{% url 'posts:poster_page' username=post.poster.username %}"
            class="poster-name">＠{{post.poster.displayname}}</a>
          {% else %}
          <a href="{% url 'posts:poster_page' username=post.poster.username %}"
            class="poster-name">＠{{post.poster.username}}</a>
          {% endif %}

        {% endif %}

        {% if post.poster.is_advertiser %}
        <span class="ad-tag">広告</span>
        {% endif %}
        {% if post.poster.is_specialadvertiser %}
        <span class="ss">SS</span>
        {% endif %}

      </div>
      <div class="title">
        {{post.title}}
      </div>

      <div class="caption">{{post.caption}}</div>
      <div class="hashtags" data-user="{% if user.is_authenticated %}true{% else %}false{% endif %}">


        <!-- URLがあればアプリに応じたアイコンを表示する -->
        {% if post.url %}
        <span class="url"><a href="{{post.url}}" target="_blank" {% if post.poster.is_advertiser %}class="ad-click"{% endif %}>
            {% if post.get_url_prefix and post.get_url_prefix != "default" %}
            <img class="url-icon" src="{{ MEDIA_URL }}link_logo/{{ post.get_url_prefix }}_white.png" alt="">
            {% elif post.get_url_prefix == "default" %}
            <i class="fas fa-link"></i>
            {% endif %}
          </a></span>
        {% endif %}


        {% if post.hashtag1 %}
        <span class="hashtag"> <a href="{% url 'posts:hashtag' post.hashtag1 %}">#{{post.hashtag1}}</a></span>
        {% endif %}
        {% if post.hashtag2 %}
        <span class="hashtag"> <a href="{% url 'posts:hashtag' post.hashtag2 %}">#{{post.hashtag2}}</a></span>
        {% endif %}
        {% if post.hashtag3 %}
        <span class="hashtag"><a href="{% url 'posts:hashtag' post.hashtag3 %}">#{{post.hashtag3}}</a></span>
        {% endif %}


      </div>
    </div>

  </div>


  <label class="hide-label fa-solid fa-angle-down hide">
    <input class="hide-input" type="checkbox" style="display: none;">
  </label>




{% if user.is_authenticated and not post.poster.is_advertiser %}
<div class="modal-overlay"></div>
<!-- モーダルのテンプレート -->
<div id="others-modal" class="modal">
  <div class="top-line"></div>
  <div class="modal-wrapper">
      <div class="modal-content">
        <div class="option" id="add-to-collection">
          <i class="fa-regular fa-bookmark option-icon"></i>
          コレクションに追加する
        </div>
        <div class="option" id="block-poster">
            <i class="fa-solid fa-ban option-icon"></i>
            この投稿者をブロックする
        </div>
        <div class="report-option-container"></div>
      </div>
      <div class="modal-content-new add-to-collection-content">
        <div class="create-collection-form" style="display: none;">
          <input type="text" id="new-collection-name" placeholder="コレクション名">
          <button id="create-collection-btn">作成</button>
      </div>
        <div class="collections-list">
          {% for choice_name, choice_id in collection_choices_with_ids %}
          <div class="collection-choice-container" data-collection-id="{{ choice_id }}">
          
              {% if choice_name == "新規コレクション作成" %}
                  <div class="new-collection"><i class="fa-solid fa-plus collection-icon "></i>{{ choice_name }}</div>
              {% else %}
              <div class="collection-choice" data-collection-id="{{ choice_id }}">
                <i class="fa-regular fa-bookmark collection-icon"></i>
                {{ choice_name|truncatechars_custom:"20" }}
                <i class="fa-solid fa-check {% if choice_id in already_added_collections %}already{% endif %}" {% if choice_id not in already_added_collections %}style="display: none;"{% endif %}></i>
            </div>
              {% endif %}
          </div>
      {% endfor %}
      </div>
    </div>
      <div class="modal-content-new block-poster-content">
          <div class="block-options">
            <div class="block-check">この投稿者をブロックしますか</div>
            <div class="block-select">
              <button id="no-block" data-action="cancel">いいえ</button>
              <button id="go-block" data-action="block">はい</button>
            </div>

        </div>
        <div class="block-response"></div> <!-- ブロック完了メッセージを表示 -->
      </div>
      
      <div class="modal-content-new report-post-content">
          <!-- Content for reporting a post -->
          <div class="report-menu">
            <form action="{% url 'posts:report'%}">
              {% csrf_token %}
              <!-- フォームの入力フィールド -->
              <div class="report-title">不適切なコンテンツを通報する</div>
              <div class="report-sub-title">理由をお聞かせください</div>
      
              <div class="selects">
                <label>
                  <input type="radio" name="reason" value="underage"> 未成年者が出演している
                </label>
                <br>
                <label>
                  <input type="radio" name="reason" value="insufficient_mosaic"> モザイク処理が十分でない
                </label>
                <br>
                <label>
                  <input type="radio" name="reason" value="violent"> 暴力的な内容
                </label>
                <br>
                <label>
                  <input type="radio" name="reason" value="inappropriate"> 不適切な内容
                </label>
                <br>
                <label>
                  <input type="radio" name="reason" value="other"> その他
                </label>
                <br>
              </div>
      
      
              <!-- その他のフォームフィールド -->
      
              <!-- 送信ボタン -->
              <button type="submit" class="submit-report">送信</button>
            </form>
            <div class="formResponse message"></div>
          </div>
      </div>
      
  </div>
</div>
{% endif %}

  <div class="page-count">
    {% if post.ismanga %}
    <span id="current-page">1</span>/<span class="total-page">{{ post.visuals.all|length }}</span>
    {% endif %}
  </div>

  {% if not post.ismanga %}
  <div class="play-button">
    <i class="fa-solid fa-play"></i>
  </div>
  {% endif %}


</div>

{% endfor %}

<div id="posts"></div>


<img class="logo-img" src="{{ MEDIA_URL }}others/viewy-logo.png" alt="">



<div class="bottom-space"></div>
<div class="adjust-trigger">
  <div class="load-trigger"></div>
</div>

{% block bottom %}

{% endblock %}



{% endblock %}

{% block script %}
<script src="{% static 'js/adjust_favorite_follow.js' %}"></script>
<script src="{% static 'js/auto_focus.js' %}"></script>
<script src="{% static 'js/auto_play.js' %}"></script>
<script src="{% static 'js/control_video.js' %}"></script>
<script src="{% static 'js/custom_controlbar.js' %}"></script>
<script src="{% static 'js/lazyload.js' %}"></script>
<script src="{% static 'js/mute.js' %}"></script>
<script src="{% static 'js/read_more.js' %}"></script>
<script src="{% static 'js/ad_click_count.js' %}"></script>
<script src="{% static 'js/report.js' %}"></script>
<script src="{% static 'js/hashtag_history.js' %}"></script>
<script src="{% static 'js/mangapage_count.js' %}"></script>
<script src="{% static 'js/horizontal_arrow.js' %}"></script>
<script src="{% static 'js/emote_count.js' %}"></script>
<script src="{% static 'js/others_modal.js' %}"></script>
{% endblock %}
