{% extends 'base.html' %}
{% load static %}
{% block static %}
<script>
  // ビューポートの高さを取得
  let vh = window.innerHeight * 0.01;
  // 現在のビューポートの高さをCSS変数として設定
  document.documentElement.style.setProperty('--vh', `${vh}px`);
</script>
<link rel="stylesheet" href="{% static 'css/stylepost.css' %}">

<!-- ツイッターのカード設定 -->
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@Viewy_official" />
<meta name="twitter:domain" content="www.viewy.net" />
<meta name="twitter:title" content="Viewy[ビューイー]| 動画とマンガがリール形式で楽しめる スマホ向けウェブサービス" />
<meta name="twitter:description" content="最大２分の動画と最大３１ページのマンガがリール形式で楽しめるスマホ向けウェブサービスです。" />
<meta name="twitter:image" content="{{ MEDIA_URL }}others/card_long_logo.png" />

<!-- Open Graph設定 -->
<meta property="og:type" content="website" />
<meta property="og:url" content="https://www.viewy.net" />
<meta property="og:title" content="Viewy[ビューイー]| 動画とマンガがリール形式で楽しめる スマホ向けウェブサービス" />
<meta property="og:description" content="最大２分の動画と最大３１ページのマンガがリール形式で楽しめるスマホ向けウェブサービスです。" />
<meta property="og:image" content="{{ MEDIA_URL }}others/card_long_logo.png" />
{% endblock %}
{% block content %}
{% block title %}

{% endblock %}
<div class="top-adjust-trigger">
  <div class="top-load-trigger"></div>
</div>
<div class="top-space"></div>


{% for post in posts %}

<div class="post not-ad" data-post-id="{{ post.id }}">
  <div class="spinner"></div>
  {% if post.ismanga %}
  <div class="book">
    {% for visual in post.visuals.all %}
    <div class="manga-page">
      {% if post.show_icon %}
      <div class="horizontal-slide-icon">
        <i class="fa-solid fa-arrow-left-long"></i>
        <div class="slide-icon-word">横読み</div>
      </div>
      {% endif %}
      <img class="page-content" src="{{ visual.visual.url }}" alt="{{ post.title }}">
    </div>
    {% endfor %}
  </div>
  {% else %}
  {% for video in post.videos.all %}
  <video id="postVideo{{ forloop.counter }}" class="post-video" width="200px" height="400px" src="{{ video.video.url }}"
    loading="lazy" playsinline loop muted></video>
  <input id="seekSlider{{ forloop.counter }}" class="custom-controlbar" type="range" min="0" step="0.1" value="0">
  <br>
  {% endfor %}
  {% endif %}

  <div class="content">
    <div class="side-bar">

      <div class="poster">
        <div>
          <!-- <p>投稿者:{{post.poster.username}}</p> -->
          <a href="{% url 'posts:poster_page' username=post.poster.username %}" class="poster_username">
            <img class="poster-img" src="{{post.poster.prf_img.url}}" alt="{{post.poster.prf_img}}">
          </a>
        </div>
      </div>
      {% if user.is_authenticated %}
      <div class="follow-poster">
        <form data-pk="{{ post.poster.pk }}" action="{% url 'accounts:follow' pk=post.poster.pk %}" method="POST">
          {% csrf_token %}
          <input type="hidden" class="poster_pk" name="poster_pk" value="{{ post.poster.pk }}">
          <label>
            {% if post.followed_by_user %}
            <i class="fa-solid fa-check fa-2xs follow"></i>
            {% else %}
            <i class="fa-solid fa-plus fa-2xs follow"></i>
            {% endif %}
            <input type="checkbox" class="mini-follow-button" {% if post.followed_by_user %}checked{% endif %}>
          </label>
        </form>
      </div>
      {% else %}
      <div class="follow-poster">
        <input type="hidden" class="poster_pk" name="poster_pk" value="{{ post.poster.pk }}">
        <a class="fa-solid fa-plus fa-2xs " href="{% url 'accounts:user_login'%}" style="color: black;"></a>
      </div>
      {% endif %}

      {% if user.is_authenticated %}
      <div class="favorite">
        <form data-pk="{{ post.pk }}" action="{% url 'posts:favorite' pk=post.pk %}" method="POST"
          class="favorite-form">
          {% csrf_token %}
          <input type="hidden" name="post_pk" value="{{ post.pk }}">
          <label class="like-label">
            {% if post.favorited_by_user %}
            <i class="fa-solid fa-heart liked"></i>
            {% else %}
            <i class="fa-regular fa-heart not-liked"></i>
            {% endif %}
            <p class="favorite-count">{{ post.favorite_count }}</p>
            <input type="checkbox" class="like-button" {% if post.favorited_by_user %}checked{% endif %}>
          </label>
        </form>
      </div>
      {% else %}
      <div class="favorite">
        <a class="fa-regular fa-heart not-liked" href="{% url 'accounts:user_login'%}"
          style="color: rgb(255, 255, 255);"></a>
      </div>
      {% endif %}


      <div class="emotes" data-formatted-total-emote="{{ post.emote_total_count }}">
        <div class="emote emote-icon">
          <i class="fa-regular fa-face-smile"></i>
          <span class="emote-count total-count">{{ post.emote_total_count }}</span>
        </div>
        <div class="emote hidden-emote">
          <img src="{{ MEDIA_URL }}emotes/ニチャァ36ppi.png" alt="Emote 1" />
          <span class="emote-count">{{ post.emote1_count }}</span>
        </div>
        <div class="emote hidden-emote">
          <img src="{{ MEDIA_URL }}emotes/鼻血36ppi.png" alt="Emote 2" />
          <span class="emote-count">{{ post.emote2_count }}</span>
        </div>
        <div class="emote hidden-emote">
          <img src="{{ MEDIA_URL }}emotes/発射36ppi.png" alt="Emote 3" />
          <span class="emote-count">{{ post.emote3_count }}</span>
        </div>
        <div class="emote hidden-emote">
          <img src="{{ MEDIA_URL }}emotes/尊い36ppi.png" alt="Emote 4" />
          <span class="emote-count">{{ post.emote4_count }}</span>
        </div>
        <div class="emote hidden-emote">
          <img src="{{ MEDIA_URL }}emotes/よだれ36ppi.png" alt="Emote 5" />
          <span class="emote-count">{{ post.emote5_count }}</span>
        </div>
      </div>



      <div class="mute">
        <label class="fa-solid fa-volume-xmark" data-post-id="{{ post.id }}">
          <input type="checkbox" class="mute-frag" checked>
        </label>
      </div>


      <div class="space-for-hide"></div>


    </div>

    <div class="captions">
      <div class="poster-name">
        {% if post.poster.displayname %}
        <a href="{% url 'posts:poster_page' username=post.poster.username %}"
          class="poster-name">＠{{post.poster.displayname}}</a>
        {% else %}
        <a href="{% url 'posts:poster_page' username=post.poster.username %}"
          class="poster-name">＠{{post.poster.username}}</a>
        {% endif %}
        {% if post.is_advertisement %}
          <span class="ad-tag">広告</span>
        {% endif %}
      </div>
      <div class="title">
        {{post.title}}
      </div>

      <div class="caption">{{post.caption}}</div>
      <div class="hashtags" data-user="{% if user.is_authenticated %}true{% else %}false{% endif %}">


        <!-- URLがあればアプリに応じたアイコンを表示する -->
        {% if post.url %}
        <span class="url"><a href="{{post.url}}" target="_blank">
            {% if post.get_url_prefix == 'x' %}
            <img class="url-icon" src="{{ MEDIA_URL }}link_logo/x_white.png" alt="">
            {% elif post.get_url_prefix == 'youtube' %}
            <i class="fab fa-youtube"></i>
            {% elif post.get_url_prefix == 'fantia' %}
            <img class="url-icon" src="{{ MEDIA_URL }}link_logo/fantia_white.png" alt="">
            {% elif post.get_url_prefix == 'myfans' %}
            <img class="url-icon" src="{{ MEDIA_URL }}link_logo/myfans_white.png" alt="">
            {% elif post.get_url_prefix == 'candfans' %}
            <img class="url-icon" src="{{ MEDIA_URL }}link_logo/candfans_white.png" alt="">
            {% elif post.get_url_prefix == 'lit.link' %}
            <img class="url-icon" src="{{ MEDIA_URL }}link_logo/litlink_white.png" alt="">
            {% elif post.get_url_prefix == 'fanza' %}
            <img class="url-icon" src="{{ MEDIA_URL }}link_logo/fanza_white.png" alt="">
            {% elif post.get_url_prefix == 'amazon' %}
            <img class="url-icon" src="{{ MEDIA_URL }}link_logo/amazon_white.png" alt="">
            {% elif post.get_url_prefix == 'skeb' %}
            <img class="url-icon" src="{{ MEDIA_URL }}link_logo/skeb_white.png" alt="">
            {% elif post.get_url_prefix == 'dlsite' %}
            <img class="url-icon" src="{{ MEDIA_URL }}link_logo/dlsite_white.png" alt="">
            {% elif post.get_url_prefix == 'profu.link' %}
            <img class="url-icon" src="{{ MEDIA_URL }}link_logo/profu.link_white.png" alt="">
            {% elif post.get_url_prefix == 'knip' %}
            <img class="url-icon" src="{{ MEDIA_URL }}link_logo/knip_white.png" alt="">
            {% else %}
            <i class="fas fa-link"></i>
            {% endif %}
          </a></span>
        {% endif %}
        {% if post.hashtag1 %}
        <span class="hashtag"> <a href="{% url 'posts:hashtag' post.hashtag1 %}">#{{post.hashtag1}}</a></span>
        {% endif %}
        {% if post.hashtag2 %}
        <span class="hashtag"> <a href="{% url 'posts:hashtag' post.hashtag2 %}">#{{post.hashtag2}}</a></span>
        {% endif %}
        {% if post.hashtag3 %}
        <span class="hashtag"><a href="{% url 'posts:hashtag' post.hashtag3 %}">#{{post.hashtag3}}</a></span>
        {% endif %}


      </div>
    </div>

    {% if user.is_authenticated %}
    {% if post.reported_by_user %}
    <div class="report already">
      <i class="fa-solid fa-check-circle"></i>
    </div>
    {% else %}
    <div class="report not-yet">
      <i class="fa-solid fa-circle-exclamation"></i>
    </div>
    {% endif %}
    <div class="report-menu">
      <form data-pk="{{ post.pk }}" action="{% url 'posts:report'%}">
        {% csrf_token %}
        <!-- フォームの入力フィールド -->
        <div class="report-title">不適切なコンテンツを報告する</div>
        <div class="report-sub-title">理由をお聞かせください</div>

        <div class="selects">
          <label>
            <input type="radio" name="reason" value="underage"> 未成年者が出演している
          </label>
          <br>
          <label>
            <input type="radio" name="reason" value="insufficient_mosaic"> モザイク処理が十分でない
          </label>
          <br>
          <label>
            <input type="radio" name="reason" value="violent"> 暴力的な内容
          </label>
          <br>
          <label>
            <input type="radio" name="reason" value="inappropriate"> 不適切な内容
          </label>
          <br>
          <label>
            <input type="radio" name="reason" value="other"> その他
          </label>
          <br>
        </div>


        <!-- その他のフォームフィールド -->

        <!-- 送信ボタン -->
        <button type="submit" class="submit-report">送信</button>
      </form>
      <div class="formResponse message"></div>
    </div>


    {% else %}
    {% endif %}

  </div>


  <label class="hide-label fa-solid fa-angle-down hide">
    <input class="hide-input" type="checkbox" style="display: none;">
  </label>


  <div class="page-count">
    {% if post.ismanga %}
    <span id="current-page">1</span>/<span class="total-page">{{ post.visuals.all|length }}</span>
    {% endif %}
  </div>

  {% if not post.ismanga %}
  <div class="play-button">
    <i class="fa-solid fa-play"></i>
  </div>
  {% endif %}


</div>


{% endfor %}





<div class="post ad" data-ad-id="{{ ad.id }}">
  <div class="ad-page" data-ad-id="{{ ad.id }}">
    {{ ad.ad_tag|safe }}
  </div>


  <div class="side-bar">

    <div class="poster">
      <div class="ad-prf">
        <img class="ad-prf-img" src="{{ MEDIA_URL }}ads_prf_imgs/ad_icon.png" alt="">
      </div>
    </div>

    <div class="follow-poster">
      <a class="fa-solid fa-plus fa-2xs " style="color: black;"></a>
    </div>

    <div class="favorite">
      <a class="fa-regular fa-heart not-liked" style="color: rgb(255, 255, 255);"></a>
    </div>

    <div class="mute">
      <label class="fa-solid fa-volume-xmark" data-post-id="">
        <input type="checkbox" class="mute-frag" checked>
      </label>
    </div>
  </div>

  <div class="captions">
    <div class="title">{{ad.title}}</div>
    <div class="caption">{{ad.caption}}</div>
    <div class="hashtags">
      {% if ad.hashtag1 %}
      <span class="hashtag"> <a href="">#{{ad.hashtag1}}</a></span>
      {% endif %}
      {% if ad.hashtag2 %}
      <span class="hashtag"> <a href="">#{{ad.hashtag2}}</a></span>
      {% endif %}
      {% if ad.hashtag3 %}
      <span class="hashtag"><a href="">#{{ad.hashtag3}}</a></span>
      {% endif %}

    </div>
  </div>

</div>

<div id="posts"></div>





<div class="bottom-space"></div>
<div class="adjust-trigger">
  <div class="load-trigger"></div>
</div>

{% if not user.gender %}
  <div id="firstSettingModal" class="first-setting-modal">
    <div class="first-setting-modal-content">
      <div class="first-setting-modal-title">
        初期設定を済ませよう
      </div>
      <div class="first-tom"><img src="{{ MEDIA_URL }}others/指さし.png" alt=""></div>
      <div class="setting-title">性別</div>
      <div class="gender-radio-group">
        <input type="radio" id="gender-male" name="gender" value="male">
        <label for="gender-male">男性</label>
      
        <input type="radio" id="gender-female" name="gender" value="female">
        <label for="gender-female">女性</label>
      
        <input type="radio" id="gender-other" name="gender" value="other">
        <label for="gender-other">その他</label>
      </div>

      <div class="setting-title">表示設定</div>
      <div class="setting-guide">表示する投稿を２次元や３次元にしぼるか、次元関係なく全て表示するかを選んでください。<br>※設定画面からいつでも変更できます。</div>
      <div class="dimension-radio-group">
        <input type="radio" id="dimension-2" name="dimension" value="2">
        <label for="dimension-2">2</label>
      
        <input type="radio" id="dimension-all" name="dimension" value="2.5" checked>
        <label for="dimension-all" class="all">ALL</label>
      
        <input type="radio" id="dimension-3" name="dimension" value="3">
        <label for="dimension-3">3</label>
      </div>

      <button id="submitSettings">決定</button>

    </div>
  </div>
{% endif %}

{% block bottom %}

{% endblock %}



{% endblock %}

{% block script %}
<!-- <script src="{% static 'js/common_more_posts.js' %}"></script> -->
<script src="{% static 'js/adjust_favorite_follow.js' %}"></script>
<script src="{% static 'js/auto_focus.js' %}"></script>
<script src="{% static 'js/auto_play.js' %}"></script>
<script src="{% static 'js/control_video.js' %}"></script>
<!-- <script src="{% static 'js/custom_controlbar.js' %}"></script> -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'js/lazyload.js' %}"></script>
<script src="{% static 'js/mute.js' %}"></script>
<script src="{% static 'js/hide_contents.js' %}"></script>
<script src="{% static 'js/read_more.js' %}"></script>
<script src="{% static 'js/ad_response_count.js' %}"></script>
<script src="{% static 'js/report.js' %}"></script>
<script src="{% static 'js/hashtag_history.js' %}"></script>
<script src="{% static 'js/mangapage_count.js' %}"></script>
<script src="{% static 'js/horizontal_arrow.js' %}"></script>
<script src="{% static 'js/emote_count.js' %}"></script>
<script>
document.addEventListener('DOMContentLoaded', function() {
    var submitButton = document.getElementById('submitSettings');
    var spinner = document.querySelector('.spinner');

    submitButton.addEventListener('click', function() {
        // 選択されている性別と次元を取得
        var selectedGenderRadio = document.querySelector('input[name="gender"]:checked');
        var selectedDimension = document.querySelector('input[name="dimension"]:checked').value;

        if (!selectedGenderRadio) {
            alert('性別を選択してください。');
            return;
        }

        var selectedGender = selectedGenderRadio.value;

        // データをサーバーに送信
        var formData = new FormData();
        formData.append('gender', selectedGender);
        formData.append('dimension', selectedDimension);

        // spinnerのz-indexを最前面に設定
        spinner.style.zIndex = '1001';

        fetch('/accounts/first_setting/', {
            method: 'POST',
            body: formData,
            headers: {
                'X-CSRFToken': getCookie('csrftoken')  
            }
        })
        .then(response => response.json())
        .then(data => {
            if (data.status === 'success') {
                // ここでモーダルを非表示にしてからページを再読み込み
                document.getElementById('firstSettingModal').style.display = 'none';
                location.reload();
            } else {
                console.error('Error:', data.status);
            }
        })
        .catch(error => {
            console.error('Error:', error);
        });
    });
});

function getCookie(name) {
    var value = "; " + document.cookie;
    var parts = value.split("; " + name + "=");
    if (parts.length == 2) return parts.pop().split(";").shift();
}
</script>
{% endblock %}


<div class="post">
  <video src=""></video>
  <div class="play-button"></div>
</div>