{% extends 'base.html' %}
{% load static %}
{% block static %}
<link rel="stylesheet" href="{% static 'css/stylebe_partner.css' %}">
{% endblock %}
{% block content %}
<!-- <div class="mid-logo">V</div> -->
<div class="mid-logo"><img src="{{ MEDIA_URL }}others/viewy-logo.png" alt=""></div>

<div class="sub-title">パートナーになろう</div>

<div class="message-box">
<img src="{{ MEDIA_URL }}others/差し伸べる.png" alt="" class="please">
  <div>パートナーになれば、あなたの作品をViewyに投稿することができます。</div>
  <div>下のリンクからさっそくパートナー登録の手順を知ろう。</div>

  <a href="{% url 'partner_application_guide'%}" class="partner-guide">パートナー登録手順を見る</a>
  
</div>



<style>
  .add-post{
    border-top: solid 2px aqua;
      }
</style>
{% endblock %}