{% extends 'base.html' %}
{% load static %}
{% block static %}
<link rel="stylesheet" href="{% static 'css/stylebe_partner.css' %}">
{% endblock %}
{% block content %}
<!-- <div class="mid-logo">V</div> -->
<div class="mid-logo"><img src="\media\others\viewy-logo.png" alt=""></div>

<div class="sub-title">パートナーになろう</div>

<div class="message-box">
  <div class="message">
    現在<br>申請によるパートナー登録は行っておりません。
  </div>
</div>



<style>
  .add-post{
    border-top: solid 2px aqua;
      }
</style>
{% endblock %}