{% extends 'base.html' %}
{% load static %}
{% block static %}
<link rel="stylesheet" href="{% static 'css/stylelist.css' %}">
{% endblock %}
{% block content %}

<div class="top-space2"></div>

<!-- いいねリストとフォローリストを選ぶ -->
<div class="likeorfollow">
  <div class="collection-name">{{ collection_name }}</div>
</div>



<div class="list-area">
  {% if posts %}
  {% for post in posts %}
  <a class="post" href="{% url 'posts:collection_list' collection_id %}?post_id={{ post.id }}">
  {% if post.ismanga %}
   <div class="book">
    {% for visual in post.visuals.all|slice:":1" %}
      <img class="manga-page" src="{{ visual.visual.url }}" alt="{{ post.title }}" loading="lazy">
    {% endfor %}
    <i class="fa-solid fa-book-open manga-icon"></i>
   </div>
    
  {% else %}
  {% for video in post.videos.all %}
    {% if video.thumbnail %}
    <img class="post-video" src="{{ video.thumbnail.url }}" alt="" loading="lazy">
    {% else %}
    <video class="post-video" loading="lazy" src="{{ video.video.url }}" muted playsinline autoplay loop ></video>
    {% endif %}
  {% endfor %}

  {% endif %}
  
  <div class="title">
    <div>{{post.title}}</div>
    <div><i class="fa-solid fa-heart liked"></i> {{ post.favorite_count|add:post.support_favorite_count }}</div>
  </div>

  </a>
  {% endfor %}
{% else %}
  <div class="no-content">このコレクションは空です。</div>
{% endif %}
</div>

<div class="bottom-space"></div>

<img class="logo-img" src="{{ MEDIA_URL }}others/viewy-logo.png" alt="">



<style>
  .like{
    border-top: solid 2px aqua;
      }
</style>
<script src="{% static 'js/lazyload.js' %}"></script>
{% endblock %}
