{% extends 'base.html' %}
{% load static %}
{% block static %}
<script>
  // ビューポートの高さを取得
  let vh = window.innerHeight * 0.01;
  // 現在のビューポートの高さをCSS変数として設定
  document.documentElement.style.setProperty('--vh', `${vh}px`);
</script>
<link rel="stylesheet" href="{% static 'css/stylepost.css' %}">
<link rel="stylesheet" href="{% static 'css/stylecreate.css' %}">
{% endblock %}
{% block content %}
<div class="big-logo">
  <img class="big-logo" src="{{ MEDIA_URL }}others/viewy-logo.png" alt="">
</div>
<div class="sub-title">マンガを投稿する</div>


<div id="spinner"></div>
<div id="loading">投稿中です<br>この処理は数分かかる場合があります<br>ブラウザの戻るボタンを押さないでください</div>


<div class="forms">
  <form method="POST" enctype="multipart/form-data" id="submit-form">
    {% csrf_token %}
    <div class="error">
      {% for error in form.non_field_errors %}
      <div class="error">{{ error }}</div>
      {% endfor %}

      {% for error in visual_form.non_field_errors %}
      <div class="error">{{ error }}</div>
      {% endfor %}

    </div>
    {{ visual_form.as_div }}
    <div class="limit">※最大31ページまで</div>
    <div class="title">
      <div class="error">{{ form.title.errors }}</div>
      {{ form.title }}
    </div>
    <div class="url-set">
      <div class="error">{{ form.url.errors }}</div>
      {{ form.url }}
    </div>
    <div class="hashtags">
      <div class="error">{{ form.hashtag1.errors }}</div>
      <div class="error">{{ form.hashtag2.errors }}</div>
      <div class="error">{{ form.hashtag3.errors }}</div>
      <div class="hashtag1">#{{ form.hashtag1 }}</div>
      <div class="hashtag2">#{{ form.hashtag2 }}</div>
      <div class="hashtag3">#{{ form.hashtag3 }}</div>
    </div>
    <div class="caption">
      <div class="error">{{ form.caption.errors }}</div>
      {{ form.caption }}
    </div>
    <input type="submit" class="submit-button"  name="preview_button" value="プレビュー" style="margin-right: 16px;">
    <input class="button" type="submit" value="投稿する" id="submit-button">
  </form>
</div>

<div class="post-preview">
  <div class="close-preview">閉じる</div>
  <div class="post not-ad" data-post-id="{{ post.id }}" data-is-advertisement="{{ post.poster.is_advertiser }}">
    <div class="spinner"></div>
    <div class="book">
    </div>

    <div class="content">
      <div class="side-bar">

        <div class="poster">
          <div>
            <a class="poster_username">
              <img class="poster-img" src="{{user.prf_img.url}}" alt="{{user.prf_img}}">
            </a>
          </div>
        </div>

        <div class="follow-poster">
          <a class="fa-solid fa-plus fa-2xs " style="color: black;"></a>
        </div>

        <div class="favorite">
          <a class="fa-regular fa-heart not-liked" style="color: rgb(255, 255, 255);"></a>
        </div>


        <div class="emotes" data-formatted-total-emote="{{ post.emote_total_count }}">
          <div class="emote emote-icon">
            <i class="fa-regular fa-face-smile"></i>
            <span class="emote-count total-count">0</span>
          </div>
          <div class="emote hidden-emote">
            <img src="{{ MEDIA_URL }}emotes/ニチャァ36ppi.png" alt="Emote 1" />
            <span class="emote-count">0</span>
          </div>
          <div class="emote hidden-emote">
            <img src="{{ MEDIA_URL }}emotes/鼻血36ppi.png" alt="Emote 2" />
            <span class="emote-count">0</span>
          </div>
          <div class="emote hidden-emote">
            <img src="{{ MEDIA_URL }}emotes/発射36ppi.png" alt="Emote 3" />
            <span class="emote-count">0</span>
          </div>
          <div class="emote hidden-emote">
            <img src="{{ MEDIA_URL }}emotes/尊い36ppi.png" alt="Emote 4" />
            <span class="emote-count">0</span>
          </div>
          <div class="emote hidden-emote">
            <img src="{{ MEDIA_URL }}emotes/よだれ36ppi.png" alt="Emote 5" />
            <span class="emote-count">0</span>
          </div>
        </div>



        <div class="mute">
          <label class="fa-solid fa-volume-xmark" data-post-id="{{ post.id }}">
            <input type="checkbox" class="mute-frag" checked>
          </label>
        </div>
        <div class="space-for-hide"></div>

      </div>

      <div class="captions">
        <div class="poster-name">
          {% if user.displayname %}
          <a class="poster-name">＠{{user.displayname}}</a>
          {% else %}
          <a class="poster-name">＠{{user.username}}</a>
          {% endif %}
        </div>
        <div class="preview-title">
        </div>

        <div class="preview-caption"></div>
        <div class="preview-hashtags">

          <span class="url preview-url"><a href="" target="_blank">
              <i class="fas fa-link"></i>
            </a></span>
          <span class="hashtag"><a></a></span>
          <span class="hashtag"><a></a></span>
          <span class="hashtag"><a></a></span>

        </div>
      </div>

      <div class="report not-yet">
        <i class="fa-solid fa-circle-exclamation"></i>
      </div>

    </div>


    <label class="hide-label fa-solid fa-angle-down hide">
      <input class="hide-input" type="checkbox" style="display: none;">
    </label>

  </div>
  
  <div class="tab-bar">
    <a class="home"><i class="fa-solid fa-house fa-xs"></i></a>
    <a class="serch"><i class="fa-solid fa-magnifying-glass fa-xs"></i></a>
    <a class="add-post visitor"><i class="fa-solid fa-square-plus fa-sm"></i></a>
    <a class="like visitor"><i class="fa-solid fa-star fa-xs"></i></a>
    <a class="my-account visitor"><i class="fa-solid fa-user fa-xs"></i></a>
  </div>
</div>

<div class="bottom-space"></div>

<style>
  .add-post {
    border-top: solid 2px aqua;
  }
</style>
<script>
  document.getElementById('submit-form').addEventListener('submit', function (event) {

    document.getElementById('spinner').style.display = 'block';
    document.getElementById('loading').style.display = 'block';


    let submitButton = document.getElementById('submit-button');
    submitButton.disabled = true;

    FadeButton(submitButton);  

    let tabBarLinks = document.querySelectorAll('.tab-bar a');
    for (let i = 0; i < tabBarLinks.length; i++) {
        tabBarLinks[i].addEventListener('click', function(e) {
            e.preventDefault(); 
        });
        FadeButton(tabBarLinks[i]);
        let icon = tabBarLinks[i].querySelector('i');
        if (icon) {
            icon.style.color = 'rgb(69, 69, 69)';
        }
    }
    let inputFile = document.querySelector('input[type="file"]');
    if (inputFile) {
        FadeButton(inputFile);
    }
  });
  function FadeButton(buttonElement) {
      buttonElement.style.opacity = '0.5'; 
      buttonElement.style.cursor = "not-allowed"; 
  }
</script>
<script src="{% static 'js/preview_manga.js' %}"></script>
<script src="{% static 'js/hide_contents.js' %}"></script>
{% endblock %}