{% extends 'base.html' %}
{% load static %}
{% block static %}
<link rel="stylesheet" href="{% static 'css/stylecreate.css' %}">
{% endblock %}
{% block content %}
<div class="big-logo">
  <img class="big-logo" src="{{ MEDIA_URL }}others/viewy-logo.png" alt="">
</div>
<div class="sub-title">動画を投稿する</div>


<div id="spinner"></div>
<div id="loading">投稿中です<br>この処理は数分かかる場合があります</div>

<div class="forms">
  <form method="POST" enctype="multipart/form-data" id="submit-form">
    {% csrf_token %}
    <div class="error">
      {% for error in form.non_field_errors %}
          <div class="error">{{ error }}</div>
      {% endfor %}
      {% for error in video_form.non_field_errors %}
          <div class="error">{{ error }}</div>
      {% endfor %}
    </div>
    <div class="error">{{ video_form.video.errors }}</div> 
    <input type="file" name="{{ video_form.video.name }}" id="{{ video_form.video.auto_id }}">
    <div class="limit">※最大２分まで</div>
    <!-- ここにビデオフォームのエラー表示を追加 -->
    <div class="title">
      <div class="error">{{ form.title.errors }}</div> 
      {{ form.title }}
    </div>
    <div class="url">
      <div class="error">{{ form.url.errors }}</div>
      {{ form.url }}
    </div>
    <div class="hashtags">
      <div class="error">{{ form.hashtag1.errors }}</div>
      <div class="error">{{ form.hashtag2.errors }}</div>
      <div class="error">{{ form.hashtag3.errors }}</div>
      #{{ form.hashtag1 }}
      #{{ form.hashtag2 }}
      #{{ form.hashtag3 }}
    </div>
    <div class="caption">
      <div class="error">{{ form.caption.errors }}</div>
      {{ form.caption }}
    </div>
    <input class="button" type="submit" value="投稿する" id="submit-button">
  </form>

</div>





<div class="bottom-space"></div>


<style>
  .add-post{
    border-top: solid 2px aqua;
  }
</style>
<script>
document.getElementById('submit-form').addEventListener('submit', function(event) {
  // スピナーを表示
  document.getElementById('spinner').style.display = 'block';
  document.getElementById('loading').style.display = 'block';

  // 送信ボタンを無効化
  document.getElementById('submit-button').disabled = true;
});
</script>

{% endblock %}

<div class="urls">
  <div class="url"></div>
  <div class="url"></div>
  <div class="url"></div>
  <div class="url"></div>
  <div class="url"></div>
</div>