{% extends 'posts/base_list.html' %}
{% load static %}
{% block title%}
<!-- <p>あなたがフォローした投稿が見れる画面です</p> -->


<!-- いいねリストとフォローリストを選ぶ -->
<div class="likeorfollow">
  <a class="tolike" id="tomypage" href="{% url 'posts:favorite_page'%}">いいね</a>
  <a class="tofollow" id="tofollowlist" href="{% url 'posts:follow_page'%}">フォロー</a>
</div>


<style>
  .like {
    border-top: solid 2px aqua;
  }

  .tolike {
    text-decoration: none;
    text-shadow: 0px 0px 3px gray;
  }

  .tofollow {
    text-decoration: underline;
    text-decoration-color: aqua;
    text-decoration-line: 2px;
    text-shadow: 0px 0px 3px gray;
  }
</style>
<script src="{% static 'js/more_follow.js' %}"></script>
<script src="{% static 'js/view_duration.js' %}"></script>
{% endblock %}