{% for post in posts %}

<div class="post not-ad" data-post-id="{{ post.id }}">
  <div class="spinner"></div>
  {% if post.ismanga %}
  <div class="book">
    {% for visual in post.visuals_list %}
    <div class="manga-page">
      <img class="page-content" src="{{ visual.visual.url }}" alt="{{ post.title }}">
    </div>
    {% endfor %}
  </div>
  {% else %}
  {% for video in post.videos_list %}
  <video id="postVideo{{ forloop.counter }}" class="post-video" width="200px" height="400px" src="{{ video.video.url }}"
    loading="lazy" playsinline loop muted></video>
  <input id="seekSlider{{ forloop.counter }}" class="custom-controlbar" type="range" min="0" step="0.1" value="0">
  <br>
  {% endfor %}
  {% endif %}

  <div class="content">
    <div class="side-bar">

      <div class="poster">
        <div>
          <!-- <p>投稿者:{{post.poster.username}}</p> -->
          <a href="{% url 'posts:poster_page' username=post.poster.username %}" class="poster_username">
            <img class="poster-img" src="{{post.poster.prf_img.url}}" alt="{{post.poster.prf_img}}">
          </a>
        </div>
      </div>
      {% if user.is_authenticated %}
      <div class="follow-poster">
        <form data-pk="{{ post.poster.pk }}" action="{% url 'accounts:follow' pk=post.poster.pk %}" method="POST">
          {% csrf_token %}
          <input type="hidden" class="poster_pk" name="poster_pk" value="{{ post.poster.pk }}">
          <label>
            {% if user in post.poster.follow.all %}
            <i class="fa-solid fa-check fa-2xs follow"></i>
            {% else %}
            <i class="fa-solid fa-plus fa-2xs follow"></i>
            {% endif %}
            <input type="checkbox" class="mini-follow-button" {% if user in post.poster.follow.all %}checked{% endif %}>
          </label>
        </form>
      </div>
      {% else %}
      <div class="follow-poster">
        <a class="fa-solid fa-plus fa-2xs " href="{% url 'accounts:user_login'%}" style="color: black;"></a>
      </div>
      {% endif %}

      {% if user.is_authenticated %}
      <div class="favorite">
        <form data-pk="{{ post.pk }}" action="{% url 'posts:favorite' pk=post.pk %}" method="POST"
          class="favorite-form">
          {% csrf_token %}
          <input type="hidden" name="post_pk" value="{{ post.pk }}">
          <label class="like-label">
            {% if user in post.favorite.all %}
            <i class="fa-solid fa-heart liked"></i>
            {% else %}
            <i class="fa-regular fa-heart not-liked"></i>
            {% endif %}
            <p class="favorite-count">{{ post.favorite_count }}</p>
            <input type="checkbox" class="like-button" {% if user in post.favorite.all %}checked{% endif %}>
          </label>
        </form>
      </div>
      {% else %}
      <div class="favorite">
        <a class="fa-regular fa-heart not-liked" href="{% url 'accounts:user_login'%}"
          style="color: rgb(255, 255, 255);"></a>
      </div>
      {% endif %}



      <div class="mute">
        <label class="fa-solid fa-volume-xmark" data-post-id="{{ post.id }}">
          <input type="checkbox" class="mute-frag" checked>
        </label>
      </div>


      <div class="space-for-hide"></div>


    </div>

    <div class="captions">
      <div class="poster-name">
        {% if post.poster.displayname %}
        <div class="poster-name">＠ {{post.poster.displayname}}</div>
        {% else %}
        <div class="poster-name">＠ {{post.poster.username}}</div>
        {% endif %}      
      </div>
      <div class="title">
        {{post.title}}
      </div>

      <div class="caption">{{post.caption}}</div>
      <div class="hashtags" data-user="{% if user.is_authenticated %}true{% else %}false{% endif %}">

        <!-- URLがあればアプリに応じたアイコンを表示する -->
        {% if post.url %}
        <span class="url"><a href="{{post.url}}" target="_blank">
          {% if post.get_url_prefix == 'twitter' %}
          <img class="url-icon" src="\media\link_logo\x_black.png" alt="">
          {% elif post.get_url_prefix == 'youtube' %}
          <i class="fab fa-youtube"></i>
          {% elif post.get_url_prefix == 'fantia' %}
          <img class="url-icon" src="\media\link_logo\fantia_white.png" alt="">
          {% elif post.get_url_prefix == 'myfans' %}
          <img class="url-icon" src="\media\link_logo\myfans_white.png" alt="">
          {% elif post.get_url_prefix == 'candfans' %}
          <img class="url-icon" src="\media\link_logo\candfans_white.png" alt="">
          {% elif post.get_url_prefix == 'lit.link' %}
          <img class="url-icon" src="\media\link_logo\litlink_white.png" alt="">
          {% elif post.get_url_prefix == 'fanza' %}
          <img class="url-icon" src="\media\link_logo\fanza_white.png" alt="">
          {% elif post.get_url_prefix == 'amazon' %}
          <img class="url-icon" src="\media\link_logo\amazon_white.png" alt="">
          {% elif post.get_url_prefix == 'skeb' %}
          <img class="url-icon" src="\media\link_logo\skeb_white.png" alt="">
          {% else %}
          <i class="fas fa-link"></i>
          {% endif %}
          </a></span>
        {% endif %}
        {% if post.hashtag1 %}
        <span class="hashtag"> <a href="{% url 'posts:hashtag' post.hashtag1 %}">#{{post.hashtag1}}</a></span>
        {% endif %}
        {% if post.hashtag2 %}
        <span class="hashtag"> <a href="{% url 'posts:hashtag' post.hashtag2 %}">#{{post.hashtag2}}</a></span>
        {% endif %}
        {% if post.hashtag3 %}
        <span class="hashtag"><a href="{% url 'posts:hashtag' post.hashtag3 %}">#{{post.hashtag3}}</a></span>
        {% endif %}


      </div>
    </div>

    {% if user.is_authenticated %}
    {% if post.reported_by_user %}
    <div class="report already">
      <i class="fa-solid fa-check-circle"></i>
    </div>
    {% else %}
    <div class="report not-yet">
      <i class="fa-solid fa-circle-exclamation"></i>
    </div>
    {% endif %}
    <div class="report-menu">
      <form data-pk="{{ post.pk }}" action="{% url 'posts:report'%}">
        {% csrf_token %}
        <!-- フォームの入力フィールド -->
        <div class="report-title">不適切なコンテンツを報告する</div>
        <div class="report-sub-title">理由をお聞かせください</div>

        <div class="selects">
          <label>
            <input type="radio" name="reason" value="underage"> 未成年者が出演している
          </label>
          <br>
          <label>
            <input type="radio" name="reason" value="insufficient_mosaic"> モザイク処理が十分でない
          </label>
          <br>
          <label>
            <input type="radio" name="reason" value="violent"> 暴力的な内容
          </label>
          <br>
          <label>
            <input type="radio" name="reason" value="inappropriate"> 不適切な内容
          </label>
          <br>
          <label>
            <input type="radio" name="reason" value="other"> その他
          </label>
          <br>
        </div>


        <!-- その他のフォームフィールド -->

        <!-- 送信ボタン -->
        <button type="submit" class="submit-report">送信</button>
      </form>
      <div class="formResponse message"></div>
    </div>


    {% else %}
    {% endif %}

  </div>


  <label class="hide-label fa-solid fa-angle-down hide">
    <input class="hide-input" type="checkbox" style="display: none;">
  </label>


  <div class="page-count">
    {% if post.ismanga %}
    <span id="current-page">1</span>/<span class="total-page">{{ post.visuals_list|length }}</span>
    {% endif %}
  </div>


</div>


{% endfor %}





<div class="post ad" data-ad-id="{{ ad.id }}">
  <div class="ad-page" data-ad-id="{{ ad.id }}">
    {{ ad.ad_tag|safe }}
  </div>


  <div class="side-bar">

    <div class="poster">
      <div>
        <a href="{{ ad.url }}">
          <img class="poster-img" src="" alt="">
        </a>
      </div>
    </div>

    <div class="follow-poster">
      <a class="fa-solid fa-plus fa-2xs " href="{{ ad.url }}" style="color: black;"></a>
    </div>

    <div class="favorite">
      <a class="fa-regular fa-heart not-liked" href="{{ ad.url }}" style="color: rgb(255, 255, 255);"></a>
    </div>

    <div class="mute">
      <label class="fa-solid fa-volume-xmark" data-post-id="">
        <input type="checkbox" class="mute-frag" checked>
      </label>
    </div>
  </div>

  <div class="captions">
    <div class="title">{{ad.title}}</div>
    <div class="caption">{{ad.caption}}</div>
    <div class="hashtags">
      {% if ad.hashtag1 %}
      <span class="hashtag"> <a href="">#{{ad.hashtag1}}</a></span>
      {% endif %}
      {% if ad.hashtag2 %}
      <span class="hashtag"> <a href="">#{{ad.hashtag2}}</a></span>
      {% endif %}
      {% if ad.hashtag3 %}
      <span class="hashtag"><a href="">#{{ad.hashtag3}}</a></span>
      {% endif %}

    </div>
  </div>

</div>