{% extends 'base.html' %}
{% load static %}
{% block static %}
<link rel="stylesheet" href="{% static 'css/stylelist.css' %}">
{% endblock %}
{% block content %}

<form method="POST" action="{% url 'posts:searchpage' %}" class="search-bar" data-user="{% if user.is_authenticated %}true{% else %}false{% endif %}">
  {% csrf_token %}
  <i class="fa-solid fa-magnifying-glass glass"></i>
  {{ form }}
  <button class="button" type="submit">検索</button>
</form>

<ul id="search-results">
  <!-- Search results will be appended here by jQuery -->
</ul>

<div class="maintag"><span class="tag">#</span>{{hashtag}}</div>


<div class="list-area" data-is-authenticated="{% if user.is_authenticated %}true{% else %}false{% endif %}">
  {% if posts %}
    {% for post in posts %}
    <a class="post" href="{% url 'posts:hashtag_list' hashtag %}?post_id={{ post.id }}">
    {% if post.ismanga %}
     <div class="book">
      {% for visual in post.visuals.all|slice:":1" %}
        <img class="manga-page" loading="lazy" src="{{ visual.visual.url }}" alt="{{ post.title }}">
      {% endfor %}
      <i class="fa-solid fa-book-open manga-icon"></i>
     </div>
      
    {% else %}
      {% for video in post.videos.all %}
        {% if video.thumbnail %}
        <img class="post-video" loading="lazy" src="{{ video.thumbnail.url }}" alt="">
        {% else %}
        <video class="post-video" loading="lazy" src="{{ video.video.url }}" muted playsinline autoplay loop></video>
        {% endif %} 
      {% endfor %}
    {% endif %}
    <div class="title">
      <div>{{post.title}}</div>
      <div><i class="fa-solid fa-heart liked"></i> {{ post.favorite_count }}</div>
    </div>

    </a>
    {% endfor %}
  {% else %}
    <div class="no-content">そのハッシュタグがついた投稿はありません</div>
  {% endif %}
</div>

<div id="loginModal" class="login-modal">
  <img src="{{ MEDIA_URL }}others/のぞき見.png" alt="" class="tom">
  <div class="login-modal-content">
      <span class="close-btn">&times;</span>
      <div class="login-title">Viewyにログインしよう</div>
      <div class="login-content">無制限のコンテンツの視聴に加え、<br>いいねやフォローなどができるようになります。</div>
      <a href="{% url 'accounts:user_login' %}?next={{ request.get_full_path }}" class="login-btn">ログイン</a>
  </div>
</div>

<div class="bottom-space"></div>




<style>
  .serch{
    border-top: solid 2px aqua;
      }
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'js/lazyload.js' %}"></script>
<script src="{% static 'js/auto_correct.js' %}"></script>
<script src="{% static 'js/search_in_hashtag_page.js' %}"></script>
<script>
  // 非ログインユーザーへのログイン催促モーダル
  document.addEventListener('DOMContentLoaded', function() {
      const listArea = document.querySelector('.list-area');
      const isAuthenticated = listArea.getAttribute('data-is-authenticated') === 'true';
      const loginModal = document.getElementById('loginModal');
      const closeBtn = document.querySelector('.close-btn');
      const loginBtn = document.querySelector('.login-btn'); // ログインボタンを参照

      // post要素をクリックしたときのイベント
      listArea.addEventListener('click', function(event) {
          if (event.target.closest('.post') && !isAuthenticated) {
              event.preventDefault();
              loginModal.style.display = "block";
          }
      });

      // モーダルのクローズボタンをクリックしたときのイベント
      closeBtn.addEventListener('click', function() {
          loginModal.style.display = "none";
      });

      // モーダル外のエリアをクリックしたときにモーダルを閉じるイベント
      window.addEventListener('click', function(event) {
          if (event.target === loginModal) {
              loginModal.style.display = "none";
          }
      });

      // ログインボタンをクリックしたときにnextパラメータをURLに追加するイベント
      if (loginBtn) {
          loginBtn.addEventListener('click', function() {
              const returnTo = window.location.href;
              loginBtn.setAttribute('href', `/accounts/user_login/?next=${encodeURIComponent(returnTo)}`);
          });
      }
  });
</script>
{% endblock %}
