{% extends 'base.html' %}
{% load static %}
{% load unread_tags %}
{% load custom_tags %}
{% block static %}
<link rel="stylesheet" href="{% static 'css/stylemy_account.css' %}">
{% endblock %}

{% block content %}
<div class="about-me">
  <img src="{{ MEDIA_URL }}accounts_prf_imgs/仮ヘッダー２.png" alt="" class="header">
  <div class="not-caption">
    <div class="user-img">
      {% if request.user and is_poster %}
        {% if request.user.prf_img %}
          <a href="{% url 'posts:poster_page' username=user.username %}"">
            <img class="prf_img" src="{{user.prf_img.url}}" alt="">
          </a>
        {% else %}
          <a href="{% url 'posts:poster_page' username=user.username %}"">
            <img class="prf_img" src="{{ MEDIA_URL }}others/初期プロフ.jpg" alt="">
          </a>
        {% endif %}
      {% else %}
       {% if tomstalk.image %}
        <img class="prf_img" src="{{ tomstalk.image.url }}" alt="">
        {% else %}
        <img class="prf_img" src="{{ MEDIA_URL }}others/初期プロフ.jpg" alt="">
        {% endif %}
      {% endif %}
    </div>



    <div class="name-grade">
      {% if request.user and is_poster %}
      {% if user.displayname %}
        <div>{{ user.displayname }}<span class="copy-link" onclick="copyToClipboard()"><i class="fas fa-link"></i></span></div>
        <div class="sub-info">{{user.username}}</div>
      {% else %}
        <div>{{user.username}}<span class="copy-link" onclick="copyToClipboard()"><i class="fas fa-link"></i></span></div>
      {% endif %}
      <div class="counter"><span class="follow-count">{{ user.follow_count }}</span><span class="follower">フォロワー</span></div>
      {% else %}
        <div>{{tomstalk.name}}</div>
      {% endif %}
      
      <div class="account-type">

        {% if request.user and is_advertiser %}
        <div class="grade advertiser">アドバタイザー</div>
        {% elif request.user and is_poster %}
        <div class="grade partner">パートナー</div>
        {% else %}
        <div class="grade basic">{{tomstalk.status}}</div>
        {% endif %}

        {% if request.user and is_poster %}
          {% if request.user.boost_type == "boost" %}
            <div class="boost_type boost">BOOST</div>
          {% elif request.user.boost_type == "superboost" %}
            <div class="boost_type super-boost">SUPER BOOST</div>
          {% elif request.user.boost_type == "viewyboost" %}
            <div class="boost_type viewy-boost">VIEWY BOOST</div>
          {% endif %}
        {% endif %}
      </div>

    </div>
  </div>
  {% if request.user and is_poster %}
    {% if user.caption %}
    <div class="caption">
      {{user.caption|linebreaksbr }}
    </div>
    {% endif %}

    <div class="urls">
      {% if user.url1 %}
      <div class="url-container">
        <div class="url"><a href="{{ user.url1 }}">
          {% if user.get_url1_prefix == 'x' %}
          <img class="url-icon" src="{{ MEDIA_URL }}link_logo/x_black.png" alt="">
          {% elif user.get_url1_prefix == 'youtube' %}
              <i class="fab fa-youtube"></i>
          {% elif user.get_url1_prefix == 'fantia' %}
              <img class="url-icon" src="{{ MEDIA_URL }}link_logo/fantia_black.png" alt="">
          {% elif user.get_url1_prefix == 'myfans' %}
              <img class="url-icon" src="{{ MEDIA_URL }}link_logo/myfans_black.png" alt="">
          {% elif user.get_url1_prefix == 'candfans' %}
              <img class="url-icon" src="{{ MEDIA_URL }}link_logo/candfans_black.png" alt="">
          {% elif user.get_url1_prefix == 'lit.link' %}
              <img class="url-icon" src="{{ MEDIA_URL }}link_logo/litlink_black.png" alt="">
          {% elif user.get_url1_prefix == 'fanza' %}
              <img class="url-icon" src="{{ MEDIA_URL }}link_logo/fanza_black.png" alt="">
          {% elif user.get_url1_prefix == 'amazon' %}
              <img class="url-icon" src="{{ MEDIA_URL }}link_logo/amazon_black.png" alt="">
          {% elif user.get_url1_prefix == 'skeb' %}
              <img class="url-icon" src="{{ MEDIA_URL }}link_logo/skeb_black.png" alt="">
          {% elif user.get_url1_prefix == 'dlsite' %}
              <img class="url-icon" src="{{ MEDIA_URL }}link_logo/dlsite_black.png" alt="">
          {% elif user.get_url1_prefix == 'profu.link' %}
              <img class="url-icon" src="{{ MEDIA_URL }}link_logo/profu.link_black.png" alt="">
          {% elif user.get_url1_prefix == 'knip' %}
              <img class="url-icon" src="{{ MEDIA_URL }}link_logo/knip_black.png" alt="">
          {% else %}
          <i class="fas fa-link"></i>
          {% endif %}
          </a></div>
        <div class="link-name">{{ user.get_url1_prefix }}</div>
      </div>

      {% endif %}
      {% if user.url2 %}
      <div class="url-container">
        <div class="url"><a href="{{ user.url2 }}">
          {% if user.get_url2_prefix == 'x' %}
          <img class="url-icon" src="{{ MEDIA_URL }}link_logo/x_black.png" alt="">
          {% elif user.get_url2_prefix == 'youtube' %}
              <i class="fab fa-youtube"></i>
          {% elif user.get_url2_prefix == 'fantia' %}
              <img class="url-icon" src="{{ MEDIA_URL }}link_logo/fantia_black.png" alt="">
          {% elif user.get_url2_prefix == 'myfans' %}
              <img class="url-icon" src="{{ MEDIA_URL }}link_logo/myfans_black.png" alt="">
          {% elif user.get_url2_prefix == 'candfans' %}
              <img class="url-icon" src="{{ MEDIA_URL }}link_logo/candfans_black.png" alt="">
          {% elif user.get_url2_prefix == 'lit.link' %}
              <img class="url-icon" src="{{ MEDIA_URL }}link_logo/litlink_black.png" alt="">
          {% elif user.get_url2_prefix == 'fanza' %}
              <img class="url-icon" src="{{ MEDIA_URL }}link_logo/fanza_black.png" alt="">
          {% elif user.get_url2_prefix == 'amazon' %}
              <img class="url-icon" src="{{ MEDIA_URL }}link_logo/amazon_black.png" alt="">
          {% elif user.get_url2_prefix == 'skeb' %}
              <img class="url-icon" src="{{ MEDIA_URL }}link_logo/skeb_black.png" alt="">
          {% elif user.get_url2_prefix == 'dlsite' %}
              <img class="url-icon" src="{{ MEDIA_URL }}link_logo/dlsite_black.png" alt="">
          {% elif user.get_url2_prefix == 'profu.link' %}
              <img class="url-icon" src="{{ MEDIA_URL }}link_logo/profu.link_black.png" alt="">
          {% elif user.get_url2_prefix == 'knip' %}
              <img class="url-icon" src="{{ MEDIA_URL }}link_logo/knip_black.png" alt="">
          {% else %}
          <i class="fas fa-link"></i>
          {% endif %}
          </a></div>
        <div class="link-name">{{ user.get_url2_prefix }}</div>
      </div>

      {% endif %}
      {% if user.url3 %}
      <div class="url-container">
        <div class="url"><a href="{{ user.url3 }}">
          {% if user.get_url3_prefix == 'x' %}
          <img class="url-icon" src="{{ MEDIA_URL }}link_logo/x_black.png" alt="">
          {% elif user.get_url3_prefix == 'youtube' %}
              <i class="fab fa-youtube"></i>
          {% elif user.get_url3_prefix == 'fantia' %}
              <img class="url-icon" src="{{ MEDIA_URL }}link_logo/fantia_black.png" alt="">
          {% elif user.get_url3_prefix == 'myfans' %}
              <img class="url-icon" src="{{ MEDIA_URL }}link_logo/myfans_black.png" alt="">
          {% elif user.get_url3_prefix == 'candfans' %}
              <img class="url-icon" src="{{ MEDIA_URL }}link_logo/candfans_black.png" alt="">
          {% elif user.get_url3_prefix == 'lit.link' %}
              <img class="url-icon" src="{{ MEDIA_URL }}link_logo/litlink_black.png" alt="">
          {% elif user.get_url3_prefix == 'fanza' %}
              <img class="url-icon" src="{{ MEDIA_URL }}link_logo/fanza_black.png" alt="">
          {% elif user.get_url3_prefix == 'amazon' %}
              <img class="url-icon" src="{{ MEDIA_URL }}link_logo/amazon_black.png" alt="">
          {% elif user.get_url3_prefix == 'skeb' %}
              <img class="url-icon" src="{{ MEDIA_URL }}link_logo/skeb_black.png" alt="">
          {% elif user.get_url3_prefix == 'dlsite' %}
              <img class="url-icon" src="{{ MEDIA_URL }}link_logo/dlsite_black.png" alt="">
          {% elif user.get_url3_prefix == 'profu.link' %}
              <img class="url-icon" src="{{ MEDIA_URL }}link_logo/profu.link_black.png" alt="">
          {% elif user.get_url3_prefix == 'knip' %}
              <img class="url-icon" src="{{ MEDIA_URL }}link_logo/knip_black.png" alt="">
          {% else %}
          <i class="fas fa-link"></i>
          {% endif %}
          </a></div>
        <div class="link-name">{{ user.get_url3_prefix }}</div>
      </div>

      {% endif %}
      {% if user.url4 %}
      <div class="url-container">
        <div class="url"><a href="{{ user.url4 }}">
          {% if user.get_url4_prefix == 'x' %}
          <img class="url-icon" src="{{ MEDIA_URL }}link_logo/x_black.png" alt="">
          {% elif user.get_url4_prefix == 'youtube' %}
              <i class="fab fa-youtube"></i>
          {% elif user.get_url4_prefix == 'fantia' %}
              <img class="url-icon" src="{{ MEDIA_URL }}link_logo/fantia_black.png" alt="">
          {% elif user.get_url4_prefix == 'myfans' %}
              <img class="url-icon" src="{{ MEDIA_URL }}link_logo/myfans_black.png" alt="">
          {% elif user.get_url4_prefix == 'candfans' %}
              <img class="url-icon" src="{{ MEDIA_URL }}link_logo/candfans_black.png" alt="">
          {% elif user.get_url4_prefix == 'lit.link' %}
              <img class="url-icon" src="{{ MEDIA_URL }}link_logo/litlink_black.png" alt="">
          {% elif user.get_url4_prefix == 'fanza' %}
              <img class="url-icon" src="{{ MEDIA_URL }}link_logo/fanza_black.png" alt="">
          {% elif user.get_url4_prefix == 'amazon' %}
              <img class="url-icon" src="{{ MEDIA_URL }}link_logo/amazon_black.png" alt="">
          {% elif user.get_url4_prefix == 'skeb' %}
              <img class="url-icon" src="{{ MEDIA_URL }}link_logo/skeb_black.png" alt="">
          {% elif user.get_url4_prefix == 'dlsite' %}
              <img class="url-icon" src="{{ MEDIA_URL }}link_logo/dlsite_black.png" alt="">
          {% elif user.get_url4_prefix == 'profu.link' %}
              <img class="url-icon" src="{{ MEDIA_URL }}link_logo/profu.link_black.png" alt="">
          {% elif user.get_url4_prefix == 'knip' %}
              <img class="url-icon" src="{{ MEDIA_URL }}link_logo/knip_black.png" alt="">
          {% else %}
          <i class="fas fa-link"></i>
          {% endif %}
          </a></div>
        <div class="link-name">{{ user.get_url4_prefix }}</div>
      </div>

      {% endif %}
      {% if user.url5 %}
      <div class="url-container">
        <div class="url5"><a href="{{ user.url5 }}">
          {% if user.get_url5_prefix == 'x' %}
          <img class="url-icon" src="{{ MEDIA_URL }}link_logo/x_black.png" alt="">
          {% elif user.get_url5_prefix == 'youtube' %}
              <i class="fab fa-youtube"></i>
          {% elif user.get_url5_prefix == 'fantia' %}
              <img class="url-icon" src="{{ MEDIA_URL }}link_logo/fantia_black.png" alt="">
          {% elif user.get_url5_prefix == 'myfans' %}
              <img class="url-icon" src="{{ MEDIA_URL }}link_logo/myfans_black.png" alt="">
          {% elif user.get_url5_prefix == 'candfans' %}
              <img class="url-icon" src="{{ MEDIA_URL }}link_logo/candfans_black.png" alt="">
          {% elif user.get_url5_prefix == 'lit.link' %}
              <img class="url-icon" src="{{ MEDIA_URL }}link_logo/litlink_black.png" alt="">
          {% elif user.get_url5_prefix == 'fanza' %}
              <img class="url-icon" src="{{ MEDIA_URL }}link_logo/fanza_black.png" alt="">
          {% elif user.get_url5_prefix == 'amazon' %}
              <img class="url-icon" src="{{ MEDIA_URL }}link_logo/amazon_black.png" alt="">
          {% elif user.get_url5_prefix == 'skeb' %}
              <img class="url-icon" src="{{ MEDIA_URL }}link_logo/skeb_black.png" alt="">
          {% elif user.get_url5_prefix == 'dlsite' %}
              <img class="url-icon" src="{{ MEDIA_URL }}link_logo/dlsite_black.png" alt="">
          {% elif user.get_url5_prefix == 'profu.link' %}
              <img class="url-icon" src="{{ MEDIA_URL }}link_logo/profu.link_black.png" alt="">
          {% elif user.get_url5_prefix == 'knip' %}
              <img class="url-icon" src="{{ MEDIA_URL }}link_logo/knip_black.png" alt="">
          {% else %}
          <i class="fas fa-link"></i>
          {% endif %}
          </a></div>
        <div class="link-name">{{ user.get_url5_prefix }}</div>
      </div>

      {% else %}
      <div class="add-link"><a href="{% url 'accounts:edit_prf' %}" class="add-button"><i class="fa-solid fa-plus fa-2xs"></i></a></div>
      {% endif %}

    </div>

  {% else %}
  <div class="caption talk-content">
    {{tomstalk.content|linebreaksbr }}
  </div>
  <div class="urls">
    {% if tomstalk.url %}
    <div class="url-container">
      <div class="url"><a href="{{ tomstalk.url }}">
        {% if tomstalk.get_url_prefix == 'x' %}
        <img class="url-icon" src="{{ MEDIA_URL }}link_logo/x_black.png" alt="">
        {% elif tomstalk.get_url_prefix == 'youtube' %}
            <i class="fab fa-youtube"></i>
        {% elif tomstalk.get_url_prefix == 'fantia' %}
            <img class="url-icon" src="{{ MEDIA_URL }}link_logo/fantia_black.png" alt="">
        {% elif tomstalk.get_url_prefix == 'myfans' %}
            <img class="url-icon" src="{{ MEDIA_URL }}link_logo/myfans_black.png" alt="">
        {% elif tomstalk.get_url_prefix == 'candfans' %}
            <img class="url-icon" src="{{ MEDIA_URL }}link_logo/candfans_black.png" alt="">
        {% elif tomstalk.get_url_prefix == 'lit.link' %}
            <img class="url-icon" src="{{ MEDIA_URL }}link_logo/litlink_black.png" alt="">
        {% elif tomstalk.get_url_prefix == 'fanza' %}
            <img class="url-icon" src="{{ MEDIA_URL }}link_logo/fanza_black.png" alt="">
        {% elif tomstalk.get_url_prefix == 'amazon' %}
            <img class="url-icon" src="{{ MEDIA_URL }}link_logo/amazon_black.png" alt="">
        {% elif user.get_url_prefix == 'skeb' %}
            <img class="url-icon" src="{{ MEDIA_URL }}link_logo/skeb_black.png" alt="">
        {% elif tomstalk.get_url_prefix == 'dlsite' %}
            <img class="url-icon" src="{{ MEDIA_URL }}link_logo/dlsite_black.png" alt="">
        {% elif tomstalk.get_url_prefix == 'profu.link' %}
            <img class="url-icon" src="{{ MEDIA_URL }}link_logo/profu.link_black.png" alt="">
        {% elif tomstalk.get_url_prefix == 'knip' %}
            <img class="url-icon" src="{{ MEDIA_URL }}link_logo/knip_black.png" alt="">
        {% else %}
        <i class="fas fa-link"></i>
        {% endif %}
        </a></div>
      <div class="link-name">{{ tomstalk.get_url_prefix }}</div>
    </div>
    {% endif %}
  </div>
  {% endif %}
</div>

<div class="display-setting"><i class="fa-brands fa-uncharted fa-xl mini-logo"></i>表示設定</div>
<div class="dimension-radio-group" data-reload="false">
  <input type="radio" id="dimension-2" name="dimension" value="2" {% if current_dimension == 2.0 %}checked{% endif %} onchange="updateAndReloadDimension(this.value)">
  <label for="dimension-2">2</label>

  <input type="radio" id="dimension-all" name="dimension" value="2.5" {% if current_dimension == 2.5 %}checked{% endif %} onchange="updateAndReloadDimension(this.value)">
  <label for="dimension-all" class="all">ALL</label>

  <input type="radio" id="dimension-3" name="dimension" value="3" {% if current_dimension == 3.0 %}checked{% endif %} onchange="updateAndReloadDimension(this.value)">
  <label for="dimension-3">3</label>
</div>

<div class="menu-list">

    <!-- 広告主が管理画面に移る用 -->
    {% if request.user and is_advertiser %}
    <div>
      <a href="{% url 'advertisement:ad_campaigns_list' %}"  id="my-ads"><i class="fa-solid fa-rectangle-ad mini-logo"></i>広告を管理する</a>
      <div class="line"></div>
    </div>
    {% endif %}

  <!-- パートナー専用 -->
  {% if request.user and is_poster %}
  <div class="">
    <i class="fa-solid fa-pen-to-square fa-lg mini-logo"></i><a href="{% url 'accounts:edit_prf' %}">プロフィール編集</a>
    <div class="line"></div>
  </div>
  {% if request.user and not is_advertiser %}
  <div class="my-posts">
    <a href="{% url 'posts:my_posts' %}"><i class="fa-regular fa-address-book fa-lg mini-logo"></i>自分の投稿</a>
    <div class="line"></div>
  </div>
  {% endif %}

  {% load unread_tags %}

  <div class="messages">
    <a href="{% url 'accounts:message_list' %}">
      <i class="fa-regular fa-envelope fa-lg mini-logo"></i>運営からのメッセージ
      {% if request.user|has_unread_messages %}
      <div class="unread"></div> <!-- add your blue dot here -->
      {% endif %}
    </a>
    <div class="line"></div>
  </div>

  {% endif %}
  <div class="follow-list">
    <a href="{% url 'posts:my_follow_list'%}"><i class="fa-solid fa-user-group mini-logo"></i>フォロー中</a>
    <div class="line"></div>
  </div>

  <div class="setting">
    <a href="{% url 'posts:setting'%}"><i class="fa-solid fa-gear fa-lg mini-logo"></i>設定</a>
    <div class="line"></div>
  </div>

  <div class="logout">
    <a href="{% url 'accounts:user_logout'%}" id="logout-button"><i
        class="fa-solid fa-arrow-right-from-bracket fa-lg mini-logo"></i>ログアウト</a>
    <div class="line"></div>
  </div>
</div>



<style>
  .my-account {
    border-top: solid 2px aqua;
  }
</style>
<script>
  document.getElementById('logout-button').addEventListener('click', function(e) {
  e.preventDefault(); // 既定のリンク動作をキャンセル
  var isConfirmed = window.confirm('ログアウトしますか？'); // 確認ダイアログを表示
  if (isConfirmed) {
    window.location.href = "{% url 'accounts:user_logout' %}"; // ユーザーが「OK」をクリックした場合、ログアウトURLへリダイレクト
  }
});
</script>
<script>
function copyToClipboard() {
  const username = "{{ request.user.username }}";  // Djangoテンプレートタグでユーザ名を取得
  const link = "https://www.viewy.net/posts/poster_page/" + username;  // URLを構築

  // Create a dummy input to copy the link from
  const el = document.createElement('textarea');
  el.value = link;
  document.body.appendChild(el);
  el.select();
  document.execCommand('copy');
  document.body.removeChild(el);

  // Optional: Notify the user that the link has been copied
  alert('リンクがクリップボードにコピーされました。');
}
</script>
<script src="{% static 'js/dimension_change.js' %}"></script>
{% endblock %}