{% extends 'base.html' %}
{% load static %}
{% load unread_tags %}
{% load custom_tags %}
{% block static %}
<link rel="stylesheet" href="{% static 'css/stylemy_account.css' %}">
{% endblock %}

{% block content %}
<div class="about-me">
  <img src="{{ MEDIA_URL }}accounts_prf_imgs/仮ヘッダー２.png" alt="" class="header">
  <div class="not-caption">
    <div class="user-img">
      {% if is_poster %}

        {% if request.user.is_advertiser %}
            {% if request.user.prf_img %}
                <span>
                    <img class="prf_img" src="{{user.prf_img.url}}" alt="">
                </span>
            {% else %}
                <span>
                    <img class="prf_img" src="{{ MEDIA_URL }}others/初期プロフ.jpg" alt="">
                </span>
            {% endif %}
        {% else %}
            {% if request.user.prf_img %}
              <a href="{% url 'posts:poster_page' username=user.username %}"">
                <img class="prf_img" src="{{user.prf_img.url}}" alt="">
              </a>
            {% else %}
              <a href="{% url 'posts:poster_page' username=user.username %}"">
                <img class="prf_img" src="{{ MEDIA_URL }}others/初期プロフ.jpg" alt="">
              </a>
            {% endif %}
        {% endif %}

      {% else %}
        {% if tomstalk.image %}
          <img class="prf_img" src="{{ tomstalk.image.url }}" alt="">
        {% else %}
          <img class="prf_img" src="{{ MEDIA_URL }}others/初期プロフ.jpg" alt="">
        {% endif %}
      {% endif %}
    </div>



    <div class="name-grade">
      {% if is_poster %}
        {% if user.displayname %}
          <div>
            {{ user.displayname }}
            {% if not user.is_advertiser %}
              <span class="copy-link" onclick="copyToClipboard()"><i class="fas fa-link"></i></span>
            {% endif %}
          </div>
          <div class="sub-info">{{user.username}}</div>
        {% else %}
          <div>
            {{user.username}}
            {% if not user.is_advertiser %}
              <span class="copy-link" onclick="copyToClipboard()"><i class="fas fa-link"></i></span>
            {% endif %}
          </div>
        {% endif %}
        {% if not user.is_advertiser %}
        <div class="counter">
          <span class="follow-count">{{ user.follow_count|add:user.support_follow_count }}</span><span class="follower">フォロワー</span>
        </div>
        {% endif %}
      {% else %}
        <div>{{tomstalk.name}}</div>
      {% endif %}
      
      <div class="account-type">

        {% if request.user and  request.user.is_advertiser %}
        <div class="grade advertiser">アドバタイザー</div>
        {% elif request.user and is_poster %}
        <div class="grade partner">パートナー</div>
        {% else %}
        <div class="grade basic">{{tomstalk.status}}</div>
        {% endif %}

        {% if request.user and is_poster %}
          {% if request.user.boost_type == "boost" %}
            <div class="boost_type boost">BOOST</div>
          {% elif request.user.boost_type == "firstboost" %}
            <div class="boost_type first-boost">FIRST BOOST</div>
          {% elif request.user.boost_type == "superboost" %}
            <div class="boost_type super-boost">SUPER BOOST</div>
          {% elif request.user.boost_type == "viewyboost" %}
            <div class="boost_type viewy-boost">VIEWY BOOST</div>
          {% endif %}
        {% endif %}
      </div>

    </div>
  </div>

  {% if user.is_advertiser %}
  {% else %}

  {% if request.user and is_poster %}
    {% if user.caption %}
    <div class="caption">
      {{user.caption|linebreaksbr }}
    </div>
    {% endif %}

    <div class="urls">
      {% for i in '12345' %}
      {% get_attr user 'url'|add:i as url %}
      {% get_attr user 'get_url'|add:i|add:'_prefix' as url_prefix %}
      {% if url %}
      <div class="url-container">
        <div class="url"><a href="{{ url }}">
          {% if url_prefix and url_prefix != "link" and url_prefix != "pixiv" and url_prefix != "fanbox" and url_prefix != "patreon" %}
          <img class="url-icon" src="{{ MEDIA_URL }}link_logo/{{ url_prefix }}_black.png" alt="">
          {% elif url_prefix == "link" or url_prefix == "pixiv" or url_prefix == "fanbox" or url_prefix == "patreon" %}
          <i class="fas fa-link"></i>
          {% endif %}
          </a></div>
        <div class="link-name">{{ url_prefix }}</div>
      </div>
      {% endif %}
    {% endfor %}
    {% if not user.url1 or not user.url2 or not user.url3 or not user.url4 or not user.url5 %}
    <div class="add-link">
      <a href="{% url 'accounts:edit_prf' %}" class="add-button">
        <i class="fa-solid fa-plus fa-2xs"></i>
      </a>
    </div>
  {% endif %}

    </div>

  {% else %}
  <div class="caption talk-content">
    {{tomstalk.content|linebreaksbr }}
  </div>
  <div class="urls">
    {% if tomstalk.url %}
    <div class="url-container">
      <div class="url"><a href="{{ tomstalk.url }}">
        {% if tomstalk.get_url_prefix and tomstalk.get_url_prefix != "link" %}
        <img class="url-icon" src="{{ MEDIA_URL }}link_logo/{{ tomstalk.get_url_prefix }}_black.png" alt="">
        {% elif tomstalk.get_url_prefix == "link" %}
        <i class="fas fa-link"></i>
        {% endif %}
        </a></div>
      <div class="link-name">{{ tomstalk.get_url_prefix }}</div>
    </div>
    {% endif %}
  </div>
  {% endif %}
  {% endif %}
</div>

<div class="display-setting"><i class="fa-brands fa-uncharted fa-xl mini-logo"></i>表示設定</div>
<div class="dimension-radio-group" data-reload="false">
  <input type="radio" id="dimension-2" name="dimension" value="2" {% if current_dimension == 2.0 %}checked{% endif %} onchange="updateAndReloadDimension(this.value)">
  <label for="dimension-2">2</label>

  <input type="radio" id="dimension-all" name="dimension" value="2.5" {% if current_dimension == 2.5 %}checked{% endif %} onchange="updateAndReloadDimension(this.value)">
  <label for="dimension-all" class="all">ALL</label>

  <input type="radio" id="dimension-3" name="dimension" value="3" {% if current_dimension == 3.0 %}checked{% endif %} onchange="updateAndReloadDimension(this.value)">
  <label for="dimension-3">3</label>
</div>

<div class="menu-list">

  <!-- 広告主が管理画面に移る用 -->
  {% if request.user and request.user.is_advertiser %}
    <div>
      <a href="{% url 'advertisement:ad_campaigns_list' %}"  id="my-ads"><i class="fa-solid fa-rectangle-ad mini-logo"></i>広告を管理する</a>
      <div class="line"></div>
    </div>
  {% endif %}

  <!-- パートナー専用 -->
  {% if request.user and is_poster and not request.user.is_advertiser %}
    <div class="">
      <i class="fa-solid fa-pen-to-square fa-lg mini-logo"></i><a href="{% url 'accounts:edit_prf' %}">プロフィール編集</a>
      <div class="line"></div>
    </div>

    <div class="my-posts">
      <a href="{% url 'posts:my_posts' %}"><i class="fa-regular fa-address-book fa-lg mini-logo"></i>自分の投稿</a>
      <div class="line"></div>
    </div>

    {% load unread_tags %}

    <div class="messages">
      <a href="{% url 'accounts:message_list' %}">
        <i class="fa-regular fa-envelope fa-lg mini-logo"></i>運営からのメッセージ
      </a>
      <div class="line"></div>
    </div>

    <div class="freeze-notification-request">
      <a href="{% url 'posts:freeze_notification_request'%}"><i class="fa-solid fa-bullhorn fa-lg mini-logo"></i>凍結通知申請</a>
      <div class="line"></div>
    </div>

  {% endif %}

  <div class="follow-list">
    <a href="{% url 'posts:my_follow_list'%}"><i class="fa-solid fa-user-group mini-logo"></i>フォロー中</a>
    <div class="line"></div>
  </div>

  <div class="freeze-list">
    <a href="{% url 'posts:freeze_list'%}"><i class="fa-regular fa-snowflake fa-lg mini-logo" style="margin-left: 1px;"></i>X凍結中のパートナー</a>
    <div class="line"></div>
  </div>

  <div class="setting">
    <a href="{% url 'posts:setting'%}"><i class="fa-solid fa-gear fa-lg mini-logo"></i>設定</a>
    <div class="line"></div>
  </div>

  <div class="logout">
    <a href="{% url 'accounts:user_logout'%}" id="logout-button"><i
        class="fa-solid fa-arrow-right-from-bracket fa-lg mini-logo"></i>ログアウト</a>
    <div class="line"></div>
  </div>
</div>



<style>
  .my-account {
    border-top: solid 2px aqua;
  }
</style>
<script>
  document.getElementById('logout-button').addEventListener('click', function(e) {
  e.preventDefault(); // 既定のリンク動作をキャンセル
  var isConfirmed = window.confirm('ログアウトしますか？'); // 確認ダイアログを表示
  if (isConfirmed) {
    window.location.href = "{% url 'accounts:user_logout' %}"; // ユーザーが「OK」をクリックした場合、ログアウトURLへリダイレクト
  }
});
</script>
<script>
function copyToClipboard() {
  const username = "{{ request.user.username }}";  // Djangoテンプレートタグでユーザ名を取得
  const link = "https://www.viewy.net/posts/poster_page/" + username + "/";

  // Create a dummy input to copy the link from
  const el = document.createElement('textarea');
  el.value = link;
  document.body.appendChild(el);
  el.select();
  document.execCommand('copy');
  document.body.removeChild(el);

  // Optional: Notify the user that the link has been copied
  alert('リンクがクリップボードにコピーされました。');
}
</script>
<script src="{% static 'js/dimension_change.js' %}"></script>
{% endblock %}