{% extends 'base.html' %}
{% load static %}
{% block static %}
  <link rel="stylesheet" href="{% static 'css/stylemy_follow_list.css' %}">
{% endblock %}
{% block content %}
<!-- <p>あなたがフォローしたアカウントのリストです</p> -->

<div class="title">フォロー中</div>

<div class="top-space"></div>



{% if follow_posters %}
{% for poster in follow_posters %}
<div class="follow-poster">
  <div>
    <a href="{% url 'posts:poster_page' username=poster.username %}">
      <img class="poster-img" src="{{poster.prf_img.url}}">
    </a>
  </div>
  <div class="caption">
    <a href="{% url 'posts:poster_page' username=poster.username %}">
      {% if poster.displayname %}
        <div class="poster-name">{{poster.displayname}}</div>
      {% else %}
        <div class="poster-name">{{poster.username}}</div>
      {% endif %}
    </a>
  </div>
  <div>
    <form data-pk="{{ poster.pk }}" action="{% url 'accounts:follow' pk=poster.pk %}" method="POST">
      {% csrf_token %}
      <div class="counter">フォロワー <span class="follow-count">{{ poster.follow_count|add:poster.support_follow_count }}</span>人</div>
      <input type="hidden" name="poster_pk" value="{{ poster.pk }}">
      <label>
        {% if poster.is_followed_by_current_user %}
        <div class="followed">フォロー中</div>
        {% else %}
        <div class="follow">フォローする</div>
        {% endif %}

        <input 
        type="checkbox"
        class="follow-button"
        {% if poster.is_followed_by_current_user %}checked{% endif %}
        >
      </label>
    </form>
  </div>
</div>

{% endfor %}
<div class="bottom-space"></div>
{% else %}
<div class="no-content">フォローしたアカウントはありません</div>
{% endif %}

<!-- あ -->
<style>
  .my-account{
    border-top: solid 2px aqua;
      }
</style>
<script type="module" src="{% static 'js/adjust_favorite_follow.js' %}"></script>
{% endblock %}