{% extends 'posts/base_list.html' %}
{% load static %}
{% block title %}


{% endblock %}



{% block bottom %}



{% if messages %}
{% for message in messages %}
  <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
    <div class="message-space"></div>
    {{ message }}
    </button>
  </div>
{% endfor %}
{% endif %}

{% if not user.gender %}
<div id="firstSettingModal" class="first-setting-modal">
  <div class="first-setting-modal-content">
    <div class="first-setting-modal-title">
      初期設定を済ませよう
    </div>
    <div class="first-tom"><img src="{{ MEDIA_URL }}others/指さし.png" alt=""></div>
    <div class="setting-title">性別</div>
    <div class="gender-radio-group">
      <input type="radio" id="gender-male" name="gender" value="male">
      <label for="gender-male">男性</label>

      <input type="radio" id="gender-female" name="gender" value="female">
      <label for="gender-female">女性</label>

      <input type="radio" id="gender-other" name="gender" value="other">
      <label for="gender-other">その他</label>
    </div>

    <div class="setting-title">表示設定</div>
    <div class="setting-guide">表示する投稿を２次元や３次元にしぼるか、次元関係なく全て表示するかを選んでください。<br>※設定画面からいつでも変更できます。</div>
    <div class="dimension-radio-group">
      <input type="radio" id="dimension-2" name="dimension" value="2">
      <label for="dimension-2">2</label>

      <input type="radio" id="dimension-all" name="dimension" value="2.5" checked>
      <label for="dimension-all" class="all">ALL</label>

      <input type="radio" id="dimension-3" name="dimension" value="3">
      <label for="dimension-3">3</label>
    </div>

    <button id="submitSettings">決定</button>

  </div>
</div>
{% endif %}

{% if user.gender %}
{% if unanswered_survey %}
<div id="SurveyModal" class="survey-modal">
  <div class="survey-modal-content">
  <div class="spinner" id="spinner" style="display: none;"></div>
    <div class="survey-modal-title">アンケート</div>
    <div class="survey-tom"><img src="{{ MEDIA_URL }}others/アンケート.png" alt=""></div>
    <div class="survey-question">{{ unanswered_survey.question }}</div>
    <div id="error-message" style="color: orangered; display: none; font-size: 13px;">選択してください。</div>
    <form id="survey-form" method="post">
      {% csrf_token %}
      <div class="survey-radio-group">
        {% for option in unanswered_survey.options.all %}
        <div>
          <input type="radio" id="{{ option.name_ja }}" name="selected_option" value="{{ option.id }}">
          <label for="{{ option.name_ja }}">
            {{ option.name_ja }}
          </label>
        </div>
        {% endfor %}
      </div>
      <div class="survey-message">
        ご協力いただいた回答は、サービス向上のため匿名で利用されます。
      </div>
      <input id="survey-submit" type="button" value="回答する">
    </form>
  </div>
</div>
{% endif %}
{% endif %}

{% if user.gender %}
<!-- 通常の通知モーダル -->
{% for notification in unread_notifications %}
<div id="NotificationModal{{ notification.id }}" class="notification-modal">
  <div class="notification-modal-content">
    {% if notification.only_partner %}
    <div class="notification-main-title">パートナーへお知らせ</div>
    {% else %}
    <div class="notification-main-title">お知らせ</div>
    {% endif %}
    <div class="notification-modal-title">{{ notification.title }}</div>
    <div class="notification-content">{{ notification.content1 }}</div>
    {% if notification.img %}
    <img src="{{ notification.img.url }}" alt="Notification Image">
    {% endif %}
    {% if notification.video %}
    <video controls  playsinline loop muted autoplay>
      <source src="{{ notification.video.url }}" type="video/mp4">
      Your browser does not support the video tag.
    </video>
    {% endif %}
    <div class="notification-content">{{ notification.content2 }}</div>
    <button class="notification-close">閉じる</button>
  </div>
</div>
{% endfor %}

<!-- 凍結通知モーダル -->
{% for freeze_notification in unread_freeze_notifications %}
<div id="FreezeNotificationModal{{ freeze_notification.id }}" class="freeze-notification-modal">
  <div class="freeze-notification-modal-content">
    <div class="freeze-notification-main-title">HELP!</div>
    <div class="freezed-partner"><img src="{{freeze_notification.poster.prf_img.url}}" alt=""></div>
    <i class="fa-regular fa-snowflake freeze"></i>

    <div class="freeze-notification-modal-title"><span class="freeze-name">{{ freeze_notification.poster.displayname|default:freeze_notification.poster.username }}</span>様</div>
    <div class="freeze-notification-modal-title">のXアカウントが凍結しました。</div>
    <div class="freeze-notification-url"><a href="{{ freeze_notification.new_url }}" class="new_url">新しいアカウントを確認</a></div>
    <button class="freeze-notification-close"><i class="fa-solid fa-xmark"></i></button>
  </div>
</div>
{% endfor %}

{% endif %}









<style>
  .home{
    border-top: solid 2px aqua;
      }
</style>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="{% static 'js/view_duration.js' %}"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<script src="{% static 'js/more_posts.js' %}"></script>


<script>
$(function() {
    // 0.5秒後にメッセージを降ろして表示する
    window.setTimeout(function() {
        $(".alert-success").css({
            "top": "0px",
            "opacity": "1"
        });
        
        // その後、3秒後にメッセージをフェードアウトして隠す
        window.setTimeout(function() {
            $(".alert-success").css("top", "-60px").fadeTo(500, 0);
        }, 3000);  // 3 secs
        
    }, 500);  // 0.5 sec
});
</script>
<script>
  $(document).ready(function() {
    // 最初のモーダルを表示
    $(".notification-modal:first").show();

    // 閉じるボタンをクリックした時の動作
    $(".notification-close").click(function() {
        // 現在のモーダルを非表示にする
        var currentModal = $(this).closest(".notification-modal");
        currentModal.hide();

        // 次のモーダルを表示する
        currentModal.next(".notification-modal").show();

        // Ajaxを使用して視聴履歴に保存する
        var notificationId = currentModal.attr("id").replace("NotificationModal", "");
        $.post("/accounts/save_notification_view/", { notification_id: notificationId });
    });
});
</script>
<script>
  $(document).ready(function() {
    // 最初のモーダルを表示
    $(".freeze-notification-modal:first").show();

    // 閉じるボタンやリンクをクリックした時の動作
    $(".freeze-notification-close, .new_url").click(function() {
        // 現在のモーダルを非表示にする
        var currentModal = $(this).closest(".freeze-notification-modal");
        currentModal.hide();

        // 次のモーダルを表示する
        currentModal.next(".freeze-notification-modal").show();

        // Ajaxを使用して視聴履歴に保存する
        var freezeNotificationId = currentModal.attr("id").replace("FreezeNotificationModal", "");
        $.post("/accounts/save_freeze_notification_view/", { freeze_notification_id: freezeNotificationId });  // エンドポイントを正しく設定してください
    });
});
</script>
{% if not user.gender %}
<script src="{% static 'js/first_setting.js' %}"></script>
{% endif %}
{% if user.gender %}
{% if unanswered_survey %}
<script src="{% static 'js/survey_answer.js' %}"></script>
{% endif %}
{% endif %}

{% endblock %}


