{% extends 'base.html' %}
{% load static %}
{% block static %}
<link rel="stylesheet" href="{% static 'css/styleserchpage.css' %}">
{% endblock %}
{% block content %}

<!-- data-user=のところでサーバーサイドからフロントサイドにログインユーザーかどうか伝える -->
<form method="POST" action="{% url 'posts:searchpage' %}" class="search-bar"
  data-user="{% if user.is_authenticated %}true{% else %}false{% endif %}">
  {% csrf_token %}
  <i class="fa-solid fa-magnifying-glass glass"></i>
  {{ form }}
  <!-- ここのフォームはforms.pyの設定でsearchのidを持っている -->
  <button class="button" type="submit">検索</button>
</form>

<div class="result-list">
  <ul id="search-results">
    <!-- Search results will be appended here by jQuery -->
  </ul>
</div>


<div id="search-history-wrapper">
  <div id="search-history">
    <!-- Search history will be appended here by jQuery -->
  </div>

  <i class="fa-solid fa-xmark"></i>
</div>




<div class="list-area">
  {% if posts_by_hashtag %}
  {% for hashtag, posts in posts_by_hashtag.items %}
  <a href="{% url 'posts:hashtag' hashtag=hashtag %}" class="hashtag-title"><span class="hashtag-mark">#</span>{{ hashtag }}</a>
  <div class="posts-container">
    {% for post in posts %}
      <a class="post" href="{% url 'posts:hashtag' hashtag=hashtag %}">
        {% if post.ismanga %}
          <div class="book">
            {% for visual in post.visuals_list|slice:":1" %}
              <img class="manga-page" loading="lazy" src="{{ visual.visual.url }}" alt="{{ post.title }}">
            {% endfor %}
              <i class="fa-solid fa-book-open manga-icon"></i>
          </div>
        {% else %}
          {% for video in post.videos.all %}
            {% if video.thumbnail %}
              <img class="post-video" src="{{ video.thumbnail.url }}" alt="">
            {% else %}
              <video class="post-video" src="{{ video.video.url }}" muted playsinline autoplay loop></video>
            {% endif %}
          {% endfor %}
        {% endif %}

        <div class="title">
          <div>{{ post.title }}</div>
          <div><i class="fa-solid fa-heart liked"></i> {{ post.favorite_count }}</div>
        </div>
      </a>
    {% endfor %}

    <!-- 各ハッシュタグセクションの最後に検索ページへのリンク領域を追加  -->
    <a class="post more-posts-link" href="{% url 'posts:hashtag' hashtag=hashtag %}">
      <div class="more-posts-indicator">
        <i class="fa-solid fa-angles-right fa-lg"></i>
        <div class="more-text">もっと見る</div>
      </div>
    </a>
  </div>

  <!-- 広告を挿入する部分 -->
  {% if forloop.counter == 2 or forloop.counter == 4 %}
  <div class="ad-space">
    <p>ここに広告</p>
  </div>
  {% endif %}

  {% endfor %}
  {% else %}
  <div class="no-content">結果はありません</div>
  {% endif %}
</div>




<div class="bottom-space"></div>

<style>
  .serch {
    border-top: solid 2px aqua;
  }
</style>
{% endblock %}
{% block script %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'js/auto_correct.js' %}"></script>
<script src="{% static 'js/search_history.js' %}"></script>
{% endblock %}