{% extends 'base.html' %}
{% load static %}
{% block static %}
<link rel="stylesheet" href="{% static 'css/styleserchpage.css' %}">
{% endblock %}
{% block content %}

<!-- data-user=のところでサーバーサイドからフロントサイドにログインユーザーかどうか伝える -->
<form method="POST" action="{% url 'posts:searchpage' %}" class="search-bar"
  data-user="{% if user.is_authenticated %}true{% else %}false{% endif %}">
  {% csrf_token %}
  <i class="fa-solid fa-magnifying-glass glass"></i>
  {{ form }}
  <!-- ここのフォームはforms.pyの設定でsearchのidを持っている -->
  <button class="button" type="submit">検索</button>
</form>

<div class="result-list">
  <ul id="search-results">
    <!-- Search results will be appended here by jQuery -->
  </ul>
</div>


<div id="search-history-wrapper">
  <div id="search-history">
    <!-- Search history will be appended here by jQuery -->
  </div>

  <i class="fa-solid fa-xmark"></i>
</div>

<div class="recommended-section">
  <div class="recommended-main">
    <img src="{{ MEDIA_URL }}others/炎アイコン.png" alt="fire-icon" class="fire-icon">
    <span class="recommended-title">あなたにおすすめ</span>
  </div>
  <div class="recommended-users">
    <div class="recommended-user-list">
      {% for user in recommended_users %}
      <div class="recommended-user">
        <a href="{% url 'posts:poster_page' username=user.username %}">
          <img src="{{ user.prf_img.url }}" alt="{{ user.username }}" />
          <div class="poster-name">
            {% if user.displayname %}
            <div class="poster-name">{{user.displayname}}</div>
            {% else %}
            <div class="poster-name">{{user.username}}</div>
            {% endif %}
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</div>


<div class="list-area" data-is-authenticated="{% if user.is_authenticated %}true{% else %}false{% endif %}">
  {% if posts_by_hashtag %}
  {% for hashtag, posts in posts_by_hashtag.items %}
  <a href="{% url 'posts:hashtag' hashtag=hashtag %}" class="hashtag-title">
    <span class="hashtag-mark">#</span>
    {{hashtag }}</a>
  <div class="posts-container">
    {% for post in posts %}
    <a class="post post-clickable" href="{% url 'posts:hashtag_list' hashtag=hashtag %}?post_id={{ post.id }}&order=posted_at" data-count-name="hh{{ forloop.parentloop.counter }}_{{ forloop.counter }}">
      {% if post.ismanga %}
      <div class="book">
        {% for visual in post.visuals_list|slice:":1" %}
        <img class="manga-page" loading="lazy" src="{{ visual.visual.url }}" alt="{{ post.title }}">
        {% endfor %}
        <i class="fa-solid fa-book-open manga-icon"></i>
      </div>
      {% else %}
      {% for video in post.videos.all %}
      {% if video.thumbnail %}
      <img class="post-video" src="{{ video.thumbnail.url }}" alt="">
      {% else %}
      <video class="post-video" src="{{ video.video.url }}" muted playsinline autoplay loop></video>
      {% endif %}
      {% endfor %}
      {% endif %}

      <div class="title">
        <div>{{ post.title }}</div>
        <div><i class="fa-solid fa-heart liked"></i> {{ post.favorite_count }}</div>
      </div>
    </a>
    {% endfor %}

    <!-- 各ハッシュタグセクションの最後に検索ページへのリンク領域を追加  -->
    <a class="post more-posts-link" href="{% url 'posts:hashtag' hashtag=hashtag %}">
      <div class="more-posts-indicator">
        <i class="fa-solid fa-angles-right fa-lg"></i>
        <div class="more-text">もっと見る</div>
      </div>
    </a>
  </div>


  {% if forloop.counter == 2 %}
  <div class="ad-space wide-ad" data-ad-id="{{ random_ad2.id }}">
    {{ random_ad2.ad_tag|safe }}
  </div>
  {% elif forloop.counter == 4 %}
  <div class="ad-space wide-ad" data-ad-id="{{ random_ad4.id }}">
    {{ random_ad4.ad_tag|safe }}
  </div>
  {% endif %}

  {% endfor %}
  {% else %}
  <div class="no-content">結果はありません</div>
  {% endif %}
</div>

<div id="loginModal" class="login-modal">
  <div class="login-modal-content">
      <span class="close-btn">&times;</span>
      <div class="login-title">Viewyにログインしよう</div>
      <div class="login-content">無制限のコンテンツの視聴に加え、<br>いいねやフォローなどができるようになります。</div>
      <a href="{% url 'accounts:user_login' %}?next={{ request.get_full_path }}" class="login-btn">ログイン</a>
  </div>
</div>


<div class="bottom-space"></div>

<style>
  .serch {
    border-top: solid 2px aqua;
  }
</style>
{% endblock %}
{% block script %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'js/auto_correct.js' %}"></script>
<script src="{% static 'js/search_history.js' %}"></script>
<script src="{% static 'js/widead_response_count.js' %}"></script>
<script src="{% static 'js/click_count.js' %}"></script>
<script src="{% static 'js/login_modal.js' %}"></script>
{% endblock %}