{% extends 'base.html' %}
{% load static %}
{% block static %}
<link rel="stylesheet" href="{% static 'css/star.css' %}">
{% endblock %}
{%block content%}

<div class="title">お気に入り</div>

<div class="options">

  <a href="{% url 'posts:favorite_page'%}" class="option">
    <div class="option-icon pink">
      <i class="fa-solid fa-heart"></i>
    </div>
    <div class="option-info">
      <div class="option-title">いいね</div>
      <div class="sub-info">{{ favorite_count }}件の投稿</div>
    </div>
</a>

<a href="{% url 'posts:collections_menu'%}" class="option">
    <div class="option-icon gold">
      <i class="fa-solid fa-bookmark"></i>
    </div>
    <div class="option-info">
      <div class="option-title">コレクション</div>
      <div class="sub-info">{{ collection_count }}件のコレクション</div>
    </div>
</a>

<a href="{% url 'posts:follow_page'%}" class="option">
    <div class="option-icon blue">
      <i class="fa-solid fa-user-group"></i>
    </div>
    <div class="option-info">
      <div class="option-title">フォロー</div>
      <div class="sub-info">{{ follow_count }}人をフォロー中</div>
    </div>
</a>

<a href="https://social-plugins.line.me/lineit/share?url=https://www.viewy.net" class="option">
  <div class="option-icon line">
    <div class="line-it-button" data-lang="ja" data-type="share-b" data-env="REAL" data-url="https://www.viewy.net" data-color="default" data-size="large" data-count="false" data-ver="3" style="display: none;"></div>
    <script src="https://www.line-website.com/social-plugins/js/thirdparty/loader.min.js" async="async" defer="defer"></script>
  </div>
  <div class="option-info">
    <div class="option-title">LINEでシェア</div>
    <div class="sub-info">友達にViewyを紹介してあげよう</div>
  </div>
</a>

</div>

<style>
  .like {
    border-top: solid 2px aqua;
  }
</style>

{%endblock%}
