{% extends 'support/detail_base.html' %}
{% load static %}
{% block head %}

{% endblock %}

{% block topic %}
<div class="topic-title">自分の投稿を確認・ピン留め・削除したい</div>
<div class="sub-topics">
  <div class="sub-topic">

    <p class="paragraph">
      自分の投稿はアカウントページの「自分の投稿」から確認できます。<br><br>

      (1)投稿をピン留め（固定）したい場合<br>
      1.投稿の右上にある「…」ボタンをタップ<br>
      2.「この投稿をピン留めする」をタップ<br><br>
      
      (2)投稿を削除したい場合<br>
      1.投稿の右上にある「…」ボタンをタップ<br>
      2.「この投稿を削除する」をタップ<br><br>
      
      ヒント:<br>
      投稿のピン留めは３つまで可能です。
            
    </p>
  </div>
</div>
{% endblock %}