{% extends 'management/management_base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/management/account.css' %}">
{% endblock %}


{% block content %}


<div class="block">

  <div class="table">

    <div class="item">
      <div class="title">総アカウント数</div>
      <div class="value">{{ total_users }}人</div>
    </div>

    <div class="item">
      <div class="title">アクティブユーザー数</div>
      <div class="value">{{ active_users }}人</div>
    </div>

    <div class="item">
      <div class="title">アクティブ率</div>
      <div class="value">{{ active_rate }}％</div>
    </div>

    <div class="item">
      <div class="title">本日の新規ユーザー数</div>
      <div class="value">{{ new_users }}人</div>
    </div>

  </div>

  <div class="chart">
  <canvas id="userStatsChart"></canvas>
  </div>

  <div class="flex gender">
    <div class="item">
      <div class="title">男性</div>
      <div class="value">{{ male_users_percentage|floatformat:2 }}%</div>
    </div>
    <div class="item">
      <div class="title">女性</div>
      <div class="value">{{ female_users_percentage|floatformat:2 }}%</div>
    </div>
    <div class="item">
      <div class="title">その他</div>
      <div class="value">{{ other_gender_users_percentage|floatformat:2 }}%</div>
    </div>
  </div>

  <div class="chart">
    <canvas id="genderPieChart"></canvas>
  </div>

  <div style="margin-top: 120px;" class="chart">
    <canvas id="ageChart" width="400" height="400"></canvas>
  </div>
</div>

{{ male_users|json_script:"maleUsers" }}
{{ female_users|json_script:"femaleUsers" }}
{{ other_gender_users|json_script:"otherGenderUsers" }}
{{ age_groups|json_script:"ageGroups" }}

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
  fetch('/management/get_user_stats/')
      .then(response => response.json())
      .then(userStatsList => {
          console.log('Received data:', userStatsList);
          const userStats = userStatsList.map(userStat => userStat.fields);
          console.log('Parsed data:', userStats);
          const ctx = document.getElementById('userStatsChart').getContext('2d');
          new Chart(ctx, {
              type: 'line',
              data: {
                  labels: userStats.map(stat => stat.date),
                  datasets: [{
                      label: '総ユーザー数',
                      data: userStats.map(stat => stat.total_users),
                      borderColor: 'rgb(75, 192, 192)',
                      tension: 0
                  }]
              },
          });
      });
</script>
<script>
  const maleUsers = JSON.parse(document.getElementById('maleUsers').textContent);
  const femaleUsers = JSON.parse(document.getElementById('femaleUsers').textContent);
  const otherGenderUsers = JSON.parse(document.getElementById('otherGenderUsers').textContent);

  // これ以降、maleUsers, femaleUsers, otherGenderUsers を通常の変数として使用可能
  const ctx = document.getElementById('genderPieChart').getContext('2d');
  new Chart(ctx, {
      type: 'pie',
      data: {
          labels: ['男性', '女性', 'その他'],
          datasets: [{
              data: [maleUsers, femaleUsers, otherGenderUsers],
              backgroundColor: ['#96d1ff', '#ff96de', '#d9d9d9']
          }]
      }
  });
</script>
<script>
document.addEventListener('DOMContentLoaded', function() {
    var ctx = document.getElementById('ageChart').getContext('2d');
    // 'age_groups'をテンプレートから安全にパースするためには、'json_script' フィルターを使うべきです。
    var ageGroupsData = JSON.parse(document.getElementById('ageGroups').textContent);
    var labels = Object.keys(ageGroupsData);
    var data = Object.values(ageGroupsData);
    
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: labels,
            datasets: [{
                label: '年代別分布',
                data: data,
                backgroundColor: 'rgba(0, 123, 255, 0.5)',
                borderColor: 'rgba(0, 123, 255, 1)',
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {  // 'yAxes' should be updated to 'y' as per Chart.js 3.x syntax
                    beginAtZero: true
                }
            }
        }
    });
});
  </script>
{% endblock %}