{% extends 'management/management_base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/management/ad.css' %}">
{% endblock %}


{% block content %}


<div class="block">
    <div>ホーム画面の広告</div>
    <table>
        <tr>
            <th>広告</th>
            <th>タイトル</th>
            <th>所属キャンペーン</th>
            <th>ターゲット</th>
            <th class="url">URL</th>
            <th>視聴回数</th>
            <th>平均滞在時間</th>
            <th>QP</th>
        </tr>
        {% for ad in ads %}
        <tr>
            <td>
                <div class="square-img">
                {% if ad.affiliate_tag %}
                <div class="affiliate-tag">
                    {{ ad.affiliate_tag|safe }}
                </div>
                {% else %}
        
                  {% if ad.ismanga %}
                  <div>
                    {% for visual in ad.visuals.all|slice:":1" %}
                    <img class="thumbnail" loading="lazy" src="{{ visual.visual.url }}" alt="{{ ad.title }}">
                    {% endfor %}
                  </div>
          
                  {% else %}
                  {% with ad.videos.first as video %}
                  {% if video.thumbnail %}
                  <img class="thumbnail" loading="lazy" src="{{ video.thumbnail.url }}" alt="{{ ad.title }}">
                  {% endif %}
                  {% endwith %}
                  {% endif %}
                  {% endif %}
                </div>
            </td>
            <td>{{ ad.title }}</td>
            <td>{{ ad.adinfos.ad_campaign.title }}</td>
            <td>
                <ul class="target">
                    {% for feature in ad.adinfos.ad_campaign.andfeatures.all %}
                    {% if not feature.is_all %}
                        <li>{{ feature }}</li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </td>
            <td class="url"><a href="{{ ad.url }}">{{ ad.url }}</a></td>
            <td>{{ ad.views_count }}</td>
            <td>{{ ad.avg_duration|floatformat:3 }} 秒</td>
            <td>{{ ad.qp|floatformat:3 }}</td>
        </tr>
        {% endfor %}
    </table>
</div>


{% endblock %}