{% extends 'management/management_base.html' %}
{% load static %}
{% block head %}
{% endblock %}


{% block content %}
<h1>漢字とひらがなの追加</h1>

    <form action="{% url 'management:kanji_regist' %}" method="post">
        {% csrf_token %}
        <label for="hiragana">ひらがな読み：</label>
        <input type="text" id="hiragana" name="hiragana" required><br>

        <label for="kanji">漢字（漢字から始まる単語はすべて登録　例：足フェチ
        途中で漢字が出てくる単語は登録しない　例：ハメ撮り）：</label>
        <input type="text" id="kanji" name="kanji" required><br>

        <button type="submit">保存</button>
    </form>




{% endblock %}