{% extends 'management/management_base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/management/kanji.css' %}">
{% endblock %}


{% block content %}
<div class="block">
    <form action="{% url 'management:kanji_regist' %}" method="post">
        {% csrf_token %}
        <div class="form">
            <label for="hiragana">ひらがな読み：</label>
            <input type="text" id="hiragana" name="hiragana" required>
        </div>

        <div class="form">
            <label for="kanji">漢字：</label>
            <input type="text" id="kanji" name="kanji" required>
        </div>
        
        <button type="submit">保存</button>
    </form>
</div>






{% endblock %}