<!DOCTYPE html>
{% load static %}
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
  <link rel="stylesheet" href="{% static 'css/management/management_base.css' %}">
  <!-- iOS向けの指定 -->
  <link rel="apple-touch-icon" type="image/png" href="{{ MEDIA_URL }}icon_management/apple-touch-icon.png" sizes="180x180">
  <script src="https://kit.fontawesome.com/ad23325601.js" crossorigin="anonymous"></script>
  <title>Viewy-Management</title>
  {% block head %}
  {% endblock %}
</head>
<body>

  <div class="screen">
    <div class="side-menu">
      <a href="{% url 'management:account'%}"><i class="fa-solid fa-user menu-icon"></i><span class="menu-title">アカウント</span></a>
      <a href="{% url 'management:partner'%}"><i class="fa-solid fa-user-tie menu-icon"></i><span class="menu-title">パートナー</span></a>
      <a href="{% url 'management:post'%}"><i class="fa-solid fa-photo-film menu-icon"></i><span class="menu-title">投稿</span></a>
      <a href="{% url 'management:hashtag'%}"><i class="fa-solid fa-hashtag menu-icon"></i></i><span class="menu-title">ハッシュタグ</span></a>
      <a href="{% url 'management:kanji_regist'%}"><i class="fa-regular fa-keyboard menu-icon"></i></i></i><span class="menu-title">漢字登録</span></a>
      <a href="{% url 'management:ad'%}"><i class="fa-solid fa-rectangle-ad menu-icon"></i></i><span class="menu-title">広告</span></a>
      <a href="{% url 'management:search_user'%}"><i class="fa-solid fa-square-check menu-icon"></i><span class="menu-title">ユーザー検索</span></a>
      <a href="{% url 'management:poster_waiter_list'%}"><i class="fa-solid fa-square-check menu-icon"></i><span class="menu-title">投稿認証待ち</span></a>
    </div>

    <div class="content">
      {% block content %}
      {% endblock %}
    </div>

  </div>
</body>
</html>