{% extends 'management/management_base.html' %}
{% load static %}
{% block head %}
{% endblock %}


{% block content %}

<div class="flex">
  <div class="block total_table flex">
    <div class="total_title">総パートナー数：</div>
    <div class="total_number">{{ poster_users_count }}</div>
  </div>
  
  <div class="block total_table flex" style="margin-left: 16px;">
    <div class="total_title">３次元パートナー数：</div>
    <div class="total_number">{{ real_posters_count }}</div>
  </div>
  
  <div class="block total_table flex" style="margin-left: 16px;">
    <div class="total_title">２次元パートナー数：</div>
    <div class="total_number">{{ not_real_posters_count }}</div>
  </div>

  <div class="block total_table flex" style="margin-left: 16px;">
    <div class="total_title">一週間内に来たパートナー数：</div>
    <div class="total_number">{{ active_posters_count }}</div>
  </div>
</div>


<div class="flex">
  <div class="block scroll partner">

    <table>
      <tr>
        <th>パートナー</th>
        <th>表示名</th>
        <th>フォロワー</th>
        <th>Sフォロワー</th>
        <th>投稿数</th>
        <th>視聴回数</th>
        <th>S視聴回数</th>
        <th>平均QP</th>
        <th>ブースト</th>
      </tr>
      {% for user in users %}
      <tr class="{% if not user.is_real %}not-real{% endif %}">
        <td>{{ user.username }}</td>
        <td>
          {% if user in active_posters %}
          <span class="active-dot"></span>
          {% endif %}
          {{ user.displayname }}
        </td>
        <td>{{ user.follow_count }}</td>
        <td>{{ user.support_follow_count}}</td>
        <td>{{ user.total_posts }}</td>
        <td>{{ user.total_views }}</td>
        <td>{{ user.total_support_views|floatformat:"0" }}</td>
        <td>{{ user.avg_qp|floatformat:2 }}</td>
        <td>
          <form method="post" action="{% url 'management:update_boost_type' user.id %}" class="boostTypeForm" data-user-id="{{ user.id }}">
            {% csrf_token %}
            <select class="{% if user.boost_type == 'normal' %}normal{% elif user.boost_type == 'boost' %}boost{% elif user.boost_type == 'superboost' %}super-boost{% elif user.boost_type == 'viewyboost' %}viewy-boost{% endif %} boostTypeSelect" name="boost_type">
              <option value="normal" {% if user.boost_type == 'normal' %}selected{% endif %}>Normal</option>
              <option class="boost" value="boost" {% if user.boost_type == 'boost' %}selected{% endif %}>Boost</option>
              <option class="super-boost" value="superboost" {% if user.boost_type == 'superboost' %}selected{% endif %}>Super Boost</option>
              <option class="viewy-boost" value="viewyboost" {% if user.boost_type == 'viewyboost' %}selected{% endif %}>Viewy Boost</option>
            </select>
          </form>
        </td>
      </tr>
      {% endfor %}
    </table>
  
  </div>
  
  <div class="block hot-partner">おすすめユーザー設定
    <form method="post">
      {% csrf_token %}
  
      {% if error_message %}
      <div class="error">
        {{ error_message }}
      </div>
      {% endif %}
  
      {% if form.non_field_errors %}
      <div class="error">
        {{ form.non_field_errors }}
      </div>
      {% endif %}
  
      {% for field in form %}
      <div class="field-wrapper partner-input">
        {{ field.errors }} <!-- ここでフィールドのエラーを表示 -->
        {{ field.label_tag }}
        {{ field }}
      </div>
      {% endfor %}
  
      <div class="flex">
        <button id="setRandomUsersBtn" class="random">ランダムで選択</button>
        <button type="submit" class="submit">設定</button>
      </div>

    </form>
  </div>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>

$(document).ready(function() {
    $('.boostTypeSelect').change(function() {
        var form = $(this).closest('form');
        var url = form.attr('action');
        var data = form.serialize(); // フォーム内の全データをシリアライズ

        $.ajax({
            type: 'POST',
            url: url,
            data: data,
            success: function(response) {
                console.log('Success:', response);
            },
            error: function(error) {
                console.log('Error:', error);
            }
        });
    });
});
</script>
<script>
  $('#setRandomUsersBtn').on('click', function(e) {
      e.preventDefault();  // ボタンのデフォルトの動作を停止

      // DjangoのビューへのAjaxリクエストを作成
      $.ajax({
          url: '{% url "management:random_recommended_users" %}',
          type: 'GET',
          success: function(data) {
              // サーバーからのレスポンスを利用して、フォームフィールドを更新
              for (let i = 1; i <= 12; i++) {
                  $(`#id_user${i}`).val(data.users[i - 1].username);
              }
          }
      });
  });
</script>
{% endblock %}