{% extends 'management/management_base.html' %}
{% load static %}
{% block head %}
{% endblock %}


{% block content %}

<div class="block">

  <table>
    <tr>
      <th>パートナー</th>
      <th>フォロワー数</th>
      <th>総投稿数</th>
      <th>総視聴回数</th>
      <th>投稿あたりの視聴回数</th>
      <th>総いいね数</th>
      <th>投稿あたりのいいね数</th>
      <th>いいね率</th>
    </tr>
    {% for user in users %}
    <tr>
      <td>{{ user.username }}</td>
      <td>{{ user.follow_count }}</td>
      <td>{{ user.total_posts }}</td>
      <td>{{ user.total_views }}</td>
      <td>{{ user.views_per_post|floatformat:3 }}</td>
      <td>{{ user.total_favorites }}</td>
      <td>{{ user.favorites_per_post|floatformat:3 }}</td>
      <td>{{ user.avg_favorite_rate|floatformat:3 }}%</td>
    </tr>
    {% endfor %}
  </table>

</div>

<div class="block">おすすめユーザー設定
  <form method="post">
    {% csrf_token %}

    {% if error_message %}
    <div class="error">
      {{ error_message }}
    </div>
    {% endif %}

    {% if form.non_field_errors %}
    <div class="error">
      {{ form.non_field_errors }}
    </div>
    {% endif %}

    {% for field in form %}
    <div class="field-wrapper">
      {{ field.errors }} <!-- ここでフィールドのエラーを表示 -->
      {{ field.label_tag }}
      {{ field }}
    </div>
    {% endfor %}

    <button type="submit" class="submit">設定</button>
  </form>
</div>

{% endblock %}