{% extends 'management/management_base.html' %}
{% load static %}
{% block head %}
{% endblock %}


{% block content %}
<h1>認証待ちから町ユーザー</h1>

<!-- 検索フォーム -->
<form method="get">
  <label for="username">ユーザーネームで検索:</label>
  <input type="text" id="username" name="username" value="{{ request.GET.username|default:'' }}">
  <button type="submit">検索</button>
</form>

<ul>
  {% for user in object_list %}
  <li><a href="{% url 'management:add_to_poster_group' user.id %}" onclick="return confirm('このユーザーをポスターグループに追加しますか？');">{{ user.username }} - {{ user.email }}</a></li> 
  {% empty %}
  <li>特別なユーザーが見つかりません。</li>
  {% endfor %}
</ul>




{% endblock %}