{% extends 'management/management_base.html' %}
{% load static %}
{% block head %}
{% endblock %}


{% block content %}

<div class="flex">
  <div class="block total_table flex">
    <div class="total_title">総投稿数：</div>
    <div class="total_number">{{ total_posts }}</div>
  </div>
  
  <div class="block total_table flex" style="margin-left: 32px;">
    <div class="total_title">全投稿の平均QP：</div>
    <div class="total_number2">{{ avg_qp|floatformat:3 }}</div>
  </div>  

  <div class="block total_table flex" style="margin-left: 32px;">
    <div class="total_title">全動画の平均QP：</div>
    <div class="total_number3">{{ avg_qp_movie|floatformat:3 }}</div>
  </div>  

  <div class="block total_table flex" style="margin-left: 16px;">
    <div class="total_title">全マンガの平均QP：</div>
    <div class="total_number3">{{ avg_qp_manga|floatformat:3 }}</div>
  </div>  

</div>



<div class="block">
  <table>
    <tr>
        <th>タイトル</th>
        <th>投稿者</th>
        <th>マンガ</th>
        <th>投稿日時</th>
        <th>視聴回数</th>
        <th>S視聴回数</th>
        <th>いいね</th>
        <th>Sいいね</th>
        <th>長さ</th>
        <th>平均視聴時間</th>
        <th>QP</th>
    </tr>
    {% for post in posts %}
    <tr class="{% if post.ismanga %}manga{% endif %}">
        <td>{{ post.title }}</td>
        <td>{{ post.poster.username }}</td>
        <td>{{ post.ismanga }}</td>
        <td>{{ post.posted_at }}</td>
        <td>{{ post.views_count }}</td>
        <td>{{ post.support_views_count|floatformat:0 }}</td>
        <td>{{ post.favorite_count }}</td>
        <td>{{ post.support_favorite_count}}</td>
        <td>{{ post.content_length }}</td>
        <td>{{ post.avg_duration|floatformat:2 }}</td>
        <td>{{ post.qp|floatformat:2 }}</td>
    </tr>
    {% endfor %}
  </table>
</div>



{% endblock %}