{% extends 'management/management_base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/management/account.css' %}">
<link rel="stylesheet" href="{% static 'css/management/user_analytics.css' %}">
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-annotation/1.0.2/chartjs-plugin-annotation.min.js"></script>
{% endblock %}


{% block content %}

<div>

<div class="total_table flex">
    <div class="total_title">総訪問者数：</div>
    <div class="total_number">{{ total_visitors }}</div>
</div>

<div class="total_table flex">
    <div class="total_title">視聴履歴が1日以上のユーザー数：</div>
    <div class="total_number">{{ one_day_viewed_users }}</div>
  </div>


<div class="total_table flex">
    <div class="total_title">視聴履歴が2日以上のユーザー数：</div>
    <div class="total_number">{{ two_day_viewed_users }}</div>
  </div>
    
  <div class="total_table flex">
    <div class="total_title">視聴履歴が5日以上のユーザー数：</div>
    <div class="total_number">{{ five_day_viewed_users }}</div>
  </div>

    <div class="block chart">
        <canvas id="userAnalyticsChart"></canvas>
    </div>




</div>
<script>
    var ctx = document.getElementById('userAnalyticsChart').getContext('2d');
    var userAnalyticsChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: {{ daily_users_labels|safe }},
            datasets: [{
                label: 'Total Users',
                data: {{ daily_users_values|safe }},
                borderColor: 'rgb(169, 169, 169)',
                fill: false,
            }, {
                label: 'New Users',  // 新規ユーザー数のラベルを追加
                data: {{ daily_new_users_values|safe }},  // 新規ユーザー数のデータを追加
                borderColor: 'rgb(161, 224, 255)',  // 新規ユーザー数のラインカラーを追加
                fill: false,
            }, {
                label: 'Repeat Users',
                data: {{ daily_repeat_users_values|safe }},
                borderColor: 'rgb(255, 92, 33)',
                fill: false,
            }]
        },
        options: {
            responsive: true,
            scales: {
                x: {
                    beginAtZero: true
                },
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>

{% endblock %}