<!DOCTYPE html>
{% load static %}
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
  <link rel="stylesheet" href="{% static 'css/support/support_base.css' %}">
  <!-- iOS向けの指定 -->
  <!-- <link rel="apple-touch-icon" type="image/png" href="{{ MEDIA_URL }}icon_management/apple-touch-icon.png" sizes="180x180"> -->
  <script src="https://kit.fontawesome.com/ad23325601.js" crossorigin="anonymous"></script>
  <title>Viewy-Support</title>
  {% block head %}
  {% endblock %}
</head>

<body>
  <header>
    <div class="nav-container">
      <div class="nav-item logo">
        <a href="{% url 'support:first'%}">
          <img src="{{ MEDIA_URL }}others\ヘッダー2.png" alt="Home">
        </a>
      </div>
      <div class="nav-right">
        <div class="nav-item"><a class="a-link" href="{% url 'support:inquiry_form'%}">お問い合わせ</a></div>
        <div class="nav-item viewy"><a class="a-link" href="{% url 'posts:postlist'%}">Viewyへ</a></div>
      </div>
    </div>
  </header>
  <div class="main">
    <div class="accordion">
      <div class="accordion-item">
        <div class="accordion-header pretitle" data-pretitle="about_viewy">
          <a href="{% url 'support:pretitle_page' pretitle='about_viewy' %}">Viewyについて</a>
          <i class="fas fa-chevron-down"></i>
        </div>
        <div class="accordion-content">

          <div class="n-accordion">
            <div class="n-accordion-item">

              <div class="n-accordion-header title">
                <a  href="{% url 'support:title_page' pretitle='about_viewy' title='use' %}">Viewyの利用方法</a>
              </div>

              <div class="n-accordion-content">
                <div class="subtitle"><a href="{% url 'support:subtitle_page' pretitle='about_viewy' title='use' subtitle='viewy' %}">Viewyは安全なサイトですか</a></div>
              </div>

            </div>
            <div class="n-accordion-item">
              <div class="n-accordion-header title">
                <a  href="{% url 'support:title_page' pretitle='about_viewy' title='regist_login' %}">アカウント作成・ログイン</a>
              </div>
              <div class="n-accordion-content">
                <div class="subtitle"><a  href="{% url 'support:subtitle_page' pretitle='about_viewy' title='regist_login' subtitle='regist' %}">アカウント作成</a></div>
                <div class="subtitle"><a  href="{% url 'support:subtitle_page' pretitle='about_viewy' title='regist_login' subtitle='n_login' %}">ログインできない</a></div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="accordion-item">
        <div class="accordion-header pretitle" data-pretitle="user">
          <a href="{% url 'support:pretitle_page' pretitle='user' %}">ユーザー</a>
          <i class="fas fa-chevron-down"></i>
        </div>
        <div class="accordion-content">

          <div class="n-accordion">
            <div class="n-accordion-item">

              <div class="n-accordion-header title">
                <a  href="{% url 'support:title_page' pretitle='user' title='function' %}">各種機能</a>
              </div>

              <div class="n-accordion-content">
                <div class="subtitle"><a href="{% url 'support:subtitle_page' pretitle='user' title='function' subtitle='collection' %}">コレクション機能</a></div>
              </div>

            </div>
            <div class="n-accordion-item">
              <div class="n-accordion-header title">
                <a  href="{% url 'support:title_page' pretitle='user' title='error' %}">閲覧時のエラー</a>
              </div>
              <div class="n-accordion-content">
                <div class="subtitle"><a  href="{% url 'support:subtitle_page' pretitle='user' title='error' subtitle='n_view' %}">投稿が視聴できません</a></div>
              </div>
            </div>
            <div class="n-accordion-item">

              <div class="n-accordion-header title">
                <a  href="{% url 'support:title_page' pretitle='user' title='campaign' %}">キャンペーン</a>
              </div>

              <div class="n-accordion-content">
                <div class="subtitle"><a href="{% url 'support:subtitle_page' pretitle='user' title='campaign' subtitle='fee' %}">キャンペーンとは何ですか</a></div>
                <div class="subtitle"><a  href="{% url 'support:subtitle_page' pretitle='user' title='campaign' subtitle='join' %}">どのように参加すればいいですか</a></div>
                <div class="subtitle"><a  href="{% url 'support:subtitle_page' pretitle='user' title='campaign' subtitle='winning' %}">当選を確認したい</a></div>
              </div>

            </div>

          </div>
        </div>
      </div>
      <div class="accordion-item">
        <div class="accordion-header pretitle" data-pretitle="partner">
          <a href="{% url 'support:pretitle_page' pretitle='partner' %}">パートナー</a>
          <i class="fas fa-chevron-down"></i>
        </div>
        <div class="accordion-content">

          <div class="n-accordion">
            <div class="n-accordion-item">

              <div class="n-accordion-header title">
                <a  href="{% url 'support:title_page' pretitle='partner' title='regist' %}">パートナー登録</a>
              </div>

              <div class="n-accordion-content">
                <div class="subtitle"><a href="{% url 'support:subtitle_page' pretitle='partner' title='regist' subtitle='who' %}">誰でもパートナーになれますか</a></div>
              </div>

            </div>
            <div class="n-accordion-item">
              <div class="n-accordion-header title">
                <a  href="{% url 'support:title_page' pretitle='partner' title='post' %}">投稿</a>
              </div>
              <div class="n-accordion-content">
                <div class="subtitle"><a  href="{% url 'support:subtitle_page' pretitle='partner' title='post' subtitle='img' %}">画像を投稿</a></div>
              </div>
              <div class="n-accordion-content">
                <div class="subtitle"><a  href="{% url 'support:subtitle_page' pretitle='partner' title='post' subtitle='img_error' %}">画像を投稿できない</a></div>
              </div>
              <div class="n-accordion-content">
                <div class="subtitle"><a  href="{% url 'support:subtitle_page' pretitle='partner' title='post' subtitle='video' %}">動画を投稿</a></div>
              </div>
              <div class="n-accordion-content">
                <div class="subtitle"><a  href="{% url 'support:subtitle_page' pretitle='partner' title='post' subtitle='video_error' %}">動画を投稿できない</a></div>
              </div>
            </div>
            <div class="n-accordion-item">

              <div class="n-accordion-header title">
                <a  href="{% url 'support:title_page' pretitle='partner' title='account_page' %}">アカウントページ</a>
              </div>

              <div class="n-accordion-content">
                <div class="subtitle"><a href="{% url 'support:subtitle_page' pretitle='partner' title='account_page' subtitle='mypost' %}">自分の投稿を確認・ピン留め・削除したい</a></div>
              </div>

            </div>

          </div>
        </div>
      </div>
      <div class="accordion-item">
        <div class="accordion-header pretitle" data-pretitle="service">
          <a href="{% url 'support:pretitle_page' pretitle='service' %}">サービス全般</a>
          <i class="fas fa-chevron-down"></i>
        </div>
        <div class="accordion-content">

          <div class="n-accordion">
            <div class="n-accordion-item">

              <div class="n-accordion-header title">
                <a  href="{% url 'support:title_page' pretitle='service' title='general' %}">一般情報</a>
              </div>

              <div class="n-accordion-content">
                <div class="subtitle"><a href="{% url 'support:subtitle_page' pretitle='service' title='general' subtitle='campany' %}">運営会社</a></div>
              </div>
              <div class="n-accordion-content">
                <div class="subtitle"><a href="{% url 'support:subtitle_page' pretitle='service' title='general' subtitle='term' %}">規約</a></div>
              </div>

            </div>

            <div class="n-accordion-item">

              <div class="n-accordion-header title">
                <a  href="{% url 'support:title_page' pretitle='service' title='amusement' %}">風営法</a>
              </div>

              <div class="n-accordion-content">
                <div class="subtitle"><a href="{% url 'support:subtitle_page' pretitle='service' title='amusement' subtitle='notification' %}">映像送信型性風俗特殊営業の届出</a></div>
              </div>

            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="topic">
      {% block topic %}
      {% endblock %}
    </div>

  </div>
  <footer class="footer">
    <div><a href="{% url 'support:first'%}">Viewy Support</a></div>
  </footer>
  <script src="{% static 'js/support/accordion.js' %}"></script>
</body>

</html>